@charset "UTF-8";
// url
$baseUrl: "";
$baseUrl_font: $baseUrl + "/assets/fonts/";
$baseUrl_img: $baseUrl + "/assets/images/";
$baseUrl_icon: $baseUrl_img + "icon/";
$baseUrl_page: $baseUrl + "page/";

$nameSpace: "uk_";

// color
$color-f5: #f5f5f5;
$color-6: #666;

$blue: #007dc3;
$skyBlue: #379ad6;
$darkBlue: #4961dd;

$red: #e31b23;
$orange: #f8971d;
$darkOrange: #dc8216;
$green: #00986b;
$navy: #081121;
$white: #fff;
$black: #000;
$yellow: #fff000;
$yellow2: #decd11;
$purple: #b72df8;
$link: fade(darken($blue, 30%), 75%);

// font-family
$font-set: Roboto, 'Open Sans', "Noto Sans KR", sans-serif, -apple-system, 'droid sans fallback', "Apple SD Gothic Neo", AppleGothic, "Malgun Gothic", Dotum, Tahoma, Verdana, Arial;
$font-def: "Noto Sans KR", 'Open Sans', sans-serif, -apple-system, 'droid sans fallback', "Apple SD Gothic Neo", AppleGothic, "Malgun Gothic", Dotum, Tahoma, Verdana, Arial;
$font-noto: "Noto Sans KR", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, Dotum, Arial, sans-serif;
$font-mg: "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, Dotum, Arial, Verdana, sans-serif;
$font-mont-mg: "Montserrat", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, Dotum, Arial, Verdana, sans-serif;
$font-mont-noto: "Montserrat", "Noto Sans KR", "Apple SD Gothic Neo", AppleGothic, Dotum, Arial, Verdana, sans-serif;
$font-kr: "Noto Sans KR", 'Open Sans', sans-serif;
$font-en: Roboto, 'Open Sans', "Noto Sans KR", sans-serif;
$font-cjonly: 'CJONLYONENEWbodyLight', '돋움', Dotum, '굴림', Gulim, Tahoma, Verdana, "Apple SD Gothic Neo", AppleGothic, sans-serif;
$font-cjonly-r: 'CJONLYONENEWbodyRegular';
$font-cjonly-tit-m: 'CJONLYONENEWtitleMedium';
$font-cjonly-tit-b: 'CJONLYONENEWtitleBold';

// media size
$screen-xxxxs: 320px;
$screen-xxxs: 340px;
$screen-xxs: 360px;
$screen-xs: 540px;
$screen-sm: 620px;
$screen-sm-min: 768px;
$screen-sm-max: 767px;
$screen-md-min: 992px;
$screen-md-max: 993px;
$screen-lg-min: 1200px;
$screen-lg-max: 1201px;
$screen-max-max: 1301px;
