@charset "utf-8";
#content .special_wrap {
 padding-bottom:43px
}
.special_wrap header {
 border-bottom:0
}
.special_wrap #content:after {
 background-color:none;
 height:0
}
.hierachy {
 height:29.5px;
 line-height:29.5px;
 border-top:1px solid #a7a7a7
}
.hierachy ol:after {
 content:"";
 display:block;
 clear:both
}
.hierachy ol li {
 float:left
}
.hierachy ol li a {
 display:inline-block;
 background:url(https://imagessl.hyundaihmall.com/static/2011img/chanel/mobile/icon_arrow_right.jpg) no-repeat left center;
 background-size:5px 8.5px;
 padding-left:13px;
 margin-left:6px;
 color:#888;
 font-family:'Noto Sans Regular'
}
.hierachy ol li.on a {
 color:#555;
 font-family:'Noto Sans Medium'
}
.hierachy ol .home a {
 margin-left:16px;
 background-image:none;
 padding-left:0
}
.hierachy ol .home>a>img {
 width:13.5px
}
.main_banner_name {
 line-height:0
}
.main_banner_img {
 line-height:0
}
.special_category {
 border-bottom:1px solid #000;
 line-height:0
}
.special_category>li>a {
 display:block;
 height:45px;
 line-height:45px;
 text-align:center;
 color:#000;
 font-size:16px;
 font-weight:700;
 border-top:1px solid #000;
 font-family:'Noto Sans Bold'
}
.sub_category {
 padding-top:17.5px;
 border-top:1px solid #000;
 padding-bottom:17.5px
}
.sub_category li a {
 display:block;
 padding:17.5px;
 font-size:14px;
 color:#000;
 text-align:center;
 font-family:'Noto Sans Bold'
}
.brand_logo {
 position:relative
}
.brand_logo .shop_go {
 position:absolute;
 right:16px;
 top:38%;
 font-size:10px;
 color:#fff;
 padding-right:8.5px;
 font-family:'Noto Sans Bold'
}
.brand_logo .shop_go>img {
 width:6px;
 margin-left:5px
}
.brand_logo a {
 display:initial!important;
 width:initial!important;
 height:initial!important;
 padding:initial!important;
 line-height:initial!important;
 -webkit-box-sizing:initial!important
}
.keyword_list li {
 height:46.5px
}
#search_con .keyword_list li a {
 position:relative;
 font-size:12px;
 color:#333;
 font-family:'Noto Sans Medium'
}
.keyword_list li a .search_num {
 position:absolute;
 right:16px;
 color:#999;
 font-size:10px
}
.special_product_name {
 margin-bottom:30px;
 padding:15px 15px 0
}
.special_product_name>span {
 display:inline-block;
 height:14px;
 margin-right:4px;
 padding:0 5px;
 border:1px solid #000;
 font-size:9px;
 color:#000;
 text-align:center;
 line-height:15px;
 vertical-align:middle;
 letter-spacing:-1px;
 vertical-align:top
}
.special_product_name h3 {
 font-size:18px;
 color:#000;
 margin-top:10px;
 font-family:'Noto Sans Medium';
 line-height:1.3
}
.color_list {
 padding:0 15px 0;
 margin-top:-15px
}
.color_list ul:after {
 content:"";
 display:block;
 clear:both
}
.color_list ul>li {
 width:50%;
 float:left;
 margin-top:15px
}
.color_list ul>li:hover>div .img_color {
 border:2px solid #000
}
.color_list ul>li:hover>div .item_name {
 color:#000
}
.color_list ul>li>div .img_color {
 display:inline-block;
 margin-right:9px;
 border:2px solid #fff;
 width:26px;
 height:25px;
 vertical-align:middle
}
.color_list ul>li>div .img_color>img {
 width:26px;
 height:25px;
 vertical-align:middle
}
.color_list ul>li>div .item_name {
 color:#888;
 font-size:10px;
 font-family:'Noto Sans Regular';
 letter-spacing:-.3px
}
.detail_group {
 padding:0 15px 6px;
 margin-top:45px;
 margin-bottom:20px
}
.detail_group .dl1 {
 padding:0;
 padding-top:20px;
 padding-bottom:45.5px;
 border-top:1px solid #dbdbdb;
 border-bottom:1px solid #dbdbdb
}
.detail_group dt {
 color:#888;
 font-size:12px;
 width:79px;
 font-family:'Noto Sans Medium'
}
.detail_group dd {
 margin-left:79px;
 color:#000;
 font-size:12px;
 font-family:'Noto Sans Medium'
}
.detail_group dd>span {
 display:inline-block;
 padding-top:3px
}
.text_detail {
 padding:0 15px 6px
}
.text_detail em {
 font-style:normal;
 display:block;
 font-size:12px;
 color:#000;
 margin-bottom:20px;
 font-family:'Noto Sans Medium'
}
.detail_p {
 font-size:12px;
 color:#888;
 line-height:1.6;
 font-family:'Noto Sans Medium';
 letter-spacing:-1px
}
.max_height {
 max-height:134px;
 overflow:hidden
}
.tx_more {
 background-color:#fff;
 display:block;
 font-size:10px;
 color:#000;
 margin-top:19px;
 font-family:'Noto Sans Medium'
}
.special_product_view .sns_link {
 padding-top:20px;
 padding-bottom:45px
}
.special_product_view .sns_link:after {
 content:"";
 display:block;
 clear:both
}
.special_product_view .sns_link .sns_icon {
 float:right
}
.special_product_view .detail_img {
 display:block;
 margin-top:10px;
 text-align:center
}
.special_product_view .detail_img img {
 width:90%
}
.slide_item_div {
 padding:0 15px 0;
 margin-bottom:44px
}
.slide_item_box {
 border:2px solid #000;
 padding:15px 0 22px;
 position:relative;
 overflow:hidden
}
.slide_item_box>strong {
 font-size:12px;
 color:#000;
 font-weight:400;
 margin-left:15px;
 font-family:'Noto Sans Medium';
 line-height:1.5
}
.item_frame ul li .item a {
 display:table;
 height:108px
}
.item_frame ul li .item a:after {
 content:"";
 display:block;
 clear:both
}
.item_frame ul li .item a .item_small {
 display:table-cell;
 vertical-align:middle
}
.item_frame ul li .item a .item_small img {
 width:75.5px;
 vertical-align:middle
}
.item_frame ul li .item a .item_small_tx {
 display:table-cell;
 vertical-align:middle;
 text-align:left;
 padding-left:10px;
 font-family:'Noto Sans Bold'
}
.item_frame ul {
 width:1000px
}
.item_frame ul:after {
 content:"";
 display:block;
 clear:both
}
.item_frame ul li {
 float:left;
 width:247px
}
.item_frame {
 width:247px;
 overflow:hidden;
 margin:30px auto 0
}
.btn_arrow_area {
 width:100%;
 position:absolute;
 top:91px
}
.btn_arrow_area:after {
 content:"";
 display:block;
 clear:both
}
.btn_arrow_area button {
 width:32.5px;
 background:0 0;
 border:none
}
.btn_arrow_area button img {
 width:4.5px;
 height:8px;
 text-align:center
}
.btn_arrow_area .btn_prev {
 float:left
}
.btn_arrow_area .btn_next {
 float:right
}
.buying_info_box {
 border:2px solid #000;
 margin:30px 15px 0
}
.buying_info_box strong {
 display:block;
 height:33.5px;
 line-height:33.5px;
 background-color:#000;
 font-size:12px;
 color:#fff;
 text-align:left;
 font-weight:400;
 font-family:'Noto Sans Medium';
 letter-spacing:-.5px
}
.buying_info_box .detail_p {
 font-size:11px;
 padding:18px 17px
}
.buying_info_box .chanel_brown {
 font-size:11px;
 padding:10px 17px;
 color:#bc7d2e;
 font-weight:700
}
.tb_detail_view {
 margin:30px 15px 0
}
.tb_detail_view tbody th {
 font-weight:400;
 font-size:11px;
 color:#888;
 text-align:left;
 padding:7px 0;
 vertical-align:top;
 line-height:1.5;
 font-family:'Noto Sans Medium';
 width:66px;
 display:inline-block
}
.tb_detail_view tbody td {
 font-size:11px;
 color:#000;
 line-height:1.5;
 padding:7px 0;
 vertical-align:top;
 font-family:'Noto Sans Medium'
}
.text_info_box {
 border-top:1px solid #dbdbdb;
 margin:40px 15px 0;
 padding:0
}
.text_info_box em {
 margin-top:19px;
 margin-bottom:10px
}
.special_product_view .button1 {
 background-image:none;
 border-top:2px solid #000
}
.special_product_view .button1 .bType2 {
 background-color:#fff;
 color:#000;
 font-weight:700;
 width:50%
}
.special_product_view .button1 .bType3 {
 background-color:#000;
 color:#fff;
 font-weight:700;
 width:50%
}
.special_option_sel .sel_button:after {
 content:"구매하기";
 top:-16px;
 left:0;
 width:100%;
 height:40px;
 margin-left:0;
 font-size:16px;
 line-height:36px;
 background:url(https://imagessl.hyundaihmall.com/static/2011img/chanel/mobile/btn_close.png) no-repeat center #000;
 background-size:72px 20.5px;
 font-family:'Noto Sans Medium'
}
.special_option_sel .sel_button.on:after {
 content:"닫기";
 width:72px;
 height:20px;
 top:1px;
 left:50%;
 font-size:12px;
 margin-left:-36px;
 line-height:20px;
 background-color:transparent
}
.special_option_sel .sel_button {
 border-color:#000
}
.special_option_sel .total_amount dt {
 color:#383737;
 font-family:'Noto Sans Bold';
 font-size:14px
}
.special_option_sel .total_amount dd {
 color:#000;
 font-family:'Noto Sans Bold';
 font-size:23px
}
.special_option_sel .total_amount dd>span {
 font-size:13px
}
.special_option_sel .option_con #option_con .list1 {
 background-color:#f8f8f8
}
.sp_list1 p {
 font-family:'Noto Sans Medium';
 color:#666
}
.sp_list1 .quantity1 .inputs {
 background-color:none;
 border:0;
 padding:0;
 width:40.7%
}
.sp_list1 .inputs button {
 background-color:#fff;
 color:#797979;
 font-size:25px;
 font-family:'Noto Sans Medium'
}
.sp_list1 .inputs input {
 color:#666;
 font-size:18px;
 font-family:'Noto Sans Medium'
}
.sp_list1 .quantity1 em {
 color:#666;
 font-family:'Noto Sans Medium';
 font-size:16px
}
.sp_list1 .quantity1 .cancel {
 border:0
}
.sp_list1 .quantity1 .cancel:before {
 width:15px;
 background-color:#747474;
 margin-left:-8px
}
.sp_list1 .quantity1 .cancel:after {
 width:15px;
 background-color:#747474;
 margin-left:-8px
}
.sp_product_list {
 margin-top:10px;
 margin-bottom:30px
}
.sp_product_list:after {
 content:"";
 display:block;
 clear:both
}
.sp_product_list li {
 width:50%;
 float:left;
 margin-top:20px;
 min-height:320px;
 overflow:hidden
}
.sp_product_list li a .thumb {
 width:100%
}
.sp_product_list li a {
 text-align:center
}
.sp_product_list li a .product_name {
 display:block;
 text-align:center;
 padding:0 30px;
 margin-top:15px;
 line-height:1.4;
 font-family:'Noto Sans Regular';
 font-size:14px;
 color:#777;
 overflow:hidden
}
.sp_product_list li a .product_name.pname,
.sp_product_list li a .product_name.promo {
 height:40px;
 overflow:hidden
}
.sp_product_list li a .product_price {
 display:block;
 text-align:center;
 padding:0 30px;
 line-height:1.5;
 font-family:'Noto Sans Medium';
 color:#000;
 font-size:14px;
 margin-top:5px
}
.channel_gnb h2 {
 color:#fff
}
.channel_gnb .back {
 position:absolute;
 top:0;
 left:0;
 display:block;
 width:48px;
 height:35px;
 background:url(https://imagessl.hyundaihmall.com/static/smart/2014/img/btn_back.png) no-repeat center;
 background-size:18px 15px
}
.chanel_button {
 background-color:#000!important
}
.chanel_brown {
 color:#888
}
.shop_contents_area {
 background-color:#fff
}
.special_product_name h3 {
 margin-top:0;
 margin-bottom:10px
}
.slide_item_div strong {
 font-family:'Noto Sans Medium';
 display:block;
 font-weight:400;
 font-size:12px;
 color:#000;
 margin-bottom:20px
}
.buying_info_box {
 border:none
}
.buying_info_box .detail_p {
 border:2px solid #000
}
.buying_info_box strong {
 font-family:'Noto Sans Medium';
 height:auto;
 line-height:1.4;
 background-color:transparent;
 color:#000;
 font-size:12px;
 letter-spacing:-1px;
 margin-bottom:20px
}
.item_frame {
 margin-top:0
}
.btn_arrow_area {
 top:66px
}
.detail_p>span {
 font-family:'Noto Sans Medium';
 color:#000;
 font-size:12px
}
div.channel_gnb {
 background-color:#fff
}
.chanel_darkgray {
 color:#888
}
.buying_info_box .chanel_darkgray {
 color:#888
}
.chanel_em {
 font-style:normal
}
.channel_gnb a {
 background:url(https://imagessl.hyundaihmall.com/static/smart/2014/img/btn_back.png) no-repeat center!important;
 background-size:20.5px 20.5px!important
}



/* 200827 Re Source - Start */
.cmain .container{padding:0;}
.cmain .channel_gnb{position: relative;z-index: 65;width: 100%;height: 35px;background-color:#fff;}
.cmain .channel_gnb h2 {width: 100%;height: 35px;padding: 0 45px;line-height: 35px;text-align: center;color: #fff;font-size: 18px;font-weight: 400;-webkit-box-sizing: border-box;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.cmain .channel_gnb a.back{font-size:0;text-indent:-9999;}
.cmain .sub_category li a{line-height:0;}
.hierachy ol{height:100%;}
.hierachy ol li{position: relative;top: calc(50% - 0.5px);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);}
.hierachy ol li a{font-size:13px;}
.hierachy ol .home>a>img{vertical-align:revert;}
/* 200827 Re Source - End */

/*------------- ralphLauren nam Source - Start -------------*/
.brl_header{height:45px;width:100%;position:relative;text-align:center;border-bottom:1px solid #ccc;z-index:100;background:#fff}
.brl_header_menubtn{position:absolute;top:15px;left:17px;width:15px;height:15px;background-image:url(http://image.hyundaihmall.com/hmall/co/ss2017/brl_ddbtn2.png);background-size:15px;background-repeat:no-repeat;background-position:center center;display:block}
.brl_header_menubtn._opened{background-image:url(http://image.hyundaihmall.com/hmall/co/ss2017/brl_ddclose.png)}
.brl_header a:nth-child(2){width:190px;height:18px;margin-top:13px;background-image:url(http://image.hyundaihmall.com/hmall/co/ss2017/brl_logo2.png);background-size:190px;background-repeat:no-repeat;display:inline-block}
.brl_header a:nth-child(2)>img{display:none}
.brl_content_img{width:100%;margin:0!important;padding:0;border:0}
.brl_content_info{padding:15px 10px}
.brl_content_link,.brl_content_title{text-align:center;font-size:15px}
.brl_content_title{line-height:22px}
.brl_content_link{margin-top:15px}
.brl_content_link a{margin-left:45px}
.brl_content_link a:first-child{margin-left:0}
.brl_footer_menu{width:100%;display:table;background:#08244b;table-layout:fixed}
.brl_footer_menu a{width:33.33%;display:table-cell;height:45px;border-left:1px solid #fff;border-bottom:1px solid #fff;font-size:11px;color:#fff;padding:0 5px;text-align:center;vertical-align:middle}brl_footer_menu a:first-child,.brl_footer_menu a:nth-child(4){border-left:0}
.brl_footer_menu ._table-row{width:100%;display:table-row}
.brl_footer_sns{width:100%;display:table;table-layout:fixed}
.brl_footer_sns a{display:table-cell;width:33.33%;padding:10px 5px;text-align:center;vertical-align:middle;color:#08244b;font-size:11px}
.brl_content a em{text-decoration:none;font-style:normal;font-size:10px;vertical-align:middle;margin-left:6px}
.brl_footer_sns i{margin-right:5px;width:25px;height:25px;display:inline-block;background-image:url(http://image.hyundaihmall.com/hmall/co/ss2017/brl_sns.png);background-size:75px;background-repeat:no-repeat;overflow:hidden;vertical-align:middle}
.brl_footer_sns i._facebook{background-position:0}
.brl_footer_sns i._instagram{background-position:-25px}
.brl_footer_sns i._twitter{background-position:-50px}
.brl_snb{position:absolute;top:45px;left:-100vw;width:100vw;background:#fff;transition:.2s all ease-in-out}
.brl_snb._opened{left:0}
.brl_snb>li{font-size:16px;line-height:22px;border-bottom:1px solid #ddd;text-align:left;position:relative;cursor:pointer}
.brl_snb>li._hide{display:none}
.brl_snb>li>p{position:relative;padding:10px;color:#15223f}
.brl_snb>li>p:after{position:absolute;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);right:15px;width:7px;height:13px;background-image:url(http://image.hyundaihmall.com/hmall/co/ss2017/brl_arright.png);background-repeat:no-repeat;content:''}
.brl_snb>li._opened>p{border-bottom:1px solid #eee;font-weight:700;transition:.1s all ease-in-out;padding-left:35px}
.brl_snb>li._opened>p:after{right:auto;left:15px;background-image:url(http://image.hyundaihmall.com/hmall/co/ss2017/brl_arleft.png)}
.brl_snb>li .brl_snb_sub1,.brl_snb>li .brl_snb_sub2{max-height:0;border-top:0;overflow:hidden}
.brl_snb>li._opened .brl_snb_sub1{max-height:80vh;transition:.2s all ease-in-out;overflow:auto}
.brl_snb>li._opened .brl_snb_sub1>li>p{color:#777;padding:10px 10px 10px 35px;border-bottom:1px solid #eee;display:block;width:100%}
.brl_snb>li._opened .brl_snb_sub1>li:last-child>p{border-bottom:0}
._subplus{position:relative;cursor:pointer}li>p._subplus:after{position:absolute;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);right:15px;width:10px;height:10px;background-image:url(http://image.hyundaihmall.com/hmall/co/ss2017/brl_subplus.png);background-repeat:no-repeat;content:''}li._opened>p._subplus:after{background-image:url(http://image.hyundaihmall.com/hmall/co/ss2017/brl_subminus.png)}
.brl_snb>li .brl_snb_sub1>li._opened .brl_snb_sub2{max-height:50vh;transition:.2s all ease-in-out;overflow:auto}
.brl_snb>li._opened .brl_snb_sub2>li>p{color:#999;padding:10px 10px 10px 60px;border-bottom:1px solid #eee;display:block;width:100%}
.brl_content_qnalist li>p._subplus:after{top:19px!important;transform:none!important;-webkit-transform:none!important}
.brl_content_depth{padding:15px;background:#f0f0f0}
.brl_content_depth>p{font-size:12px;color:#28496c;margin-bottom:15px;text-align:center;width:100%;display:block;line-height:16px}
._selectcat{width:100%;display:block;height:45px}
.brl_selboxwrap{position:relative;border:1px solid #9dadbd}
.brl_selboxwrap:after{position:absolute;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);right:15px;width:14px;height:7px;background-image:url(http://image.hyundaihmall.com/hmall/co/ss2017/brl_arrdown.png);background-repeat:no-repeat;content:''}
.brl_selbox{border:0;width:100%;height:100%;display:block;padding:10px;font-size:12px;color:#000;line-height:16px;background:#fff}
.brl_content_sort{padding:15px}
.brl_content_sortbtn{display:inline-block;white-space:nowrap;border:1px solid #9dadbd;background-color:#fff;font-size:0;vertical-align:top;cursor:pointer}
.brl_content_sortbtn li{width:38px;height:38px;display:inline-block;border-right:1px solid #9dadbd;background-repeat:no-repeat;background-position:center center}
.brl_content_sortbtn li._active{background-color:#f6f6f6}
.brl_content_sortbtn li._1col{background-image:url(http://image.hyundaihmall.com/hmall/co/ss2017/brl_type_1col_deact.png)}
.brl_content_sortbtn li._1col._active{background-image:url(http://image.hyundaihmall.com/hmall/co/ss2017/brl_type_1col_act.png)}
.brl_content_sortbtn li._2col{background-image:url(http://image.hyundaihmall.com/hmall/co/ss2017/brl_type_2col_deact.png)}
.brl_content_sortbtn li._2col._active{background-image:url(http://image.hyundaihmall.com/hmall/co/ss2017/brl_type_2col_act.png)}
.brl_content_sortbtn li._list{background-image:url(http://image.hyundaihmall.com/hmall/co/ss2017/brl_type_list_deact.png)}
.brl_content_sortbtn li._list._active{background-image:url(http://image.hyundaihmall.com/hmall/co/ss2017/brl_type_list_act.png)}
.brl_content_sortbtn li:last-child{border-right:0}
._selectsort{width:120px;float:right;height:40px}
.brl_content_itemlist{font-size:0;width:100%}
.brl_content_item{display:inline-block;vertical-align:top}
.brl_content_item._1col,.brl_content_item._list{width:100%}
.brl_content_item._2col{width:50%}
.brl_content_item._list{margin-bottom:10px;padding-top:10px;border-top:1px solid #eee}
.brl_content_itemlist>a:first-child .brl_content_item._list{border:0}
.brl_content_item._list>.brl_content_iteminfo,.brl_content_item._list>img{width:50%;display:inline-block;vertical-align:middle}
.brl_content_item._list .brl_content_iteminfo .brl_content_iteminfo_title,.brl_content_item._list>.brl_content_iteminfo .brl_content_iteminfo_price{text-align:left}
.brl_content_item._list .brl_content_iteminfo{padding:10px;vertical-align:middle}
.brl_content_item._list .brl_content_iteminfo .brl_content_iteminfo_title{padding:0;border:0}
.brl_content_iteminfo{width:100%;padding:10px 10px 15px 10px}
.brl_content_iteminfo_title{font-size:14px;color:#28496c;font-weight:700;border-top:1px solid #eee;padding-top:10px;text-align:center;line-height:16px;height:42px;overflow:hidden;word-break:break-all;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;display:-webkit-box}
.brl_content_item._list .brl_content_iteminfo_title{height:32px}
.brl_content_iteminfo_price{font-size:15px;color:#000;text-align:center;margin-top:5px;font-weight:700}
.brl_content_iteminfo_price del{color:#ccc;font-size:12px;font-weight:400;margin-right:5px}
.brl_content_item._2col .brl_content_iteminfo_price del,.brl_content_item._list .brl_content_iteminfo_price del{display:block;margin-right:0}
.brl_content_showmore{padding:10px 10px 25px 10px}
.brl_content_showmorebtn{color:#999;border:1px solid #9dadbd;background-color:#fff;text-align:center;display:block;padding:15px 10px;font-size:12px}
.brl_content_showmorebtn strong{color:#999}
.brl_content._qna .brl_content_depth{background:#fff;border-bottom:1px solid #ccc;font-size:0}
.brl_qnabtn{border:1px solid #ccc;border-right:0;display:inline-block;width:50%;text-align:center;padding:15px 0;color:#989898;background:#fff;font-size:13px}
.brl_qnabtn:last-child{border-left:0;border-right:1px solid #ccc}
.brl_qnabtn._active{border:1px solid #7d92a7!important;color:#15223f;background:#f6f6f6}
.brl_content_qnalist li p{color:#15223f;padding:15px 35px 15px 15px;font-size:13px;line-height:18px}
.brl_qnalist_q{border-bottom:1px solid #ccc;text-indent:-16px;padding-left:30px!important}
.brl_qnalist_a{background:#f6f6f6;color:#333!important;padding-right:15px!important}
.brl_qnalist_a_wrap{max-height:0;overflow:hidden}
.brl_content_qnalist li._opened .brl_qnalist_a_wrap{max-height:50vh;transition:.2s all ease-in-out;overflow:auto;border-bottom:1px solid #ccc}
.brl_content_refund{padding:15px 15px 15px 25px}
.brl_content_refund>p{font-size:13px;line-height:18px;text-indent:-10px;margin-bottom:15px}
.brl_content_refund>p._depth2{text-indent:0}
.brl_content_refund>p._refundlink{margin-top:5px;margin-bottom:0}
.brl_content_refund>p._refundlink a{color:#15223f;text-decoration:underline}
.brl_content_innerwrap ._sel{display:none}
.brl_content_innerwrap ._sel._showing{display:block}
._nowrap{white-space:nowrap}
._inherit{font-size:inherit;color:inherit;line-height:inherit}
.brl_content img{display:block}

/* new add source */
.brl_ss, .brl_ss * {letter-spacing: 0 !important;box-sizing: border-box !important;-webkit-box-sizing: border-box !important;}
.brl_header .brl_snb *{font-size: 16px !important;line-height: 22px !important;}
.brl_content form{background-color: #fff;}
.brl_footer_sns{background-color: #fff;}
.brl_content_item._list{font-size:0;}
.brl_content_itemlist a{font-size:0;}
/*------------- ralphLauren nam Source - End -------------*/

.m_michael.contents_specialshop{position:relative;font-size:14px;line-height:1.2;color:#333;background-color:#fff;-webkit-touch-callout:none;-webkit-user-select:none;-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%}
.m_michael.contents_specialshop:after{content:"";overflow:hidden;display:block}
.m_michael.contents_specialshop .specialshop_header>a{display:block;text-indent:-9999px;background-image:url(http://image.hyundaihmall.com/static/smart/2016/mobile/images/specialshop/specialshop.png);background-size:200px 200px;background-repeat:no-repeat;background-position:0 0}
.m_michael.contents_specialshop .specialshop_header{position:relative;height:50px;text-align:center;z-index:1000}
.m_michael.contents_specialshop .specialshop_header>a{position:absolute;left:10px;top:10px;width:30px;height:30px}
.m_michael.contents_specialshop .specialshop_header h1{color:#fff;font-size:1.5em;line-height:50px;background:#fff}
.m_michael.contents_specialshop .specialshop_header h1 a img{width:auto;height:15px;margin:10px auto}
.m_michael.contents_specialshop .specialshop_header h1,.m_michael.contents_specialshop .specialshop_header h1 a{display:block;height:100%}
.m_michael.contents_specialshop .specialshop_category{position:absolute;width:220px;height:100%;top:0;left:-100%;padding:15px;box-sizing:border-box;background-color:#fff;transition:left .3s linear;overflow-y:auto;z-index:1000}
.m_michael.contents_specialshop .specialshop_category a{display:block;width:100%;box-sizing:border-box;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden}
.m_michael.contents_specialshop .specialshop_category>ul>li>a{height:40px;font-size:1.1em;line-height:40px;font-weight:700;color:#333}
.m_michael.contents_specialshop .specialshop_category>ul>li>ul>li>a{height:40px;padding:0 10px;border-top:1px #e5e5e5 solid;line-height:40px;color:#555}
.m_michael.contents_specialshop .specialshop_category>ul>li>ul>li:first-of-type>a{border-top-color:#000}
.m_michael.contents_specialshop .specialshop_category>ul>li>ul>li:last-of-type>a{border-bottom:1px #000 solid}
.m_michael.contents_specialshop .category_2depth{display:none}
.m_michael.contents_specialshop .specialshop_sect{padding-bottom:30px}
.m_michael.contents_specialshop .specialshop_sect.last_sect{padding-bottom:0}
.m_michael.contents_specialshop .specialshop_sect img{max-width:100%}
.dimScreen{background:#000;opacity:.5;position:fixed;width:100%;height:100%;z-index:70;display:none;-webkit-tap-highlight-color:transparent}

