{% set pageData = { pageDep1Name: '고객관리', pageName: '고객관리', pageDesc: '', pageActive: '0-1' } %} {% extends "_layout/_baseLayout.html" %} {% block jscnt %}
<script type="text/javascript" src="{{set.baseurl}}{{set.jsurl}}/common/ukstyle.js"></script>
<!-- UI/UX Style -->
{% endblock %} {% block content %}
<!-- 각 페이지 마다 class 부여 ex)p_login p_ : 페이지의 시작, login : 해당 페이지 구분 -->
<div class="cntwrap p_cus">
  <div class="chead_out">
    <div class="chead_in">
      {% include "parts/_submy.html" %}
    </div>
    <!-- //.chead_in -->
  </div>
  <!-- //.chead_out -->

  <div class="cbody_out">
    <div class="cbody_in">
      <h1 id="cTitle" class="h1" tabindex="0"><strong>{{ pageData.pageName }}</strong><sub>{{ pageData.pageDesc }}</sub></h1>
      <section class="csection">
        {% include "parts/_ready.html" %}
      </section>
    </div>
    <!-- //.cbody_in -->
  </div>
  <!-- //.cbody_out -->
</div>
<!-- //.cntwrap -->
{% endblock %}
