{% set pageData = { pageDep1Name: '', pageName: '아이디 찾기', pageDesc: '', pageActive: '1-2' } %} {% extends "_layout/_baseLayout.html" %} {% block jscnt %}
<script type="text/javascript" src="{{set.baseurl}}{{set.jsurl}}/common/ukstyle.js"></script>
<!-- UI/UX Style -->
{% endblock %} {% block content %}
<!-- 각 페이지 마다 class 부여 ex)p_login p_ : 페이지의 시작, login : 해당 페이지 구분 -->
<div class="cntwrap p_idfindok">
  <div class="chead_out">
    <div class="chead_in">
      {% include "parts/_submem.html" %}
    </div>
    <!-- //.chead_in -->
  </div>
  <!-- //.chead_out -->

  <div class="cbody_out">
    <div class="cbody_in">
      <h1 id="cTitle" class="h1" tabindex="0"><strong>{{ pageData.pageName }}</strong><sub>{{ pageData.pageDesc }}</sub></h1>
      <section class="csection">
        <div class="logingroup">
          <div class="column">
            <div class="col_in">
              <!-- 아이디 찾기 성공 메시지 -->
              <p class="text">아이디가 확인되었습니다.</p>
              <div class="infogroup">
                <p class="idinfo"><em>홍 길동</em>님의 아이디는 <strong>9090****</strong>입니다.</p>
                <p class="dayinfo">2021.05.01가입</p>
              </div>

              <!-- 아이디 찾기 실패 메시지 idinfo class nofind추가 : 보이는 아이콘이 다름 -->
              <!-- <p class="text">죄송합니다.</p>
              <div class="infogroup">
                <p class="idinfo notfind">찾으시는  비밀번호가 없습니다.</p>
              </div> -->

              <div class="field_footer">
                <!-- [0525] 문서기준으로 내용 변경 -->
                <p class="text between">
                  <span>비밀번호를 잊으셨나요?</span>
                  <a href="pwfind.html">비밀번호 찾기</a>
                </p>
                <!-- //[0525] 문서기준으로 내용 변경 -->

                <div class="btngroup">
                  <a href="login.html" class="btn_default"><span>로그인</span></a>
                </div>
              </div>
            </div>
            <!-- //.col_in -->
          </div>
          <!-- //.column -->
        </div>
        <!-- //.logingroup -->
      </section>
    </div>
    <!-- //.cbody_in -->
  </div>
  <!-- //.cbody_out -->
</div>
<!-- //.cntwrap -->
{% endblock %}
