{% set pageData = { pageDep1Name: '마이플래너스', pageName: '비밀번호 변경', pageDesc: '', pageActive: '5' } %} {% extends "_layout/_baseLayout.html" %} {% block jscnt %}
<script type="text/javascript" src="{{set.baseurl}}{{set.jsurl}}/common/ukstyle.js"></script>
{% endblock %} {% block content %}
<!-- 각 페이지 마다 class 부여 ex)p_login p_ : 페이지의 시작, login : 해당 페이지 구분 -->
<div class="cntwrap p_pwchange">
  <div class="chead_out">
    <div class="chead_in">
      {% include "parts/_submem.html" %}
    </div>
    <!-- //.chead_in -->
  </div>
  <!-- //.chead_out -->

  <div class="cbody_out">
    <div class="cbody_in">
      <h1 id="cTitle" class="h1" tabindex="0"><strong>{{ pageData.pageName }}</strong><sub>{{ pageData.pageDesc }}</sub></h1>
      <section class="csection">
        <div class="joingroup">
          <div class="frmgroup frmchange">
            <p class="frm_subject">임시 비밀번호를 사용중입니다. 비밀번호를 변경 후 사이트를 이용해 주시기 바랍니다.</p>
            <div class="frmsection">
              <div class="fieldset">
                <strong class="thtit">
                  <span class="essmark"><i>*</i><b class="sr-only">필수항목</b></span>
                  기존 비밀번호
                </strong>
                <div class="field" data-small="inpfield">
                  <label class="uk_label">
                    <input type="password" name="" placeholder="입력해주세요" class="inp" />
                  </label>
                  <button class="btn_thingray medium"><span>중복확인</span></button>
                  <p class="textmsg">사용 가능한 아이디입니다.</p>
                </div>
              </div>
              <!-- //.fieldset -->
              <div class="fieldset">
                <strong class="thtit">
                  <span class="essmark"><i>*</i><b class="sr-only">필수항목</b></span>
                  비밀번호
                </strong>
                <div class="field">
                  <label class="uk_label">
                    <input type="password" name="" placeholder="입력해주세요" class="inp" />
                  </label>
                  <p class="textmsg">영문, 숫자 혼합한 10~20자리 사이로 입력해 주세요.</p>
                </div>
              </div>
              <!-- //.fieldset -->
              <div class="fieldset">
                <strong class="thtit">
                  <span class="essmark"><i>*</i><b class="sr-only">필수항목</b></span>
                  비밀번호 확인
                </strong>
                <div class="field">
                  <label class="uk_label">
                    <input type="password" name="" placeholder="입력해주세요" class="inp" />
                  </label>
                  <p class="textmsg">새로운 비밀번호를 한번 더 입력해 주세요.</p>
                </div>
              </div>
              <!-- //.fieldset -->
            </div>
            <!-- //.frmsection -->
          </div>
          <!-- //.frmgroup -->

          <div class="btngroup">
            <a href="join.html" class="btn_gray"><span>다음에 변경하기</span></a>
            <a href="joinComplate.html" class="btn_default"><span>변경하기</span></a>
          </div>
        </div>
        <!-- //.joingroup -->
      </section>
    </div>
    <!-- //.cbody_in -->
  </div>
  <!-- //.cbody_out -->
</div>
<!-- //.cntwrap -->
{% endblock %}
