@charset "utf-8";
/* CSS Document */

#panel {
	display: none;
}
.slide {
	margin: 0;
	padding: 0;
	background: url("http://image.hyundaihmall.com/event/2017/btn_slide.jpg") no-repeat center top;
	background-size:100%;
	
}
.btn-slide {
	border-top:1px solid #c8c8c8;
	height: 80px;
	display: block;
}
.active {
	background-position: right 12px;
	
}

.stamp_layer{position:relative; width:100%;}
.stamp_layer a{overflow:hidden; z-index:10; position:absolute; display:block;}	
.stamp_layer .laNum{position:absolute; width:22%;top:95.6%; left:0%; font-size:50px; font-family:'돋움'; font-weight:bold; text-align:center;color:#404143;}
.stamp_layer .raNum{position:absolute; width:18.8%;top:95.6%; left:55%; font-size:50px; font-family:'돋움'; font-weight:bold; text-align:right;color:#f23843;}
@media all and (max-width: 320px) {
.stamp_layer .laNum{font-size:16px;}
.stamp_layer .raNum{font-size:16px;}
}

@media all and (min-width: 321px) and (max-width: 567px) {
.stamp_layer .laNum{font-size:17px;}
.stamp_layer .raNum{font-size:16px;}
}

@media all and (min-width: 568px) and (max-width: 666px) {
.stamp_layer .laNum{font-size:24px;}
.stamp_layer .raNum{font-size:26px;}
}

@media all and (min-width: 667px) and (max-width: 767px) {
.stamp_layer .laNum{font-size:35px;}
.stamp_layer .raNum{font-size:32px;}
}

@media all and (min-width: 768px) and (max-width: 1024px) {
.stamp_layer .laNum{font-size:40px;}
.stamp_layer .raNum{font-size:38px;}
}

@media all and (min-width: 1024px) {
.stamp_layer .laNum{font-size:50px;}
.stamp_layer .raNum{font-size:50px;}
}