@charset "utf-8";
/* As-Is common.css */
/* line 132 */ .textindent{text-indent:-9999px!important;overflow:hidden!important;}
/* line 150 */ .flexSb{display:-webkit-box;justify-content:space-between;align-items:center;-webkit-box-orient:horizontal;-webkit-box-pack:justify;-webkit-box-align:center;}
/* line 163 */ .flexSb>*{display:block;}
/* line 187 */ .gnb2{position:relative;z-index:65;width:100%;height:35px;background-color:#ef6856;}
/* line 194 */ .gnb2 h2{width:100%;height:35px;padding:0 45px;line-height:35px;text-align:center;color:#fff;font-size:18px;font-weight:400;-webkit-box-sizing:border-box;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
/* line 208 */ .gnb2 h2 div{display:inline-block;width:145px;vertical-align:top;}
/* line 213 */ .gnb2 h2 p{display:inline-block;vertical-align:top;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
/* line 220 */ .gnb2 .back{position:absolute;top:0;left:0;display:block;width:48px;height:35px;background:url(https://imagessl.hyundaihmall.com/static/smart/2014/img/arrow_left1.png) no-repeat center;background-size:18px 15px;}
/* line 230 */ .gnb2 a{display:inline-block;height:35px;line-height:35px;color:#fff;}
/* line 236 */ .gnb2 a span{display:inline-block;width:8px;height:4px;padding-left:5px;background:url(https://imagessl.hyundaihmall.com/static/smart/2014/img/arrow_bottom3.png) no-repeat center;background-size:8px 4px;vertical-align:middle;}
/* line 245 */ .gnb2 .close{height:35px!important;}
/* line 279 */ .dl1{/* padding:15px 15px 6px; *//* border-bottom:1px solid rgba(0,0,0,.2); */color:#818181;-webkit-box-sizing:border-box;}
/* line 285 */ .dl1>*{padding-bottom:9px;}
/* line 288 */ .dl1 dt{float:left;width:113px;min-height:18px;line-height:18px;}
/* line 288 */ .dl1 dt ~ dt{clear:both;}
/* line 294 */ .dl1 dd{min-height:18px;margin-left:113px;color:#444;font-size:14px;letter-spacing:0;line-height:18px;}
/* line 378 */ .help{display:inline-block;width:18px;height:18px;margin-left:5px;background-color:#e4e4e4;text-align:center;line-height:18px;color:#fff;}
/* line 959 */ .button1{width:100%;height:45px;color:#5d4b4b;margin-top:-1px;}
/* line 965 */ .button1 button{height:100%;font-size:16px;color:#fff;}
/* line 1224 */ .list1{padding:15px;background-color:#f2fafb;border-bottom:1px solid rgba(0,0,0,.2);}
/* line 1236 */ .list1 dt, .list1 label{float:left;display:-webkit-box;-webkit-box-align:center;width:140px;min-height:35px;line-height:1.2;font-size:14px;}
/* line 1246 */ .list1 dd{min-height:35px;margin-left:113px;line-height:1.2;font-size:14px;}
/* line 1252 */ .list1 dd.text{display:-webkit-box;-webkit-box-align:center;}
/* line 1256 */ .list1 .inputs, .list1 .selects{position:relative;margin-left:140px;}
/* line 1278 */ .option_select dt, .option_select label{width:113px;}
/* line 1291 */ .list1 input{position:absolute;border:none;display:block;width:100%;height:31px;padding:0;text-align:center;border-color:#c2c8c9;-webkit-box-sizing:border-box;font-size:16px;z-index:0;}
/* line 1304 */ .list1 .inputs button{position:relative;display:block;width:31px;height:31px;background-color:#e0e0e0;z-index:2;}
/* line 1312 */ .list1 .inputs button:after{content:'';position:absolute;left:50%;top:50%;width:10px;height:2px;margin:-1px 0 0 -5px;background-color:#494949;}
/* line 1322 */ .list1 .inputs .minus{float:left;}
/* line 1325 */ .list1 .inputs .plus{float:right;}
/* line 1328 */ .list1 .inputs .plus:before{content:'';position:absolute;left:50%;top:50%;width:2px;height:10px;margin:-5px 0 0 -1px;background-color:#494949;}
/* line 1361 */ .list1 .quantity2 .inputs{margin-left:0;padding:1px;border:1px solid #ccc;height:35px;background-color:#fff;-webkit-box-sizing:border-box;overflow:hidden;}
/* line 2516 */ .sns_link{padding:25px 15px 20px;color:#818181;}
/* line 2520 */ .sns_link .sns_icon{width:60%;}
/* line 2523 */ .sns_link ul{width:100%;}
/* line 2526 */ .sns_link li{width:17%;}
/* line 2529 */ .sns_link li:last-child{margin:0;}
/* line 2532 */ .sns_link .code span{margin-left:3px;color:#ef6856;}
/* line 4344 */ .total_amount{padding:15px;background-color:#fef9f8;border-bottom:1px solid #ccc;}
/* line 4352 */ .total_amount dd{/* color:#ea6250; *//* font-size:16px; */letter-spacing:0;}
/* line 4588 */ .pdBot15{padding-bottom:15px!important;}
/* line 4612 */ .maBot10{margin-bottom:10px!important;}

.detail_group dd>span{position:relative;top:-4px;}
.detail_p.max_height{max-height:140px;}

/* Ai-Is pd.css */
/* line 898 */ .total_amount dd{font-weight:700;}
/* line 1058 */ .option_sel{visibility:hidden;position:fixed;left:0;right:0;z-index:100;width:100%;-webkit-transition:-webkit-transform .3s;transiton:-webkit-transform .3s;}
/* line 1068 */ .option_sel .option_con{max-height:282px;border-top:1px #f2fafb solid;overflow:visible;background-color:#fff;}
/* line 1080 */ #option_con{position:relative;overflow:visible}
/* line 1084 */ .sel_button{position:relative;width:100%;height:20px;border-bottom:4px solid #ef6856;}
/* line 1090 */ .sel_button:after{content:'간편선택';position:absolute;top:1px;left:50%;width:72px;height:20px;margin-left:-36px;padding-right:2px;background:url(https://imagessl.hyundaihmall.com/static/smart/2014/img/img_option_sel.png) no-repeat center;background-size:72px auto;text-align:center;color:#fff;line-height:20px;font-size:12px;-webkit-box-sizing:border-box;}
/* line 1107 */ .list1 input{line-height:32px;}

/* To-be custom */
#content{margin:-20px -15px -25px;}
.special_product_name h3{font-weight:700;}
.special_product_name > span{box-sizing:content-box;}
.sel_button{box-sizing:content-box;}
.special_option_sel .total_amount dd .fifth,
.special_option_sel .total_amount dd span{color:inherit;font:inherit;vertical-align:baseline;}
.detail_p p{font-size:12px;color:#888;line-height:1.6;font-family:'Noto Sans Medium';letter-spacing:-1px;}
.detail_p strong{color:inherit;font:inherit;}
.tb_detail_view{width:auto;}
.tb_detail_view tbody th,
.tb_detail_view tbody td{letter-spacing:-1.2px;}
.tb_detail_view tbody td *:not(a){color:inherit;font:inherit;}

.laver_pop01 {
    display: none;
    position: fixed;
    width: 90%;
    z-index: 10005;
    overflow: hidden;
}

.pop_wrap {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.pop_wrap .pop_head {
    position: relative;
    z-index: 1;
    min-height: 40px;
    background-color: #ef6856;
}
.pop_wrap .pop_head h3 {
    padding-top: 12px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}
.pop_wrap .pop_head .close {
    position: absolute;
    top: 11px;
    right: 10px;
    width: 18px;
    height: 18px;
    background: url(https://imagessl.hyundaihmall.com/static/smart/2014/img/btn_pop_close.png) no-repeat;
    background-size: 18px 18px;
}
.textindent {
    text-indent: -9999px!important;
    overflow: hidden!important;
}
a {
    color: #666;
    text-decoration: none;
    cursor: pointer;
}
.how_box.list7 {
    padding: 4px 15px 15px 25px;
    line-height: 1.4;
    font-size: 13px;
    color: #444;
    background-color: #fff;
}
.how_box {
    background-color: #fff;
}
.list7 {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}
.how_box.list7 p {
    text-indent: -10px;
}
.pop_wrap .how_box p {
    font-size: 15px;
}
p, span {
    text-align: left;
}
.dot1 {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 8px;
}
.dot1:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 0;
    margin-top: -3px;
    border-color: #ef6856 #e7342b #e7342b #ef6856;
    border-style: solid;
    border-width: 2px;
}
.pop_infobox .list2 {
    padding: 0;
}
.list2.type3 {
    background-color: #fef9f8;
}
.pop_infobox .button2 {
    background-color: #f8f8f8;
}
.button2 {
    width: 100%;
    padding: 15px 0;
    background-color: #fff;
    text-align: center;
}
.button2 .bType3 {
    width: 100px;
    height: 45px;
    background-color: #a7a7a7;
    font-size: 16px;
    color: #fff;
}
.chanel_button {
    background-color: #000!important;
}
button {
    font-family: Helvetica,Arial,Verdana,sans-serif;
}
button {
    cursor: pointer;
}
button, select, textarea {
    font-size: 13px;
    box-shadow: none!important;
    border-radius: 0;
}

/*팝업 딤처리 문제로 추가 */
.layer_bg{position:fixed !important;}