/*
*  COS CUSTOM (20181127)
*  작성자 : 유영선
* */

/* 무제한 이미지 20181127 */
.o-product-gallery .o-slider { max-height: 100%; }
/* // 무제한 이미지 20181127 */

/* banded-component 20181127 */
.banded-component .headline-preamble-wrapper h2 {
	margin-bottom: 0px !important
}

.banded-component .textdata-preamble-wrapper {
	padding-bottom: 13px;
}

.banded-component .m-free-tile {
	cursor: auto;
}

.banded-component .m-free-tile>div {
	display: block;
}

.banded-component .m-free-tile>div h2,
.banded-component .m-free-tile>div p,
.banded-component .m-free-tile>div span {
	display: inline;
}

.banded-component .m-free-tile>div.left {
	text-align: left;
}

.banded-component .m-free-tile>div.center {
	text-align: center;
}

.banded-component .m-free-tile>div.right {
	text-align: right;
}

.banded-component .m-free-tile .a-picture img.athird {
	width: 33%;
}

.banded-component .m-free-tile .a-picture img.half {
	width: 50%;
}

.banded-component .m-free-tile .a-picture img.full {
	width: 100%;
}

.banded-component .ctalist-wrapper a {
	margin-right: 14px;
}

.banded-component .ctalist-wrapper a:last-child {
	margin-right: 0px;
}

@media (max-width: 768px){
	.banded-component .o-grid-controller .column{ margin: 15px 0px 15px 0px; }	
}

/* // banded-component 20181127 */

/* HTML MDF 자동화 20190121 */
.product-description .description-text > p{
	min-height:15px;
    font-size:13px; /* H&M Hmall 입점 */
}
/* // HTML MDF 자동화 20190121 */

.o-slider-cofs.is-disabled .swiper-wrapper {
  -ms-flex-pack: left;
  justify-content: left;
}
/* sis iframe 매장 높이 설정 */
.sisFrame_div {
	min-height: 800px;
}

/* itemPtc.thd product-marker */
.m-product-marker.m-product-markers .a-image{height:8px !important}
#category-list .column .o-product .description .m-product-marker.m-product-markers .marker-image.product-marker{ margin-top:6px }