@charset "utf-8";
/* As-Is re_cos_ui_sis.css */
/* line 809 */
/* .btn,
button,
input[type=button],
input[type=submit]{font:14px/14px 'Malgun Gothic',-apple-system,'droid sans fallback','Apple SD Gothic Neo','AppleGothic',sans-serif;} */
/* line 12671 */ .table-content h3{color:#3b3f4b;}
/* line 12672 */ .table-content h4{color:#3b3f4b;font-size:12px;line-height:17px;}
/* line 12676 */
.table-content td,
.table-content th {font-size:13px;line-height:17px;}
/* line 27204 */ .a-size-swatch .size-options.out-of-stock{color:#e7e7e7;}
/* line 27339 */ .m-bag .a-heading-3 span{color:#444;font-size:11px;}
/* line 27366 */ .m-bag .a-heading-3 span:last-child span{vertical-align:text-bottom;}
/* line 28094 */ .m-dropdown.pdp-dropdown .list-wrapper .options .a-option .color-name{font-size:12px;}
/* line 35389 */ .o-navigation .sub-menu .a-link{font-size:13px;line-height:33px;}
/* line 35451 */ .o-navigation .departments .a-link{font-size:13px;line-height:33px;}
/* line 41879 */ 
/* a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,button,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,input,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,select,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{font-family:'Malgun Gothic',-apple-system,'droid sans fallback','Apple SD Gothic Neo','AppleGothic',sans-serif!important;} */
/* line 47580 */
.m-change-country-lightbox .information-product .table-wrap td,
.m-change-country-lightbox .information-product .table-wrap th {line-height:17px;}

/* As-Is re_cos_ui_sis.css */
.product-description .description-text>p{color:#3b3f4b;font-size:13px;line-height:18px;}

/* To-be custom */
.wrap.product-cos{background:#fff;}
.wrap.product-cos .cmain{padding-top:0;}
.wrap.product-cos .container{padding:0;}
.wrap.product-cos .footer .family-site select{width:100%;height:40px;padding:0 14px;border:1px solid #eee;background:url(//imagedev.hmall.com/m/img/co/icon/ico-arrow-bottom-on-2x.png) no-repeat calc(100% - 15px) 50%;background-size:10px 5px;-webkit-border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
.wrap.product-cos .footer .btngroup .btn{display:flex;justify-content:center;align-items:center;position:relative;height:40px;padding:0 14px;border:1px solid transparent;background-color:#f8f8f8;color:#898b92;line-height:1;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;}
.wrap.product-cos .footer .btngroup .btn-linelgray{border-color:#ddd;}
.wrap.product-cos .footer .footer-company span{vertical-align:middle;}
.wrap.product-cos .floating-menu .btn-chatbot{padding:0;}
.wrap.product-cos .floating-menu .btn-return,
.wrap.product-cos .floating-menu .btn-topmove{display:flex;border:0;}
.table-content p{color:#3b3f4b;font-size:12px;line-height:17px;}
.table-content td p,
.table-content th p{font-size:13px;}
.m-notification .a-paragraph a{font:inherit;}
.o-navigation .notification-message .a-paragraph{color:#b89977;font-size:13px;line-height:18px;}
.o-navigation .categories .category-list .a-link{font-size:13px;line-height:33px;}
.a-size-swatch .size-options span{color:#3b3f4b;font-size:12px;line-height:1.2;}
.a-size-swatch .size-options.out-of-stock span{color:#e7e7e7;}
.q-udln{color:#444;font-size:13px;}
.a-button.is-primary span{color:#959595;font-size:13px;}
.o-product-information .o-form .a-button.is-disabled span{color:#fff;}
.o-product-information .o-form .description-header span{font-size:11px;}
.popup_title b, .sub_title b{color:#444;font-weight:700;font-size:13px;letter-spacing:1px;}