@charset "utf-8";
#content .special_wrap {
 padding-bottom:43px
}
.special_wrap header {
 border-bottom:0
}
.special_wrap #content:after {
 background-color:none;
 height:0
}
.hierachy {
 height:29.5px;
 line-height:29.5px;
 border-top:1px solid #a7a7a7
}
.hierachy ol:after {
 content:"";
 display:block;
 clear:both
}
.hierachy ol li {
 float:left
}
.hierachy ol li a {
 display:inline-block;
 background:url(https://imagessl.hyundaihmall.com/static/2011img/chanel/mobile/icon_arrow_right.jpg) no-repeat left center;
 background-size:5px 8.5px;
 padding-left:13px;
 margin-left:6px;
 color:#888;
 font-family:'Noto Sans Regular'
}
.hierachy ol li.on a {
 color:#555;
 font-family:'Noto Sans Medium'
}
.hierachy ol .home a {
 margin-left:16px;
 background-image:none;
 padding-left:0
}
.hierachy ol .home>a>img {
 width:13.5px
}
.main_banner_name {
 line-height:0
}
.main_banner_img {
 line-height:0
}
.special_category {
 border-bottom:1px solid #000;
 line-height:0
}
.special_category>li>a {
 display:block;
 height:45px;
 line-height:45px;
 text-align:center;
 color:#000;
 font-size:16px;
 font-weight:700;
 border-top:1px solid #000;
 font-family:'Noto Sans Bold'
}
.sub_category {
 padding-top:17.5px;
 border-top:1px solid #000;
 padding-bottom:17.5px
}
.sub_category li a {
 display:block;
 padding:17.5px;
 font-size:14px;
 color:#000;
 text-align:center;
 font-family:'Noto Sans Bold'
}
.brand_logo {
 position:relative
}
.brand_logo .shop_go {
 position:absolute;
 right:16px;
 top:38%;
 font-size:10px;
 color:#fff;
 padding-right:8.5px;
 font-family:'Noto Sans Bold'
}
.brand_logo .shop_go>img {
 width:6px;
 margin-left:5px
}
.brand_logo a {
 display:initial!important;
 width:initial!important;
 height:initial!important;
 padding:initial!important;
 line-height:initial!important;
 -webkit-box-sizing:initial!important
}
.keyword_list li {
 height:46.5px
}
#search_con .keyword_list li a {
 position:relative;
 font-size:12px;
 color:#333;
 font-family:'Noto Sans Medium'
}
.keyword_list li a .search_num {
 position:absolute;
 right:16px;
 color:#999;
 font-size:10px
}
.special_product_name {
 margin-bottom:30px;
 padding:15px 15px 0
}
.special_product_name>span {
 display:inline-block;
 height:14px;
 margin-right:4px;
 padding:0 5px;
 border:1px solid #000;
 font-size:9px;
 color:#000;
 text-align:center;
 line-height:15px;
 vertical-align:middle;
 letter-spacing:-1px;
 vertical-align:top
}
.special_product_name h3 {
 font-size:18px;
 color:#000;
 margin-top:10px;
 font-family:'Noto Sans Medium';
 line-height:1.3
}
.color_list {
 padding:0 15px 0;
 margin-top:-15px
}
.color_list ul:after {
 content:"";
 display:block;
 clear:both
}
.color_list ul>li {
 width:50%;
 float:left;
 margin-top:15px
}
.color_list ul>li:hover>div .img_color {
 border:2px solid #000
}
.color_list ul>li:hover>div .item_name {
 color:#000
}
.color_list ul>li>div .img_color {
 display:inline-block;
 margin-right:9px;
 border:2px solid #fff;
 width:26px;
 height:25px;
 vertical-align:middle
}
.color_list ul>li>div .img_color>img {
 width:26px;
 height:25px;
 vertical-align:middle
}
.color_list ul>li>div .item_name {
 color:#888;
 font-size:10px;
 font-family:'Noto Sans Regular';
 letter-spacing:-.3px
}
.detail_group {
 padding:0 15px 6px;
 margin-top:45px;
 margin-bottom:20px
}
.detail_group .dl1 {
 padding:0;
 padding-top:20px;
 padding-bottom:45.5px;
 border-top:1px solid #dbdbdb;
 border-bottom:1px solid #dbdbdb
}
.detail_group dt {
 color:#888;
 font-size:12px;
 width:79px;
 font-family:'Noto Sans Medium'
}
.detail_group dd {
 margin-left:79px;
 color:#000;
 font-size:12px;
 font-family:'Noto Sans Medium'
}
.detail_group dd>span {
 display:inline-block;
 padding-top:3px
}
.text_detail {
 padding:0 15px 6px
}
.text_detail em {
 font-style:normal;
 display:block;
 font-size:12px;
 color:#000;
 margin-bottom:20px;
 font-family:'Noto Sans Medium'
}
.detail_p {
 font-size:12px;
 color:#888;
 line-height:1.6;
 font-family:'Noto Sans Medium';
 letter-spacing:-1px
}
.max_height {
 max-height:134px;
 overflow:hidden
}
.tx_more {
 background-color:#fff;
 display:block;
 font-size:10px;
 color:#000;
 margin-top:19px;
 font-family:'Noto Sans Medium'
}
.special_product_view .sns_link {
 padding-top:20px;
 padding-bottom:45px
}
.special_product_view .sns_link:after {
 content:"";
 display:block;
 clear:both
}
.special_product_view .sns_link .sns_icon {
 float:right
}
.special_product_view .detail_img {
 display:block;
 margin-top:10px;
 text-align:center
}
.special_product_view .detail_img img {
 width:90%
}
.slide_item_div {
 padding:0 15px 0;
 margin-bottom:44px
}
.slide_item_box {
 border:2px solid #000;
 padding:15px 0 22px;
 position:relative;
 overflow:hidden
}
.slide_item_box>strong {
 font-size:12px;
 color:#000;
 font-weight:400;
 margin-left:15px;
 font-family:'Noto Sans Medium';
 line-height:1.5
}
.item_frame ul li .item a {
 display:table;
 height:108px
}
.item_frame ul li .item a:after {
 content:"";
 display:block;
 clear:both
}
.item_frame ul li .item a .item_small {
 display:table-cell;
 vertical-align:middle
}
.item_frame ul li .item a .item_small img {
 width:75.5px;
 vertical-align:middle
}
.item_frame ul li .item a .item_small_tx {
 display:table-cell;
 vertical-align:middle;
 text-align:left;
 padding-left:10px;
 font-family:'Noto Sans Bold'
}
.item_frame ul {
 width:1000px
}
.item_frame ul:after {
 content:"";
 display:block;
 clear:both
}
.item_frame ul li {
 float:left;
 width:247px
}
.item_frame {
 width:247px;
 overflow:hidden;
 margin:30px auto 0
}
.btn_arrow_area {
 width:100%;
 position:absolute;
 top:91px
}
.btn_arrow_area:after {
 content:"";
 display:block;
 clear:both
}
.btn_arrow_area button {
 width:32.5px;
 background:0 0;
 border:none
}
.btn_arrow_area button img {
 width:4.5px;
 height:8px;
 text-align:center
}
.btn_arrow_area .btn_prev {
 float:left
}
.btn_arrow_area .btn_next {
 float:right
}
.buying_info_box {
 border:2px solid #000;
 margin:30px 15px 0
}
.buying_info_box strong {
 display:block;
 height:33.5px;
 line-height:33.5px;
 background-color:#000;
 font-size:12px;
 color:#fff;
 text-align:left;
 font-weight:400;
 font-family:'Noto Sans Medium';
 letter-spacing:-.5px
}
.buying_info_box .detail_p {
 font-size:11px;
 padding:18px 17px
}
.buying_info_box .chanel_brown {
 font-size:11px;
 padding:10px 17px;
 color:#bc7d2e;
 font-weight:700
}
.tb_detail_view {
 margin:30px 15px 0
}
.tb_detail_view tbody th {
 font-weight:400;
 font-size:11px;
 color:#888;
 text-align:left;
 padding:7px 0;
 vertical-align:top;
 line-height:1.5;
 font-family:'Noto Sans Medium';
 width:66px;
 display:inline-block
}
.tb_detail_view tbody td {
 font-size:11px;
 color:#000;
 line-height:1.5;
 padding:7px 0;
 vertical-align:top;
 font-family:'Noto Sans Medium'
}
.text_info_box {
 border-top:1px solid #dbdbdb;
 margin:40px 15px 0;
 padding:0
}
.text_info_box em {
 margin-top:19px;
 margin-bottom:10px
}
.special_product_view .button1 {
 background-image:none;
 border-top:2px solid #000
}
.special_product_view .button1 .bType2 {
 background-color:#fff;
 color:#000;
 font-weight:700;
 width:50%
}
.special_product_view .button1 .bType3 {
 background-color:#000;
 color:#fff;
 font-weight:700;
 width:50%
}
.special_option_sel .sel_button:after {
 content:"구매하기";
 top:-16px;
 left:0;
 width:100%;
 height:40px;
 margin-left:0;
 font-size:16px;
 line-height:36px;
 background:url(https://imagessl.hyundaihmall.com/static/2011img/chanel/mobile/btn_close.png) no-repeat center #000;
 background-size:72px 20.5px;
 font-family:'Noto Sans Medium'
}
.special_option_sel .sel_button.on:after {
 content:"닫기";
 width:72px;
 height:20px;
 top:1px;
 left:50%;
 font-size:12px;
 margin-left:-36px;
 line-height:20px;
 background-color:transparent
}
.special_option_sel .sel_button {
 border-color:#000
}
.special_option_sel .total_amount dt {
 color:#383737;
 font-family:'Noto Sans Bold';
 font-size:14px
}
.special_option_sel .total_amount dd {
 color:#000;
 font-family:'Noto Sans Bold';
 font-size:23px
}
.special_option_sel .total_amount dd>span {
 font-size:13px
}
.special_option_sel .option_con #option_con .list1 {
 background-color:#f8f8f8
}
.sp_list1 p {
 font-family:'Noto Sans Medium';
 color:#666
}
.sp_list1 .quantity1 .inputs {
 background-color:none;
 border:0;
 padding:0;
 width:40.7%
}
.sp_list1 .inputs button {
 background-color:#fff;
 color:#797979;
 font-size:25px;
 font-family:'Noto Sans Medium'
}
.sp_list1 .inputs input {
 color:#666;
 font-size:18px;
 font-family:'Noto Sans Medium'
}
.sp_list1 .quantity1 em {
 color:#666;
 font-family:'Noto Sans Medium';
 font-size:16px
}
.sp_list1 .quantity1 .cancel {
 border:0
}
.sp_list1 .quantity1 .cancel:before {
 width:15px;
 background-color:#747474;
 margin-left:-8px
}
.sp_list1 .quantity1 .cancel:after {
 width:15px;
 background-color:#747474;
 margin-left:-8px
}
.sp_product_list {
 margin-top:10px;
 margin-bottom:30px
}
.sp_product_list:after {
 content:"";
 display:block;
 clear:both
}
.sp_product_list li {
 width:50%;
 float:left;
 margin-top:20px;
 min-height:320px;
 overflow:hidden
}
.sp_product_list li a .thumb {
 width:100%
}
.sp_product_list li a {
 text-align:center
}
.sp_product_list li a .product_name {
 display:block;
 text-align:center;
 padding:0 30px;
 margin-top:15px;
 line-height:1.4;
 font-family:'Noto Sans Regular';
 font-size:14px;
 color:#777;
 overflow:hidden
}
.sp_product_list li a .product_name.pname,
.sp_product_list li a .product_name.promo {
 height:40px;
 overflow:hidden
}
.sp_product_list li a .product_price {
 display:block;
 text-align:center;
 padding:0 30px;
 line-height:1.5;
 font-family:'Noto Sans Medium';
 color:#000;
 font-size:14px;
 margin-top:5px
}
.channel_gnb h2 {
 color:#fff
}
.channel_gnb .back {
 position:absolute;
 top:0;
 left:0;
 display:block;
 width:48px;
 height:35px;
 background:url(https://imagessl.hyundaihmall.com/static/smart/2014/img/btn_back.png) no-repeat center;
 background-size:18px 15px
}
.chanel_button {
 background-color:#000!important
}
.chanel_brown {
 color:#888
}
.shop_contents_area {
 background-color:#fff
}
.special_product_name h3 {
 margin-top:0;
 margin-bottom:10px
}
.slide_item_div strong {
 font-family:'Noto Sans Medium';
 display:block;
 font-weight:400;
 font-size:12px;
 color:#000;
 margin-bottom:20px
}
.buying_info_box {
 border:none
}
.buying_info_box .detail_p {
 border:2px solid #000
}
.buying_info_box strong {
 font-family:'Noto Sans Medium';
 height:auto;
 line-height:1.4;
 background-color:transparent;
 color:#000;
 font-size:12px;
 letter-spacing:-1px;
 margin-bottom:20px
}
.item_frame {
 margin-top:0
}
.btn_arrow_area {
 top:66px
}
.detail_p>span {
 font-family:'Noto Sans Medium';
 color:#000;
 font-size:12px
}
div.channel_gnb {
 background-color:#fff
}
.chanel_darkgray {
 color:#888
}
.buying_info_box .chanel_darkgray {
 color:#888
}
.chanel_em {
 font-style:normal
}
.channel_gnb a {
 background:url(https://imagessl.hyundaihmall.com/static/smart/2014/img/btn_back.png) no-repeat center!important;
 background-size:20.5px 20.5px!important
}
