@charset "utf-8";
/* As-Is common_star.css */
/* line 2733 */ .email{display:block;width:100%;overflow:hidden;}

/* As-Is stories_sis.css */

/* As-Is stories.custom.css */

/* To-be custom */
.wrap.product-stories .container{padding:0;}
.wrap.product-stories .container *{color:#000;}
.o-newsletter-signup .a-paragraph.detail-text span{font-size:11px;}
.a__label_li li{line-height:20px;font-size:11px;font-family:'Courier New', 'SpoqaHanSans';font-weight:normal !important;}
.o-newsletter-signup .m-checkbox-age .a-label .a-link{font-size:11px;vertical-align:baseline;}
.m-cookie-bar .a-paragraph a{font-size:11px;line-height:inherit;}
.categories>li>a, 
.o-main-menu .co-lab>li>a{font-weight:700;font-size:18px;line-height:28px;}
.content-section .list-wrapper .bottom-option li{font-size:0;}
.wrap.product-stories .o-product-information #add-to-bag span{font-size:12px}
.wrap.product-stories .o-product-information .free-delivery-text{font-size:12px;line-height:16px;}
.wrap.product-stories .o-product-information .a-paragraph.free-text p{font-size:12px;line-height:16px;}
.m-change-country-lightbox .a-paragraph span{line-height:16px;font-size:11px;line-height:16px;font-weight:400;}
.o-accordion .accordion-inner-content .share-group .a-link{font-size:0;}

.product-stories .footer *,
.product-stories .footer .family-site .minor-headings,
.product-stories .footer .family-site select,
.product-stories .footer .btngroup .btn span,
.product-stories .footer .footer-company span,
.product-stories .footer .fmenu li a{font-family:'Malgun Gothic',-apple-system,'droid sans fallback','Apple SD Gothic Neo','AppleGothic',sans-serif !important;}
.product-stories .footer .btngroup .btn{display:flex;margin:0 !important;padding:0;border: 1px solid #ddd;}