@charset "utf-8";


/*=========================================== Reset ================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {margin:0; padding:0; border:0; vertical-align:baseline; box-sizing:border-box;}
input, select, textarea {margin:0; padding:0; box-sizing:border-box;}
textarea {resize:none;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display:block;}

* {margin:0; padding:0; -webkit-text-size-adjust:none;}/* 아이폰 가로모드시 글씨 커지는 문제 */
i, em {font-style:normal;}
blockquote, q {quotes:none;}
sub {vertical-align:sub; font-size:smaller; line-height:0;}
sup {vertical-align:super; font-size:smaller; line-height:0;}
img, fieldset {vertical-align:middle;}
a {color:inherit; vertical-align:inherit; text-decoration:none;}
a:link, a:hover {text-decoration:none;}
h1,h2,h3,h4,h5,h6 {color:inherit; font-weight:inherit; font-size: inherit;}
ol, ul, li {list-style:none;}
table {width:100%; border-collapse:separate; border-spacing:0; table-layout:fixed; word-break:normal;}
th, td {text-align:center; vertical-align:middle;}
caption, legend {width:1px; height:1px; margin:-1px 0 0 0; padding:0; border:0; /* clip:rect(0 0 0 0) !important; */ overflow:hidden; font-size:0; color:transparent; line-height:0;}
fieldset, legend {border:0; background-color:transparent;}
/*hr {display:none;}*/
hr {height:0; border:0; background-color:transparent;}
button {display:inline-block; border:0; background-color:transparent; font-size:inherit; text-align:center; cursor:pointer; overflow:visible; -webkit-appearance:button;}

body:not(.isMobile) a[href^=tel] {cursor:text; pointer-events:none;}
body:not(.isMobile) a[href^=tel]:hover {color:currentColor; text-decoration:none;}
/* 아이폰(사파리) 터치 메뉴 활성화 관련 */
a, button,
[role=button], [role=link], [role=tab] {/*outline:none;*/ -webkit-touch-callout:none;}
/* 아이폰(사파리) form 요소 박스선 없애기 */
input,
select,
textarea {-webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; appearance:none; -webkit-border-radius:0;}


/*================================================ Form ================================================*/
input,
textarea {line-height:1.2;/*입력폼에서 춤추지 않는 최소 줄간 1.2*/ vertical-align:middle;}
/*input:not([type=checkbox]):not([type=radio]):not([type=range]),
select,
textarea {width:100%; border:1px solid #ccc; background-color:#fff; color:#222; font-family:'Roboto Light', 'NotoSans Light', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', sans-serif; font-size:15px; font-weight:500; transition:border-color ease-in-out 0.225s; -webkit-transition:border-color ease-in-out 0.225s;}
select {background:transparent url(../img/ico_select.png) no-repeat right center;}
textarea {padding:18px 15px; color:#666; font-size:14px; line-height:1.4; resize:none;}*/

input::-ms-clear {display:none;}
select::-ms-expand {display:none;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {-webkit-appearance:none;}
/* placeholder, focus */
input:not([type=checkbox]):not([type=radio])::placeholder,
select::placeholder,
textarea::placeholder {color:#999; font-size:15px; opacity:1;}
input:not([type=checkbox]):not([type=radio])::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {color:#999; font-size:15px; opacity:1;}
input:not([type=checkbox]):not([type=radio])::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {color:#999; font-size:15px; opacity:1;}
input:not([type=checkbox]):not([type=radio]):-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder {color:#999 !important; font-size:15px; opacity:1;}

input::placeholder {text-align:left !important;}
input::-webkit-input-placeholder {text-align:left !important;}
input:-ms-input-placeholder {text-align:left !important;}

input:not([type=checkbox]):not([type=radio]):focus::-webkit-input-placeholder,
select:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {color:#222; opacity:0;}
input:not([type=checkbox]):not([type=radio]):focus::-moz-placeholder,
select:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {color:#222; opacity:0;}
input:not([type=checkbox]):not([type=radio]):focus:-ms-input-placeholder,
select:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {color:#222; opacity:0;}


/*================================================ Basic ================================================*/
.clfix:before,
.clfix:after {display:block; content:'';}
.clfix:after {clear:both;}
.clfix {zoom:1;}
* html .clfix {height:1%;}/* Hides from IE-mac */

.rel {position:relative !important;}
.abs {position:absolute !important;}
.blk {display:block !important;}
.inB {display:inline-block !important;}
.tb {display:table !important;}
.tbCell, .tbCell.nowrap {display:table-cell !important;}
.nowrap {display:inline-block; white-space:nowrap !important;}
.bgNone {background:none !important;}
.blind {display:inline-block; position:absolute !important; width:1px; height:1px; margin:-1px; border:0; overflow:hidden; clip:rect(1px, 1px, 1px, 1px); clip-path:inset(50%);}
.underline {text-decoration:underline !important;}
.overA {overflow:auto !important;}
.overH {overflow:hidden !important;}
.overV {overflow:visible !important;}
.displayN {display:none !important;}
.shadowNone {box-shadow:none !important;}
.ellip {display:inline-block; max-width:100%; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.bNormal {font-weight:normal !important;}
.vcNone:after,
.vcNone:before {content:none !important;}
.vcaNone:after {content:none !important;}
.vcbNone:before {content:none !important;}



/*================================================ Border ================================================*/
.bdNone {border:none !important;}
.blNone {border-left:none !important;}
.brNone {border-right:none !important;}
.btNone {border-top:none !important;}
.bbNone {border-bottom:none !important;}

.btLine {border-top: 1px solid #e0e0e0 !important;}
.blLine {border-left: 1px solid #e0e0e0 !important;}
.brLine {border-right: 1px solid #e0e0e0 !important;}

/*================================================ 정렬 ================================================*/
.fl {float:left;}
.fr {float:right;}
.fn {float:none !important;}

.ac {text-align:center !important;}
.al {text-align:left !important;}
.ar {text-align:right !important;}

.vm {vertical-align:middle !important}
.vt {vertical-align:top !important}
.vb {vertical-align:bottom !important}

.tblAuto {min-width:100%; table-layout:auto !important;}


/*================================================ 여백 ================================================*/
.mt_10 {margin-top:-10px !important;}
.mt_25 {margin-top:-25px !important;}

.mg0 {margin:0 !important;}
.mt0 {margin-top:0 !important;}
.mr0 {margin-right:0 !important;}
.mb0 {margin-bottom:0 !important;}
.ml0 {margin-left:0 !important;}

.mt5 {margin-top:5px !important;}
.mr5 {margin-right:5px !important;}
.mb5 {margin-bottom:5px !important;}
.ml5 {margin-left:5px !important;}

.mt10 {margin-top:10px !important;}
.mr10 {margin-right:10px !important;}
.mb10 {margin-bottom:10px !important;}
.ml10 {margin-left:10px !important;}

.mt15 {margin-top:15px !important;}
.mr15 {margin-right:15px !important;}
.mb15 {margin-bottom:15px !important;}
.ml15 {margin-left:15px !important;}

.mt20 {margin-top:20px !important;}
.mr20 {margin-right:20px !important;}
.mb20 {margin-bottom:20px !important;}
.ml20 {margin-left:20px !important;}

.mt25 {margin-top:25px !important;}
.mr25 {margin-right:25px !important;}
.mb25 {margin-bottom:25px !important;}
.ml25 {margin-left:25px !important;}

.mt30 {margin-top:30px !important;}
.mr30 {margin-right:30px !important;}
.mb30 {margin-bottom:30px !important;}
.ml30 {margin-left:30px !important;}

.mt35 {margin-top:35px !important;}
.mr35 {margin-right:35px !important;}
.mb35 {margin-bottom:35px !important;}
.ml35 {margin-left:35px !important;}

.mt40 {margin-top:40px !important;}
.mr40 {margin-right:40px !important;}
.mb40 {margin-bottom:40px !important;}
.ml40 {margin-left:40px !important;}

.mt45 {margin-top:45px !important;}
.mr45 {margin-right:45px !important;}
.mb45 {margin-bottom:45px !important;}
.ml45 {margin-left:45px !important;}

.mt50 {margin-top:50px !important;}
.mr50 {margin-right:50px !important;}
.mb50 {margin-bottom:50px !important;}
.ml50 {margin-left:50px !important;}

.mt60 {margin-top:60px !important;}
.mr60 {margin-right:60px !important;}
.mb60 {margin-bottom:60px !important;}
.ml60 {margin-left:60px !important;}

.mt70 {margin-top:70px !important;}
.mr70 {margin-right:70px !important;}
.mb70 {margin-bottom:70px !important;}
.ml70 {margin-left:70px !important;}

.mt80 {margin-top:80px !important;}
.mr80 {margin-right:80px !important;}
.mb80 {margin-bottom:80px !important;}
.ml80 {margin-left:80px !important;}

.mt150 {margin-top:150px !important;}
.mr150 {margin-right:150px !important;}
.mb150 {margin-bottom:150px !important;}
.ml150 {margin-left:150px !important;}

.mt160 {margin-top:160px !important;}
.mr160 {margin-right:160px !important;}
.mb160 {margin-bottom:160px !important;}
.ml160 {margin-left:160px !important;}

.pd0 {padding:0 !important}
.pt0 {padding-top:0 !important;}
.pr0 {padding-right:0 !important;}
.pb0 {padding-bottom:0 !important;}
.pl0 {padding-left:0 !important;}

.pd5 {padding:5px !important;}
.pt5 {padding-top:5px !important;}
.pr5 {padding-right:5px !important;}
.pb5 {padding-bottom:5px !important;}
.pl5 {padding-left:5px !important;}

.pd10 {padding:10px !important;}
.pt10 {padding-top:10px !important;}
.pr10 {padding-right:10px !important;}
.pb10 {padding-bottom:10px !important;}
.pl10 {padding-left:10px !important;}

.pt15 {padding-top:15px !important;}
.pr15 {padding-right:15px !important;}
.pb15 {padding-bottom:15px !important;}
.pl15 {padding-left:15px !important;}

.pd20 {padding:20px !important;}
.pt20 {padding-top:20px !important;}
.pr20 {padding-right:20px !important;}
.pb20 {padding-bottom:20px !important;}
.pl20 {padding-left:20px !important;}

.pd25 {padding:25px !important;}
.pt25 {padding-top:25px !important;}
.pr25 {padding-right:25px !important;}
.pb25 {padding-bottom:25px !important;}
.pl25 {padding-left:25px !important;}

.pd30 {padding:30px !important;}
.pt30 {padding-top:30px !important;}
.pr30 {padding-right:30px !important;}
.pb30 {padding-bottom:30px !important;}
.pl30 {padding-left:30px !important;}

.pd35 {padding:35px !important;}
.pt35 {padding-top:35px !important;}
.pr35 {padding-right:35px !important;}
.pb35 {padding-bottom:35px !important;}
.pl35 {padding-left:35px !important;}

.pd40 {padding:40px !important;}
.pt40 {padding-top:40px !important;}
.pr40 {padding-right:40px !important;}
.pb40 {padding-bottom:40px !important;}
.pl40 {padding-left:40px !important;}

.pd45 {padding:45px !important;}
.pt45 {padding-top:45px !important;}
.pr45 {padding-right:45px !important;}
.pb45 {padding-bottom:45px !important;}
.pl45 {padding-left:45px !important;}

.pd50 {padding:50px !important;}
.pt50 {padding-top:50px !important;}
.pr50 {padding-right:50px !important;}
.pb50 {padding-bottom:50px !important;}
.pl50 {padding-left:50px !important;}

.pd55 {padding:55px !important;}
.pt55 {padding-top:55px !important;}
.pr55 {padding-right:55px !important;}
.pb55 {padding-bottom:55px !important;}
.pl55 {padding-left:55px !important;}

.pd60 {padding:60px !important;}
.pt60 {padding-top:60px !important;}
.pr60 {padding-right:60px !important;}
.pb60 {padding-bottom:60px !important;}
.pl60 {padding-left:60px !important;}

.pd70 {padding:70px !important;}
.pt70 {padding-top:70px !important;}
.pr70 {padding-right:70px !important;}
.pb70 {padding-bottom:70px !important;}
.pl70 {padding-left:70px !important;}

.pd80 {padding:80px !important;}
.pt80 {padding-top:80px !important;}
.pr80 {padding-right:80px !important;}
.pb80 {padding-bottom:80px !important;}
.pl80 {padding-left:80px !important;}

.pd190 {padding:190px !important;}
.pt190 {padding-top:190px !important;}
.pr190 {padding-right:190px !important;}
.pb190 {padding-bottom:190px !important;}
.pl190 {padding-left:190px !important;}

/*================================================ width 정의 ================================================*/
.w50 {width: 50% !important;}
.w100 {width: 100% !important;}

/*================================================ CMS에서 사용하는 여백 ================================================*/
.height-20 {height:20px !important;}
.height-40 {height:40px !important;}
.height-60 {height:60px !important;}
.height-80 {height:80px !important;}
.height-100 {height:100px !important;}
.height-120 {height:120px !important;}
.height-140 {height:140px !important;}
.height-160 {height:160px !important;}
.height-180 {height:180px !important;}
.height-200 {height:200px !important;}
.height-220 {height:220px !important;}
.height-240 {height:240px !important;}
.height-260 {height:260px !important;}
.height-280 {height:280px !important;}
.height-300 {height:300px !important;}


/*================================================ ease ================================================*/
.easeInQuad {
	-webkit-transition-timing-function:cubic-bezier(0.550, 0.085, 0.680, 0.530) !important; 
	-moz-transition-timing-function:cubic-bezier(0.550, 0.085, 0.680, 0.530) !important; 
	-o-transition-timing-function:cubic-bezier(0.550, 0.085, 0.680, 0.530) !important; 
	transition-timing-function:cubic-bezier(0.550, 0.085, 0.680, 0.530) !important; /* easeInQuad */
}
.easeInCubic {
	-webkit-transition-timing-function:cubic-bezier(0.550, 0.055, 0.675, 0.190) !important; 
	-moz-transition-timing-function:cubic-bezier(0.550, 0.055, 0.675, 0.190) !important; 
	-o-transition-timing-function:cubic-bezier(0.550, 0.055, 0.675, 0.190) !important; 
	transition-timing-function:cubic-bezier(0.550, 0.055, 0.675, 0.190) !important; /* easeInCubic */
}
.easeInQuart {
	-webkit-transition-timing-function:cubic-bezier(0.895, 0.030, 0.685, 0.220) !important; 
	-moz-transition-timing-function:cubic-bezier(0.895, 0.030, 0.685, 0.220) !important; 
	-o-transition-timing-function:cubic-bezier(0.895, 0.030, 0.685, 0.220) !important; 
	transition-timing-function:cubic-bezier(0.895, 0.030, 0.685, 0.220) !important; /* easeInQuart */
}
.easeInQuint {
	-webkit-transition-timing-function:cubic-bezier(0.755, 0.050, 0.855, 0.060) !important; 
	-moz-transition-timing-function:cubic-bezier(0.755, 0.050, 0.855, 0.060) !important; 
	-o-transition-timing-function:cubic-bezier(0.755, 0.050, 0.855, 0.060) !important; 
	transition-timing-function:cubic-bezier(0.755, 0.050, 0.855, 0.060) !important; /* easeInQuint */
}
.easeInSine {
	-webkit-transition-timing-function:cubic-bezier(0.470, 0.000, 0.745, 0.715) !important; 
	-moz-transition-timing-function:cubic-bezier(0.470, 0.000, 0.745, 0.715) !important; 
	-o-transition-timing-function:cubic-bezier(0.470, 0.000, 0.745, 0.715) !important; 
	transition-timing-function:cubic-bezier(0.470, 0.000, 0.745, 0.715) !important; /* easeInSine */
}
.easeInExpo {
	-webkit-transition-timing-function:cubic-bezier(0.950, 0.050, 0.795, 0.035) !important; 
	-moz-transition-timing-function:cubic-bezier(0.950, 0.050, 0.795, 0.035) !important; 
	-o-transition-timing-function:cubic-bezier(0.950, 0.050, 0.795, 0.035) !important; 
	transition-timing-function:cubic-bezier(0.950, 0.050, 0.795, 0.035) !important; /* easeInExpo */
}
.easeInCirc {
	-webkit-transition-timing-function:cubic-bezier(0.600, 0.040, 0.980, 0.335) !important; 
	-moz-transition-timing-function:cubic-bezier(0.600, 0.040, 0.980, 0.335) !important; 
	-o-transition-timing-function:cubic-bezier(0.600, 0.040, 0.980, 0.335) !important; 
	transition-timing-function:cubic-bezier(0.600, 0.040, 0.980, 0.335) !important; /* easeInCirc */
}
.easeInBack {
	-webkit-transition-timing-function:cubic-bezier(0.600, 0, 0.735, 0.045) !important; /* older webkit */
	-webkit-transition-timing-function:cubic-bezier(0.600, -0.280, 0.735, 0.045) !important; 
	-moz-transition-timing-function:cubic-bezier(0.600, -0.280, 0.735, 0.045) !important; 
	-o-transition-timing-function:cubic-bezier(0.600, -0.280, 0.735, 0.045) !important; 
	transition-timing-function:cubic-bezier(0.600, -0.280, 0.735, 0.045) !important; /* easeInBack */
}
.easeOutQuad {
	-webkit-transition-timing-function:cubic-bezier(0.250, 0.460, 0.450, 0.940) !important; 
	-moz-transition-timing-function:cubic-bezier(0.250, 0.460, 0.450, 0.940) !important; 
	-o-transition-timing-function:cubic-bezier(0.250, 0.460, 0.450, 0.940) !important; 
	transition-timing-function:cubic-bezier(0.250, 0.460, 0.450, 0.940) !important; /* easeOutQuad */
}
.easeOutCubic {
	-webkit-transition-timing-function:cubic-bezier(0.215, 0.610, 0.355, 1.000) !important; 
	-moz-transition-timing-function:cubic-bezier(0.215, 0.610, 0.355, 1.000) !important; 
	-o-transition-timing-function:cubic-bezier(0.215, 0.610, 0.355, 1.000) !important; 
	transition-timing-function:cubic-bezier(0.215, 0.610, 0.355, 1.000) !important; /* easeOutCubic */
}
.easeOutQuart {
	-webkit-transition-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000) !important; 
	-moz-transition-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000) !important; 
	-o-transition-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000) !important; 
	transition-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000) !important; /* easeOutQuart */
}
.easeOutQuint {
	-webkit-transition-timing-function:cubic-bezier(0.230, 1.000, 0.320, 1.000) !important; 
	-moz-transition-timing-function:cubic-bezier(0.230, 1.000, 0.320, 1.000) !important; 
	-o-transition-timing-function:cubic-bezier(0.230, 1.000, 0.320, 1.000) !important; 
	transition-timing-function:cubic-bezier(0.230, 1.000, 0.320, 1.000) !important; /* easeOutQuint */
}
.easeOutSine {
	-webkit-transition-timing-function:cubic-bezier(0.390, 0.575, 0.565, 1.000) !important; 
	-moz-transition-timing-function:cubic-bezier(0.390, 0.575, 0.565, 1.000) !important; 
	-o-transition-timing-function:cubic-bezier(0.390, 0.575, 0.565, 1.000) !important; 
	transition-timing-function:cubic-bezier(0.390, 0.575, 0.565, 1.000) !important; /* easeOutSine */
}
.easeOutExpo {
	-webkit-transition-timing-function:cubic-bezier(0.190, 1.000, 0.220, 1.000) !important; 
	-moz-transition-timing-function:cubic-bezier(0.190, 1.000, 0.220, 1.000) !important; 
	-o-transition-timing-function:cubic-bezier(0.190, 1.000, 0.220, 1.000) !important; 
	transition-timing-function:cubic-bezier(0.190, 1.000, 0.220, 1.000) !important; /* easeOutExpo */
}
.easeOutCirc {
	-webkit-transition-timing-function:cubic-bezier(0.075, 0.820, 0.165, 1.000) !important; 
	-moz-transition-timing-function:cubic-bezier(0.075, 0.820, 0.165, 1.000) !important; 
	-o-transition-timing-function:cubic-bezier(0.075, 0.820, 0.165, 1.000) !important; 
	transition-timing-function:cubic-bezier(0.075, 0.820, 0.165, 1.000) !important; /* easeOutCirc */
}
.easeOutBack {
	-webkit-transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1) !important; /* older webkit */
	-webkit-transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275) !important; 
	-moz-transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275) !important; 
	-o-transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275) !important; 
	transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275) !important; /* easeOutBack */
}
.easeInOutQuad {
	-webkit-transition-timing-function:cubic-bezier(0.455, 0.030, 0.515, 0.955) !important; 
	-moz-transition-timing-function:cubic-bezier(0.455, 0.030, 0.515, 0.955) !important; 
	-o-transition-timing-function:cubic-bezier(0.455, 0.030, 0.515, 0.955) !important; 
	transition-timing-function:cubic-bezier(0.455, 0.030, 0.515, 0.955) !important; /* easeInOutQuad */
}
.easeInOutCubic {
	-webkit-transition-timing-function:cubic-bezier(0.645, 0.045, 0.355, 1.000) !important; 
	-moz-transition-timing-function:cubic-bezier(0.645, 0.045, 0.355, 1.000) !important; 
	-o-transition-timing-function:cubic-bezier(0.645, 0.045, 0.355, 1.000) !important; 
	transition-timing-function:cubic-bezier(0.645, 0.045, 0.355, 1.000) !important; /* easeInOutCubic */
}
.easeInOutQuart {
	-webkit-transition-timing-function:cubic-bezier(0.770, 0.000, 0.175, 1.000) !important; 
	-moz-transition-timing-function:cubic-bezier(0.770, 0.000, 0.175, 1.000) !important; 
	-o-transition-timing-function:cubic-bezier(0.770, 0.000, 0.175, 1.000) !important; 
	transition-timing-function:cubic-bezier(0.770, 0.000, 0.175, 1.000) !important; /* easeInOutQuart */
}
.easeInOutQuint {
	-webkit-transition-timing-function:cubic-bezier(0.860, 0.000, 0.070, 1.000) !important; 
	-moz-transition-timing-function:cubic-bezier(0.860, 0.000, 0.070, 1.000) !important; 
	-o-transition-timing-function:cubic-bezier(0.860, 0.000, 0.070, 1.000) !important; 
	transition-timing-function:cubic-bezier(0.860, 0.000, 0.070, 1.000) !important; /* easeInOutQuint */
}
.easeInOutSine {
	-webkit-transition-timing-function:cubic-bezier(0.445, 0.050, 0.550, 0.950) !important; 
	-moz-transition-timing-function:cubic-bezier(0.445, 0.050, 0.550, 0.950) !important; 
	-o-transition-timing-function:cubic-bezier(0.445, 0.050, 0.550, 0.950) !important; 
	transition-timing-function:cubic-bezier(0.445, 0.050, 0.550, 0.950) !important; /* easeInOutSine */
}
.easeInOutExpo {
	-webkit-transition-timing-function:cubic-bezier(1.000, 0.000, 0.000, 1.000) !important; 
	-moz-transition-timing-function:cubic-bezier(1.000, 0.000, 0.000, 1.000) !important; 
	-o-transition-timing-function:cubic-bezier(1.000, 0.000, 0.000, 1.000) !important; 
	transition-timing-function:cubic-bezier(1.000, 0.000, 0.000, 1.000) !important; /* easeInOutExpo */
}
.easeInOutCirc {
	-webkit-transition-timing-function:cubic-bezier(0.785, 0.135, 0.150, 0.860) !important; 
	-moz-transition-timing-function:cubic-bezier(0.785, 0.135, 0.150, 0.860) !important; 
	-o-transition-timing-function:cubic-bezier(0.785, 0.135, 0.150, 0.860) !important; 
	transition-timing-function:cubic-bezier(0.785, 0.135, 0.150, 0.860) !important; /* easeInOutCirc */
}
.easeInOutBack {
	-webkit-transition-timing-function:cubic-bezier(0.680, 0, 0.265, 1) !important; /* older webkit */
	-webkit-transition-timing-function:cubic-bezier(0.680, -0.550, 0.265, 1.550) !important; 
	-moz-transition-timing-function:cubic-bezier(0.680, -0.550, 0.265, 1.550) !important; 
	-o-transition-timing-function:cubic-bezier(0.680, -0.550, 0.265, 1.550) !important; 
	transition-timing-function:cubic-bezier(0.680, -0.550, 0.265, 1.550) !important; /* easeInOutBack */
}

.s0 {transition-duration: 0s !important}