@charset "UTF-8";
@import "_variable";
/* @font-face{
	font-family:'NanumBarunGothicUltraLight';
	font-style:normal;
	src:url($baseUrl_font + 'NanumBarunGothicUltraLight.eot');
	src:url($baseUrl_font + 'NanumBarunGothicUltraLight.eot?#iefix') format('embedded-opentype'),
		url($baseUrl_font + 'NanumBarunGothicUltraLight.woff') format('woff'),
		url($baseUrl_font + 'NanumBarunGothicUltraLight.ttf') format('truetype')
}

@font-face{
	font-family:'NanumBarunGothicLight';
	font-style:normal;
	src:url($baseUrl_font + 'NanumBarunGothicLight.eot');
	src:url($baseUrl_font + 'NanumBarunGothicLight.eot?#iefix') format('embedded-opentype'),
		url($baseUrl_font + 'NanumBarunGothicLight.woff') format('woff'),
		url($baseUrl_font + 'NanumBarunGothicLight.ttf') format('truetype')
}

@font-face{
	font-family:'NanumBarunGothic';
	font-style:normal;
	src:url($baseUrl_font + 'NanumBarunGothic.eot');
	src:url($baseUrl_font + 'NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
		url($baseUrl_font + 'NanumBarunGothic.woff') format('woff'),
		url($baseUrl_font + 'NanumBarunGothic.ttf') format('truetype')
}

@font-face{
font-family:'NanumBarunGothicBold';
	font-style:normal;
	src:url($baseUrl_font + 'NanumBarunGothicBold.eot');
	src:url($baseUrl_font + 'NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),
		url($baseUrl_font + 'NanumBarunGothicBold.woff') format('woff'),
		url($baseUrl_font + 'NanumBarunGothicBold.ttf') format('truetype')
}
 */
/* CJ ONLY ONE NEW FONT */
@font-face {
	font-family: 'CJONLYONENEWbodyLight';
	font-style: normal;
	src: url($baseUrl_font + 'CJONLYONENEWbodyLight.eot');
	src: url($baseUrl_font + 'CJONLYONENEWbodyLight.eot?#iefix') format('embedded-opentype'),
		url($baseUrl_font + 'CJONLYONENEWbodyLight.woff') format('woff'),
		url($baseUrl_font + 'CJONLYONENEWbodyLight.ttf') format('truetype');
}

@font-face {
	font-family: 'CJONLYONENEWbodyOTFLight';
	font-style: normal;
	src: url($baseUrl_font + 'CJONLYONENEWbodyOTFLight.eot');
	src: url($baseUrl_font + 'CJONLYONENEWbodyOTFLight.eot?#iefix') format('embedded-opentype'),
		url($baseUrl_font + 'CJONLYONENEWbodyOTFLight.woff') format('woff'),
		url($baseUrl_font + 'CJONLYONENEWbodyOTFLight.ttf') format('truetype');
}

@font-face {
	font-family: 'CJONLYONENEWbodyRegular';
	font-style: normal;
	src: url($baseUrl_font + 'CJONLYONENEWbodyRegular.eot');
	src: url($baseUrl_font + 'CJONLYONENEWbodyRegular.eot?#iefix') format('embedded-opentype'),
		url($baseUrl_font + 'CJONLYONENEWbodyRegular.woff') format('woff'),
		url($baseUrl_font + 'CJONLYONENEWbodyRegular.ttf') format('truetype');
}

@font-face {
	font-family: 'CJONLYONENEWbodyOTFRegular';
	font-style: normal;
	src: url($baseUrl_font + 'CJONLYONENEWbodyOTFRegular.eot');
	src: url($baseUrl_font + 'CJONLYONENEWbodyOTFRegular.eot?#iefix') format('embedded-opentype'),
		url($baseUrl_font + 'CJONLYONENEWbodyOTFRegular.woff') format('woff'),
		url($baseUrl_font + 'CJONLYONENEWbodyOTFRegular.ttf') format('truetype');
}

@font-face {
	font-family: 'CJONLYONENEWtitleBold';
	font-style: normal;
	src: url($baseUrl_font + 'CJONLYONENEWtitleBold.eot');
	src: url($baseUrl_font + 'CJONLYONENEWtitleBold.eot?#iefix') format('embedded-opentype'),
		url($baseUrl_font + 'CJONLYONENEWtitleBold.woff') format('woff'),
		url($baseUrl_font + 'CJONLYONENEWtitleBold.ttf') format('truetype');
}

@font-face {
	font-family: 'CJONLYONENEWtitleOTFBold';
	font-style: normal;
	src: url($baseUrl_font + 'CJONLYONENEWtitleOTFBold.eot');
	src: url($baseUrl_font + 'CJONLYONENEWtitleOTFBold.eot?#iefix') format('embedded-opentype'),
		url($baseUrl_font + 'CJONLYONENEWtitleOTFBold.woff') format('woff'),
		url($baseUrl_font + 'CJONLYONENEWtitleOTFBold.ttf') format('truetype');
}

@font-face {
	font-family: 'CJONLYONENEWtitleMedium';
	font-style: normal;
	src: url($baseUrl_font + 'CJONLYONENEWtitleMedium.eot');
	src: url($baseUrl_font + 'CJONLYONENEWtitleMedium.eot?#iefix') format('embedded-opentype'),
		url($baseUrl_font + 'CJONLYONENEWtitleMedium.woff') format('woff'),
		url($baseUrl_font + 'CJONLYONENEWtitleMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'CJONLYONENEWtitleOTFMedium';
	font-style: normal;
	src: url($baseUrl_font + 'CJONLYONENEWtitleOTFMedium.eot');
	src: url($baseUrl_font + 'CJONLYONENEWtitleOTFMedium.eot?#iefix') format('embedded-opentype'),
		url($baseUrl_font + 'CJONLYONENEWtitleOTFMedium.woff') format('woff'),
		url($baseUrl_font + 'CJONLYONENEWtitleOTFMedium.ttf') format('truetype');
}
