@charset "UTF-8";
@import "_variable";
$testH: 1450px;
$wSize: "1280";
$wSize2: "1220";
$margin: 15px;
$margin30: 30px;
$moHead: 40px;
$headerH: 118px;
$rollHeaderH: 100px;
body {
  overflow-x:hidden;
  background-color: $color-f9;
  background-repeat: no-repeat;
  // background-position: 35% 0;
  // background-image: url($baseUrl_img+"base/bg_figure_top.png");
  background-position: 50% 0;
  background-image: url($baseUrl_img+"base/bg_frame.png");
	background-attachment: fixed;
  @at-root .ie body{
    overflow-y:scroll;
  }
	/* &.bizintro{
		background-image: url($baseUrl_img+"base/bg_frame_person1.png");
	}
	&.execution{
		background-image: url($baseUrl_img+"base/bg_frame_person1.png");
	} */
}
@media(max-width:$mo-size){
  html,body{
    // overflow-x:hidden;
    // height:100%;
  }
}
// Layout All
.ukwrap {
  height:100%;
  // background: url($baseUrl_img+"base/pc_layout.png") no-repeat 50% 0;
	&.roll{
		.headerwrap{
			background-color:rgba(255,255,255,1);
			box-shadow: 0 10px 22px rgba(0,0,0,.07);
		}
		.header{
			height:$rollHeaderH;
		}
		.header .top_logo{
			margin-top:30px;
      img{
        width:183px;
        height:33px;
      }
		}
		.header .navtop{
			margin-top:38px;
		}
		.ukmain{
			padding-top:$rollHeaderH;
		}
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.ukwrap.roll .header .top_logo{
		margin-top:36px;
	}	
}
// Layout Header
.headerwrap {
	position:fixed;
	top:0;
	left:0;
	z-index:200;
	background-color:$white;
  width: 100%;
	background-color:rgba(255,255,255,0);
	&.fixed{
		position:fixed;
		top:0;
		left:0;
		z-index:1;
		background-color:$white;
		.header{
			height:80px;
		}
		.header .top_logo{
			margin-top:25px;
		}
		.header .navtop{
			margin-top:27px;
		}
	}
}
// Header
.header {
  display: flex;
  position: relative;
  max-width: #{$wSize}px;
  height: $headerH;
  padding: 0 $margin30;
  @include marginAuto;
  .top_logo {
    display: inline-flex;
    width: 171px;
    height: 33px;
    margin-top: 35px;
    margin-left: 0;
    color: $darkBlue;
    @include fsize(1.8125);
    // font-family: cjonly-tit-b;
    font-weight: $bold;
    line-height: 24px;
    // letter-spacing:-0.06em;
    letter-spacing: -0.078em;
    a {
      color: inherit;
      font-family: inherit;
      font-family: inherit;
      font-weight: inherit;
      line-height: inherit;
      letter-spacing: inherit;
    }
  }
	.ibtn_back {
		position:absolute;
		top:-100em;
	}
  .util_info {
    position: absolute;
    top: 14px;
    right: 30px;
    .util_top {
      padding-right:4px;
      color: #777;
      @include fsize(0.75);
      font-weight: $bold;
      > span {
        position: relative;
        // margin-right: 22px;
      }
      > a{
        position:relative;
        margin-left: 20px;
        &:hover{
          color:#333;
          font-weight:$bold;
        }
        &:before {
          content: "";
          display: inline-block;
          position: absolute;
          top: 0;
          left: -12px;
          width: 1px;
          height: 12px;
          background-color: #9fa5d8;
        }
        &:first-child{
          margin-left:0;
          &:before {
            display:none;
          }
        }
        > span ~ a:before,
        > span ~ a:fist-child:before{
          display:inline-block;
          margin-left: 20px;
        }
      }
    }
    .util_menu {
      margin-top: 11px;
      margin-right: 0;
      text-align: right;
      > a {
        position: relative;
        display: inline-block;
        i,
        span {
          vertical-align: middle;
        }
        .badge {
          bottom: 0;
          right: -8px;
        }
      }
      .ibtn_cart {
        margin-left: 14px;
      }
      .ibtn_allmenu {
        width:30px;
        height:30px;
        margin-left: 12px;
      }
    }
  }
  .navtop {
    display: flex;
    margin: 42px 0 0 30px;
    padding: 0;
    .gnb {
      > li {
        display: inline-flex;
        position:relative;
        min-height:34px;
        margin-right: 26px;
        @include fsize(1.125);
        color: $color-41;
        font-weight: $ultra;
        &:nth-child(2),
        &:nth-child(3) {
          margin-right: 21px;
        }
        &:last-child {
          margin-right: 0;
        }
        > a {
          display: inline-block;
          line-height: 33.8px;
          letter-spacing: -0.02em;
        }
        &:before{
          content:"";
          display: none;
          position:absolute;
          top:-8px;
          left:50%;
          transform:translateX(-50%);
          width:4px;
          height:4px;
          border-radius:50%;
          background-color:#3761f5;
        }
				&.active{
          &:before{
            display: inline-block;
          }
					>a{
            color:#3761f5;
          }
				}
        &:hover{
          &:before{
            display: inline-block;
          }
          .depth2{
            display:block;
            position:absolute;
          }
          >a{
            color:#3761f5;
          }
        }
        &:nth-child(2){
          .depth2{
            min-width:180px;
          }
        }
      }
      .depth2 {
        display: none;
        position:absolute;
        top:34px;
        left:0;
        min-width:180px;
        padding:10px 8px ;
        background-color:$white;
        box-shadow:0 12px 28px rgba(28, 53, 122, 0.12);
        > li {
          >a{
            display:block;
            position:relative;
            margin:0;
            padding-left:12px;
            color:#7c7c7c;
            font-size: .875rem;
            line-height:32px;
            &:before{
              content:"";
              display:inline-block;
              position:absolute;
              top:14px;
              left:0;
              width:5px;
              height:2px;
              background-color:#7c7c7c;
            }
            &:hover{
              color:$base-color;
              &:before{
                background-colo:$base-color;
              }
            }
          }
        }
      }
    }
  }
}
.headerwrap,
.header,
.header .top_logo,
.header .ibtn_back,
.header .util_info,
.header .util_menu,
.header .navtop{
	transition: all .3s;
}
.ie .header .navtop{
	margin-top:36px;
}

// All Menu
$allMenuBG: #f2f6f4;
$allbdBG: #e1e7eb;
.allmenu_wrap {
	position: fixed;
	top: -100em;
	left: 0;
	z-index:1000;
	width: 100%;
	min-height: 555px;
	background: $white;
	transition: top .3s ease-out;
  box-shadow:0 16px 30px rgba(0,0,0,0.16);
  &:before,
  &:after{
    content:"";
    display:block;
    position:absolute;
    top:0;
    left:calc(50% - 0.5px);
    transform:translateX(-50%);
    z-index:1;
    width:1px;
    height:100%;
    background-color:$allbdBG;
  }
  &:before{
    margin-left:-820px;
  }
  &:after{
    margin-left:820px;
  }
	.allmenu_in {
		max-width: 100%;
		@include marginAuto;
    height:200px;
    background-color:#f2f6f4;
	}
	.ibtn_close {
		position: absolute;
		top: 136px;
		left: calc(50% - 0.5px);
    transform:translateX(-50%);
    margin-left:570px;
    &:after, 
    &:before{
      background-color:#6d6f6e;
    }
	}
	.all_head{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    position:relative;
    max-width:#{$wSize2}px;
    height:$headerH;
    @include marginAuto;
    border:1px solid;
    border-top:0;
    border-bottom:0;
    border-left-color:$allbdBG;
    border-right-color:$allbdBG; 
		background-color:$allMenuBG;
    text-align:center;
    > ul{
      display:none;
    }
    .home{
      position:absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      .ico-home{
        display:none;
      }
      img{
        width:183px;
        height:33px;
      }
    }
    .txt_info{
      display:none;
    }
    .login_util{
      margin-right:20px;
      a{
        color:$base-color;
        font-size: .75rem;
        font-weight:$bold;
        &:before{
          content:"|";
          display:inline-block;
          margin:0 8px;
          color:#949494;
          font-size:12px;
        }
        &:first-of-type{
          &:before{
            display:none;
          }
        }
      }
      a > i{
        display:none;
      }
    }
	}
  .subtext{
    width:100%;
		background-color:$allMenuBG;
    .subtext_in{
      display:flex;
      align-items: center;
      position:relative;
      max-width:#{$wSize2}px;
      height:82px;
      padding:0 20px 0 70px;
      border:1px solid transparent;
      border-top:0;
      border-bottom:0;
      border-left-color:$allbdBG;
      border-right-color:$allbdBG; 
      @include marginAuto;
      &:after{
        content:"";
        position:absolute;
        bottom:0;
        left:20px;
        display:block;
        width:calc(100% - 40px);
        height:1px;
        background-color:#e1e7eb;
      }
    }
    .title{
      color:#0a2333;
      font-size: 2.875rem;
      >strong{
        font-weight:$thin;
        >em{
          font-weight:$semibold;
        }
      }
      >span{
        position:relative;
        bottom:8px;
        margin-left:18px;
        color:#7c7c7c;
        font-size: 1rem;
        font-weight:$semibold;
        vertical-align: text-bottom;
      }
    }
  }
  .all_body{
    max-width:#{$wSize2}px;
    height:355px;
    @include marginAuto;
    padding-top:44px;
    border:1px solid transparent;
    border-top:0;
    border-bottom:0;
    border-left-color:$allbdBG;
    border-right-color:$allbdBG; 
    .gnb{
      display:flex;
      justify-content: space-between;
      width:calc(#{$wSize2}px - 140px);
      @include marginAuto;
      >li{
        display:inline-flex;
        justify-content: flex-start;
        flex-direction: column;
        min-height:260px;
        padding-right:70px;
        > a{
          position:relative;
          padding-bottom:20px;
          font-size: 1.5rem;
          font-weight:$bold;
          line-height:1;
          &:after{
            content:"";
            display:block;
            position:absolute;
            bottom:0;
            left:0;
            width:0;
            height:4px;
            background-color:#3761f5;
            transition: width .3s;
          }
          &:hover{
            color:#3761f5;
            &:after{
              width:100%;
            }
          }
        }
        &:hover{
          >a{
            color:#3761f5;
            &:after{
              width:100%;
            }
          }
        }
      }
      .depth2{
        display:inline-flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-top:18px;
        >li{
          position:relative;
          padding-left:12px;
          line-height:28px;
          &:before{
            content:"";
            display:inline-block;
            position:absolute;
            top:12px;
            left:0;
            width:5px;
            height:2px;
            background-color:$color-6;
          }
          >a{
            line-height:1;
            &:hover{
              color:#0c35c3;
            }
          }
        }
      }
    }
  }
}
// Mobile Web
.moweb{
	.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
		z-index:100;
    width: 100%;
		max-width:100%;
    height: $moHead;
    padding: 0 $margin;
    background: $white;
		transition: all .3s;
    box-shadow:0 10px 22px rgba(0,0,0,.07);
		.ibtn_back{
			position:relative;
			top:0;
			z-index:101;
			width:40px;
			&.arrow-long .arrow-long-l, 
			&.arrow-long .arrow-long-r{
				width:50%;
			}
		}
		.top_logo,
		.util_top,
		.ibtn_my,
		.ibtn_cart,
		.navtop{
			position:absolute;
			top:-100em;
		}
		.util_info{
			top:calc(50% + 1.5px);
			right:15px;
			z-index:101;
			transform:translateY(-50%);
			width:40px;
			height:40px;
			margin:0;
			.util_menu{
				margin:0;
				.ibtn_allmenu{
					position:absolute;
					top:4px;
					right:0;
				}
			}
		}
  }
  .subtext{
    display:none;
  }
	.allmenu_wrap {
    overflow:auto;
    -webkit-overflow-scrolling: touch;
		position:fixed;
		top: 0;
		left:auto;
		right: -100em;
		height: 100vh;
		min-height:100vh;
    padding-bottom:0;
		background: #fefefe;
		transition: right .3s ease-out;
    &:before,
    &:after{
      display:none;
    }
    @at-root .device .moweb .allmenu_wrap{
      padding-bottom:175px;
    }
		&.loginon{
			.allmenu_in{
				background-color:$white;
			}
			.all_head{
				.login_util{
					position:absolute;
          top:56px;
          right:0;
					// bottom:0;
					// bottom:114px;
					// left:0;
          z-index:10;
					// width:100%;
          width:auto;
					height:40px;
					margin:0;
					padding:20px 15px;
					// background:$white;
					background:transparent;
					&.fixed{
						position:fixed;
					}
				}
				.txt_info{
					font-size:calc(40px / 2);
					span{
						font-size:inherit;
						font-weight:$light;
					}
					em{
						color:#0c35c3;
						font-size:inherit;
						font-weight:$light;
					}
				}
				ul{
					margin-top:5px;
					li{
						display:flex;
						justify-content: space-between;
						align-items: center;
						position:relative;
						padding-left:8px;
						line-height:calc(40px / 2);
						&:before{
							content:"";
							display:inline-block;
							position:absolute;
							top:50%;
							left:0;
							transform: translateY(-50%);
							width:1.5px;
							height:2.5px;
							background:#333;
						}
						span{
							font-size:calc(24px / 2);
							&:last-child{
								em{
									font-weight:$bold;
								}
							}
						}
					}
				}
			}
			.all_body{
				// overflow:auto;
				// height:calc(100% - 220px);
				// height:calc(100% - 175px);
				height:100%;
			}
			@at-root .device.android .moweb .allmenu_wrap.loginon .all_head .login_util{
				// bottom:110px;
			}
		}
	}
  .allmenu_in{
		// overflow:auto;
    position:absolute;
    width:100%;
    max-width:100%;
    // height:calc(100vh - 100px);
    height:100vh;
  }
	.all_head{
    display:block;
    position:static;
    max-width:100%;
		height:calc(350px / 2);
		padding:20px 15px;
		border-bottom:1px solid #ccc;
		background-color:#f9f9f9;
		.home{
			display:inline-block;
			position:absolute;
			top:27px;
			left:15px;
      transform:none;
			.ico-home{
        display:inline-block;
				width:20px;
				height:23px;
			}
      img{
        display:none;
      }
		}
    >ul{
      display:block;
    }
		.txt_info{
      display:block;
			margin-top:calc(80px / 2);
			color:#959595;
			font-size:calc(40px / 2);
			line-height:calc(60px / 2);
      text-align:left;
			em{
				font-size:calc(48px / 2);
				// font-family: $cjonly-tit-m;
			}
		}
		.login_util{
			display:flex;
			align-items: center;
			position:relative;
			margin-top:calc(40px / 2);
			a{
				display:inline-flex;
				align-items: center;
        &:before{
          display:none;
        }
				&:last-child{
					display:none;
				}
				&:nth-last-child(2){
					margin-left:calc(40px / 2);
				}
        & > i{
          display:inline-flex;
        }
			}
			span{
				display:inline-flex;
				align-items: center;
				font-size:calc(24px / 2);
			}
			[class^="ico-"]{
				margin-top:-1px;
				margin-right:calc(14px / 2);
				background-size:100%;
			}
			.ico-power{
				width:calc(22px / 2);
			}
			.ico-myinfo{
				width:calc(20px / 2);
			}
		}
	}
	.all_body{
    max-width:100%;
    height:calc(100% - 175px);
    // height:100%;
		// min-height:380px;
		// padding:20px 15px 140px;
		// height:calc(100% - 100px);
		padding:20px 15px;
    border:0;
		background-color:$white;
    @at-root .device .moweb .allmenu_wrap .all_body{
      height:calc(100% + 50px);
    }
		.gnb{
      display:block;
      width:100%;
			height:auto;
			>li{
        display:block;
        min-height:auto;
        padding:0;
				font-size:calc(44px / 2);
				line-height:calc(88px / 2);
				font-weight:$semibold;
				>a{
					display:block;
          &:after{
            display:none;
          }
				}
        &.on{
          .depth2{
            display:block;
          }
        }
			}
			.depth2{
        // display:none;
        margin-top:0;
				margin-bottom:20px;
				>li{
          padding:0;
					color:#cbceda;
					font-size:calc(28px / 2);
					line-height:calc(40px / 2);
          &:before{
            display:none;
          }
					>a{
						display:block;
            line-height:calc(40px / 2);
					}
				}
			}
		}
	}
	.ibtn_close{
		top:20px;
    left:auto;
		right:5px;
    margin:0;
    transform:none;
		&:before,
		&:after{
			width:50%;
		}
	}
}
.ie .moweb .ibtn_back{position:absolute;}
/* body class is-allmenu-opened allmenu */
.is-allmenu-opened{
  position:fixed;
  width:100%;
  height:100%;
}
.is-allmenu-opened .allmenu_wrap {
  top: 0;
  transition: top 0.8s ease-in-out;
}
.is-allmenu-opened .bgmask{
	z-index:999;
	opacity:1;
	display:block;
  transition: opacity 1.3s ease-in-out;
}
.moweb.is-allmenu-opened .allmenu_wrap {
  right: 0;
  transition: right .5s ease-in-out;
}
.moweb.is-allmenu-opened .bgmask{
	display:none;
}
.ie .moweb .allmenu_wrap.loginon .all_head ul{
  text-align:left;
}
.ie .moweb .allmenu_wrap.loginon .all_head ul li{
  display:block;
  span{
    display:inline-block;
    text-align:left;
  }
  span:first-child{
    max-width:calc(100% - 100px);
  }
  span:last-child{
    position:absolute;
    top:0;
    right:0;
  }
}
// Layout Footer
.footerwrap {
  border-top: 1px solid $color-bdr;
}
// Footer
.footer {
  display: flex;
  position: relative;
  max-width: #{$wSize}px;
  @include marginAuto;
  padding: 28px 30px;
  .flogo {
    display: inline-flex;
    flex: none;

    > a {
      display: inline-block;
      > img {
        width: 140px;
        height: auto;
        margin-left: 8px;
      }
    }
  }
  .fgroup {
    display: flex;
    flex: 1;
    flex-flow: wrap;
    justify-content: space-between;
    margin-left: 54px;
    padding-top: 12px;
    .fnb {
      display: flex;
      flex-wrap: wrap;
      > a {
        display: inline-flex;
        position: relative;
        margin-left: 12px;
        color: $color-4;
        @include fsize(0.875);
        font-weight: $bold;
        &:first-child {
          margin-left: 0;
        }
        &:after {
          content: "";
          display: inline-block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -6px;
          width: 1px;
          height: 12px;
          background: #aeaeae;
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }
    .telhlep {
      display: inline-flex;
      color: #333;
      @include fsize(1);
      font-weight: $bold;
      line-height: 1.2;
      a {
        margin: 0 4px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .busi_number {
      display: flex;
      flex: none;
      width: 100%;
      margin-top: 24px;
      color: #9c9c9c;
      @include fsize(0.875);
      letter-spacing: -0.005em;
      font-weight: $regular;
    }
    .copyright {
      display: flex;
      flex: none;
      width: 100%;
      margin-top: 4px;
      color: #444;
      @include fsize(0.875);
      letter-spacing: 0;
      font-weight: $light;
    }
  }
}

// Layout Quick Menu
.quick_menu {
  position: fixed;
  top: 50%;
  right: 60px;
  z-index: 100;
  transform: translateY(-50%) translateZ(0);
  width: 50px;
  a,
  button {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: absolute;
    right: 0;
    transition: 0.2s;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 9px 13px rgba(0, 0, 0, 0.16);
    i {
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 13px;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
    }
    span {
      overflow: hidden;
      position: absolute;
      width: 1px;
      height: 1px;
      white-space: nowrap;
      opacity: 0;
    }
  }
  .skip_menual {
    background: #1dd7c3;
    &:hover,
    &:focus {
      width: 170px;
      border-radius: 50px;
      span {
        position: static;
        width: auto;
        height: auto;
        padding: 0 24px;
        @include fsize(0.875);
        color: rgba(255, 255, 255, 0.7);
        font-weight:$light;
        opacity: 1;
        em{
          font-weight:$bold;
        }
      }
    }
  }
  .skip_top {
    top: 60px;
    background-color: #0d2473;
    &:hover,
    &:focus {
      width: 170px;
      border-radius: 50px;
      span {
        position: static;
        width: auto;
        height: auto;
        padding: 0 34px;
        @include fsize(0.875);
        color: rgba(255, 255, 255, 0.7);
        font-weight:$regular;
        opacity: 1;
      }
    }
  }
  .skip_toggle {
    display:none;
    background-color: #0d2473;
  }
}

// Layout Contents
.ukmain {
	padding-top:$headerH;
}
// Contents Wrapper
.cntwrap {
  /* background-repeat: no-repeat, no-repeat;
  background-position: 0 100px, 100% 100px;
  background-image: url($baseUrl_img+"base/bg_figure_left.png"), url($baseUrl_img+"base/bg_figure_right.png"); */
}
// Layout Contents Head
.chead_out {
  padding-top: 13px;
  border-bottom: 1px solid rgba(213,223,233,.3);
  // border-bottom: 1px solid rgba(213,223,233,.7);
  // border-bottom: 1px solid #e5e9eb;
  // background-color:$color-f9;
  .chead_in {
    position: relative;
    max-width: #{$wSize}px;
    min-height:34px;
    padding: 0 $margin30;
    @include marginAuto;
  }
}
// Page Location
.breadcrumb {
  display: inline-flex;
  position: absolute;
  bottom: 8px;
  right: 36px;
  > li {
    display: inline-flex;
    position: relative;
    margin-left: 20px;
    color: #9ea2a8;
    @include fsize(0.75);
    letter-spacing: -0.045em;
    &:first-child {
      width:12px;
      margin-left: 0;
      background:url($baseUrl_icon+"ico_home_small.png") no-repeat 50% 50%;
      color:transparent;
      font-size:0;
    }
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: calc(50% - 0.5px);
      right: -14px;
      transform: translateY(-50%);
      width: 4px;
      height: 5px;
      background: url($baseUrl_icon+"ico_arr_right_small.png") no-repeat 0 0;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
    > a {
      color: inherit;
      font-size: inherit;
      letter-spacing: inherit;
      > strong {
        color: inherit;
        font-size: inherit;
        font-weight: $bold;
        letter-spacing: inherit;
      }
    }
  }
}
// Page Sub Menu
.cnt_submenu {
  display: flex;
  width: calc(100% - 200px);
  // min-height:34px;
  .navsub {
    display: flex;
    width: 100%;
    > ul {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      > li {
        display: inline-flex;
        position: relative;
        margin-right: 34px;
        color: #a9aaae;
        @include fsize(1);
        font-weight: $regular;
        &:nth-child(2),
        &:nth-child(2) ~ li {
          margin-right: 38px;
        }
        &.active {
          color: #0c35c3;
          font-weight:$bold;
          a {
            color: inherit;
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
          }
          span {
            margin-left: 4px;
          }
          &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background: #0c35c3;
          }
        }
      }
      a {
        display: inline-flex;
        position: relative;
        padding: 5px 0;
        &:first-child {
          padding-left: 0;
        }
        > span {
          color: inherit;
          font-size: inherit;
        }
      }
    }
  }
  &.member {
    .navsub > ul > li.active {
      color: #0c35c3;
    }
    .navsub > ul > li.active:after {
      background: #0c35c3;
    }
  }
  &.my {
    .navsub > ul > li.active {
      // color: #1dd7c3;
      color: #0c35c3;
    }
    .navsub > ul > li.active:after {
      // background: #1dd7c3;
      background: #0c35c3;
    }
  }
}
.p_advert,
.p_pdrecom{
  .cnt_submenu .navsub>ul>li.active:after{
    // background-color:#e23636;
    background-color:#0c35c3;
  }
  .cnt_submenu .navsub>ul>li.active a{
    // color:#e23636;
    color:#0c35c3;
  }
}
.p_cusnotice,
.p_cusqna{
  .cnt_submenu .navsub>ul>li.active:after{
    // background-color:#1dd7c3;
    background-color:#0c35c3;
  }
  .cnt_submenu .navsub>ul>li.active a{
    // color:#1dd7c3;
    color:#0c35c3;
  }
}
// Layout Contents Body
.cbody_out {
  .cbody_in {
    max-width: #{$wSize}px;
    padding: 65px $margin30 120px;
    @include marginAuto;
		@at-root .p_pdview .cbody_out .cbody_in{
			max-width:100%;
			padding-right:0;
			padding-left:0;
		}
    > h1 {
      @include fsize(2.875);
      font-weight: $semibold;
      line-height: 1;
      > strong {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
      }
      > sub {
        margin-left: 28px;
        @include fsize(0.875);
        line-height: 2.4;
        letter-spacing: -0.05em;
        vertical-align: text-bottom;
      }
    }
  }
}
.csection {
  // min-height: 920px;
  // min-height: 600px;
  min-height: 500px;
  margin-top: 30px;
}
.cntwrap.p_pdetm {
  .cbody_out .cbody_in {
    padding-top: 0;
  }
  .csection {
    margin-top: 25px;
  }
}
.p_login {
  .csection {
    margin-top: 60px;
  }
}
.p_pdlist .cbody_out .cbody_in{
  padding-top:0;
  .csection{
    margin-top:0;
  }
}

// Media Qurey
@media (max-width: $max-xx-size) {
  .quick_menu {
    right: 15px;
  }
}

@media (max-width: $mo-size) {
	body{
		background-color:transparent;
	}
  body,
  .cntwrap {
    background-image: none;
    &.p_pdlist,
    &.p_pdview{
      .h1.sr-only{
        display: flex;
        position: fixed;
        top: 0;
        left: 44px;
        z-index: 201;
        margin: 0;
        width: calc(100% - 98px);
        height: 40px;
        text-align: center;
        color: #262628;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 40px;
        clip:unset;
        clip-path:unset;
      }
    }
    /* &.p_advert,
    &.p_pdrecom, */
    &.p_my,
    &.p_interest,
    &.p_myview,
    &.p_cusmngview{
      .chead_out{
        display:block;
        padding-bottom:4px;
        box-shadow:0 4px 4px #edecec;
        .chead_in{
          display:flex;
          margin:0;
          padding:0 15px;
          .breadcrumb{
            display:none;
          }
          .cnt_submenu{
            width:100%;
            .navsub{
              overflow:auto;
              display:block;
              width:auto;
              white-space: nowrap;
              -webkit-overflow-scrolling: touch;
              /* -ms-overflow-style: none; */ /* IE and Edge */
              scrollbar-width: none; /* Firefox */
              &::-webkit-scrollbar {
                display: none; /* Chrome, Safari, Opera*/
              }
              ul{
                display:block;
                flex-wrap:nowrap;
                white-space: nowrap;
                li{
                  display:inline-block;
                  margin-right:15px;
                  font-size: .875rem;
                  &.active{
                    &:after{
                      height:2px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .mymenu{
        display: block;
        position: static;
        z-index: 1;
        width: 100%;
        height: calc(84px / 2);
        margin: 0;
        background-color: transparent;
        ul{
          background-color:#f9f9f9;
        }
        & + .mystate{
          margin-top:30px;
        }
      }
    }
  }
  .is-momenu-opened .bgmask,
  .moweb.is-momenu-opened .bgmask,
  .is-momenu-opened.moweb .bgmask {
    z-index: -100;
    opacity: 0;
    &.bgshow {
      z-index: -100;
      opacity: 0;
    }
  }
  .footerwrap .footer,
  .chead_out .chead_in,
  .cbody_out .cbody_in {
    max-width: 100%;
  }
	.ukmain {
		padding-top:40px;
		background-color:#f9f9f9;
	}
	.ukwrap.roll .header{
		height:40px;
	}
	.ukwrap.roll .ukmain{
		padding-top:40px;
	}
  .header{
    display: none;
  }
  .quick_menu {
    overflow:visible;
    top:auto;
		bottom:40px;
    width: calc(90px / 2);
		height:40px;
		transition:bottom .3s;
		&.btm{
			// bottom:180px;
			bottom:150px;
		}
    a,
    button{
      top:auto;
      bottom:0;
      z-index:1;
      width: calc(90px / 2);
      height: calc(90px / 2);
      box-shadow:0 7px 12px rgba(0,0,0,0.12);
      // box-shadow:none;
      i{
        right:14px;
        width:calc(25px / 2);
        height:calc(33px / 2);
        background-size:100% auto;
      }
      span {
        overflow: hidden;
        position: absolute;
        width: 1px;
        height: 1px;
        white-space: nowrap;
        opacity: 0;
      }
      &.skip_menual{
        top:auto;
        bottom:0;
        opacity: 0;
        i{
          right:16px;
          width:calc(25px / 2);
          height:calc(33px / 2);
          background-image: url($baseUrl-icon+"ico_pen_m.png");
        }
        &:hover,
        &:focus {
          width: calc(90px / 2);
          border-radius: 50%;
          span {
            overflow: hidden;
            position: absolute;
            width: 1px;
            height: 1px;
            white-space: nowrap;
            opacity: 0;
          }
        }
      }
      &.skip_top{
        top:auto;
        bottom:0;
        opacity: 0;
        i{
          width:calc(34px / 2);
          height:calc(47px / 2);
          background-image: url($baseUrl-icon+"ico_top_m.png");
        }
        &:hover,
        &:focus {
          width: calc(90px / 2);
          border-radius: 50%;
          span {
            overflow: hidden;
            position: absolute;
            width: 1px;
            height: 1px;
            white-space: nowrap;
            opacity: 0;
          }
        }
      }
      &.skip_toggle{
        display:flex;
        z-index:10;
        .ico-toggle{
          position:absolute;
          top:50%;
          left:50%;
          width:12px;
          height:12px;
          transform:translate(-50%, -50%) rotate(135deg);
          background:url($baseUrl-icon+"ico_close_w.png") no-repeat 50% 50%;
          background-size:100% 100%;
          transition: transform .3s;
        }
      }
    }
    &.toggle_btn{
      a,
      button{
        transition: all .3s;
        &.skip_menual{
          bottom:calc(210px / 2);
          opacity: 1;
        }
        &.skip_top{
          bottom:calc(110px / 2);
          opacity: 1;
        }
        &.skip_toggle{
          .ico-toggle{
            transform:translate(-50%, -50%) rotate(360deg);
            transition: transform .3s;
          }
        }
      }
    }
  }
  .device .quick_menu{
    bottom:0px;
    &.btm{
      bottom:180px;
    }
  }
  .footerwrap {
    padding: 0 $margin;
    background-color: $white;
  }
  .footer {
    padding: 0 0 40px;
    .flogo {
      display: none;
    }
    .fgroup {
      flex-direction: column;
      margin-left: 0;
      .fnb {
        > a {
          margin: 0;
          margin-right: 10px;
          color: $color-4;
          @include fsize(.75);
          font-weight: $regular;
          &:after {
            display: none;
          }
        }
      }
      .telhlep {
        display: block;
        margin: 16px 0 0;
        color: $base-color;
        @include fsize(.9);
        font-weight: $bold;
				letter-spacing:-.095em;
				a{
					margin:0 6px;
					letter-spacing:-.04em;
				}
      }
			.busi_number{
				margin-top:8px;
			}
      .busi_number,
      .copyright {
        color: $color-4;
        @include fsize(.65);
				letter-spacing: -0.012em;
      }
      .busi_number{
        font-weight: $regular;
      }
      .copyright {
        font-weight: $light;
      }
    }
  }
  .chead_out,
	.chead_out.sticky,
	.breadcrumb {
    display: none;
  }
  .cbody_out {
		padding: 30px $margin 40px;
    .cbody_in {
      width: 100%;
			padding:0;
      > h1 {
				display: flex;
				justify-content: center;
				align-items: center;
				position: fixed;
				top: 0;
				left: 44px;
				z-index: 201;
				width: calc(100% - 98px);
				height: 40px;
				text-align: center;
        color: $color-tit;
        font-size: 1.125rem;
        font-weight: $semibold;
				&.hide{
					z-index:20;
				}
        > strong {
          color: inherit;
          font-size: inherit;
          font-weight: inherit;
        }
        > sub {
          display: none;
        }
      }
    }
  }
	.is-momenu-opened.moweb .cbody_out .cbody_in > h1{
		z-index:-1;
	}
	.csection{
		min-height: auto;
		margin-top:0;
	}
	.p_login {
		.csection {
			margin-top: 0;
		}
	}
}
// End : Media Query

// IE 10 이하 대응
.lt-ie10{
  .uk_skip,
  .ukwrap{
    display:none;
  }
  .mainwrap{
    display:none;
  }
  .no-ieinfo{
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    opacity:1;
    width:100%;
    height:100%;
    margin:auto;
    background-color:rgba(0,0,0,.5);
    a{
      display:block;
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      width:930px;
      height:500px;
      margin:auto;
      background:url($baseUrl_img+"base/no-ieinfo.png") no-repeat 0 0;
    }
  }
}