html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none !important;
}
caption,
.hide,
.sound_only {
  position: absolute;
  top: -9999px;
  display: block;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  line-height: 0;
  font-size: 0;
  text-indent: -9999px;
}
img {
  height: auto;
  border: 0;
  vertical-align: top;
}
button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}
textarea {
  vertical-align: top;
}
/* 아이폰 가로모드 텍스트 크기 조정 */
* {
  -webkit-text-size-adjust: none;
}
/* 아이폰 라운드, 안쪽 그림자 제거 */
input {
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}
/* common */
.ell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="submit"],
textarea,
select {
  font-size: 13px;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  min-width: 1900px;
  background: #1e202e;
}
html,
body {
  height: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}
body {
  background: transparent;
}
.lft,
.rgt {
  width: calc(50% - 10px);
}
.ie .select_inp i {
  flex: none;
}
.text_inp {
  width: 400px;
}
.text_inp input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  border-radius: 10px;
}
.radio_inp {
  position: relative;
  cursor: pointer;
  padding-left: 36px;
}
.radio_inp:not(:first-child) {
  margin-left: 20px;
}
.radio_inp input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
}
.radio_inp i {
  font-size: 16px;
  color: #6888ce;
  transition: 0.15s;
}
.radio_inp i:before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 30px;
  height: 30px;
  background: #fff;
  border: 3px solid #6888ce;
  border-radius: 50px;
  transition: 0.15s;
  content: "";
}
.radio_inp input:checked ~ i {
  color: #33549d;
}
.radio_inp input:checked ~ i:before {
  background-color: #33549d;
  border-color: #33549d;
  box-shadow: 0 0 0 6px #fff inset;
}
.check_inp {
  position: relative;
  cursor: pointer;
  padding-left: 36px;
}
.check_inp:not(:first-child) {
  margin-left: 20px;
}
.check_inp input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
}
.check_inp i {
  font-size: 16px;
  color: #6888ce;
  transition: 0.15s;
}
.check_inp i:before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 30px;
  height: 30px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70% auto;
  border: 3px solid #6888ce;
  border-radius: 6px;
  transition: 0.15s;
  content: "";
}
.check_inp input:checked ~ i {
  color: #33549d;
}
.check_inp input:checked ~ i:before {
  border-color: #33549d;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 16'%3e%3cpath fill='%23274077' d='M9 10L3 4L0 7L9 16L22 3L19 0L9 10Z'/%3e%3c/svg%3e");
}
.text_search {
  position: relative;
}
.text_search input {
  padding-right: 60px;
  text-align: center;
}
.text_search .search_btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  background: url('../images/icon_zoom_blue.svg') no-repeat center center;
  background-size: 26px auto;
}
.icon_btn {
  position: relative;
  width: 140px;
  background: #274077;
  border-radius: 10px;
  transition: 0.15s;
}
.icon_btn:hover {
  background-color: #2d4a8a;
}
.icon_btn i {
  position: relative;
  vertical-align: top;
  margin-top: 2px;
  padding-left: 24px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}
.icon_btn i:before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  content: "";
}
.text_btn {
  padding: 0 30px;
  background: #3a5dae;
  border-radius: 10px;
  transition: 0.15s;
}
.text_btn:hover {
  background-color: #496ec2;
}
.text_btn i {
  position: relative;
  vertical-align: top;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}
.select_inp {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
}
.select_inp:not(:first-child) {
  margin-left: 20px;
}
.select_inp:after {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
  border-top: 8px solid #6888ce;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
}
.select_inp i {
  display: block;
  flex: 1;
  white-space: pre;
  margin-right: -10px;
  padding-right: 15px;
  padding-left: 10px;
  color: #fff;
  border-radius: 10px 0 0 10px;
  background: #3a5fb1;
}
.select_inp select {
  width: 200px;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  border: 0;
  border-radius: 10px;
  background: transparent;
  background: -webkit-linear-gradient(transparent, transparent);
  background-color: #274077;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select_inp select::-ms-expand {
  display: none;
}
.select_inp select.light-select {
  background-color: #7c98d4;
}
.select_inp:after {
  display: none;
}
.select_inp .chosen-container .chosen-single {
  height: 50px;
  padding-left: 20px;
  border: 0;
  box-shadow: none;
  background: #274077;
  border-radius: 10px;
}
.select_inp .chosen-container .chosen-single > span {
  display: block;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
}
.select_inp .chosen-container .chosen-single > div {
  width: 44px;
}
.select_inp .chosen-container .chosen-single > div b {
  opacity: 0.7;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 20px;
  height: 20px;
  background: url('../images/icon_arr_left.svg') no-repeat center center;
  background-size: auto 100%;
}
.select_inp .chosen-container.chosen-with-drop .chosen-single {
  border-radius: 10px 10px 0 0;
}
.select_inp .chosen-container.chosen-with-drop .chosen-single > div b {
  transform: translate(-50%, -50%) rotate(90deg);
}
.select_inp .chosen-container .chosen-drop {
  padding: 5px;
  background: #436ac1;
  border: 0;
  border-radius: 0 0 10px 10px;
}
.select_inp .chosen-container .chosen-drop .chosen-search {
  height: 40px;
  padding: 5px 5px 5px;
}
.select_inp .chosen-container .chosen-drop .chosen-search .chosen-search-input {
  height: 30px;
  padding: 0 30px 0 10px;
  font-size: 14px;
  border: 0;
  background: #fff url('../images/icon_zoom_blue.svg') no-repeat right 5px center;
  background-size: 16px auto;
  border-radius: 5px;
}
.select_inp .chosen-container .chosen-drop .chosen-results {
  margin-top: 5px;
}
.select_inp .chosen-container .chosen-drop .chosen-results .active-result {
  line-height: 36px;
  padding: 0 10px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}
.select_inp .chosen-container .chosen-drop .chosen-results .active-result.result-selected {
  color: #fff;
  background: #2d4a8a;
}
.select_inp .chosen-container .chosen-drop .chosen-results .active-result:not(.result-selected).highlighted {
  color: #fff;
  background: rgba(255, 255, 255, 0.05);
}
.select_inp .h-40 ~ .chosen-container .chosen-single {
  height: 40px;
  padding-left: 15px;
}
.select_inp .h-40 ~ .chosen-container .chosen-single > span {
  height: 40px;
  line-height: 40px;
}
.select_inp .h-40 ~ .chosen-container .chosen-single > div {
  width: 40px;
}
.select_inp .h-40 ~ .chosen-container .chosen-single > div b {
  width: 16px;
  height: 16px;
}
.select_inp .h-40 ~ .chosen-container .chosen-drop .chosen-search .chosen-search-input {
  padding: 0 30px 0 7px;
}
.select_inp .h-40 ~ .chosen-container .chosen-drop .chosen-results .active-result {
  padding: 0 8px;
  font-size: 14px;
}
.select_inp .light-select ~ .chosen-container .chosen-single {
  background: #6989ce;
}
.select_inp .light-select ~ .chosen-container .chosen-single > span {
  color: #fff;
}
.select_inp .light-select ~ .chosen-container .chosen-drop {
  background: #3a5fb1;
}
.select_inp .light-select ~ .chosen-container .chosen-drop .chosen-results .active-result.result-selected {
  color: #fff;
  background: #274077;
}
.select_inp.date_start:after {
  content: "~";
  display: inline-block;
  position: absolute;
  right: -14px;
  margin: 0;
  padding: 0;
  border: 0;
}
