.text-left {
  text-align: left!important;
}
.text-center {
  text-align: center!important;
}
.text-right {
  text-align: right!important;
}
table {
  width: 100%;
  border: 0;
}
table th,
table td {
  padding: 10px;
  border: 0;
  color: #6888ce;
  font-size: 14px;
  text-align: center;
}
table thead th {
  border: 1px solid #fff;
  border-top: 0;
  border-bottom-color: #6888ce;
  background-color: #6888ce;
  color: #fff;
}
table thead th:first-child {
  border-left: 0;
}
table thead th:last-child {
  border-right: 0;
}
table tbody th {
  border-bottom: 1px solid #6888ce;
}
table tbody td {
  border: 1px solid #6888ce;
  border-top: 0;
}
table tbody td:first-child {
  border-left: 0;
}
table tbody td:last-child {
  border-right: 0;
}
table.table th {
  background: #6888ce;
  color: #fff;
  vertical-align: middle;
}
table.table td .btn-outline-secondary {
  border: 1px solid #6888ce;
}
table.table td .btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
table.table td .input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
table.table td .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
table.table td .input-group > .custom-file,
table.table td .input-group > .custom-select,
table.table td .input-group > .form-control {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
table.table td .input-group-append,
table.table td .input-group-prepend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
table.table td .input-group-append {
  margin-left: 1px;
}
table.table > tbody > tr > td,
table.table > tbody > tr > th,
table.table > tfoot > tr > td,
table.table > tfoot > tr > th,
table.table > thead > tr > td,
table.table > thead > tr > th {
  border-top: 1px solid #6888ce;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: auto;
    min-width: 600px;
    max-width: 90%;
  }
}
.uktbl {
  display: inline-block;
  width: calc(35% - 10px);
  height: auto;
}
.uktbl table {
  width: 100%;
  border: 0;
}
.uktbl table th,
.uktbl table td {
  padding: 10px;
  border: 0;
  color: #6888ce;
  font-size: 14px;
  text-align: center;
}
.uktbl table thead th {
  border: 1px solid #fff;
  border-top: 0;
  border-bottom-color: #6888ce;
  background-color: #6888ce;
  color: #fff;
}
.uktbl table thead th:first-child {
  border-left: 0;
}
.uktbl table thead th:last-child {
  border-right: 0;
}
.uktbl table tbody th {
  border-bottom: 1px solid #6888ce;
}
.uktbl table tbody td {
  border: 1px solid #6888ce;
  border-top: 0;
}
.uktbl table tbody td:first-child {
  border-left: 0;
}
.uktbl table tbody td:last-child {
  border-right: 0;
}
.uktbl.data_tbl {
  width: 100%;
}
.uktbl.tbl_fixed {
  overflow: hidden;
  height: 168px;
  border-bottom: 1px solid #6888ce;
}
.uktbl.tbl_fixed table {
  table-layout: fixed;
}
.uktbl.tbl_fixed thead th {
  width: auto!important;
}
.uktbl.tbl_fixed td {
  text-align: right;
}
.uktbl .total th,
.uktbl .total td {
  color: rgba(255, 255, 255, 0.9);
}
.uktbl table.dataTable {
  margin-top: 0!important;
}
.uktbl .dataTables_scroll table.table-bordered.dataTable {
  width: calc(100%) !important;
  border-collapse: collapse;
}
.uktbl .dataTables_scroll .dataTables_scrollHeadInner {
  width: calc(100% - 17px) !important;
  padding-left: 0!important;
}
.uktbl .dataTables_scroll .dataTables_scrollHeadInner table {
  width: 100%!important;
}
.uktbl table.table-bordered.dataTable tbody th,
.uktbl table.table-bordered.dataTable tbody td {
  border-bottom-width: 1px;
}
.uktbl table.table-bordered.dataTable tbody td {
  padding: 14px 10px;
}
.index_contents .table.dataTable {
  width: 100%;
  margin: 0;
}
.index_contents .lft {
  width: calc(45% - 10px);
}
.index_contents .rgt {
  width: calc(55% - 10px);
}
.index_contents .chartbox {
  display: inline-block;
  width: calc(65% - 10px);
  height: auto;
}
.index_contents .btinfo {
  display: inline-block;
  float: left;
  width: calc(70% / 2);
  padding: 0 15px;
}
.index_contents .btinfo.single {
  width: 30%;
}
.index_contents .btinfo.single dd {
  justify-content: center;
}
.index_contents .btinfo.single dd figure {
  padding: 0;
}
.index_contents .btinfo.single dd figure:before {
  display: none;
}
.index_contents .btinfo dt {
  margin-bottom: 8px;
  padding: 0 12px;
}
.index_contents .btinfo dd {
  display: flex;
  justify-content: space-between;
}
.index_contents .btinfo figure {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 15px;
}
.index_contents .btinfo figure:before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  width: 1px;
  height: 100%;
  background-color: rgba(60, 99, 186, 0.6);
}
.index_contents .btinfo figure p {
  display: inline-flex;
  align-items: center;
  margin-top: 8px;
}
.index_contents .btinfo figure p img {
  width: 60px;
}
.index_contents .btinfo figure p span {
  margin-left: 8px;
  color: #9cb0e1;
}
.index_contents .btinfo figure figcaption {
  margin-top: 8px;
  color: #a6a6a6;
  text-align: center;
}
.index_contents .sens {
  display: inline-block;
  float: left;
  width: calc(100% / 3.01);
  padding: 0 10px;
}
.index_contents .sens:first-child dd:before {
  display: none;
}
.index_contents .sens dt {
  margin-bottom: 15px;
  padding: 0 12px;
}
.index_contents .sens dd {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.index_contents .sens dd:before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  width: 1px;
  height: 100%;
  background-color: rgba(60, 99, 186, 0.6);
}
.index_contents .sens dd figure p {
  height: 80px;
}
.index_contents .sens dd figure p img {
  width: 82px;
  height: 80px;
}
.index_contents .sens dd figure figcaption {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 10px;
  padding: 0 15px;
  color: #9cb0e1;
  font-size: 24px;
  text-align: center;
}
.index_contents .minwon {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  text-align: center;
}
.index_contents .minwon dl {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: calc((100% - 30px)/3);
  height: 100px;
  border: 1px solid rgba(60, 99, 186, 0.3);
  border-radius: 10px;
  background-color: rgba(60, 99, 186, 0.2);
}
.index_contents .minwon dl:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -16px;
  transform: translateY(-50%);
  width: 15px;
  height: 1px;
  background-color: rgba(60, 99, 186, 0.6);
}
.index_contents .minwon dl:first-child:before {
  display: none;
}
.index_contents .minwon dl dt {
  margin-bottom: 5px;
  color: #9cb0e1;
}
.index_contents .minwon dl dd {
  color: #9cb0e1;
  font-size: 32px;
}
.index_contents .nodata {
  padding: 15px;
  color: rgba(60, 99, 186, 0.7);
  font-size: 18px;
  text-align: center;
}
.left_container .mapbox {
  height: 788px;
}
.left_container .mapbox img {
  height: 100%;
}
.sub_container.lftcol1,
.left_container.lftcol1 {
  justify-content: space-between;
}
.sub_container.lftcol1 .content_box,
.left_container.lftcol1 .content_box {
  margin: 0;
  border: 0;
}
.sub_container.lftcol1 .content_box .content_inner,
.left_container.lftcol1 .content_box .content_inner {
  width: 100%;
  height: 212px;
  margin: 10px 0 0 0;
  padding: 10px;
  border: 1px solid #274077;
}
.sub_container.lftcol1 .content_box .content_inner:nth-child(1),
.left_container.lftcol1 .content_box .content_inner:nth-child(1) {
  margin-top: 0;
}
.sub_container.lftcol1 .content_box.lft,
.left_container.lftcol1 .content_box.lft {
  padding: 0;
}
.sub_container.lftcol2,
.left_container.lftcol2 {
  justify-content: space-between;
}
.sub_container.lftcol2 .content_box,
.left_container.lftcol2 .content_box {
  margin: 0;
  border: 0;
}
.sub_container.lftcol2 .content_box .content_inner,
.left_container.lftcol2 .content_box .content_inner {
  width: 100%;
  height: 212px;
  margin: 10px 0 0 0;
  padding: 10px;
  border: 1px solid #274077;
}
.sub_container.lftcol2 .content_box .content_inner:nth-child(1),
.left_container.lftcol2 .content_box .content_inner:nth-child(1),
.sub_container.lftcol2 .content_box .content_inner:nth-child(2),
.left_container.lftcol2 .content_box .content_inner:nth-child(2) {
  margin-top: 0;
}
.sub_container.lftcol2 .content_box .content_inner.lft,
.left_container.lftcol2 .content_box .content_inner.lft {
  width: calc(30% - 10px);
}
.sub_container.lftcol2 .content_box .content_inner.rgt,
.left_container.lftcol2 .content_box .content_inner.rgt {
  width: calc(70% - 10px);
}
.sub_container.lftcol2 .content_box.lft,
.left_container.lftcol2 .content_box.lft {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.sub_container .content_box.maparea,
.left_container .content_box.maparea {
  padding: 0;
  border: 0;
  background: none;
}
.sub_container .content_box.maparea .content_inner,
.left_container .content_box.maparea .content_inner {
  margin: 0;
  padding: 0;
  border: 0;
}
.sub_container .content_box.lft,
.left_container .content_box.lft {
  width: calc(45% - 10px);
  padding: 10px;
}
.sub_container .content_box.rgt,
.left_container .content_box.rgt {
  width: calc(55% - 10px);
  padding: 0;
}
.sub_container .mapbox,
.left_container .mapbox {
  margin: 0;
  padding: 0;
}
.sub_container .mapbox img,
.left_container .mapbox img {
  width: 100%;
  margin: 0;
  padding: 0;
}
.sub_container .legend,
.left_container .legend {
  display: flex;
  align-items: center;
  height: 80px;
  margin-top: 10px;
  border: 1px solid #274077;
  background: rgba(25, 27, 38, 0.5);
}
.sub_container .legend dt,
.left_container .legend dt {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
  padding: 20px 15px;
  color: #6693bc;
  font-size: 20px;
}
.sub_container .legend dd,
.left_container .legend dd {
  display: inline-block;
  width: calc(100% - 100px);
  padding: 15px;
}
.sub_container .legend dd p,
.left_container .legend dd p {
  display: inline-flex;
  align-items: center;
  min-width: 150px;
  margin-left: 40px;
}
.sub_container .legend dd p:first-child,
.left_container .legend dd p:first-child {
  margin-left: 0;
}
.sub_container .legend dd p img,
.left_container .legend dd p img {
  width: 30px;
}
.sub_container .legend dd p span,
.left_container .legend dd p span {
  display: inline-block;
  margin-left: 10px;
}
.sub_container .cntbox strong,
.left_container .cntbox strong {
  color: #fff;
  font-size: 40px;
}
.sub_container .cntbox.center,
.left_container .cntbox.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}
.sub_container .cntbox.cht-text,
.left_container .cntbox.cht-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.sub_container .cntbox.cht-text .circle_chart,
.left_container .cntbox.cht-text .circle_chart {
  width: 240px;
  height: 140px;
  padding: 10px 20px;
  text-align: center;
}
.sub_container .cntbox.cht-text .iottm,
.left_container .cntbox.cht-text .iottm {
  width: calc(100% - 240px);
}
.sub_container .cntbox.cht-text .iottm p,
.left_container .cntbox.cht-text .iottm p {
  display: flex;
  align-items: center;
  width: 80%;
  padding: 10px 0;
  border-bottom: 1px solid rgba(60, 99, 186, 0.3);
}
.sub_container .cntbox.cht-text .iottm p:last-child,
.left_container .cntbox.cht-text .iottm p:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.sub_container .cntbox.cht-text .iottm p em,
.left_container .cntbox.cht-text .iottm p em {
  width: 50px;
  color: #a6a6a6;
  font-size: 20px;
}
.sub_container .cntbox.crchart .chartbox,
.left_container .cntbox.crchart .chartbox {
  display: inline-block;
  width: calc((100% - 10px)/2);
  height: 160px;
  margin-top: 10px;
  padding: 10px 20px;
}
.sub_container .cntbox.crchart .chartbox:last-child,
.left_container .cntbox.crchart .chartbox:last-child {
  border-left: 1px solid rgba(60, 99, 186, 0.3);
}
.sub_container .cntbox.btinfo figure,
.left_container .cntbox.btinfo figure {
  display: inline-block;
  position: relative;
  width: calc((100% - 20px) / 2);
  padding: 10px;
}
.sub_container .cntbox.btinfo figure p,
.left_container .cntbox.btinfo figure p {
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 5px 0;
}
.sub_container .cntbox.btinfo figure p span,
.left_container .cntbox.btinfo figure p span {
  margin-left: 10px;
  font-size: 18px;
}
.sub_container .cntbox.btinfo figure figcaption,
.left_container .cntbox.btinfo figure figcaption {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  color: #a6a6a6;
  font-size: 20px;
}
.sub_container .cntbox .bar_chart,
.left_container .cntbox .bar_chart {
  margin-top: 10px;
}
.sub_container .senstotal,
.left_container .senstotal {
  display: flex;
  justify-content: center;
  height: 74px;
  margin-top: 15px;
  padding: 30px 15px;
}
.sub_container .senstotal span,
.left_container .senstotal span {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
}
.sub_container .senstotal span.good,
.left_container .senstotal span.good {
  position: relative;
  margin-right: 35px;
}
.sub_container .senstotal span.good:after,
.left_container .senstotal span.good:after {
  content: "/";
  position: absolute;
  top: 4px;
  right: -25px;
  color: #fff;
  font-size: 34px;
}
.sub_container .senstotal span.bad strong,
.left_container .senstotal span.bad strong {
  color: #f45800;
}
.sub_container .senstotal span em,
.left_container .senstotal span em {
  display: inline-block;
  margin-top: 10px;
  color: #a6a6a6;
  font-size: 14px;
}
.column2 {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.column2 .uktbl {
  display: inline-block;
  width: 50%;
  padding: 0 20px;
}
.column2 .uktbl table th,
.column2 .uktbl table td {
  padding: 7px 5px;
}
.column2 .uktbl ~ .chartbox {
  position: relative;
  width: 50%;
  padding: 0 20px 0 30px;
  border-left: 1px solid rgba(60, 99, 186, 0.3);
}
.column2 .chartbox {
  display: inline-block;
  position: relative;
  width: 50%;
  padding: 0 20px 0 30px;
}
.column2 .chartbox ~ .chartbox {
  border-left: 1px solid rgba(60, 99, 186, 0.3);
}
.column2 .chartbox .text {
  position: absolute;
  top: 50%;
  right: 80px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 18px;
}
.column2 .chartbox .btngp {
  position: absolute;
  top: -40px;
  right: 0;
}
.column2 .chartbox .btngp a {
  display: inline-block;
  float: left;
  width: 38px;
  height: 39px;
  margin: 0 1px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-indent: -999em;
}
.column2 .chartbox .btngp a.zoom {
  background-image: url(../images/zoom.png);
}
.column2 .chartbox .btngp a.more {
  background-image: url(../images/more.png);
}
.column2 .stat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
  padding: 0 20px;
}
.column2 .stat > p {
  width: calc((100% - 10px)/2);
  margin-top: 5px;
  padding: 14px;
  border-radius: 5px;
  background: rgba(60, 99, 186, 0.2);
  text-align: center;
}
.column2 .stat > p:nth-chld(1),
.column2 .stat > p:nth-chld(2) {
  margin-top: 0;
}
.column2 .stat > p.odd {
  border: 1px solid rgba(194, 194, 194, 0.2);
}
.column2 .stat > p.odd.on {
  border-color: #fff;
}
.column2 .stat > p.even {
  border: 1px solid #5c7dc8;
}
.column2 .stat ~ .chartbox {
  border-left: 1px solid rgba(60, 99, 186, 0.3);
}
.ie .lftcol2.sub_container .content_box .content_inner {
  height: 214px;
}
.content_inner.move_group {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 10px 10px;
  border: 2px solid #6989ce;
  border-radius: 10px;
}
.content_inner.move_group h2 {
  line-height: 50px;
}
.content_inner.move_group .btn_movegp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
}
.content_inner.move_group .btn_movegp .btn {
  width: 40px;
  height: 40px;
  margin: 5px 0;
  background: #6888ce;
  color: #fff;
}
.content_inner.move_group .btn_movegp .btn span {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
}
.content_inner.move_group .btn_movegp .btn i {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 70%;
}
.content_inner.move_group .btn_movegp .btn.btn_lmove i {
  background-image: url('../images/icon_arr_left.svg');
}
.content_inner.move_group .btn_movegp .btn.btn_rmove i {
  transform: rotate(180deg);
  background-image: url('../images/icon_arr_left.svg');
}
.content_inner.move_group .btn_movegp .btn.btn_redo i {
  background-image: url('../images/icon_redo.svg');
  background-size: 90%;
}
.content_inner.move_group .uktbl {
  width: calc((100% - 100px)/2);
}
.modal-header .close {
  margin-top: -22px;
}
.modal .btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.modal-footer {
  text-align: center;
}
.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}
@media (min-width: 576px) {
  .modal-dialog {
    margin: 1.75rem auto;
  }
}
@media (min-width: 576px) {
  .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
}
@media (min-width: 768px) {
  .modal-content {
    width: 100%;
  }
}
