@charset "utf-8";

/* Footer */
.footer {background:#f8f8f8;position: relative;z-index:400;} /*12.21 z-index:2 -> 400로 변경 , 우측플로팅영역으로 인하여 수정*/
.footer .link-area {background:#fff;border-top:1px solid #eee;border-bottom:1px solid #eee;}
.footer .link-area .link-area-in {position:relative;margin:0 auto;width:1081px}
.footer .link-area .link-area-in .short-menu {padding:18px 0;font-size:0}
.footer .link-area .link-area-in .short-menu ul li {display:inline-block;padding:0 15px}
.footer .link-area .link-area-in .short-menu ul li:first-child {padding-left:0}
.footer .link-area .link-area-in .short-menu ul li a {color:#333;font-size:13px;line-height:14px;letter-spacing:-0.26px}

.footer .link-area .link-area-in .family-site {position:absolute;top:0;right:0;width:200px;border-left:1px solid #eee;border-right:1px solid #eee}
.footer .link-area .link-area-in .family-site.on {top:-2px;border:1px solid #707070;border-bottom-left-radius:5px;border-bottom-right-radius:5px}
.footer .link-area .link-area-in .family-site .select-label {width:200px;height:52px;padding:16px 20px;background:url("//imagedev.hmall.com/p/img/co/icon/ico-arrow-open-sm.png") no-repeat right 20px center;color:#333;font-size:13px;line-height:18px;letter-spacing:-0.26px;cursor:pointer}
.footer .link-area .link-area-in .family-site.on .select-label {background:url("//imagedev.hmall.com/p/img/co/icon/ico-arrow-close-sm.png") no-repeat right 20px center;}
.footer .link-area .link-area-in .family-site .select-layer {display:none;position:absolute;left:-1px;bottom:52px;margin-top:2px;padding-bottom:18px;width:200px;background:#fff;z-index:100}
.footer .link-area .link-area-in .family-site.on .select-layer {display:block;border:1px solid #707070;border-bottom:0;border-top-left-radius:5px;border-top-right-radius:5px}
.footer .link-area .link-area-in .family-site .select-layer .group {margin:5px 16px 0 16px;padding-top:10px;color:#333;border-top:1px solid #eee;font-size:15px;line-height:23px;letter-spacing:-0.3px;font-weight:bold}
.footer .link-area .link-area-in .family-site .select-layer .group:first-child {margin-top:0}
.footer .link-area .link-area-in .family-site .select-layer ul {margin-top:10px}
.footer .link-area .link-area-in .family-site .select-layer ul li a {display:block;padding:5px 16px;color:#333;font-size:13px;line-height:14px;letter-spacing:-0.26px}
.footer .link-area .link-area-in .family-site .select-layer ul li:first-child a {padding-top:0}
.footer .link-area .link-area-in .family-site .select-layer ul li a:hover {color:#f4614d}

.footer .footer-contents {display:flex;margin:0 auto;padding-top:20px;width:1081px;/*border-top:1px solid #e5e5e5*/}
.footer .footer-contents .footer-logo {display:block;margin-right:27px;width:90px;height:24px}
.footer .footer-contents .footer-logo img {width:100%}

.footer .footer-contents .info-area {display:block;position:relative;width:100%;margin-top:3px}
.footer .footer-contents .info-area .policy-link-list {position:absolute;top:-4px;left:150px}
.footer .footer-contents .info-area .policy-link-list ul li {display:inline-block;margin-right:20px}
.footer .footer-contents .info-area .policy-link-list ul li a {color:#666;font-size:12px;letter-spacing:-0.24px}
.footer .footer-contents .info-area .policy-link-list ul li a strong {color:#666;vertical-align: baseline;}

.footer .footer-contents .info-area .footer-info {padding-bottom:88px}
.footer .footer-contents .info-area .footer-info.on {padding-bottom:41px}
.footer .footer-contents .info-area .footer-info .btn-footer {width:115px;background:url("//imagedev.hmall.com/p/img/co/icon/ico-arrow-open-sm.png") no-repeat right center;text-align:left;vertical-align:top}
.footer .footer-contents .info-area .footer-info.on .btn-footer {background:url("//imagedev.hmall.com/p/img/co/icon/ico-arrow-close-sm.png") no-repeat right center;}
.footer .footer-contents .info-area .footer-info .btn-footer strong {color:#111;font-size:14px;line-height:15px;letter-spacing:-0.28px}

.footer .footer-contents .info-area .footer-info .footer-info-box {display:none;margin-top:28px}
.footer .footer-contents .info-area .footer-info.on .footer-info-box {display:flex;justify-content:space-between;}
.footer .footer-contents .info-area .hmall-info {display:inline-block;padding-right:15px}
.footer .footer-contents .info-area .hmall-info .list-contents p {line-height:20px;}
.footer .footer-contents .info-area .hmall-info .list-contents p:first-child {margin-top:0}
.footer .footer-contents .info-area .hmall-info .list-contents p span {margin-left:13px;color:#999;font-size:12px;line-height:13px;letter-spacing:-0.24px}
.footer .footer-contents .info-area .hmall-info .list-contents p span:first-child {margin-left:0}
.footer .footer-contents .info-area .hmall-info .list-contents p a {color:#999;font-size:12px;line-height:13px;letter-spacing:-0.24px}

.footer .footer-contents .info-area .service-info-wrap {display:inline-block;margin-left:60px}
.footer .footer-contents .info-area .service-info-wrap .safe-info {display:inline-block;width:430px;color:#999;font-size:12px;line-height:20px;letter-spacing:-0.24px}
.footer .footer-contents .info-area .service-info-wrap .safe-info a {color:#333;font-size:12px;letter-spacing:-0.24px;text-decoration:underline;vertical-align:top}
.footer .footer-contents .info-area .service-info-wrap .cs-link {margin-top:12px;}
.footer .footer-contents .info-area .service-info-wrap .cs-link a {display:inline-block;margin-right:5px;padding:4px 9px;height:26px;background:#fff;color:#666;border:1px solid #ddd;font-size:11px;letter-spacing:-0.22px}