<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="../../images/logo_32x32.png">
	<title>404 에러 | SK 케미칼 MES</title>
	<link rel="stylesheet" href="../../css/fonts.css">
	<!-- <link rel="stylesheet" href="../../css/font-awesome.min.css"> -->
	<link rel="stylesheet" href="../../assets/css/jquery-ui/jquery-ui.min.css">

	<link rel="stylesheet" href="../../css/uiReset.min.css">
	<link rel="stylesheet" href="../../css/uiComponent.min.css">
	<link rel="stylesheet" href="../../css/uiFrame.min.css">

	<script src="../../assets/js/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../assets/js/jquery-ui/jquery-ui.min.js"></script>
	<script src="../../js/uiux.js"></script>
</head>
<body>
	<!-- Loading -->
	<!-- 
		전체 감싸고 있는 부분에 class loading_wrap 부분에
		로딩 중 class="is-on" 추가
		로딩 완료 후 class="is-on" 제거
	 -->
	<div class="loading_wrap is-on">
		<div class="loading"></div>
	</div>
</body>
</html>