<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="../../images/logo_32x32.png">
    <title>파일 업로드 | SK 케미칼 MES</title>
    <link rel="stylesheet" href="../../css/fonts.css">
    <!-- <link rel="stylesheet" href="../../css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="../../assets/css/jquery-ui/jquery-ui.min.css">

    <link rel="stylesheet" href="../../css/uiReset.min.css">
    <link rel="stylesheet" href="../../css/uiComponent.min.css">
    <link rel="stylesheet" href="../../css/uiFrame.min.css">

    <script src="../../assets/js/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../assets/js/jquery-ui/jquery-ui.min.js"></script>
    <script src="../../assets/js/popper/popper.js"></script>
    <script src="../../assets/js/bootstrap4/bootstrap.min.js"></script>
    <script src="../../assets/js/moment/moment.min.js"></script>
    <script src="../../assets/js/jquery/jquery.number.min.js"></script>
    <script src="../../assets/js/jquery-ui/jquery.monthpicker.js"></script>
    <script src="../../assets/js/jquery-ui/yearpicker.js"></script>
    <script src="../../js/uiux.js"></script>
</head>
<body>
    <div class="cbody">
        <div class="framewrap">
            <div class="framegp">
                <div class="div-title hfixed" data-top="titarea">
                    <div class="tit_group">
                        <div class="htit"><i class="icon"></i><span>멀티 파일 업로드 기본</span></div>
                    </div>
                </div>
                <div class="multiple_wrap" style="width:100%">
                    <div class="multiple_head">
                        <div class="btngroup">
                            <button type="button" class="btn btn_add xs"><i class="fa fa-upload" aria-hidden="true"></i><span>파일 추가</span></button>
                            <button type="button" class="btn btn_del xs"><i class="fa fa-trash-o" aria-hidden="true"></i><span>파일 삭제</span></button>
                        </div>
                        <p class="text">첨부파일은  000MB 까지가능</p>
                    </div>
                    <!-- 마우스 드래그 시 class drag-on 추가 -->
                    <div class="multiple_body" style="height:150px;">
                        <ul class="file_list" style="display:none">
                            <li>
                                <label class="chkrad">
                                    <input type="checkbox" name="">
                                </label>
                                <a href="#" class="btn btn_link">file_No_20211029_1029488502_ABcdeea.CSV</a>
                                <span class="file_size">0.826 MB</span>
                            </li>
                        </ul>
                    </div>
                    <!-- 파일업로드 진행 상태바 -->
                    <div class="state_bar" style="display:none"><div class="sbar" data-progress="1%" style="width:1%"></div></div>
                </div>
                <!-- //.multiple_wrap -->
            </div>
        </div>

        <div class="framewrap">
            <div class="framegp">
                <div class="div-title hfixed" data-top="titarea">
                    <div class="tit_group">
                        <div class="htit"><i class="icon"></i><span>멀티 파일 업로드 마우스 드래그시 하이라이트</span></div>
                    </div>
                </div>
                <div class="multiple_wrap" style="width:100%">
                    <div class="multiple_head">
                        <div class="btngroup">
                            <button type="button" class="btn btn_add xs"><i class="fa fa-upload" aria-hidden="true"></i><span>파일 추가</span></button>
                            <button type="button" class="btn btn_del xs"><i class="fa fa-trash-o" aria-hidden="true"></i><span>파일 삭제</span></button>
                        </div>
                        <p class="text">첨부파일은  000MB 까지가능</p>
                    </div>
                    <!-- 마우스 드래그 시 class drag-on 추가 -->
                    <div class="multiple_body drag-on" style="height:150px;">
                        <ul class="file_list">
                            <li>
                                <label class="chkrad">
                                    <input type="checkbox" name="">
                                </label>
                                <a href="#" class="btn btn_link">file_No_20211029_1029488502_ABcdeea.CSV</a>
                                <span class="file_size">0.826 MB</span>
                            </li>
                            <li>
                                <label class="chkrad">
                                    <input type="checkbox" name="">
                                </label>
                                <a href="#" class="btn btn_link">file_No_20211029_1029488502_ABcdeea.CSV</a>
                                <span class="file_size">0.826 MB</span>
                            </li>
                            <li>
                                <label class="chkrad">
                                    <input type="checkbox" name="">
                                </label>
                                <a href="#" class="btn btn_link">file_No_20211029_1029488502_ABcdeea.CSV</a>
                                <span class="file_size">0.826 MB</span>
                            </li>
                            <li>
                                <label class="chkrad">
                                    <input type="checkbox" name="">
                                </label>
                                <a href="#" class="btn btn_link">file_No_20211029_1029488502_ABcdeea.CSV</a>
                                <span class="file_size">0.826 MB</span>
                            </li>
                            <li>
                                <label class="chkrad">
                                    <input type="checkbox" name="">
                                </label>
                                <a href="#" class="btn btn_link">file_No_20211029_1029488502_ABcdeea.CSV</a>
                                <span class="file_size">0.826 MB</span>
                            </li>
                            <li>
                                <label class="chkrad">
                                    <input type="checkbox" name="">
                                </label>
                                <a href="#" class="btn btn_link">file_No_20211029_1029488502_ABcdeea.CSV</a>
                                <span class="file_size">0.826 MB</span>
                            </li>
                            <li>
                                <label class="chkrad">
                                    <input type="checkbox" name="">
                                </label>
                                <a href="#" class="btn btn_link">file_No_20211029_1029488502_ABcdeea.CSV</a>
                                <span class="file_size">0.826 MB</span>
                            </li>
                            <li>
                                <label class="chkrad">
                                    <input type="checkbox" name="">
                                </label>
                                <a href="#" class="btn btn_link">file_No_20211029_1029488502_ABcdeea.CSV</a>
                                <span class="file_size">0.826 MB</span>
                            </li>
                            <li>
                                <label class="chkrad">
                                    <input type="checkbox" name="">
                                </label>
                                <a href="#" class="btn btn_link">file_No_20211029_1029488502_ABcdeea.CSV</a>
                                <span class="file_size">0.826 MB</span>
                            </li>
                        </ul>
                    </div>
                    <!-- 파일업로드 진행 상태바 -->
                    <div class="state_bar" style="display:none"><div class="sbar" data-progress="1%" style="width:1%"></div></div>
                </div>
                <!-- //.multiple_wrap -->
            </div>
        </div>

        <div class="framewrap">
            <div class="framegp">
                <div class="div-title hfixed" data-top="titarea">
                    <div class="tit_group">
                        <div class="htit"><i class="icon"></i><span>멀티 파일 업로드 업로드 상태바 하단</span></div>
                    </div>
                </div>
                <div class="multiple_wrap" style="width:100%">
                    <div class="multiple_head">
                        <div class="btngroup">
                            <button type="button" class="btn btn_add xs"><i class="fa fa-upload" aria-hidden="true"></i><span>파일 추가</span></button>
                            <button type="button" class="btn btn_del xs"><i class="fa fa-trash-o" aria-hidden="true"></i><span>파일 삭제</span></button>
                        </div>
                        <p class="text">첨부파일은  000MB 까지가능</p>
                    </div>
                    <!-- 마우스 드래그 시 class drag-on 추가 -->
                    <div class="multiple_body" style="height:150px;">
                        <ul class="file_list">
                            <li>
                                <label class="chkrad">
                                    <input type="checkbox" name="">
                                </label>
                                <a href="#" class="btn btn_link">file_No_20211029_1029488502_ABcdeea.CSV</a>
                                <span class="file_size">0.826 MB</span>
                            </li>
                            <li>
                                <label class="chkrad">
                                    <input type="checkbox" name="">
                                </label>
                                <a href="#" class="btn btn_link">file_No_20211029_1029488502_ABcdeea.CSV</a>
                                <span class="file_size">0.826 MB</span>
                            </li>
                            <li>
                                <label class="chkrad">
                                    <input type="checkbox" name="">
                                </label>
                                <a href="#" class="btn btn_link">file_No_20211029_1029488502_ABcdeea.CSV</a>
                                <span class="file_size">0.826 MB</span>
                            </li>
                            <li>
                                <label class="chkrad">
                                    <input type="checkbox" name="">
                                </label>
                                <a href="#" class="btn btn_link">file_No_20211029_1029488502_ABcdeea.CSV</a>
                                <span class="file_size">0.826 MB</span>
                            </li>
                            <li>
                                <label class="chkrad">
                                    <input type="checkbox" name="">
                                </label>
                                <a href="#" class="btn btn_link">file_No_20211029_1029488502_ABcdeea.CSV</a>
                                <span class="file_size">0.826 MB</span>
                            </li>
                            <li>
                                <label class="chkrad">
                                    <input type="checkbox" name="">
                                </label>
                                <a href="#" class="btn btn_link">file_No_20211029_1029488502_ABcdeea.CSV</a>
                                <span class="file_size">0.826 MB</span>
                            </li>
                            <li>
                                <label class="chkrad">
                                    <input type="checkbox" name="">
                                </label>
                                <a href="#" class="btn btn_link">file_No_20211029_1029488502_ABcdeea.CSV</a>
                                <span class="file_size">0.826 MB</span>
                            </li>
                            <li>
                                <label class="chkrad">
                                    <input type="checkbox" name="">
                                </label>
                                <a href="#" class="btn btn_link">file_No_20211029_1029488502_ABcdeea.CSV</a>
                                <span class="file_size">0.826 MB</span>
                            </li>
                        </ul>
                    </div>
                    <!-- 파일업로드 진행 상태바 -->
                    <div class="state_bar"><div class="sbar" data-progress="60%" style="width:60%"></div></div>
                </div>
                <!-- //.multiple_wrap -->
            </div>
        </div>
    </div>
</body>
</html>