@charset "utf-8";

/*ROOT*/
:root {
  /* Color */
  --uk-color-ffffff:#ffffff;
  --uk-color-000000:#000000;
  --uk-color-666666:#666666;
  --uk-color-707070:#707070;
  --uk-color-999999:#999999;
  --uk-color-aaaaaa:#aaaaaa;
  --uk-color-ea088b:#ea088b;
  --uk-color-135dab:#135dab;
  --uk-color-dde8f6:#dde8f6;
  --uk-color-ecf5ff:#ecf5ff;
  --uk-color-cac8c8:#cac8c8;
  --uk-color-c4c4c4:#c4c4c4;
  --uk-color-e4e4e4:#e4e4e4;
  --uk-color-ededed:#ededed;
  --uk-color-f0f0f0:#f0f0f0;
  --uk-color-f8f8f8:#f8f8f8;
  --uk-color-b0b5bb:#b0b5bb;
  --uk-color-d5d6d8:#d5d6d8;
  --uk-color-e1e1e1:#e1e1e1;
  --uk-color-d9d9d9:#d9d9d9;
}
/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,table,th,td,input,select,textarea,button,label,span,strong,i,b,ins,del,
main,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
  margin:0;
  padding:0;
  /* font-family:'Montserrat','Nanum Gothicm','Nanum Gothicl','Malgun Gothic','맑은 고딕',Dotum, Arial, helvetica, Verdana, sans-serif; */
  /* font-family:'Noto Sans KR','Malgun Gothic','맑은 고딕',Dotum, Arial, helvetica, Verdana, sans-serif; */
  font-family:-apple-system,'Malgun Gothic','맑은 고딕','Apple SD Gothic Neo',Applegothic,Helvetica,Arial,Verdana,sans-serif;
  font-size:14px;
  vertical-align:top;
  word-wrap:break-word;
  word-break:break-all;
  box-sizing:border-box;
}
main,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block;}
*::before,*::after{
  margin:0;
  padding:0;
  /* font-family:'Montserrat','Nanum Gothicm','Nanum Gothicl','Malgun Gothic','맑은 고딕',Dotum, Arial, Verdana, sans-serif; */
  /* font-family:'Noto Sans KR','Malgun Gothic','맑은 고딕',Dotum, Arial, Verdana, sans-serif; */
  font-family:'Malgun Gothic','맑은 고딕','Apple SD Gothic Neo',Applegothic,Helvetica,Arial,Verdana,sans-serif;
  box-sizing:border-box;
}

html,body{height:100%;}
body{min-width:320px;height:100vh;-webkit-text-size-adjust:none;}
fieldset,img {border:0 none;}
img{width:100%;margin:0;padding:0;vertical-align:middle;}
ul,ol,menu,li {list-style:none;}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none;}
label{vertical-align:middle;}
input,select,textarea,button {font-size:100%;vertical-align:middle;}
button {border:0 none;background-color:transparent;cursor:pointer;}
table {width:100%;border-collapse:collapse;border-spacing:0;}
span,i,b,ins,del,strong,label{vertical-align:middle;}

a {margin:0;padding:0;color:#000;text-decoration:none;box-sizing:border-box;}
a:active, a:focus {text-decoration:none;}
address,caption,cite,code,dfn,em,var,i,ins {font-style:normal;font-weight:normal;}
iframe{width:100%;height:100%;margin:0;border:0;}
/* Defalut Form Style */
[disabled]{color:var(--uk-color-ededed);}
[readonly]{color:var(--uk-color-000000);}
input::-webkit-input-placeholder {
	color:var(--uk-color-c4c4c4);}
}
input:-moz-placeholder {
	color:var(--uk-color-c4c4c4);}
}
input, textarea {
  border:0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  box-shadow:none;
  color:var(--uk-color-000000);
  font-size:16px;
}
input:focus, 
textarea:focus{
  border:0;
  outline:0;
  color:var(--uk-color-000000);
}
[type="text"],
[type="email"],
[type="search"],
[type="password"],
[type="number"],
[type="tel"],
textarea {
  background-color:transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  -ms-border-radius:0;
  -o-border-radius:0;
  border-radius:0;
  color:var(--uk-color-000000);
}
[type="reset"],
[type="button"],
[type="submit"],
[type="file"],
button {
  display:inline-block;
  padding: 6px;
  border:1px solid transparent;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background-color: var(--uk-color-f8f8f8);
  color: var(--uk-color-666666);
  font-size: 16px;
  -webkit-appearance:button;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline:0;
}
[type="reset"]:focus,
[type="button"]:focus,
[type="submit"]:focus,
button:focus,
[type="reset"]:active,
[type="button"]:active,
[type="submit"]:active
button:active,
[type="reset"][aria-selected="true"],
[type="button"][aria-selected="true"],
[type="submit"][aria-selected="true"]{
  border-color:var(--uk-color-ea088b);
  background-color:transparent;
  color:var(--uk-color-ea088b);
}
[aria-selected="true"] {
  /* border-color:var(--uk-color-ea088b);
  background-color:transparent;
  color:var(--uk-color-ea088b); */
}

[type='checkbox']:checked {background-color:var(--uk-color-000000);-webkit-appearance:checkbox;}
[type='search']::-webkit-search-cancel-button {-webkit-appearance:none;}

[type="range"] {
  width: 100%;
  height: 30px;
  padding: 0;
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  background: transparent;
}
[type="range"]::-webkit-slider-runnable-track {
  height: 6px;
  background:var(--uk-color-f8f8f8);
  border: none;
  border-radius: 100px;
}
[type="range"]:focus {
  outline: none;
}
[type="range"]:focus::-webkit-slider-runnable-track {
  background:var(--uk-color-f8f8f8);
}
[type="range"]::-moz-range-track {
  height: 6px;
  background:var(--uk-color-f8f8f8);
  border: none;
  border-radius: 100px;
}
[type="range"]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}
[type="range"]::-ms-track {
  height: 6px;
  background: transparent;
  border-color: transparent;
  border-width: 0 0;
  color: transparent;
}
[type="range"]::-ms-fill-lower,
[type="range"]:focus::-ms-fill-lower {
  background: var(--uk-color-aaaaaa);
  border-radius: 10px;
}
[type="range"]::-ms-fill-upper,
[type="range"]:focus::-ms-fill-upper {
  background:var(--uk-color-f8f8f8);
  border-radius: 10px;
}
[type="range"]::-webkit-slider-thumb {
  width: 30px;
  height: 30px;
  margin-top: -12px;
  background: var(--uk-color-ffffff);
  border: 2px solid var(--uk-color-666666);
  border-radius: 100%;
  -webkit-appearance: none;
}
[type="range"]::-moz-range-thumb {
  width: 26px;
  height: 26px;
  margin-top: -10px;
  background: var(--uk-color-ffffff);
  border: 2px solid var(--uk-color-666666);
  border-radius: 100%;
}
[type="range"]::-ms-thumb {
  width: 26px;
  height: 26px;
  margin-top: 0;
  background: var(--uk-color-ffffff);
  border: 2px solid var(--uk-color-666666);
  border-radius: 100%;
}

/* Accessbility Text Hide */
.watts,
[aria-hidden="true"]{overflow:hidden!important;position:absolute!important;width:0!important;height:0!important;line-height:1!important;}

/* Text Align */
.tleft{text-align:left!important;}
.tright{text-align:right!important;}
.tcenter{text-align:center!important;}

/* Float clear */
.fleft{float:left!important;}
.fright{float:right!important;}
.clear{clear:both!important;}


/* Block & Inline-Block & Inline & Flex */
.block{display:block;}
.inline-block{display:inline-block;}
.inline{display:inline;}
.flex{display:flex;}
.table{display:table;}

/* Width Size */
.w320px{width:320px;padding-right:23px;padding-left:23px;}
.w360px{width:360px;padding-right:23px;padding-left:23px;}
.w375px{width:375px;padding-right:23px;padding-left:23px;}
.w414px{width:414px;padding-right:23px;padding-left:23px;}

/* Form Label Style */
.uxlabel{position: relative;}
.uxlabel input{
  width: calc(100% - 30px);
  height: 100%;
  height: 50px;
  padding: 10px 5px;
  color:var(--uk-color-000000);
  /* line-height: 50px; */
}
.uxlabel input + .clearable{
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 10;
  opacity:0;
  width: 25px;
  height: 25px;
  background-color: var(--uk-color-d5d6d8);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.uxlabel input:focus + .clearable{
  opacity: 1;
}
.uxlabel input + .clearable::before,
.uxlabel input + .clearable::after{
  content:"";
  position: absolute;
  top: 50%;
  left: 50%;
  display:inline-block;
  width: 58%;
  height:1px;
  background-color:var(--uk-color-ffffff);
}
.uxlabel input + .clearable::before{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: translateX(-50%) rotate(-45deg);
}
.uxlabel input + .clearable::after{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: translateX(-50%) rotate(45deg);
}
.uxlabel input:focus{
  color:var(--uk-color-000000);
}
.uxlabel [placeholder]{
  font-size:16px;
}
.datetype{
  position:relative;
}


/* Button Style */
.btnbox{
  display:flex;
  justify-content: space-between;
  align-content: center;
}
.btnbox.column{
  flex-direction: column;
}
.btnbox.row{
  flex-direction: row;
}
.uxbtn{
  position:relative;
  margin:0;
  padding: 3px;
  border: 1px solid transparent;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -ms-border-radius:4px;
  -o-border-radius:4px;
  border-radius:4px;
  background-color:var(--uk-color-f8f8f8);
}
.uxbtn span{
  display: inline-block;
  width: 100%;
  color:var(--uk-color-666666);
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing:-.7px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
.btnbox.col2 .uxbtn{
  width:calc((100% - 5px)/2);
}
.btnbox.col3 .uxbtn{
  width:calc((100% - 5px)/3);
}
.btnbox.col4 .uxbtn{
  width:calc((100% - 5px)/4);
}
.btnbox.col5 .uxbtn{
  width:calc((100% - 5px)/5);
}
.uxbtn.current{
  border-color:var(--uk-color-ea088b);
  background-color:transparent;
}
.uxbtn.current span{
  color:var(--uk-color-ea088b);
}
.uxbtn:disabled{
  background-color:var(--uk-color-ededed);
}
.uxbtn:disabled span{
  color: var(--uk-color-b0b5bb);
}

.uxbtn.full{
  -webkit-border-radius:0;
  -moz-border-radius:0;
  -ms-border-radius:0;
  -o-border-radius:0;
  border-radius:0;
}
.uxbtn.full span{
  font-size:17px;
  line-height:18px;
  letter-spacing:-.85px;
}
.uxline,
.uxline:focus,
.uxline:active{
  border-color:var(--uk-color-135dab);
  background-color: transparent;
  background-image: none;
  color:var(--uk-color-135dab);
}
.uxline.full{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.uxline.full span{
  color:var(--uk-color-135dab);
  font-size:14px;
  line-height:18px;
  letter-spacing:-.42px;
}
.uxbtn-close {
  position:absolute;
  top:0;
  right:0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

/* Button Size */
.xsm{}
.sm{
  padding:6px;
}
.md{
  padding: 11.9px;
}
.lg{
  padding: 14.4px;
}
.full{
  width:100%;
}

/* Button Color */
.bgcdblue,
.bgcdblue:focus,
.bgcdblue:active{
  border-color:transparent;
  background-color:var(--uk-color-135dab);
}
.bgcdblue span,
.bgcdblue:focus span,
.bgcdblue:active span{
  color:var(--uk-color-ffffff);
}
.bgcdpink,
.bgcdpink:focus,
.bgcdpink:active{
  border-color:transparent;
  background-color:var(--uk-color-ea088b);
}
.bgcdpink span,
.bgcdpink:focus span,
.bgcdpink:active span{
  color:var(--uk-color-ffffff);
}
.bgclgray,
.bgclgray:focus,
.bgclgray:active{
  border-color:transparent;
  background-color:var(--uk-color-ededed);
}
.bgclgray span,
.bgclgray:focus span,
.bgclgray:active span{
  color:var(--uk-color-b0b5bb);
}

/* Button Group */
.uxbtn-group{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}
.uxbtn-group.row{
  flex-direction: row;
}
.uxbtn-group.column{
  flex-direction: column;
}
.full-4-6{
}
.full-4-6 .uxbtn.full:first-child{
  width:40%;
}
.full-4-6 .uxbtn.full:last-child{
  width:60%;
}
/* Form Checkbox Style */
.ux-checkbox{position:relative;}
.ux-checkbox input[type=checkbox] {
  position:absolute;
  z-index:-1;
  opacity:0;
}
.uk-checkicon {
  display: inline-block;
  position: relative;
  width:26px;
  height:26px;
  border: 1px solid var(--uk-color-e1e1e1);
  border-radius: 50%;
  background-color: transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
  cursor: pointer;
}
.uk-checkicon::before, .uk-checkicon::after {
  content: ' ';
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 0;
  background-color: var(--uk-color-e1e1e1);
  border-radius:4px;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-transition: opacity ease 0.5;
  -moz-transition: opacity ease 0.5;
  transition: opacity ease 0.5;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.uk-checkicon::before {
  top: 19px;
  left: 11.5px;
  height:12px;
  -moz-transform: rotate(-140deg);
  -ms-transform: rotate(-140deg);
  -o-transform: rotate(-140deg);
  -webkit-transform: rotate(-140deg);
  transform: rotate(-140deg);
}
.uk-checkicon::after {
  top: 12px;
  left: 4px;
  height:10px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.ux-checkbox input[type=checkbox]:checked + .uk-checkicon, .uk-checkicon.checked {
  border-color:var(--uk-color-ea088b);
  background-color:var(--uk-color-ea088b);
}
.ux-checkbox input[type=checkbox]:checked + .uk-checkicon::after, .uk-checkicon.checked::after {
  height: 0px;
  background-color:var(--uk-color-ffffff);
  -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
  -o-animation: dothabottomcheck 0.2s ease 0s forwards;
  -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
  animation: dothabottomcheck 0.2s ease 0s forwards;
}
.ux-checkbox input[type=checkbox]:checked + .uk-checkicon::before, .uk-checkicon.checked::before {
  height: 0px;
  background-color:var(--uk-color-ffffff);
  -moz-animation: dothatopcheck 0.4s ease 0s forwards;
  -o-animation: dothatopcheck 0.4s ease 0s forwards;
  -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
  animation: dothatopcheck 0.4s ease 0s forwards;
}

.ux-checkbox input[type=checkbox]:disabled + .uk-checkicon, .uk-checkicon.disabled {
  border-color:var(--uk-color-ededed);
  background-color:var(--uk-color-ededed);
}
.ux-checkbox input[type=checkbox]:disabled + .uk-checkicon::before,
.ux-checkbox input[type=checkbox]:disabled + .uk-checkicon::after{
  background-color: var(--uk-color-d9d9d9);
}

.ux-checkbox i, .ux-checkbox span{
  font-size:17px;
  line-height:24px;
  vertical-align:middle;
  cursor:pointer;
}

.ux-checkbox i, .ux-checkbox span{
  font-size:17px;
  line-height:24px;
  vertical-align:middle;
  cursor:pointer;
}
.ux-checkbox.ncircle .uk-checkicon{
  border:0;
}
.ux-checkbox.ncircle input[type=checkbox]:checked + .uk-checkicon, .uk-checkicon.checked {
  border-color: transparent;
  background-color: transparent;
}
.ux-checkbox.ncircle input[type=checkbox]:checked + .uk-checkicon::before, .uk-checkicon.checked::before,
.ux-checkbox.ncircle input[type=checkbox]:checked + .uk-checkicon::after, .uk-checkicon.checked::after {
  background-color:var(--uk-color-ea088b);
}
.ux-checkbox.ncircle input[type=checkbox]:disabled + .uk-checkicon, .uk-checkicon.disabled {
  border-color:transparent;
  background-color:transparent;
}
.ux-checkbox.ncircle input[type=checkbox]:disabled + .uk-checkicon::before,
.ux-checkbox.ncircle input[type=checkbox]:disabled + .uk-checkicon::after{
  background-color: var(--uk-color-d9d9d9);
}
/* Checkmark style starts */
@-webkit-keyframes dothabottomcheck {
  0% {height: 0;}
  0% {height: 0;}
  100% {height: 10px;}
}
@keyframes dothabottomche{
  0% {height: 0;}
  0% {height: 0;}
  100% {height: 10px;}
}
@-webkit-keyframes dothatopcheck {
  0% {height: 0;}
  50% {height: 0;}
  100% {height: 12px;}
}
@keyframes dothatopcheck {
  0% {height: 0;}
  50% {height: 0;}
  100% {height: 12px;}
}

/* Form Radio Style */
.ux-radio {
  
}
.ux-radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.ux-rlabel{
  font-size:17px;
  line-height:24px;
  vertical-align:middle;
  cursor:pointer;
}
.ux-radio input[type="radio"] + .ux-rlabel:before {
  content: '';
  display: inline-block;
  position: relative;
  width: 26px;
  height: 26px;
  margin-right: 5px;
  border: 1px solid var(--uk-color-e1e1e1);
  background: var(--uk-color-ffffff);
  text-align: center;
  vertical-align: bottom;
  cursor: pointer;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}
.ux-radio input[type="radio"]:checked + .ux-rlabel:before {
  background-color:var(--uk-color-ea088b);
  box-shadow: inset 0 0 0 4px var(--uk-color-ffffff);
}
.ux-radio input[type="radio"]:focus + .ux-rlabel:before {
  outline: none;
  border-color:var(--uk-color-ea088b);
}
.ux-radio input[type="radio"]:disabled + .ux-rlabel:before {
  box-shadow: inset 0 0 0 4px var(--uk-color-ededed);
  border-color: var(--uk-color-e1e1e1);
  background: var(--uk-color-d9d9d9);
}
.ux-radio input[type="radio"] + .ux-rlabel:empty:before {
  margin-right: 0;
}

/* Form Button Radio Style */
.uxbtn-radio{
  position:relative;
  margin:0;
  padding:0;
  border: 0;
  font-weight: 500;
  border-radius: 0;
  line-height:1;
}
.uxbtn-radio input[type='radio']{
  position:absolute;
  z-index: -1;
  opacity: 0;
}
.uxbtn-radio input[type='radio'] + span{
  display: inline-block;
  width: 100%;
  padding: 2px 6px;
  border: 1px solid transparent;
  border-color:var(--uk-color-f8f8f8);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: var(--uk-color-f8f8f8);
  color: var(--uk-color-666666);
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing:-.42px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
.uxbtn-radio input[type='radio']:checked + span{
  border-color: var(--uk-color-ea088b);
  background-color:var(--uk-color-ffffff);
  color: var(--uk-color-ea088b);
}
.flex.col2 .uxbtn-radio{
  width:calc((100% - 4px) / 2)
}
.flex.col3 .uxbtn-radio{
  width:calc((100% - 4px) / 3)
}
.flex.col4 .uxbtn-radio{
  width:calc((100% - 4px) / 4)
}
.flex.col5 .uxbtn-radio{
  width:calc((100% - 4px) / 5)
}
.flex.col6 .uxbtn-radio{
  width:calc((100% - 4px) / 6)
}
@media(max-width:355px){
  .uxbtn-radio input[type='radio'] + span{
    width:auto;
  }
}

/* Header Global Navigation Button */
.uxbtn-menu {
  position: absolute;
  top: 10px;
  right: 23px;
  z-index: 1200;
  width: 28px;
  height: 28px;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.uxbtn-menu span,
.uxbtn-menu span::before,
.uxbtn-menu span::after {
  position: absolute;
  content: '';
  width: 28px;
  height: 2.5px;
  background: var(--uk-color-000000);
  border-radius: 20px;
  transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}
.uxbtn-menu span::before {
  top: -8px;
}
.uxbtn-menu span::after {
  top: 8px;
}
.uxbtn-menu.active > span {
  background: transparent;
}
.uxbtn-menu.active > span::before, 
.uxbtn-menu.active > span::after {
  background: var(--uk-color-ffffff);
  top: 0px;
}
.uxbtn-menu.active > span::before {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}
.uxbtn-menu.active > span::after {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

/* Width Size */
.uk-w3{width:calc((100% - 10px)/3);}
.uk-w4{width:calc((100% - 4px)/4);}
.uk-w5{width:calc((100% - 10px)/5);}
.uk-w6{width:calc((100% - 4px)/6);}
.uk-w4:first-child,
.uk-w5:first-child,
.uk-w4:first-child,
.uk-w6:first-child{margin-left:0;}
.uk-w3:last-child,
.uk-w4:last-child,
.uk-w5:last-child,
.uk-w6:last-child{margin-right:0;}