<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="../../images/logo_32x32.png">
	<title>모달 팝업 | SK 케미칼 MES</title>
	<link rel="stylesheet" href="../../css/fonts.css">
	<link rel="stylesheet" href="../../css/font-awesome.min.css">
	<link rel="stylesheet" href="../../assets/css/jquery-ui/jquery-ui.min.css">

	<link rel="stylesheet" href="../../css/uiReset.min.css">
	<link rel="stylesheet" href="../../css/uiComponent.min.css">
	<link rel="stylesheet" href="../../css/uiFrame.min.css">

	<script src="../../assets/js/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../assets/js/jquery-ui/jquery-ui.min.js"></script>
    <script src="../../assets/js/bootstrap4/bootstrap.min.js"></script>
	<script src="../../js/uiux.js"></script>
	<style>
		.modal_btngroup{
			width:300px;margin:50px auto;
		}
		.modal_btngroup a{
			margin:0 10px;
		}
	</style>
</head>
<body>
<div class="modal_btngroup">
	<a href="#" data-modal-button="small_modal">짧은 모달</a>
	<a href="#" data-modal-button="large_modal">긴 모달</a>
	<a href="#" data-modal-button="inner_scroll_modal">내부 스크롤</a>
</div>
<script>
	$(function(){
		var modal_wrap = 'modal_wrap';
		var modal_button = 'data-modal-button';
		var modal_layer = 'data-modal-layer';
		var modal_dim = 'data-modal-dim';
		var modal_active = 'modal_active';
		
		var modal_hover = false;
		$('['+modal_button+']').on('click', function(){
			var _target = $(this).attr(modal_button);
			$('['+modal_layer+'="'+_target+'"]').addClass(modal_active);
			$('html').css('overflow','hidden');
			return false;
		});

		$('[data-modal-close]').on('click', function(){
			if( $(this).parents('.'+modal_wrap).is('.'+modal_active) ){
				$('html').removeAttr('style');
				$(this).parents('.'+modal_wrap).removeClass(modal_active);
				modal_hover = false;
			}
			return false;
		});

		$('.'+modal_wrap).on('click', function(e){
			if( $(this).has(e.target).length === 0 && $(this).attr(modal_dim) !== 'false' ){
				$(this).removeClass(modal_active);
				$('html').removeAttr('style');
			}
		});
	});
</script>
<!-- 짧은 모달 -->
<div class="modal_wrap policy_modal" data-modal-layer="small_modal">
	<div class="modal_inner">
		<p class="modal_header">짧은 모달</p>
		<div class="modal_content">

		</div>
		<div class="modal_footer">
			<button type="button" class="btn_basic_line" data-modal-close="true"><i>닫기</i></button>
		</div>
		<button type="button" class="modal_close" data-modal-close="true"><i>닫기</i></button>
	</div>
</div>

<!-- 긴 모달 -->
<div class="modal_wrap agreement_modal" data-modal-layer="large_modal">
	<div class="modal_inner">
		<p class="modal_header">긴 모달</p>
		<div class="modal_content">
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
			긴 모달<br>
		</div>
		<div class="modal_footer">
			<button type="button" class="btn_basic_line" data-modal-close="true"><i>닫기</i></button>
		</div>
		<button type="button" class="modal_close" data-modal-close="true"><i>닫기</i></button>
	</div>
</div>

<!-- 내부 스크롤 -->
<div class="modal_wrap inner_scroll agreement_modal" data-modal-layer="inner_scroll_modal">
	<div class="modal_inner">
		<p class="modal_header">내부 스크롤</p>
		<div class="modal_content">
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
			내부 스크롤<br>
		</div>
		<div class="modal_footer">
			<button type="button" class="btn_basic_line" data-modal-close="true"><i>닫기</i></button>
		</div>
		<button type="button" class="modal_close" data-modal-close="true"><i>닫기</i></button>
	</div>
</div>
</body>
</html>