@charset "utf-8";

.button2{padding:15px 0;text-align:center;}

.win_check table { width:100%; text-align:center; }
.win_check table th { background:#f2f2f2; padding:10px 0; border-bottom: 2px solid #d9d9d9; border-right:1px solid #d9d9d9; color:#818181; font-size:13px;}
.win_check table th:last-child {border-right:none}
.win_check table tbody tr { background:#fff; font-size:13px;}
.win_check table td { border-right:1px solid #d9d9d9; border-bottom: 1px solid #ccc; color:#818181; font-size:13px;padding:10px 0; }
.win_check table td:last-child { border-right:none}

.account { margin-bottom:15px; }
.account .select1 { width:37%; margin-right:3%; float:left; -webkit-box-sizing: border-box; }

/* tab 筌롫뗀�뤀 */
.tab1.type2 > ul li.on { border: 1px solid #7f7f7f; border-bottom: none; }
.tab1.type2 > ul li:first-child.on { border-left: none; }
.tab1.type2 > ul li:last-child.on { border-right: none; }
.tab1.type2 > ul li.on a { background-color: #fff; color: #f4614d; border-top: 3px solid #f9b0a6; border-bottom: none; line-height: 71px; }
.tab1.type2 > ul li a { display: block; width: 100%; height: 55px; background-color: #f5f5f5; border-bottom: 1px solid #7f7f7f; border-top: 3px solid transparent; text-align: center; line-height: 71px; color: rgba(0, 0, 0, .5); -webkit-box-sizing: border-box; }

.tab1.type2 > ul.event_tab li { display: block; width: 25%; height: 55px; }
.event_tab a { display: block; height: 100%; padding-top: 0px; font-size: 13px; text-align: center; }
.event_tab li:first-child a { background: url(http://image.hyundaihmall.com/static/smart/2014/img/ico_event_off.png) no-repeat center 6px; background-size: 18px 18px; }
.event_tab li.on:first-child a { background: url(http://image.hyundaihmall.com/static/smart/2014/img/ico_event_on.png) no-repeat center 6px; background-size: 18px 18px; }
.event_tab li:nth-child(2) a { background: url(http://image.hyundaihmall.com/static/smart/2014/img/ico_point_off.png) no-repeat center 6px; background-size: 18px 18px ; }
.event_tab li.on:nth-child(2) a { background: url(http://image.hyundaihmall.com/static/smart/2014/img/ico_point_on.png) no-repeat center 6px; background-size: 18px 18px ; }
.event_tab li:nth-child(3) a { background: url(http://image.hyundaihmall.com/static/smart/2014/img/ico_attend_off.png) no-repeat center 6px; background-size: 18px 18px ; }
.event_tab li.on:nth-child(3) a { background: url(http://image.hyundaihmall.com/static/smart/2014/img/ico_attend_on.png) no-repeat center 6px; background-size: 18px 18px ; }
.event_tab li:last-child a { background: url(http://image.hyundaihmall.com/static/smart/2014/img/ico_lucky_off.png) no-repeat center 6px; background-size: 18px 18px ; }
.event_tab li.on:last-child a { background: url(http://image.hyundaihmall.com/static/smart/2014/img/ico_lucky_on.png) no-repeat center 6px; background-size: 18px 18px ; }

.discount_cop ul li { padding:7px 15px; border-bottom:1px solid #ccc; }
.discount_cop ul li a { display: block; overflow: hidden; }
.discount_cop ul li a div { height: 100%; line-height:1.4; margin-left:76px; padding-top: 7px; }
.discount_cop ul li a storng { display: block; font-size:12px; color:#444; font-weight: normal; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.discount_cop ul li a em { display:block; font-size:12px; color:#ef6856; font-style: normal; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.discount_cop ul li a span { display:block; font-size:10px; letter-spacing: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.discount_cop ul li img{ float:left; width: 65px; height: 60px;  background-size: 95px 51px; text-align:center; color:#444; font-size: 12px; }

.discount_cop2 { -webkit-box-sizing: border-box; }
.discount_cop2 em { font-style: normal; font-size:14px; }
.discount_cop2 em span { font-weight:bold; }
.discount_cop2 .live_event li dl { background-color:#f5f5f5; border-top:1px solid #ccc; padding:9px 0 15px 0; font-size:12px; line-height:1.4; border-bottom:1px solid #c4c4c4; }
.discount_cop2 .live_event li dl dt { float:left; margin:0 4px 0 66px; font-weight:bold; color: #646464; }
.discount_cop2 .live_event li dl dd { letter-spacing: 0; }
.discount_cop2 .live_event li:first-child p a { border-top:1px solid #999; }
.discount_cop2 .live_event li p a { display:block; height:37px; }
.discount_cop2 .live_event li p img { width:auto; height:37px; }

.point_tab { padding: 10px 15px 10px 16px; border-bottom: 1px solid #ccc; }
.point_tab li { display:table; float:left; width:33.3%; margin-left: -1px; -webkit-box-sizing: border-box; border:1px solid #ccc; height:45px; text-align:center; }
.point_tab li.on { background-color:#646464; border-color: #646464; }
.point_tab li.on a { color:#fff; }
.point_tab a { display:table-cell; vertical-align:middle; height:45px; margin:auto 0; line-height:1.4; }

.cek_search{padding:0 15px; padding-top:15px;}
.cek_search_list{padding:0 15px; }

.bt_type01 {width:100%;height:100%;color:#fff; }
.bt_type01 button { background-color:#5286a4; }

.button3 { margin-bottom: 15px; }

.event_img { position: relative; line-height: 0; border-bottom: 1px solid #999; }
.event_img .zoom { position: absolute; right: 0; bottom: 0; z-index: 2; width: 35px; height: 35px; display: block; background: url(http://image.hyundaihmall.com/static/smart/2014/img/ico_zoom.png) no-repeat center; background-size: 20px 20px; background-color: rgba(255, 255, 255, .9); text-indent: -9999px; }

/*tab*/
.tab1 .join_event .tbl_type3{ padding:0 15px; }
.tab2 .tabCon > div { border-bottom: none; }
.tab2 .tabCon p { margin-bottom: 15px; padding-top: 0px; text-align: center; line-height: 1.4; font-size: 14px; }
.tab1 .event_tab2 { padding: 15px; border-bottom:1px solid #999; -webkit-box-sizing: border-box; }
.tab1 .event_tab2 > li { width:50%; -webkit-box-sizing: border-box; text-align:center; height:35px; border-top: none; line-height:35px; }
.tab1 .event_tab2 > li a { display: block; height: 35px;  border:1px solid #ccc; text-align: center; line-height: 35px; background-color:#fff; color: rgba(0, 0, 0, .5); }
.tab1 .event_tab2 > li.on { -webkit-box-sizing: border-box; border:none;  height:35px; }
.tab1 .event_tab2 > li.on a { background-color:#646464; -webkit-box-sizing: border-box; color:#fff; border: none; line-height: 35px; }
.tab1 .event_tab2 > li.on:first-child { border-left: none; }
.tab1 .event_tab2 > li.on:last-child { border-right: none; }

.button2 .bType2 { width: 240px; height: 45px; background-color: #ef6856; font-size: 16px; color: #fff;  letter-spacing: -0.5px; }
.tbl_type1.tbl_type2 tr td:last-child {color:#ef6856; }
.tbl_type2 td { border-bottom: 1px solid #ccc; }
.tbl_type2 .need_login p { display: inline-block; padding-right: 10px; }
.tbl_type2 .need_login .link3 { display: inline-block; background-color: #ef6856; }

.account .search { background:#fff; float:right; width:60%; height:35px; -webkit-box-sizing: border-box; position:relative; border:1px solid #ccc; }
.account .search input { border:0 none; width: 100%; -webkit-box-sizing: border-box; height:33px; font-size: 16px; color: #818181; }
.account .search .btn_src { position:absolute; right:0; top:0; width:35px; height:35px; background:url(http://image.hyundaihmall.com/static/smart/2014/img/ico_src.png) no-repeat center; background-size:16px 15px; overflow:hidden; display:block; text-indent:-999px}

.tbl_type1 { width:100%; margin:15px 0; }
.tbl_type1 th { background:#f5f5f5; padding:10px 0; border-bottom: 2px solid #dcdcdc; border-right:1px solid #dcdcdc; color:#444; line-height: 1.4; font-weight: normal; font-size:12px; vertical-align: middle; }
.tbl_type1 th:last-child { border-right:none; }
.tbl_type1 tbody tr{ background:#fff; font-size:13px; }
.tbl_type1 tbody td { padding:11px 7px;  line-height:1.4; border-right:1px solid #e1e1e1; color:#818181; line-height:1.2; letter-spacing:0; text-align:center; font-size:13px; }
.tbl_type1 tbody td:nth-child(2) { text-align:left; }
.tbl_type1 tbody td p { margin-bottom:5px; text-align: left; }
.tbl_type1 tbody td:last-child { border-right:none; }
.tbl_type1 tbody td .txt_date { font-size:12px; }
.tbl_type1 tbody td *{vertical-align: baseline;}

.pay_care { background-color:#fef9f8; line-height:1.6; border-bottom: 1px solid #ccc; padding:15px; }
.pay_care ul { color:#818181; }
.pay_care dl { width:100%; color:#818181; }
.pay_care dl dt { float:left; }
.pay_care dl dd { margin-left:60px; }
.pay_care dl dd p {  }
.pay_care { background-color:#fef9f8; line-height:1.6; }
.pay_care p { color:#818181; margin-top:5px; }
.pay_care p span { color:#c42d19; }
.pay_care_top { color:#444; margin-top:5px; }

.my_check { padding:15px; border-bottom: 1px solid #ccc;}

/*ev502_2*/
.event_detail .detail_apply { padding:15px 0 0; }
.event_detail .sum_check { text-align:left; }
.event_detail .last_sum { text-align:center; }
.event_detail span { color:#ef6856; letter-spacing: 0; }
.event_detail img { width:100%; height:auto; }
.event_detail h3 { margin-bottom:5px; font-weight:700;}
.event_detail p { font-size:14px; line-height:1.4; }
.event_detail b { letter-spacing: -0.5px; font-weight:700;}
.event_detail b b{ vertical-align: baseline;}

/*�빊�뮇苑랃㎗�똾寃� 占쎌뵠沃섎챷占�*/
.event_explain { position: relative; text-align:center; padding: 15px 0; }
.event_explain img { width: 292px; height: 210px; margin: 0 auto; }
.event_explain a { position: absolute; top: 123px; right: 50%; width: 100px; height: 100px; margin-right: 48px; }
/*ev502 占쎈뮞占쏙옙占쎌뵬*/
.ev502 .cek_search div:first-child .myType3 { width:100%; }
.ev502 .tab2 .tabCon > div { padding: 0; }
.ev502 .tab2 .tabCon td { border-bottom: 1px solid #ccc; }
.ev502 .tab2 .tabCon p { margin-bottom: 2px; text-align: left; }
.ev502 .tab2 .tabCon .more_view button { margin: 0; border-top: 1px solid #ccc; border-bottom: none; }
.ev502 .bt_type01 { background-color: transparent; color: #818181; border: 1px solid #818181; -webkit-box-sizing: border-box; }

.ev502 .cek_search div:first-child { margin-bottom:15px; }
.ev502 .cek_search div:first-child button{ -webkit-box-sizing: border-box; height:35px; width:40%; background-color:#28c1bc; font-size:15px; color:#fff; vertical-align:bottom;}
.ev502 .cek_search div:first-child select{ width: 56.5%; -webkit-box-sizing: border-box; margin-right: 2.5%; }
.ev502 .cek_search div:nth-child(2) select { width:35%; }

/*ev506 占쎈뮞占쏙옙占쎌뵬*/
.ev506 .script { border-bottom: 1px solid #ccc; }
.ev506 .script .date { color: #ef6856; font-size: 12px; display: block; margin-top: 3px; }

/*ev508 占쎈뮞占쏙옙占쎌뵬*/
.ev508 .tabCon > div { padding: 0; }
.ev508 .tab1 .event_tab2 > li.on a { height: 37px; }
.my_event_script { display: block; padding: 15px 15px 0; }

/*list2 dl*/
dl.list2 { text-align:left; line-height:1.4; border-top:1px solid #e5e5e5; color:#818181; font-size:11px; }
dl.list2 dt { float: left; margin-right: 5px; font-weight: bold; text-indent: -10px; padding-left: 10px; }
dl.list2 dd { margin-bottom: 5px; margin-left: 64px; }

/*占쎈뼎占쎌젾*/
.event_calendar table { width: 100%; }
.event_calendar th { height: 30px; background-color: #ef6856; color: #fff; font-weight: normal; font-size: 10px; }
.event_calendar td { border-right: 1px solid #ececec; border-bottom: 1px solid #ececec; }
.event_calendar td > div { position: relative; width: 100%; height: 50px; font-size: 12px; color: #818181; text-align: center; line-height: 0; }
.event_calendar td div > span { position: absolute; top: 3px; left: 2px; line-height: 1; }
.event_calendar td:first-child { color: #ef6856; }
.event_calendar td:last-child { border-right: none; color: #5aafe5; }
.event_calendar td img { width: auto; height: 50px; }
.event_calendar .cal_days_bef_aft div > span { opacity: .4; }
.event_calendar .event_point { position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding-top: 25px; font-size: 9px; color: #fff; text-align: center; line-height: 1.2; -webkit-box-sizing: border-box; }
.event_calendar .event_point span { display: block; text-align: center; }

.list9 .list_coupon li { position: relative; margin:10px 15px; border:1px solid #ccc; }
/* list9 .list_coupon li:first-child a { background: url(http://image.hyundaihmall.com/static/smart/2014/img/@ev_img1.png) no-repeat 0 0; background-size: 289px 89px ; }
.list9 .list_coupon li:nth-child(2) a { background: url(http://image.hyundaihmall.com/static/smart/2014/img/@ev_img2.png) no-repeat 0 0; background-size: 289px 89px ; }
.list9 .list_coupon li:last-child a { background: url(http://image.hyundaihmall.com/static/smart/2014/img/@ev_img3.png) no-repeat 0 0; background-size: 289px 89px ; } */
.list9.type2 a { padding: 0; }
.list9.type2 img { width: 289px; height: 89px; }
.list9.type2 .info_coupon { position: absolute; top: 45px; left: 0; width: 100%; margin: 0; padding-left: 89px; }
.list9.type2 dl { line-height: 14px; height: 28px; }

/*占쎌쑏占쎄텕獄쏉옙*/
.lucky_back { line-height:0; position:relative; width:100%; height:100%; border-bottom:1px solid #979797; background:url(http://image.hyundaihmall.com/static/smart/2014/img/lucky_bg.png) repeat 0 0; background-size:50.1px 50px; }
.lucky_back p { line-height:1; }
.luck_entry { width:95%;  padding-top:15px; height:135px; margin:0 auto 20px auto;  background-color:#fff4f8; border:4px solid #fff; -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .4); -webkit-box-sizing: border-box;  }
.luck_entry img { width:23px; vertical-align:middle; margin-right:8px; }
.luck_entry .link2 { width:240px; height:40px; margin-top:10px; line-height:40px; background-color:#33c22c; font-size:19px; }
.luck_entry span { display:block; text-align:center; }
.luck_entry span:first-child { padding-bottom:10px; font-size:13px; color:#444; }
.luck_entry span:first-child em { font-style: normal; font-size:13px; color:#ff0764; }
.sharing  em { font-style: normal; font-size:14px; color:#000; }
.sharing span { display:inline-block; vertical-align:middle; font-size:11px; }

/* 占쎌쑏占쎄텕獄쏉옙  占쎈솚占쎈씜 */
.event_popup { display: none; position: fixed; top: 0; left: 0; z-index: 8888; width: 100%; height: 100%; padding: 20px; -webkit-box-sizing: border-box; }
.lucky_box .pop_head { position: relative; display: table; width: 100%; height:70px; z-index: 1; }
.lucky_box .lucky_goods { display: block; padding: 15px; }
.lucky_box .goods_img { margin-right: 10px; }
.lucky_box .goods_dsc { margin-left: auto; padding:43px 15px 0 0 ; }
.lucky_box .pop_tit span { display:inline-block; line-height:1.4; }
.lucky_box .count_hours { background:#3bbeb8; color:#fff; -webkit-box-sizing: border-box; padding:8px 0 8px 0; height:30px; text-align:center; line-height:14px; border-bottom:1px solid #2f9893; font-size:15px;  }
.lucky_box .count_hours span { font-size:18px; }
.lucky_box .how_box.list7 { border-bottom:1px solid #2f9893; }
.lucky_box .button2 { background-color:#f8f8f8; }
.lucky_box .button2 .bType1 { letter-spacing: -1.4px; }
.lucky_box .button2 .bType1:first-child { background-color:#a7a7a7; }
.lucky_box .borBot1 { background-color: #fff; }
.lucky_box .how_con { height: 360px; overflow: hidden; }
.lucky_box .pop_head h3 { display: table-cell; padding: 0 20px; vertical-align: middle; }

.event_popup2 { display: none; position: fixed; top: 0; left: 0; z-index: 8888; width: 100%; height: 100%; padding: 10px; -webkit-box-sizing: border-box; }
.event_popup2 .lucky_box { width: 100%; }
.event_popup2 .lucky_box .how_box.list7 { border-bottom:1px solid #c6c6c6; }
.event_popup2 .lucky_box .pop_head { position: relative; font-size:18px; display: table; width: 100%; height:40px; z-index: 1; }
.event_popup2 .how_box p { text-align:center; font-size:14px; }
.event_popup2 .bType1 { width:135px; }
.event_popup2 .pop_head a { position: absolute; display: block; background:url(http://image.hyundaihmall.com/static/smart/2014/img/ico_removeT.png) no-repeat center; background-size:18px 18px;top: 0; right: 0; width: 40px; height: 40px; }

/*�겫占썹뙴�뫀彛뤻뇡占�*/
.blue_marble { position: relative; padding: 59% 15px 15px; background: url(http://image.hyundaihmall.com/static/smart/2014/img/img_blue_back.png) no-repeat 0 0; background-size: 100% auto; border-bottom: 1px solid #ccc; }
.blue_marble table, .blue_marble tr, .blue_marble th, .blue_marble td { border-collapse: collapse; border-spacing:0px; }
.blue_marble table { width:100%; border: 4px solid #4d4d4d; background-color: #fff; -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, .15); }
.blue_marble table td{ padding-top: 14%; border:1px solid #4d4d4d; text-indent: -9999px; }
.blue_marble table td span { display: block; width: 0; height: 0; font-size: 0; overflow: hidden; }
.blue_marble p { padding-top: 15px; text-align: center; color: #646464; font-size: 14px; }
.blue_marble p span { color: #ef6856; }
.blue_marble button { position: absolute; top: 44%; left: 18%; width: 64%;  padding-top: 66%; background: url(http://image.hyundaihmall.com/static/smart/2014/img/img_blue_dice.png) no-repeat center; background-size: 100% auto; border: none; outline: none; }
.blue_marble button .remain { position: absolute; bottom: 15px; left: 50%; width: 170px; height: 18px; margin-left: -85px; padding: 0; background-color: rgba(239, 104, 86, .1); font-size: 11px; -webkit-border-radius: 9px; line-height: 18px; text-indent: 0; }
.blue_marble button.touch { background: url(http://image.hyundaihmall.com/static/smart/2014/img/img_blue_ready.png) no-repeat center; background-size: 100% auto; }
.blue_marble button.shake { background: url(http://image.hyundaihmall.com/static/smart/2014/img/img_blue_ready2.png) no-repeat center; background-size: 100% auto; }
.men { position: absolute; left: 19px; top: 4px; width: 12%; padding-top: 14%; background: url(http://image.hyundaihmall.com/static/smart/2014/img/img_blue_men.png) no-repeat center; background-size: 100%; }
.event_content { padding: 10px 15px; border-bottom: 1px solid #ccc; font-size: 11px; line-height: 1.4; }
.event_content h4 { margin-bottom: 4px; padding-top: 5px; color: #444; font-weight: normal; letter-spacing: -0.5px; }
.event_content p { margin-bottom: 4px; color: #818181; }
.blue1 { background: url(http://image.hyundaihmall.com/static/smart/2014/img/img_blue1.png) no-repeat center, #f96b54; background-size: 100% auto; }
.blue2 { background: url(http://image.hyundaihmall.com/static/smart/2014/img/img_blue2.png) no-repeat center, #ffdd54; background-size: 100% auto; }
.blue3 { background: url(http://image.hyundaihmall.com/static/smart/2014/img/img_blue3.png) no-repeat center, #f0eeee; background-size: 100% auto; }
.blue4 { background: url(http://image.hyundaihmall.com/static/smart/2014/img/img_blue4.png) no-repeat center, #4079f9; background-size: 100% auto; }
.blue5 { background: url(http://image.hyundaihmall.com/static/smart/2014/img/img_blue5.png) no-repeat center, #4079f9; background-size: 100% auto; }
.blue6 { background: url(http://image.hyundaihmall.com/static/smart/2014/img/img_blue6.png) no-repeat center, #4079f9; background-size: 100% auto; }
.blue7 { background: url(http://image.hyundaihmall.com/static/smart/2014/img/img_blue7.png) no-repeat center, #28c1bc; background-size: 100% auto; }
.blue8.end { position:relative; background: url(http://image.hyundaihmall.com/static/smart/2014/img/img_blue_end.png) no-repeat 0 0, #666; background-size: 100% auto; }

.blue_pop { width: 100%; }
.blue_pop .pop_head { position: relative; display: table; width: 100%; height: 40px; z-index: 1; }
.blue_pop .pop_tit span { display: inline-block; line-height: 1.4; }
.blue_pop .dice_info { padding: 25px; background-color: #fff; border-bottom: 1px solid #ccc; }
.blue_pop .dice_info .dice { width: 149px; height: 64px; margin: 0 auto; }
.blue_pop .dice_info .dice_result { margin-top: 23px; text-align: center; font-size: 18px; }
.blue_pop .dice_info .dice_result span { color: #ef6856; font-size: 20px; }
.blue_pop .button2 { background-color: #f8f8f8; }
.blue_pop .button2 .bType1 { letter-spacing: -1.4px; }

.move_dice { position: absolute; top: 44%; left: 18%; width: 64%; padding-top: 32%; border: none; outline: none; text-align: center; }
.move_dice img { width: 28%; margin: 0 4%; }
.move_dice img:last-child { -webkit-transform: rotate(180deg); }
.move_dice .move { display: none; }

/* 占쏙옙占쎌뿫 占쎄쉭占쎌뵬 */
.time_sale { display: block; padding-bottom: 15px; background: #eb4d41 url(http://image.hyundaihmall.com/static/smart/2014/img/time_sale_bg.png) repeat; background-size: 40px 40px; }
.time_sale .goods_dsc { padding-top: 0; margin-left: 130px; }
.time_sale .goods_dsc .price2 { display: block; margin-left: 50px; margin-bottom: 5px; font-size: 18px; font-weight: normal; letter-spacing: -1.2px; }
.time_sale .goods_dsc .price1 { display: block; margin-left: 50px; font-size: 14px; }
.time_sale .goods_list > ul { padding: 0 15px; border-top: 1px solid #ccc; }
.time_sale .goods_list .item > li { padding: 15px 0; border-bottom: 1px solid #ccc; }
.time_sale .goods_img { width: 100%; height: auto; background: none; border: none; }
.time_sale .goods_dsc h4 { margin-bottom: 15px; }
.time_sale .time_bar { width: 100%; height: 10px; border-bottom: 1px solid #7f7f7f; background-color: #6d6320; }
.time_sale .time_bar span { display: block; width: 50%; height: 10px; background-color: #ffde00;}
.sale_list { background-color: #fff; margin: 0 15px 15px 15px;  -webkit-border-radius: 4px; -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .8); }
.sale_list .countdown { background-color: #2e2e2e; text-align: left; padding: 10px; -webkit-border-radius: 4px 4px 0 0 ; font-size: 15px; color: #fff; }
.sale_list .countdown span { display: inline-block; vertical-align: text-top; margin-right: 5px; width: 15px; height: 15px; background: url(http://image.hyundaihmall.com/static/smart/2014/img/ico_time_watch.png) no-repeat left center; background-size: 15px auto; }
.sale_list .countdown storng { font-size: 18px; color: #ffde00; }
.sale_list .countdown p:last-child { opacity: .8; }

.surplus { position: absolute; top: 15px; right: -9px;  display: inline-block; width: 130px; color: #ed503b; padding-bottom: 10px; text-align: left; font-size: 12px; letter-spacing: -2px;}
.surplus .num_bor { display: inline-block; position: relative; letter-spacing:0; }
.surplus .num_bor span { display: inline-block; position: relative; width: 18px; margin-left: 2px; height: 24px; text-align: center; background: url(http://image.hyundaihmall.com/static/smart/2014/img/number_board.png) no-repeat center; background-size: 18px 24px; line-height: 26px; font-size: 20px; font-weight: bold; color: #000; }
.surplus .num_bor span:after { content: ''; display: block; position: absolute; left: 0; top: 12px; width: 18px; height: 1px; background-color: #000; border-bottom: 1px solid #fff; opacity: .4;}
.discount_rate { display: inline-block; position: absolute; top: 77px; left: 0; width: 45px; text-align: center; line-height: 45px;  height: 45px; background-color: #ed503b; -webkit-border-radius: 45px; border-radius: 45px; color: #fff; font-size: 14px;}
.discount_rate span { font-size: 21px; }
.time_sale .goods_list .coupon { padding-top: 15px; border: none; }
.time_sale .coupon .surplus { position: inherit; vertical-align: top; line-height: 28px; }
.time_sale .coupon li { float: left; border: none; padding: 0; display: inline-block; width: 50%; }
.time_sale li.off .goods_img:after { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(http://image.hyundaihmall.com/static/smart/2014/img/img_sold_out.png) no-repeat center; background-size: 100% auto; }
.time_sale li.off .coupon_con:after { content: ""; position: absolute; top: 0; left: 0; width: 121px; height: 64px; background: url(http://image.hyundaihmall.com/static/smart/2014/img/img_sold_out2.png) no-repeat center, rgba(0,0,0,.6); background-size: 121px auto; }

.time_sale .coupon .coupon_con { float:left; position: relative; margin-bottom: 15px; margin-right: 5px; width: 121px; height: 64px; background: url(http://image.hyundaihmall.com/static/smart/2014/img/red_coupon.png) no-repeat; background-size: 100% auto;}
.time_sale .coupon .coupon_con.plus { background: url(http://image.hyundaihmall.com/static/smart/2014/img/blue_coupon.png) no-repeat; background-size: 100% auto; }
.time_sale .coupon .coupon_con .sale { display: block; margin-top: 16px; font-size:13px; color:#444; text-align:center; line-height: 1.2; font-weight:bold; letter-spacing: 0;}
.time_sale .coupon .coupon_con .sale em { font-size:18px; font-style: normal; }
.time_sale .coupon .coupon_con .part { display: block; font-size: 11px; color:#818181; text-align:center;}

/* 20141211_ EVENT */
.time_sale { background-color:#030304; }
.time_sale .coupon { text-align:center; }
.time_sale .coupon li { float:none; width:100%; }
.time_sale .coupon .coupon_con { display:inline-block; float:none; width:220px; height:117px; margin-right:0px; }
.time_sale li.off .coupon_con:after { width:220px; height:117px; background-size:220px 117px; }

.time_sale .coupon .coupon_con .sale { margin-top:40px; font-size:25px; }
.time_sale .coupon .coupon_con .sale em { font-size:30px; }
.time_sale .coupon .coupon_con .part { font-size:15px; }

/* 20141010_ LUCKYBACK */
.lucky_back { border-bottom:0px; background-image:none; }
.luck_entry { width:100%; height:auto; margin:0px; padding:0px; border:0px; -webkit-box-shadow:none; background-color:#fff; }
.luck_entry .link2_2 { content:url(http://image.hyundaihmall.com/static/smart/2014/event/20141010_event/20141010_event1.jpg); width:100%; height:auto; line-height:40px; text-indent:-9999px; background-color:#fff; overflow:hidden; }

/* APPZINE 2015 */
.appzinesub_wrap .appzine_input.type2 span, .appzine_wrap ul li .appzine_share p, .appzine_wrap ul li .appzine_share a, .appzinesub_wrap .appzine_share a, .appzinesub_wrap .appzine_list li p, .appzinesub_wrap .appzine_reply li sub a { display:block; background-image:url('http://image.hyundaihmall.com/static/smart/2015/mobile/images/appzine_img.png'); background-repeat:no-repeat; background-size:110px 275px; }

.appzine_wrap, .appzinesub_wrap { position:relative; background-color:#e5e5e5; overflow:hidden; }
.appzine_wrap .appzine_bn { display:block; margin-bottom:5px; }
.appzine_wrap .appzine_bn img { display:block; }

.appzine_wrap ul { padding:0px 8px; overflow:hidden; }
.appzine_wrap ul.hor-zero-pd	{ padding-right:0; padding-left:0 }

/* 170317 - 사진업로드 작성 사진 첨부 10개영역 추가 - rlatkdals */
.appzine_wrap .add_image .overflow-pd	{ width:100%; height:85px; margin-top:15px; -webkit-overflow-scrolling:touch; overflow-scrolling:touch; overflow-x:auto; overflow-y:hidden }
.appzine_wrap .add_image .overflow-pd .hor-zero-pd	{ width:985px; padding-top:0 }
.appzine_wrap .add_image .overflow-pd .hor-zero-pd:after	{ clear:left; content:""; display:block }
.appzine_wrap .add_image .overflow-pd .hor-zero-pd li	{ float:left; margin-right:10px }
.appzine_wrap .add_image .overflow-pd .hor-zero-pd li:last-child	{ margin-right:0 }

.appzine_wrap ul li { margin-bottom:5px; background-color:#fff; }
.appzine_wrap ul li .appzine_title { padding:10px; }
.appzine_wrap ul li .appzine_title > strong { color:#ef6856; font-size:18px; }
.appzine_wrap ul li .appzine_title p { font-size:16px; color:#333; line-height:26px; font-weight:bold; }
.appzine_wrap ul li .appzine_title sub { display:block; height:13px; margin-top:5px; color:#a2a2a2; font-size:13px; }

.appzine_wrap ul li .appzine_share { height:21px; padding:10px 8px; overflow:hidden; }
.appzine_wrap ul li .appzine_share p, .appzine_wrap ul li .appzine_share a { float:left; width:35px; color:#9c9c9c; }
.appzine_wrap ul li .appzine_share a { color:#9c9c9c; }
.appzine_wrap ul li .appzine_share a.selected { color:#ef6856; }
.appzine_wrap ul li .appzine_share p.share_good { height:15px; margin-top:2.5px; padding-left:12px; font-weight:bold; line-height:15px; background-position:0px 4px; }
.appzine_wrap ul li .appzine_share p.share_cmt { height:15px; margin-top:2.5px; padding-left:14px; font-weight:bold; line-height:15px; background-position:-48px 3px; }
.appzine_wrap ul li .appzine_share a.share_likebtn { float:right; width:50px; height:20px; padding-left:22px; font-weight:bold; line-height:20px; background-position:0px -12px; }
.appzine_wrap ul li .appzine_share a.share_likebtn.selected { background-position:0px -35px; }
.appzine_wrap ul li .appzine_share a.share_sharebtn { float:right; width:50px; height:20px; padding-left:22px; font-weight:bold; line-height:20px; background-position:0px -58px; }
.appzine_wrap ul li .appzine_share a.share_sharebtn.selected { background-position:0px -80px; }

.appzinesub_wrap img { display:block; width:100%; }

.appzinesub_wrap .appzine_title { padding:10px; background-color:#fff; }
.appzinesub_wrap .appzine_title > strong { color:#ef6856; font-size:18px; }
.appzinesub_wrap .appzine_title sub { display:block; height:13px; margin-top:8px; color:#a2a2a2; font-size:13px; }

.appzinesub_wrap .goods_list { margin-top:10px; }
.appzinesub_wrap .goods_list img { padding:0px; }

/* 170119 전인표 */
.appzinesub_wrap .goods_list.infinite { overflow-x:auto !important; -webkit-overflow-scrolling: touch; }
.goods_list.infinite.type2 ul { width: auto !important; padding:15px 10px 0 10px !important; overflow: auto !important; white-space:nowrap; -webkit-overflow-scrolling:touch; }
.goods_list.infinite.type2 ul li { display:inline-block; white-space:normal; width: 42%; padding:0 5px !important; float: none !important; }
.goods_list.infinite.type2 li:nth-child(even) { padding:0 5px !important; }
.goods_list.infinite.type2 ul::-webkit-scrollbar { display: none; }
.goods_list.infinite.type2 h4 { height:22px !important; }
.goods_list.infinite.type2 .goods_dsc h4 { white-space:nowrap; text-overflow:ellipsis; }
.goods_list.infinite.type2 .goods_dsc { height:76px !important; }

.appzinesub_wrap .appzine_slide { position:relative; /* margin:10px;  */overflow:hidden; }

.appzinesub_wrap .appzine_slide .guide_btn { position:absolute; width:26.5px; height:32.5px; top:40%; left:10px; z-index:1; background-image:url('http://image.hyundaihmall.com/static/smart/2015/mobile/images/main1_img.png'); background-size:200px 200px; background-repeat:no-repeat; background-position:0px 0px; text-indent:-9999px; overflow:hidden; }
.appzinesub_wrap .appzine_slide .guide_btn.next { left:inherit; right:10px; background-position:-37.5px 0px; }

.subdetail_popup .popup_slidebtn a { display:block; width:100%; height:100%; background-image:url('http://image.hyundaihmall.com/static/smart/2015/mobile/images/main1_img.png'); background-size:200px 200px; background-repeat:no-repeat; background-position:0px 0px; text-indent:-9999px; overflow:hidden; }
.subdetail_popup .popup_slidebtn.next a { background-position:-37.5px 0px; }

.appzinesub_wrap .appzine_slide .slide_wrap, .appzinesub_wrap .appzine_slidebtm { position:relative; overflow:hidden; }
.appzinesub_wrap .appzine_slide .slide_wrap li { float:left; width:100%; }
.appzinesub_wrap .appzine_slide .slide_wrap li p { padding:5px 5px 0px 5px; }

.appzinesub_wrap .appzine_slidebtm { margin-bottom:10px; padding:10px; text-align:center; background-color:#000; }
.appzinesub_wrap .appzine_slidebtm * { color:#fff; }
.appzinesub_wrap .appzine_slidebtm > * { display:inline-block; }

.appzinesub_wrap .appzine_share { display:-webkit-box; height:50px; margin:10px 0px; padding:15px 10%; text-align:center; overflow:hidden; justify-content:space-between; align-items:center; -webkit-box-orient:horizontal; -webkit-box-pack:justify; -webkit-box-align:center; background-color:#fff; }
.appzinesub_wrap .appzine_share a { display:block; width:50px; height:100%; padding-top:35px; font-size:14px; vertical-align:top; text-align:center; font-weight:bold; box-sizing:border-box; color:#9c9c9c; }
.appzinesub_wrap .appzine_share a.selected { color:#ef6856; }

.appzinesub_wrap .appzine_share a.share_likebtn { background-position:9px -104px; }
.appzinesub_wrap .appzine_share a.share_likebtn.selected { background-position:-40px -104px; }
.appzinesub_wrap .appzine_share a.share_cmtbtn { background-position:9px -154px; }
.appzinesub_wrap .appzine_share a.share_cmtbtn.selected { background-position:-40px -154px; }
.appzinesub_wrap .appzine_share a.share_sharebtn { font-size:12px; background-position:9px -204px; }
.appzinesub_wrap .appzine_share a.share_sharebtn.selected { background-position:-40px -204px; }

.appzinesub_wrap .appzine_input { padding:14px 8px; background-color:#fff; }
.appzinesub_wrap .appzine_input.type2 { margin-bottom:10px; padding:4px 8px; background-color:transparent; }
.appzinesub_wrap .appzine_input.type2 span { height:17px; margin-bottom:5px; padding-left:25px; font-size:14px; color:#ef6856; font-weight:bold; background-position:-90px -247px; }
.appzinesub_wrap .appzine_input strong { display:block; margin-bottom:8px; line-height:16px; color:#686868; font-weight:normal; }
.appzinesub_wrap .appzine_input.type2 strong { margin-bottom:0px; }
.appzinesub_wrap .appzine_input textarea { width:75%; height:60px; border:1px #b3b3b3 solid; }
.appzinesub_wrap .appzine_input button { float:right; width:20%; height:70px; font-size:14px; color:#fff ;font-weight:bold; background-color:#8f8f8f; }

.appzinesub_wrap .appzine_reply { background-color:#fff; }
.appzinesub_wrap .appzine_reply li { padding:15px 12px; border-bottom:1px #c6c6c6 dotted; color:#3f3f3f; letter-spacing:-0.5px; }
.appzinesub_wrap .appzine_reply li:last-of-type { border-bottom:0px; }
.appzinesub_wrap .appzine_reply li > span.best { height:16px; line-height:16px; padding:0px 5px; font-size:10px; font-weight:bold; color:#fff; background-color:#ef6856; vertical-align:top; }
.appzinesub_wrap .appzine_reply li sub { display:block; margin-top:8px; font-size:13px; color:#757575; }
.appzinesub_wrap .appzine_reply li sub a { display:inline-block; width:20px; height:11px; margin-left:5px; vertical-align:top; background-position:right -264px; }
.appzinesub_wrap .appzine_reply li.more_btn { padding:0px; }
.appzinesub_wrap .appzine_reply li.more_btn button { display:block; width:100%; padding:20px; font-weight:bold; font-size:15px; color:#4c4c4c; text-align:center; background-color:#fff; }

.appzinesub_wrap .appzine_list { margin:8px 0px; background-color:#fff; overflow:hidden; }
.appzinesub_wrap .appzine_list li { padding:5px 12px; border-bottom:1px #c6c6c6 dotted; color:#3f3f3f; overflow:hidden; }
.appzinesub_wrap .appzine_list li:last-of-type { border-bottom:0px; }
.appzinesub_wrap .appzine_list li p { float:left; width:40px; margin:15px 5px 0px 0px; padding-top:11px; color:#3a3a3a; text-align:center; background-position:14px -261px; }
.appzinesub_wrap .appzine_list li:last-of-type p { background-position:-40px -261px; }
.appzinesub_wrap .appzine_list li img { float:left; width:20%; margin-right:10px; }
.appzinesub_wrap .appzine_list li .list_title { float:left; width:60%; padding-top:13px; color:#a2a2a2; font-size:11px; }
.appzinesub_wrap .appzine_list li .list_title strong { display:block; width:100%; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; color:#333; font-size:16px; }
.appzinesub_wrap .appzine_list li .list_title sub { display:block; margin-top:8px; font-size:13px; }

.appzinesub_wrap .appzine_listbtn { display:block; width:100%; margin-bottom:20px; padding:20px; box-sizing:border-box; font-weight:bold; font-size:15px; color:#4c4c4c; text-align:center; background-color:#f6f6f6; }

.appzinesub_wrap .appzine_imgsave { background-color:#fff; }
.appzinesub_wrap .appzine_imgsave button span { display:inline-block; width:20px; height:20px; margin-right:5px; vertical-align:middle; background-image:url('http://image.hyundaihmall.com/static/smart/2016/mobile/images/icon/icon.png'); background-size:100px 100px; background-repeat:no-repeat; }
.appzinesub_wrap .appzine_imgsave button:first-of-type span { background-position:0px 0px; }
.appzinesub_wrap .appzine_imgsave button:last-of-type span { background-position:0px -23px; }

.sns_pop { display:block; width:100%; height:40px; padding:5px 0px; line-height:40px; }
.sns_pop img { width:auto; height:100%; margin-right:10px; vertical-align:middle; }

.appzine_wrap .main_appzine_menuwrap { position:relative; width:100%; height:50px; margin-bottom:5px; border-bottom:1px #d0d0d0 solid; overflow-x:auto; }
.appzine_wrap .main_appzine_menu { width:100%; height:50px; padding:0px; background-color:#fff; }
.appzine_wrap .main_appzine_menu li { float:left; width:40px; height:40px; margin:5px; overflow:hidden; }
.appzine_wrap .main_appzine_menu li a { position:relative; display:block; width:100%; height:100%; border-radius:100px; color:#222; overflow:hidden; }
.appzine_wrap .main_appzine_menu li a.selected { color:#fff; background-color:#ef6855; }
.appzine_wrap .main_appzine_menu li a span { position:relative; display:block; top:50%; transform:translateY(-50%); text-align:center; }

.appzine_wrap .appzine_menuwrap { position:relative; width:100%; height:50px; margin-bottom:5px; border-bottom:1px #d0d0d0 solid; overflow-x:auto; background:#FFF }
.appzine_wrap .appzine_menu { width:100%; height:50px; padding:0px; background-color:#fff; }
.appzine_wrap .appzine_menu li { float:left; width:38px; height:40px; margin:5px; overflow:hidden; }
.appzine_wrap .appzine_menu li a { position:relative; display:block; width:100%; height:100%; border-radius:100px; color:#222; overflow:hidden; }
.appzine_wrap .appzine_menu li a.selected { color:#fff; background-color:#ef6855; }
.appzine_wrap .appzine_menu li a span { position:relative; display:block; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); text-align:center; }

.appzine_wrap .textarea2 textarea	{ font-size:16px; font-family:'Helvetica', Arial, Verdana, sans-serif; letter-spacing:0 }
/* // APPZINE 2015 */

.picEvWrap {
	background:#fff; border-bottom:2px solid #ccc; margin-bottom:10px;
}
.picEvWrap .picEvWrap_pd {
	padding:20px 10px 10px 10px;
}
.picEvWrap .btn_style {
	padding: 0;
}
.picEvWrap .btn_style button {
	font-size:18px; height:42px; line-height:44px;
}
.picEvWrap .subCnt {
	font-size:16px; font-weight:bold; margin-top:20px; margin-left:10px; margin-bottom:10px;
}
.picEvWrap .navWrap {
	white-space:nowrap;margin-bottom:20px;
}
.picEvWrap .navWrap .info_mgb15 {
	padding:0; vertical-align:top; width:50%; border:0; display:inline-block;
}
.picEvWrap .navWrap .subArray {
	display:inline-block; vertical-align:top; width:49%; text-align:right;
}

.picEvWrap .tabCon .list_pic {
	height:160px;border:0;margin:0;border:1px solid #ddd;margin-bottom:10px;
}
.picEvWrap .tabCon .list_pic .pic_wrap {
	padding-left:180px;
}
.picEvWrap .tabCon .list_pic .only_title {
	padding:10px;
}
.picEvWrap .tabCon .list_pic .review_title_p {
	height:46px;font-size:18px;line-height:1.3;font-weight:normal;overflow: hidden;
}
.picEvWrap .tabCon .list_pic .review_title_p_hide {
	display:none;margin-top:5px;font-size:18px;line-height:1.3;font-weight:normal;overflow: hidden;
}
.picEvWrap .tabCon .list_pic .review em {
	font-size:16px;color:#aaa;line-height:1.3;white-space:nowrap;margin-top:5px;
}
.picEvWrap .tabCon .list_pic .review .span_hide {
	display:none;
}
.picEvWrap .tabCon .list_pic .pic_right {
	width:180px;height:160px;left:0;top:0;
}
.picEvWrap .tabCon .list_pic .pic_right div {
	width:100%;height:100%;position:relative;
	background-position:center;background-size:cover;background-repeat:no-repeat;
}
.picEvWrap .tabCon .list_pic .pic_right .magIcon {
	width:38px;position:absolute;bottom:0;right:0;
}
.picEvWrap .tabCon .list_pic .heartCnt {
	position:absolute;right:10px;bottom:10px;
}
.picEvWrap .tabCon .list_pic .heartCnt img {
	width:36px;display:inline-block;vertical-align:middle;margin-right:5px;
}
.picEvWrap .tabCon .list_pic .heartCnt span {
	font-size:18px;color:red;display:inline-block;vertical-align:middle;
}

.picEvWrap .navWrap .subArray .check1 {
	font-size:16px;
}
.picEvWrap .navWrap .subArray .check1 label {
	margin-right:5px; line-height:34px;
}
.picEvWrap .navWrap .subArray .check1 input {
	width: 32px; height:32px; background-size:22px 18px;
}
.picEvWrap .thumbImg {
	display:none;
}

.picEvWrap .list_pic.active {
	height: auto !important;
}
.picEvWrap .list_pic.active .pic_right {
	position:relative;
	width: 100% !important;
	height: auto !important;
}
.picEvWrap .list_pic.active .pic_right div {
	background:none;
}
.picEvWrap .list_pic.active .pic_wrap {
	padding: 10px 0 !important;
}
.picEvWrap .list_pic.active .magIcon {
	display: none !important;
}
.picEvWrap .list_pic.active .review_title_p {
	font-weight: 700 !important;
}
.picEvWrap .list_pic.active .review_title_p_hide {
	display: block !important;
}
.picEvWrap .list_pic.active .br_hide {
	display: none !important;
}
.picEvWrap .list_pic.active .span_hide {
	display: inline-block !important;
}
.picEvWrap .list_pic.active .thumbImg {
	display:block;
}

.commWrap {
	background:#fff;
	padding:20px 10px 0 10px;
	position:relative;
}
.commEvWrap .tarea_list {
	font-size:13px;
	line-height:22px;
	padding:10px;
	letter-spacing:0;
	height:44px;
	border:1px solid #ddd !important;
	box-sizing:content-box;
}
.commEvWrap .commSubBtn {
	position:absolute;
	right:10px;
	top:20px;
	width: 100px;
	height: 66px;
	background-color: #ef6856;
	font-size: 16px;
	color: #fff;
}
.commEvWrap .commTextList {
	padding:15px 10px;
	margin-bottom:0;
}
.commEvWrap .commText {
	word-break:break-all;
	font-size:14px;
	line-height:1.2;
	margin-bottom:12px;
}
.commEvWrap .commInfo1 {
	font-size:13px;
	color:#ef6855;
	letter-spacing:0;
	margin-right:20px;
}
.commEvWrap .commInfo2 {
	font-size:13px;
	color:#aaa;
	letter-spacing:0;
}

.commEvWrap .commDel {
	font-size:13px;
	color:#ef6855;
	letter-spacing:0;
	margin-left:20px;
	float:right;
}

.commEvWrap .event_list {
	border-top:none !important;
	margin-top:0 !important;
}

/* 페이스북 이벤트 */
.facebook_like {
	display:inline-block;
	width:60px;
	height:30px;
	vertical-align:middle;
	background-image:url('http://image.hyundaihmall.com/static/smart/2016/mobile/images/icon/icon.png');
	background-position:0px -44px;
	background-size:100px 100px;
}
/* // 페이스북 이벤트 */


/* 사진 이벤트 2단 수정 */
.picEvWrap.cols2 .tabCon .list4 {
	width:100%;
}
.picEvWrap.cols2 .tabCon #detail_cont_3 {
	padding:0;
}
.picEvWrap.cols2 .tabCon .list_pic {
	height:300px;border:0;margin:0;border:1px solid #ddd;margin-bottom:10px;width:49%;min-width:140px;float:left;
}
.picEvWrap.cols2 .tabCon .list_pic .pic_wrap {
	padding-left:0; padding-top:160px;
}
.picEvWrap.cols2 .tabCon .list_pic .only_title {
	padding:10px;
}
.picEvWrap.cols2 .tabCon .list_pic .review_title_p {
	height:46px;font-size:18px;line-height:1.3;font-weight:normal;overflow: hidden;
}
.picEvWrap.cols2 .tabCon .list_pic .review_title_p_hide {
	display:none;margin-top:5px;font-size:18px;line-height:1.3;font-weight:normal;overflow: hidden;
}
.picEvWrap.cols2 .tabCon .list_pic .review em {
	font-size:16px;color:#aaa;line-height:1.3;white-space:nowrap;margin-top:5px;
}
.picEvWrap.cols2 .tabCon .list_pic .review .span_hide {
	display:none;
}
.picEvWrap.cols2 .tabCon .list_pic .pic_right {
	width:100%;height:160px;left:0;top:0;
}
.picEvWrap.cols2 .tabCon .list_pic .pic_right div {
	width:100%;height:100%;position:relative;
	background-position:center;background-size:cover;background-repeat:no-repeat;
}
.picEvWrap.cols2 .tabCon .list_pic .pic_right .magIcon {
	width:38px;position:absolute;bottom:0;right:0;
}
.picEvWrap.cols2 .tabCon .list_pic .heartCnt {
	position:absolute;right:10px;bottom:10px;
}
.picEvWrap.cols2 .tabCon .list_pic .heartCnt img {
	width:36px;display:inline-block;vertical-align:middle;margin-right:5px;
}
.picEvWrap.cols2 .tabCon .list_pic .heartCnt span {
	font-size:18px;color:red;display:inline-block;vertical-align:middle;
}

.picEvWrap.cols2 .navWrap .subArray .check1 {
	font-size:16px;
}
.picEvWrap.cols2 .navWrap .subArray .check1 label {
	margin-right:5px; line-height:34px;
}
.picEvWrap.cols2 .navWrap .subArray .check1 input {
	width: 32px; height:32px; background-size:22px 18px;
}
.picEvWrap.cols2 .thumbImg {
	display:none;
}

body.modal-open{
	overflow:hidden;
}

.modal_info { position:absolute;bottom:0;width:100%;height:160px;border-top:1px solid #aaa;background:#fff; }

.modal_info .pic_right {
	position:relative;
	width: 100% !important;
	height: auto !important;
}
.modal_info .pic_right div {
	background:none;
}
.modal_new .magIcon {
	display: none !important;
}
.modal_info .review_title_p {
	font-weight: 700 !important;
	font-size:16px;
	line-height:20px;
	height:40px;
	overflow:hidden;
}
.modal_info .only_title {
	padding:15px;
}
.modal_info .heartCnt { position:absolute;bottom:10px;right:15px; }

.modal_info .review_title_p_hide {
	font-weight: 400 !important;
	display: block !important;
	font-size:16px;
	line-height:20px;
	height:60px;
	overflow:auto;
}
.modal_info .br_hide {
	display: none !important;
}
.modal_info .span_hide {
	display: inline-block !important;
}
.modal_info .thumbImg {
	display:block;
}
.modal_info .review em {
	font-size:14px;
	font-style:normal;
	color:#999;
}
.modal_info .list4Con.group {
	padding:0 15px !important;
}
.modal_info .heartCnt img {
	width:28px;
	margin-right:5px;
}
.modal_info .heartCnt span {
	font-size:14px;
	vertical-align:middle;
	color:red;
}
.modal_info .imgdel {
	color:red;
	margin-left:20px;
}
.dimScreen2 { z-index:9998; background:#000; position:fixed; opacity:0.5; width:100%; height:100%; display:none; }
.modal_new {
	width:95%;height:800px;background:#fff;position:fixed;top:20px;left:2.5%;z-index:9999;overflow:hidden;display:none;
}
.modal_title {
	width:100%;height:40px;background:#ef6855;position:relative;
}
.modal_title p {
	font-size:18px;line-height:40px;color:#fff;text-align:center;
}
.modal_title .close_btn {
	width:20px;position:absolute;top:10px;right:10px;
}
.modal_img {
	background:#000;
	overflow:auto;position:absolute;top:40px;width:100%;
	-webkit-overflow-scrolling:touch;
}
.oneitem img {
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-o-transform:translateY(-50%);
}

/* 채팅형 게시판 160706 */
.commEvWrap._chat .commWrap { padding:10px; }
.commEvWrap._chat #detail_cont_3 { background:#fff; border-bottom:1px solid #ccc }
.commEvWrap._chat .commText { color:#000; letter-spacing:0; margin-bottom:6px; }
.commEvWrap._chat .commTextList { padding:10px !important; border:0 }
.commEvWrap._chat .commTextList_wrap { background:#eee; padding:10px; margin-top:-10px; display:inline-block }
.commEvWrap._chat .commInfo1 { color:#aaa !important }
.commEvWrap._chat .commDel { float:none }
.commEvWrap._chat .commSubBtn { height:40px }
.commEvWrap._chat .tarea_list { height:18px }
.commEvWrap._chat .commSubBtn { top:10px }
.commEvWrap._chat .pdtalkWrap { padding:10px; background:#f2f2f2; border-top:1px solid #ddd; border-bottom:1px solid #ddd }
.commEvWrap._chat .pdtalkTitle { font-size:18px; font-weight:700; color:#333; display:inline-block; vertical-align:middle; }
.commEvWrap._chat .pdtalkImg { width:18px; display:inline-block; vertical-align:middle; margin-right:5px }
.commEvWrap._chat .pdtalkContent { font-size:14px; margin-top:10px; line-height:18px }

/* 베스트포토 160810 */
.bestPhoto { width:100%; }
.bestPhotoTitle { font-size:18px; font-weight:bold; margin-bottom:10px }
.bestPhotoSns { text-align:center; border-top:1px solid #ddd; padding:15px 0; }
.bestPhotoSns img { width:auto; }
.bestPhotoSlide { padding-bottom:15px; position:relative; }
.bestPhotoSlide ul { padding:0; }
.bestPhotoSlide ul li { display:none; }
.bestPhotoSlide ul li._active { display:block; }
.bestPhotoSlideTitle { font-size:18px; margin-top:10px; }
.bestPhotoSlideUser { font-size:16px; margin-top:5px; color:#aaa }
.bestPhotoSlideNav { text-align:center; font-size:0; margin-top:10px; }
.bestPhotoSlideNav span { font-size:16px; line-height:24px; display:inline-block; margin-left:10px; cursor:pointer; }
.bestPhotoSlideNav span._no { font-size:16px; width:20px; text-align:center; }
.bestPhotoSlideNav span._no._active { color:#fff; background:#f4614d }
.bestPhotoSlideNav span._arrleft { margin-left:0; }
.bestPhotoSlideNav ._arrleft, .bestPhotoSlideNav ._arrright { color:#aaa; }
._navarrowleft, ._navarrowright { color:rgba(255,255,255,.5); position:absolute; top:50%; font-size:50px; transform:translateY(-50%); cursor:pointer; }
._navarrowleft { left:10px; }
._navarrowright { right:10px; }
._relimg { position:relative; }

/* 상품평 */
.commTextList > sub:before { display:block; background-image:url('http://image.hyundaihmall.com/static/smart/2016/mobile/images/onairtalk/onairtalk.png'); background-repeat:no-repeat; background-position:0px 0px; background-size:200px 200px; }
.commTextList { position:relative; }
.commTextList .commDel { position:absolute; top:15px; right:10px; }
.commTextList > sub { position:absolute; display:block; height:15px; right:10px; bottom:15px; font-size:14px; }
.commTextList > sub:before { display:inline-block; content:''; width:17px; height:15px; margin-right:5px; vertical-align:top; background-position:-19px -22px; }
.commTextList > sub.selected:before { background-position:-41px -22px; }

.ea_txt { -webkit-overflow-scrolling: touch; overflow:auto; }
.ea_txt::-webkit-scrollbar { -webkit-appearance: none; }
.ea_txt::-webkit-scrollbar:vertical { width: 10px; }
.ea_txt::-webkit-scrollbar:horizontal { height: 10px; }
.ea_txt::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 5px;
    border:2px solid #ffffff;
}
.ea_txt::-webkit-scrollbar-track {
    border-radius: 5px;  
    background-color: #ffffff; 
}