@charset "utf-8";

.etc-cont{margin:150px 0 280px;}
.etc-cont .nodata{text-align:center;}
.etc-cont .nodata .tit{margin-top:20px;font-size:17px;color:#333;font-weight:700;}
.etc-cont .nodata .txt{margin-top:10px;font-size:15px;color:#999;}
.etc-cont .nodata .btn{width:250px;margin-top:40px;}
.etc-cont .btngroup{display:flex;justify-content:center;margin-top:40px;}
.etc-cont .btngroup .btn{width:250px;}
.etc-cont .btngroup .btn:not(:first-child){margin-left:10px;width:250px;}


/*주소검색*/
.popup-win.adressearch .pop-content .content{margin:0;}
.popup-win.adressearch .pop-content .content .content-body{padding:30px 40px 50px;}
.ui-modal-dialog.adressearch{width:540px;}
.adressearch .adress-tip{margin-top:30px;padding:20px;border-radius:5px;background:#f8f8f8;}
.adressearch .adress-tip .ctypo15{color:#333;line-height:1.47;letter-spacing:-0.6px;}
.adressearch .adress-tip .dotlist{margin-top:10px;margin-bottom:0;}
.adressearch .adress-tip .dotlist li{color:#666;;line-height:1.69;letter-spacing:-0.52px;}
.adressearch .adress-tip .dotlist.search-tip li{margin-top:10px;}
.adressearch .adress-tip .dotlist.search-tip li > span{display:block;margin-top:8px;color:#999;}
.adressearch .search-result-wrap{margin:30px -40px -50px;padding:20px 40px 50px;background:#f8f8f8;}
.adressearch .search-result-wrap .filter-wrap{position:relative;}
.adressearch .search-result-wrap .filter-wrap .selectwrap{display:inline-block;width:168px;height:34px;background:#fff;}
.adressearch .search-result-wrap .filter-wrap .list-count{display:inline-block;position:absolute;top:3px;right:0;color:#333;font-size:14px;font-weight:400;letter-spacing:-0.7px;}
.adressearch .search-result-wrap .filter-wrap .list-count em{display:inline-block;margin-left:5px;color:#ff5340;font-size:15px;font-weight:700;letter-spacing:-0.75px;}
.adressearch .search-result-wrap .ad-list{margin-top:20px;}
.adressearch .search-result-wrap .ad-list li{height:148px;border-radius:5px;border:1px solid #eee;background:#fff;}
.adressearch .search-result-wrap .ad-list li + li{margin-top:10px;}
.adressearch .search-result-wrap .ad-list li a{display:block;padding:20px 68px 20px 20px;}
.adressearch .search-result-wrap .ad-list li .zipcode{font-size:18px;letter-spacing:-0.72px;}
.adressearch .search-result-wrap .ad-list li .add-row{margin-top:4px;}
.adressearch .search-result-wrap .ad-list li .add-row dt ,
.adressearch .search-result-wrap .ad-list li .add-row dd{display:inline-block;font-size:15px;line-height:1.4;letter-spacing:-0.6px;}
.adressearch .search-result-wrap .ad-list li .add-row dt{width:54px;color:#999;}
.adressearch .search-result-wrap .ad-list li .add-row dd{width:calc(100% - 60px);}
.adressearch .ex-tip.ctypo15{margin-top:20px;color:#aaa;line-height:1.4;}
.adressearch .nodata{padding:50px 0 20px;}
.adressearch .nodata span{margin-top:21px;font-size:13px;line-height:1.69;letter-spacing:-0.52px;}
.adressearch .adress-tip .dotlist{margin-top:10px;}
.adressearch .adress-tip .dotlist li > span{display:block;}
.adressearch .page-nav-area{margin-top:20px;text-align:center;}
.adressearch .page-nav-area strong{color:#ff5340;font-weight:700;vertical-align:baseline;}
.adressearch .page-nav-area button{width:30px;height:30px;color:#999;text-align:center;border:1px solid #eee;border-radius:5px;background-color:#fff;}
.adressearch .page-nav-area span{padding:0 18px;color:#999;}
.adressearch .search-result-wrap .field{margin-top:10px;}
.adressearch .search-result-wrap .field .inputbox.failed{border-radius:5px;border:1px solid #ff5340;}
.adressearch .search-result-wrap .field .failed-msg{padding:8px 0 0 0;}
.adressearch .btngroup.addressuse{width:100%;}

.adressearch .page-nav-area .first-page, 
.adressearch .page-nav-area .prev-page,
.adressearch .page-nav-area .next-page,
.adressearch .page-nav-area .last-page{width:30px;height:30px;background-repeat:no-repeat;background-position:50% 50%;color:transparent;}
.adressearch .page-nav-area .first-page{margin:0;background-image:url(//imagedev.hmall.com/p/img/co/icon/ico-prev-first-2x.png);background-size:15px 11px;}
.adressearch .page-nav-area .prev-page{margin-left:5px;background-image:url(//imagedev.hmall.com/p/img/co/icon/ico-prev-2x.png);background-size:7px 11px;}
.adressearch .page-nav-area .next-page{margin-right:5px;background-image:url(//imagedev.hmall.com/p/img/co/icon/ico-next-2x.png);background-size:7px 11px;}
.adressearch .page-nav-area .last-page{margin:0;background-image:url(//imagedev.hmall.com/p/img/co/icon/ico-next-last-2x.png);background-size:15px 11px;}