@charset "utf-8";
/* 페이지 레이아웃 */
.contents.w520{margin:0 auto;padding:35px 0 80px;}
.contents.w520 .inner-box{width:520px;padding:40px;}
.contents.w600{padding:70px 0 100px;}
.contents.w600 .inner-box{width:600px;padding:20px 50px 50px;}
.contents.pc-join{margin:0 auto;padding:209px 0 209px;}
.contents.pc-join .inner-box{width:600px;padding:50px;}
.inner-box{margin:0 auto;width:520px;height:max-content;background:#fff;}

.stay-join .title-area{text-align:left;}

.chklabel .icon + span{margin:0 0 3px 8px;}

/* input readonly 컬러 >> 이후 공통 작업으로 common.css 에 옮길 예정 */
input[readonly]{color:#aaa;}
.inputbox + .inputbox{margin-top:10px;}

/* 타이틀 텍스트 */
.title-area .logo{display: block;margin:-20px -50px 0;padding: 30px 50px;border-bottom: 2px solid #ff5340;}
.title-area .logo .img{display:inline-block;width:88px;height:26px;vertical-align:baseline;}
.title-area .logo span{display:inline-block;color: #333;font-size: 26px;font-weight: 700;line-height: 44px;letter-spacing: -1.04px;vertical-align: middle;}
.terms-title{padding:0;border-bottom:none;}
.terms-title .tit{margin:50px 0 40px;font-size:30px;color:#333;font-weight:700;line-height:20px;letter-spacing:-1.2px;text-align:left;}

/* 약관 */
.terms .text-area{padding-bottom:25px;}
.terms .text-area .tit{font-size:22px;line-height:24px;letter-spacing:-0.88px;color:#333;font-weight:700;}
.terms .text-area .txt{margin-top:10px;font-size:15px;line-height:22px;letter-spacing:-0.6px;color:#666;}
.terms .etcInnerBox{padding:30px 40px;border:1px solid #ddd;border-radius:5px;column-count:3;column-rule:1px solid #eee;column-gap:110px;}
.terms .etcInnerBox li{position:relative;padding-left:20px;font-size:14px;color:#666;line-height:28px;letter-spacing:-0.56px;text-align:left;}
.terms .etcInnerBox li a.active{font-weight:700;}
.terms .etcInnerBox li:before{ content:""; position:absolute; top:15px; left:10px; width:3px; height:3px; background:#666; border-radius:50%;}
.terms .h3{font-size: 16px;color:#333;font-weight:700;line-height:22px;letter-spacing:-0.64px;}
.terms .content{font-size:14px;color:#999;line-height:22px;letter-spacing:-0.56px;}
.terms pre{white-space:pre-line;}
.terms .scrollTop{display:none;}
.terms .oldVer{margin:50px 0 108px;padding:30px 60px;background-color:#f8f8f8;border-radius:3px;column-count:2;}
.terms .oldVer li{position:relative;padding-left:20px;font-size:14px;color:#666;line-height:28px;letter-spacing:-0.56px;text-align:left;}
.terms .oldVer li:before{ content:""; position:absolute; top:15px; left:10px; width:3px; height:3px; background:#666; border-radius:50%;}

/* 리스트 */
.lr-align{display: flex;margin-top:20px;}
.lr-align .left-align{margin-right:auto;}
.lr-align .right-align{margin-left:auto;}

/* .adult-certification-wrap .contents, .user-product-wrap .contents{padding-bottom:100px;} */
.inner-box .tit-wrap{margin-top:10px;text-align:center;}
.inner-box .tit-wrap .title24{line-height:32px;}
.inner-box .tit-wrap dd{margin-top:10px;}
.inner-box .tit-wrap dd em{color:#FF5340;vertical-align:baseline;}
.inner-box .tit-wrap dd .ctypo13{color:#999;}
.adult-certification-wrap .inner-box .sec-content .sec-tit{margin-top:29px;}
.inner-box .sec-content .sec-tit{display:inline-block;margin-top:51px;color:#333;font-size:17px;font-weight:700;line-height:23px;}
.inner-box .sec-content .checkbox{margin-top:15px;}
.inner-box .sec-content .tblwrap .table-tit{margin:30px 0 10px 0;}
.inner-box .sec-content .tblwrap table thead tr th:nth-child(1){font-weight:400;}
.inner-box .sec-content .tblwrap table thead tr th:nth-child(2){font-weight:400;}
.inner-box .sec-content .dotlist{margin-top:10px;color:#999;font-size:13px;line-height:17px;}
.inner-box .sec-content .btn{width:100%;margin-top:10px;}
.dormant-account .inner-box .sec-content .btn{margin-top:40px;}
.noti-wrap{position:relative;padding:30px 0 20px 0;border-bottom:1px solid #eee;}
.noti-wrap .noti-tit-wrap{display:flex;justify-content:space-between;margin-bottom:15px;}
.noti-wrap .noti-tit-wrap strong{color:#333;line-height:18px;vertical-align:baseline;}
.noti-wrap .noti-tit-wrap strong .icon.noti{width:16px;height:16px;margin-right:5px;vertical-align:text-bottom;background:url('//imagedev.hmall.com/p/img/co/icon/ico-noti.png') no-repeat center center;background-size:16px 16px;}
.noti-wrap .noti-tit-wrap a span{color:#333;font-size:13px;line-height:18px;}
.noti-wrap .noti-tit-wrap a span .icon.btn-arrow{width:7px;height:10px;margin:-3px 0 0 5px;background:url('//imagedev.hmall.com/p/img/co/icon/ico-arrow-sm.png') no-repeat center center;background-size:7px 10px;}
.noti-wrap .noti-tit-wrap.textcase{text-align:right;}
.dormant-account .noti-wrap .noti-tit-wrap.textcase{text-align:center;}
.dormant-account  .noti-wrap .noti-tit-wrap a span{color:#666;font-size:14px;letter-spacing:-0.56px;text-decoration:underline;}
.noti-wrap .noti-tit-wrap.textcase a{position:static;}
.noti-wrap .caption13{font-weight:400;}
.inner-box .sec-content .dotlist.caution{margin-top:0;margin-bottom:10px;padding-top:25px;border-top:1px solid #eee;}
.inner-box .sec-content .dotlist.caution li{color:#FF5340;}
.inner-box .sec-content .dotlist.caution li:before{background:#FF5340;}
.same-id-wrap{display:inline-flex;justify-content:center;align-items:center;flex-flow:column;width:100%;margin-top:40px;}
.same-id-wrap .bgcircle{width:60px;height:60px;background:rgba(255,0,0,0.15);}
.same-id-wrap .bgcircle .icon.exmark{width:30px;height:30px;background:url('//imagedev.hmall.com/p/img/co/icon/ico-exmark-circle-1x.png') no-repeat;background-size:30px 30px;}
.same-id-wrap strong{margin-top:16px;line-height:24px;}
.same-id-wrap span.caption13{margin-top:10px;line-height:17px;}
.acc-id{margin:40px 0 20px 0;padding:26px 0;border-radius:5px;background:#F4F8FB;text-align:center;}
.acc-id p.id-each{display:flex;justify-content:center;align-items:center;color:#333;font-weight:700;font-size:16px;line-height:28px;}
.stay-join .inputbox,
.stay-join-connect .inputbox{height:46px;}
.stay-join .icon.person,
.stay-join-connect .icon.person{top:50%;transform:translateY(-50%);}
.stay-join .icon.lock,
.stay-join-connect .icon.lock{top:50%;transform:translateY(-50%);}
.stay-join .btn{margin:20px 0 10px 0;}
.agreewrap{margin:20px 0 30px;}
.agreewrap em{vertical-align:baseline;}
.agreewrap .checkbox span em{margin-right:3px;color:#FF5340;font-weight:700;}

.accparent h3 .bgcircle{width:48px;height:48px;border-radius:50%;}
.accparent h3 .bgcircle .icon{width:20px;height:20px;background-size:20px 20px;}
.accparent h3 .bgcircle .icon.user-person{background:url('//imagedev.hmall.com/p/img/co/icon/icon-person-off.png') no-repeat;}
.accparent h3 .bgcircle .icon.user-phone{background:url('//imagedev.hmall.com/p/img/co/icon/icon-phone-off.png') no-repeat;}
.accparent h3 .bgcircle .icon.user-email{background:url('//imagedev.hmall.com/p/img/co/icon/icon-email-off.png') no-repeat;}
.accparent h3 .bgcircle .icon.user-myphone{background:url('//imagedev.hmall.com/p/img/co/icon/icon-myphone-off.png') no-repeat;}
.accparent .accordion-panel .noti-wrap{margin:30px 0 20px 0;}


.ie .accparent h3 button:focus > span{position:relative;top:0;left:0;}
.accparent h3.selected .bgcircle{width:48px;height:48px;border-radius:50%;border:1px solid #FF5340;background:#fff;}
.accparent h3.selected .bgcircle .icon{width:20px;height:20px;background-size:20px 20px;}
.accparent h3.selected .bgcircle .icon.user-person{background:url('//imagedev.hmall.com/p/img/co/icon/icon-person-on.png') no-repeat;}
.accparent h3.selected .bgcircle .icon.user-phone{background:url('//imagedev.hmall.com/p/img/co/icon/icon-phone-on.png') no-repeat;}
.accparent h3.selected .bgcircle .icon.user-email{background:url('//imagedev.hmall.com/p/img/co/icon/icon-email-on.png') no-repeat;}
.accparent h3.selected .bgcircle .icon.user-myphone{background:url('//imagedev.hmall.com/p/img/co/icon/icon-myphone-on.png') no-repeat;}
.accparent h3.selected span{margin-right:15px;color:#FF5340;font-size:15px;line-height:48px;font-weight:700;}
.accparent h3.selected .icon.updown{left:230px;top:13px;}
.accparent .accordion-panel{padding:20px 0;}
.accparent .accordion-panel .btn{width:100%;margin-top:20px;}
.accparent .user-find-id-myphone{padding-bottom:0;}
.accparent .user-find-id-myphone .noti-wrap{margin:0;border:none;}
.accparent .user-find-id-myphone .btn{margin-top:0;}
.inputbox .btn.btn-confirm{position:absolute;top:-20px;right:0;max-width:130px;height:100%;}
/* .accparent .field.multi{margin-top:10px;margin-bottom:0;}
.accparent .field.multi .btn{width:130px;height:46px;margin-top:0;}
.accparent .field.multi .btn.medium span{font-size:14px;} */
/* .accparent .accordion-panel.user-find-id-info .btn{margin-top:20px;} */
.accparent .accordion-panel.user-find-myphone{padding:15px 0 20px;}
.accparent .accordion-panel.user-find-myphone .btn{margin-top:0;}
.acc-footinfo{margin:20px 0 10px 0;color:#999;font-size:13px;line-height:17px;text-align:center;vertical-align:baseline;}
.acc-footinfo p{font-size:inherit;}
.acc-footinfo p .tel{color:#FF5340;vertical-align:baseline;}
.acc-footinfo span{font-size:inherit;vertical-align:baseline;}
.acc-footinfo .linkwrap{margin-top:30px;}
.acc-footinfo .linkwrap .txt{display:inline-block;margin-right:16px;line-height:19px;}
.acc-footinfo .linkwrap .alink{color:#666;font-size:14px;border-bottom:1px solid #666;vertical-align:baseline;}

/* 아이디찾기 - 인증완료 */
.user-find-id-completed .completed .tit-wrap dd.sub-txt { font-size:13px; color:#999;}
.user-find-id-completed .completed .idresult > strong { font-size:17px; font-weight:700; color:#333;  }
.user-find-id-completed .completed .idresult > p { margin-top:10px; font-size:13px; color:#999;}
.user-find-id-completed .completed .id-inquiry { margin:30px 0 20px; border:1px solid #eee; border-radius:5px;}
.user-find-id-completed .completed .id-inquiry li { display:flex; padding:20px; align-items:center; justify-content:space-between;}
.user-find-id-completed .completed .id-inquiry li + li { border-top:1px solid #f4f4f4;}
.user-find-id-completed .completed .id-inquiry li .idresult > strong { font-size:17px; font-weight:700; color:#333;}
.user-find-id-completed .completed .id-inquiry li .idresult > p { margin-top:5px; }
.user-find-id-completed .completed .id-inquiry li .btngroup {display:block;; }
.user-find-id-completed .completed .id-inquiry li .btngroup .btn { display:block; width:160px; }
.user-find-id-completed .completed .id-inquiry li .btngroup .btn + .btn { margin-top:5px;}
.user-find-id-completed .completed .id-inquiry li .btngroup .btn span { font-weight:400;}

.user-find-id-completed .completed.case-b {}
.user-find-id-completed .completed.case-b .tit-area { display:inline-flex; justify-content:center; align-items:center; flex-flow:column; width:100%; }
.user-find-id-completed .completed.case-b .tit-area .bgcircle { width:60px; height:60px; background:rgba(47,171,137,0.15);}
.user-find-id-completed .completed.case-b .tit-area .bgcircle i { width:30px; height:30px; background:url('//imagedev.hmall.com/p/img/co/icon/ico-cofirm-green-1x.png') no-repeat;}
.user-find-id-completed .completed.case-b .tit-area > strong { margin-top:16px;}
.user-find-id-completed .completed.case-b .idresult  { margin:50px 0 40px; text-align:center;} 

/* 로그인 시도 case */
.certify-case{margin-top:20px;}
.certify-case dt{margin-bottom:10px;color:#333;font-size:15px;line-height:22px;font-weight:700;letter-spacing:-0.6px;}
.certify-case dd{color:#333;font-size:15px;line-height:22px;letter-spacing:-0.6px;}
.desktop .certify-case dd{letter-spacing:-1.64px;}

/* 아이콘 */
.icon.person{position:absolute;top:50%;transform: translateY(-50%);right:20px;width:20px;height:20px;background:url(//imagedev.hmall.com/p/img/co/icon/icon-person.png) no-repeat 100% 100%;background-size:20px 20px;}
.icon.lock{position:absolute;top:50%;transform: translateY(-50%);right:20px;width:20px;height:20px;background:url(//imagedev.hmall.com/p/img/co/icon/icon-lock.png) no-repeat 100% 100%;background-size:20px 20px;}
.icon.error{width:13px;height:13px;background:url(//imagedev.hmall.com/p/img/co/icon/icon-error-13.png) no-repeat 100% 100%;background-size:13px 13px;}
.btn-naver .icon{width:32px;height:32px;background:url(//imagedev.hmall.com/p/img/co/icon/icon-naver-32.png) no-repeat 100% 100%;background-size:32px 32px;}
.btn-kakao .icon{width:32px;height:32px;background:url(//imagedev.hmall.com/p/img/co/icon/icon-kakao-32.png) no-repeat 100% 100%;background-size:32px 32px;}
.btn-hpoint .icon{width:32px;height:32px;background:url(//imagedev.hmall.com/p/img/co/icon/icon-hpoint-32.png) no-repeat 100% 100%;background-size:32px 32px;}

/* 윈도우 팝업일 경우 */
.pop-content{padding:30px 40px 40px;}


/* 버튼 */
.btngroup{display:flex;justify-content:space-between;position:relative;}
.btngroup.btnlen1 .btn{ width: 100%; height: 50px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; }
.btngroup .btn-linelgray span{font-size:14px;color:#666;line-height:18px;letter-spacing:-0.56px;}
.login-btn .btn.alink{display:block;margin-bottom:10px;}
.textbtn{display:flex;justify-content: center;margin:20px 0 10px;}
.textbtn .alink{margin-left:15px;}


/* 텍스트 */
.bottom-txt{margin:20px 0 30px;text-align:center;}
.title-area{text-align:center;}
.title-area .tit-md{margin-top:10px;font-size:15px;color:#666;line-height:22px;letter-spacing:-0.6px;}
.title-area .tit-sm{margin-top:10px;font-size:13px;color:#999;line-height:21px;letter-spacing:-0.52px;}
.help-info{margin:20px 0 10px;text-align:center;}
.help-info p{font-size:13px;color:#999;line-height:21px;letter-spacing:-0.52px;}
.help-info em{color:#ff5340;vertical-align:baseline;}
.infotxt{margin:25px 0;font-size:15px;color:#666;line-height:26px;letter-spacing:-0.6px;text-align:center;}


/* 광고배너 */
.login-ad{margin:10px 0;}
.login-ad a{position:relative;}
.login-ad img{width:100%;height:50px;}
.login-ad span{position:absolute;top:4px;left:10px;font-size:12px;color:#93bfbd;font-weight:700;}


/* 폼 */
.inputbox.xl{height:60px;border-radius:5px;}
.inputbox.xl:not(:first-child){margin-top:10px;}
.login-form{margin:25px 0 15px;}
.login-form .inputbox:not(:first-child),
.non-members .inputbox:not(:first-child){margin-top:10px;}
.login-relate{margin-bottom:20px;}
.login-relate span{font-weight:700;}
.btn.btn-login{width:100%;height:54px;}
.btn.btn-login span{font-size:20px;line-height:27px;letter-spacing:-0.8px;}
.login-find{display:flex;justify-content:space-around;margin:20px 0 30px;}
.login-find li{position:relative;width:calc(100%/3);text-align:center;}
.login-find li:not(:last-child)::after{content:"";position:absolute;top:50%;right:0;width:1px;height:10px;background:#ddd;transform:translateY(-50%);}
.login-find a{color:#666;font-size:13px;line-height:20px;letter-spacing:-0.52px;}
.hmall-id .btngroup.btnlen2 .btn:first-child{margin-left:0;}
.hmall-id .btngroup.btnlen2 .btn{justify-content:flex-start;width:100%;padding:0;}

.hmall-id .btngroup.btnlen2 .btn:not(:first-child):before{content:'';position:absolute;left:0;top:calc(50% - 5px);width:1px;height:10px;margin-left:-8px;background:#ddd;}




/* .btn.btn-naver{border-color:#eee;} */
.btn.btn-hpoint span{color:#666;}
.btn.btn-naver span{color:#666;}
/* .btn.btn-kakao{border-color:#eee;} */
.btn.btn-kakao span{color:#666;}

.accordion-panel .inputbox{margin-top:10px;}
.failed-msg{padding:10px 0 15px;}
.failed-msg span{vertical-align:middle;}
.form-area{margin-top:25px;}


/* 탭*/
.tabgroup.bdline .tab{overflow:hidden;display:flex;flex-direction:row;width:100%;border:none;}
.tabgroup.bdline .tab-default .tabmenu > li.ui-active{border:2px solid #ff5340;border-bottom:none;}
.tabgroup.bdline .tab-default .tabmenu > li{border-bottom:2px solid #ff5340;}
.tabgroup.bdline .tabmenu{display:flex;justify-content:space-between;width:100%;}
.tabgroup.bdline .tabmenu > li{display:inline-flex;justify-content:center;position:relative;width:50%;}
.tabgroup.bdline .tabmenu > li > a{display:inline-flex;justify-content:center;align-items:center;width:100%;height:60px;padding:0 15px;font-weight:700;}
.tabgroup.bdline .tabmenu > li > a > span{display:inline-block;color:#666;font-size:18px;font-weight:700;line-height:24px;letter-spacing:-0.64px;vertical-align:baseline;}
.tabgroup.bdline .tabmenu > li.ui-active > a{color:#ff5340;}
.tabgroup.bdline .tab-pane{display:none;} /*margin-top:25px;*/
.tabgroup.bdline .tab-pane.ui-active{display:block;}
.tabgroup.bdline .tab-default .tabmenu > li.ui-active::after {display: none;}

/* 페이지별 속성 */
.nomember-order .container{background-color:#f8f8f8;}
.nomember-order .btn.btn-default{margin-top:30px;}
.reset-pw .dotlist{margin-top:10px;}
.sns-connect .btngroup .btn{margin-top:20px;}
.sns-connect .login-find{display:flex;justify-content:center;margin:27px 0 0 0;}
.sns-connect .login-find a{vertical-align:bottom;}
.sns-connect .login-find li{margin-left:21px;width:max-content;}
.sns-connect .login-find li:first-child{margin-left:0;}
.sns-connect .login-find li:not(:last-child)::after{right: -10px;}
.reset-pw-campaign .form-area .inputbox{margin:10px 0;}
.reset-pw-campaign .form-area .failed-msg{margin:10px 0 15px;padding:0;}
.reset-pw-campaign .dotlist{margin-top:15px;}
.reset-pw-campaign .btngroup{margin-bottom:20px;}
.bc-cs .btngroup{margin:30px 0 10px;}












/* 약관 탭 */
.login-terms .type-line{margin:0 -1px;}
.login-terms .type-line  > li.ui-active{margin-left:-1px;}
.login-terms .type-line  > li:not(.ui-active){border-right:1px solid #ddd;}
.login-terms .type-line  > li:first-child{border-left:1px solid #ddd;}
.login-terms .type-line  > li:last-child:not(.ui-active){border-right:1px solid #ddd;}



.ui-tab.type-line{position:relative;display:flex;margin:50px 0 40px;}
.ui-tab.type-line:after{content:'';display:block;position:absolute;bottom:0;left:0;width:100%;height:1px;background-color:#666;}
.ui-tab.type-line li{flex:1;height:auto;text-align:center;border:none;}
.ui-tab.type-line li a{position:relative;display:block;line-height:60px;color:#666;font-size:18px;font-weight:700;outline:none;background-color:#f8f8f8;}
.ui-tab.type-line li a:before{content:'';display:block;position:absolute;top:0;left:0;width:100%;height:100%;border:1px solid #ddd;border-right-color:#f8f8f8;border-bottom:none;}
.ui-tab.type-line li:last-child a:before{border-right-color:#ddd;}
.ui-tab.type-line li + li a:before{border-left-color:#f8f8f8;}
.ui-tab.type-line li.ui-active:after{display:none;}
.ui-tab.type-line li.ui-active a{color:#333;background-color:#fff;z-index:1;}
.ui-tab.type-line li.ui-active a:before{border:1px solid #666;border-bottom:none;}
.ui-tab.type-underline{display:flex;margin:30px 0;}
.ui-tab.type-underline li{position:relative;display:inline-flex;flex:1;justify-content:center;align-items:center;height:50px;text-align:center;border-bottom:1px solid #ddd;}
.ui-tab.type-underline li a{display:inline-flex;justify-content:center;align-items:center;width:100%;height:100%;color:#333;font-size:16px;font-weight:bold;}
.ui-tab.type-underline li.ui-active a{color:#ff5340;}
.ui-tab.type-underline li.ui-active:after{content:"";display:block;position:absolute;bottom:-1px;left:0;width:100%;height:2px;background-color:#ff5340;}
.tab-pane{display:none;}
.tab-pane > *:first-child{margin-top:0;}
.tab-pane.ui-active{display:block;}




/* pka001 별도 스타일 */
.pka001 .cbody{background-color:#fff;}
.pka001 .tit{line-height: 1;font-size: 30px;color: #333;margin: 55px 0 40px;}
.pka001 .inner-box{width: 100%;border: 1px solid #eee;padding: 45px 0 50px;}
.pka001 .btngroup{width: 440px;margin: 30px auto 0;}
.pka001 .tit-md{margin-top: 10px;font-size: 17px;font-weight: bold;color: #333;line-height: 22px;letter-spacing: -0.6px;}
.pka001 .dotlist{margin: 20px 0 80px;}
.pka001 strong{color: #222;}

/* pkb002 ~ pkb006 별도 스타일 */
.pkb2_6{margin-bottom:108px;}
.pkb2_6 .ui-tab.type-btn{display:flex;margin:20px 0 40px;}
.pkb2_6 .ui-tab.type-btn li{flex:1;margin-left:10px;height:auto;text-align:center;border:none;}
.pkb2_6 .ui-tab.type-btn li:first-child{margin-left:0;}
.pkb2_6 .ui-tab.type-btn li a{display:block;line-height:50px;color:#222;font-size:16px;border-radius:5px;border:1px solid #eee;outline:none;}
.pkb2_6 .ui-tab.type-btn li.ui-active:after{display:none;}
.pkb2_6 .ui-tab.type-btn li.ui-active a{color:#fff;font-weight:bold;border:none;background-color:#ff5340;}
.pkb2_6 .terms .content{color:#333;}
.pkb2_6 .notice_box{border: 1px solid #ddd;margin:0 0 40px;overflow: overlay;border-radius:5px;}
.pkb2_6 .notice_box p{color:#333;font-size: 14px;font-weight: bold;line-height:45px;border-bottom: 1px solid #ddd;padding:0 20px;background-color:#f8f8f8;}
.pkb2_6 .notice_box ul{padding:15px 20px;}
.pkb2_6 .notice_box ul li{font-size: 14px;line-height: 22px;}

/* pkd001 별도 스타일 */
.pkd001 .ars_numBox{height: 121px;border-radius: 5px;background-color: #f8f8f8;padding:20px;display:flex;}
.pkd001 .ars_numBox h2{font-size: 32px;color: #ff5340;align-self: center;margin: -5px 20px 0 0;}
.pkd001 .ars_numBox p{font-size:15px;color: #666;align-self: center;}

.pkd001 .guide-box{margin:0 0 80px;padding: 20px;border: 1px solid #eee;border-radius: 5px;}
.pkd001 .guide-box .ctypo18{line-height:1;margin-bottom:20px;padding-bottom:20px;color: #333;border-bottom: 1px solid #eee;}
.pkd001 .guide-box.inline{margin:20px 0 50px;padding: 20px;border: 1px solid #eee;border-radius: 5px;display:flex;}
.pkd001 .guide-box.inline .ctypo18{line-height:59px;margin-right:45px;padding-right:45px;margin-bottom:0;padding-bottom:0;color: #333;border-right: 1px solid #eee;border-bottom:0;}
.pkd001 .guide-box .dotlist{margin-bottom: 0;}
.pkd001 .guide-box .dotlist li em{color:#333;}
.pkd001 .guide-box .dotlist li:before{background-color:#666;}
.pkd001 .ars_table .title22{margin-bottom: 20px;}
.pkd001 .ars_table img{margin-bottom:50px;}

/* pkc001 별도 스타일 */
.pkc001 .wpop{width: 540px;margin: 0 auto;}
.pkc001 .wpop-img-full{background-color:transparent;}
.pkc001 .wpop-img-full:after{display:none;}
.pkc001 .wpop-img-full h2{position:absolute;padding: 25px 40px;font-size: 20px;color: #333;}
.pkc001 .wpop-img-full img{margin-top: 6px;}


/*첫주문인증*/
.user-product-wrap .tabgroup{margin-top:25px;}
.user-product-wrap .tab-pane{margin:30px 0 10px;}
.user-product-wrap .ui-tab li{color:#333;font-weight:700;}
.user-product-wrap .ui-tab li.ui-active{color:#ff5340;}
.user-product-wrap .ui-tab li.ui-active::after{background-color:#ff5340;}
.user-product-wrap .tabgroup .tab-content .privacy-wrap .tblwrap{margin-top:15px;}
.user-product-wrap .tabgroup .tab-content .privacy-wrap .dotlist{margin-top:10px;}
.user-product-wrap .tabgroup .tab-content .privacy-wrap .btn{width:100%;margin-top:10px;}
.user-product-wrap .tabgroup .tab-content .noti-wrap{padding:30px 0 0px 0;border-bottom:0;}
.user-product-wrap .tabgroup .tab-content .noti-tit-wrap{position:relative;}
.user-product-wrap .tabgroup .tab-content .dotlist.caution{margin-top:20px;margin-bottom:0;padding-top:20px;border-top:1px solid #eee;}
.user-product-wrap .tabgroup .tab-content .dotlist.caution li{color:#ff5340;}
.user-product-wrap .tabgroup .tab-content .dotlist.caution li:before{background:#ff5340;}
.user-product-wrap .tabgroup .tab-content .field{margin-bottom:10px;}
.user-product-wrap .tabgroup .tab-content .checkbox.field-set{margin-top:30px;}

.txt-infobox{margin:10px 0 5px;padding:20px;border-radius:5px;background:#f8f8f8;}
.txt-infobox p{color:#999;font-size:13px;line-height:21px;}

/* 이메일 인증 */
.result-box{text-align:center;}
.result-box + .result-box{margin-top:50px;}
.result-box .tit{margin-top:20px;line-height:22px;color:#333;font-size:17px;font-weight:700;}
.result-box .txt{margin-top:10px;line-height:22px;color:#999;font-size:15px;}
.result-box .btngroup{margin-top:20px;}

/* 통합멤버십 계정연결 */
.stay-join-connect .chklabel span{font-size:16px;}
.stay-join-connect .btn.atext span{font-weight:400;}
.stay-join-connect .btn.atext .arrow{margin-left:3px;}