@charset "utf-8";

/* 개인정보처리방침 */
.section_area{}
.section_area + strong{color:#333;font-size:14px;}
.section_area h2{margin-bottom:40px;padding: 50px 0 40px;border-bottom:2px solid #333;font-size: 30px;color: #333;font-weight: 700;line-height: 20px;letter-spacing: -1.2px;text-align: left;}
.agreements h3.h3 {margin:30px 0 0 0;color:#333;font-size:15px;line-height:20px;font-weight:700;letter-spacing:-0.48px}
.orange,.colorRed2 {color:#ff5340 !important}
.section_area .text-area{padding-bottom:25px;}
.section_area .text-area .tit{font-size:22px;line-height:24px;letter-spacing:-0.88px;color:#333;font-weight:700;}
.section_area .text-area .txt{margin-top:10px;font-size:15px;line-height:22px;letter-spacing:-0.6px;color:#666;}
.section_area .etcInnerBox{padding:0;}
.section_area .etcInnerBox li{position:relative;padding-left:20px;font-size:14px;color:#666;line-height:28px;letter-spacing:-0.56px;text-align:left;}
.section_area .etcInnerBox li a.active{font-weight:700;}
.section_area .etcInnerBox li:before{ content:""; position:absolute; top:15px; left:10px; width:3px; height:3px; background:#666; border-radius:50%;}
.agreements .h3{font-size: 16px;color:#333;font-weight:700;line-height:22px;letter-spacing:-0.64px;}
.agreements .content{font-size:14px;color:#333;line-height:22px;letter-spacing:-0.56px;}
.agreements p{font-size:14px;color:#333;line-height:22px;letter-spacing:-0.56px;}
.agreements pre{margin-top:10px;color:#333;font-size:13px;line-height:20px;letter-spacing:-0.56px;white-space:pre-line;}
.agreements .scrollTop{padding: 18px 30px 0 0;border-bottom: 1px solid #e3e3e3;text-align: right;}
.agreements .oldVer{margin:50px 0 108px;padding:30px 60px;background-color:#f8f8f8;border-radius:3px;column-count:2;}
.agreements .oldVer li{position:relative;padding-left:20px;font-size:14px;color:#666;line-height:28px;letter-spacing:-0.56px;text-align:left;}
.agreements .oldVer li:before{ content:""; position:absolute; top:15px; left:10px; width:3px; height:3px; background:#666; border-radius:50%;}
.agreements table thead + tbody tr:first-child th,
.agreements table thead + tbody tr:first-child td{border-top:0;}
.agreements table th,
.agreements table td{padding:10px 10px;border:1px solid #eee;font-size:14px;letter-spacing:-0.6px;vertical-align:middle;}
.agreements table th{background:#f8f8f8;color:#333;line-height:20px;font-weight:700;text-align:center}
.agreements table td{color:#666;line-height:22px;}

.etcDlBox{border: 1px solid #ddd;margin:0 0 40px;overflow: overlay;border-radius:5px;}
.etcDlBox dt{color:#333;font-size: 14px;font-weight: bold;line-height:45px;border-bottom: 1px solid #ddd;padding:0 20px;background-color:#f8f8f8;}
.etcDlBox dd{padding:15px 20px;font-size: 14px;line-height: 22px;}
.etcDlBox dd:nth-last-child(1){padding-top:0;}

.agreeNav{display:flex;justify-content:space-between;flex-flow:row wrap;}
.agreeNav ol{display:inline-flex;flex-direction:column;width:calc((100% - 0px)/3);padding:15px;border:1px solid #eee;border-radius:5px;}
.agreeNav ol li{margin-bottom:10px;}
.agreeNav ol.first{border-right:0;border-radius:5px 0 0 5px;}
.agreeNav ol.first ~ ol{border-right:0;border-radius:0;}
.agreeNav ol.first ~ ol:nth-last-of-type(1){border-right:1px solid #eee;border-radius:0 5px 5px 0;}

.privacy-history{margin:0 0 50px;padding:30px;background-color:#f8f8f8;border-radius:3px;}
.privacy-history ul{display:flex;flex-direction:column;}
.privacy-history li{position:relative;padding-left:20px;font-size:14px;color:#333;font-weight:400;line-height:28px;letter-spacing:-0.56px;text-align:left;}
.privacy-history li:before{ content:""; position:absolute; top:15px; left:10px; width:3px; height:3px; background:#666; border-radius:50%;}
.privacy-history li a{vertical-align:baseline;}
.privacy-history li a::after{content:"";display: inline-block;width: 7px;height: 7px;margin-left:4px;border: solid #333;border-width: 0 1.2px 1.2px 0;vertical-align: middle;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);}
.privacy-history li a:hover,
.privacy-history li a:focus{color:#ff5340;text-decoration:underline;}