@charset "utf-8";

.terms-wrap .default-tab-content {margin-bottom:24px;padding:44px 0 20px 0;border-bottom:1px solid #333}
.terms-title{padding-bottom:20px;border-bottom:2px solid #333}
.terms-title .middle-title {margin-top:10px}
.agreements h3.h3 {margin:30px 0 0 0;color:#333;font-size:15px;line-height:20px;font-weight:700;letter-spacing:-0.48px}
.agreements pre {margin-top:10px;color:#333;font-size:13px;line-height:20px;letter-spacing:-0.56px}
.orange,.colorRed2 {color:#ff5340 !important}

.terms-title{padding:0;border-bottom:none;}
.terms-title .tit{margin:50px 0 40px;font-size:30px;color:#333;font-weight:700;line-height:20px;letter-spacing:-1.2px;text-align:left;}

/* 약관 */
.terms .text-area{padding-bottom:25px;}
.terms .text-area .tit{font-size:22px;line-height:24px;letter-spacing:-0.88px;color:#333;font-weight:700;}
.terms .text-area .txt{margin-top:10px;font-size:15px;line-height:22px;letter-spacing:-0.6px;color:#666;}
.terms .etcInnerBox{padding:30px 40px;border:1px solid #ddd;border-radius:5px;column-count:3;column-rule:1px solid #eee;column-gap:50px;}
.terms .etcInnerBox li{position:relative;padding-left:20px;font-size:14px;color:#666;line-height:28px;letter-spacing:-0.56px;text-align:left;}
.terms .etcInnerBox li a.active{font-weight:700;}
.terms .etcInnerBox li:before{ content:""; position:absolute; top:15px; left:10px; width:3px; height:3px; background:#666; border-radius:50%;}
.terms .h3{font-size: 16px;color:#333;font-weight:700;line-height:22px;letter-spacing:-0.64px;}
.terms .content{font-size:14px;color:#333;line-height:22px;letter-spacing:-0.56px;}
.terms pre{white-space:pre-line;}
.terms .scrollTop{padding: 18px 30px 0 0;border-bottom: 1px solid #e3e3e3;text-align: right;}
.terms .oldVer{margin:50px 0 108px;padding:30px 60px;background-color:#f8f8f8;border-radius:3px;column-count:2;}
.terms .oldVer li{position:relative;padding-left:20px;font-size:14px;color:#666;line-height:28px;letter-spacing:-0.56px;text-align:left;}
.terms .oldVer li:before{ content:""; position:absolute; top:15px; left:10px; width:3px; height:3px; background:#666; border-radius:50%;}
