@charset "utf-8";
/* LNB */
.customer .side-content{display:inline-block;width:183px;margin-right:83px;}
.customer .contents{display:inline-block;width:800px;padding:0 0 40px 0;}

.cmain.customer .container{margin:50px auto 80px;width:1081px;}
.customer .side-menu-title{margin-bottom:30px;font-size:30px;color:#333;font-weight:700;line-height:28px;letter-spacing:-1.2px;text-align:left;}
.customer .side-menu-list > ul > li + li{margin-top:15px;}
.customer .side-menu-list > ul > li > a{color:#333;font-size:15px;line-height:20px;letter-spacing:-0.75px;}



/*고객센터 ui 맞춤*/
/* .custom-selectbox .ui-label a{padding:0 15px;} */
/* input{padding:0 15px;} */

/* 고객센터 > 메인 */

.customer-noti-detail{overflow:hidden;}
.cus-wrap{}
.cus-wrap .search-area{padding:30px 85px;background:#f8f8f8;border-radius:5px;}
.cus-wrap .search-area .inputbox{}
.cus-wrap .search-area .inputbox .icon.find-sm{background-position:-54px -386px;}
.cus-wrap + .cus-wrap{margin-top:50px;}
.cus-wrap h3{margin-bottom:20px;color:#333;font-size:22px;font-weight:700;line-height:29px;}
.cus-wrap .tit-wrap{position:relative;}
.cus-wrap .tit-wrap.search-end{margin:50px 0 -30px 0;}
.cus-wrap .tit-wrap.search-end h3{margin-bottom:0;}
.cus-wrap .tit-wrap h3.subheadings{font-size:16px;line-height:21px;font-weight:400;}
.cus-wrap .tit-wrap h3.subheadings strong{color:#FF5340;font-weight:700;}
.cus-wrap .tit-wrap h3.subheadings em{color:#FF5340;font-weight:700;vertical-align:baseline;}
.cus-wrap .tit-wrap p{position:absolute;top:0;right:0;line-height:25px;cursor:pointer;}
.cus-wrap .tit-wrap p a{display:inline-block;padding-right:10px;color:#333;background:url(//imagedev.hmall.com/p/img/co/icon/ico-arrow-sm.png) no-repeat right center;background-size:7px 10px;}
.cus-wrap .accparent{margin-top:20px;border-top:2px solid #666;}
/* .cus-wrap .accparent h3{height:69px;line-height:69px;margin-bottom:0;padding:0 20px;border-top:1px solid #F4F4F4;} */
.cus-wrap .accparent h3{display:flex;align-items:center;height:69px;margin-bottom:0;padding:0 20px;border-top:1px solid #F4F4F4;}
.cus-wrap .accparent h3 span{position:relative;top:0;margin-right:0;vertical-align:top;line-height:26px;}
.cus-wrap .accparent h3 button{display:flex;align-items: center;}
.cus-wrap .accparent h3 .icon.question{position:relative;top:-2px;width:14px;height:26px;margin:-2px 14px 0 0;background:url(//imagedev.hmall.com/p/img/co/icon/ico-question.png) no-repeat center center;background-size:14px 26px;}
.ie .cus-wrap .accparent h3 button{line-height:34px;}
/* .cus-wrap .accparent h3 button .icon.acc-arrow{top:-10px;} */
.cus-wrap .accparent h3 button .icon.acc-arrow{top:50%;transform:translateY(-50%);margin-top:0;}
.cus-wrap .accparent h3.selected button .icon.acc-arrow{transform:translateY(-50%) rotate(-180deg);background: url(//imagedev.hmall.com/p/img/co/icon/ico-accparent-arrow-btn-on.png) no-repeat;}
/* .desktop.winos.chrome .cus-wrap .accparent h3 span{vertical-align:top;} */
.cus-wrap .accparent h3 em{color:#FF5340;font-weight:700;vertical-align:inherit;}
/* .desktop.winos.chrome .cus-wrap .accparent h3 span{line-height:26px;vertical-align:top;}
.desktop.winos.chrome .cus-wrap .accparent h3 .icon.question{margin:-2px 14px 0 0;}
.desktop.winos.chrome .cus-wrap .accparent h3 em{color:#FF5340;font-weight:700;vertical-align:inherit;}
.desktop.winos.firefox .cus-wrap .accparent h3 span{line-height:50px;}
.desktop.winos.firefox .cus-wrap .accparent h3 em{vertical-align:baseline;}
.desktop.winos .cus-wrap .accparent h3 span{line-height:58px;vertical-align:top;}
.desktop.winos .cus-wrap .accparent h3 em{vertical-align:baseline;}
.desktop.winos .cus-wrap .accparent h3 button{height:69px;}
.desktop.winos .cus-wrap .accparent h3 .icon.question{margin:10px 14px 0 0;} */
.cus-wrap .accparent h3 i{vertical-align:baseline;}
.cus-wrap .accparent .accordion-panel{padding:30px 60px 40px;background:#F8F8F8;}
.cus-wrap .accparent .accordion-panel .img-wrap{margin-bottom:20px;}
.cus-wrap .accparent .accordion-panel .txt-wrap{color:#333;font-size:15px;line-height:21px;}
.cus-wrap .accparent .accordion-panel .txt-wrap p + p{margin-top:30px;}
.cus-wrap .search{position:relative;width:100%;height:100px;padding:27px 87px;margin-left:0;border-radius:5px;background:#f8f8f8;}
.cus-wrap .search .field{position:static;border-radius:5px;}
.cus-wrap .search .inputbox{width:628px;height:46px;}
.cus-wrap .search .inputbox .inplabel input{height:46px;padding:0 75px 0 14px;border-radius:5px;background:#fff;color:#aaa;font-size:15px;}
.cus-wrap .search .icon.find{width:18px;height:18px;background:transparent url(//imagedev.hmall.com/p/img/co/icon/ico-find-black.png) no-repeat 100% 100%;background-size:18px;}

/* faq 중복 열림 처리 */
.cus-wrap .accparent .acclist.ui-active h3 button .icon.acc-arrow{transform:translateY(-50%) rotate(-180deg);background: url(//imagedev.hmall.com/p/img/co/icon/ico-accparent-arrow-btn-on.png) no-repeat;}
.cus-wrap .accparent .acclist.ui-active .accordion-panel{display:block;}

.cus-wrap.noti{display:flex;justify-content:space-between;}
.cus-wrap.noti .question-wrap{width:270px;}
.cus-wrap.noti .question-wrap h3{margin-bottom:23px;}
.cus-wrap.noti .question-wrap .btngroup .btn{width:100%;height:66px;border-radius:5px;}
.cus-wrap.noti .question-wrap .btngroup .btn span{line-height:66px;font-weight:700;}
.cus-wrap.noti .question-wrap .btngroup .btn.btn-board{color:#333;border:1px solid #ddd;background:#fff;}
.cus-wrap.noti .question-wrap .btngroup .btn.btn-chat{color:#fff;border:1px solid #6AB6D4;background:#91D0E8;}
.cus-wrap.noti .question-wrap .btngroup .btn.btn-board .icon{width:30px;height:27px;margin-right:13px;vertical-align:middle;background:url(//imagedev.hmall.com/p/img/cc/icon-board.png) no-repeat;background-size:30px 27px;}
.cus-wrap.noti .question-wrap .btngroup .btn.btn-chat .icon{width:34px;height:30px;margin-right:13px;vertical-align:middle;background:url(//imagedev.hmall.com/p/img/cc/icon-chat.png) no-repeat;background-size:34px 30px;}
.cus-wrap.noti .question-wrap .btngroup .btn + .btn{margin-top:18px;}
.cus-wrap.noti .noti-wrap{width:480px;margin-left:50px;}
.cus-wrap.noti .noti-wrap .tblwrap{max-width:480px;}
.cus-wrap.noti .noti-wrap .tblwrap table td{border:none;}
.cus-wrap.noti .noti-wrap .tblwrap table{width:inherit;}
.cus-wrap.noti .noti-wrap .tblwrap table td{padding:4px 0;font-size:15px;line-height:21px;}
.cus-wrap .tblwrap table td.nowrap a,
.cus-wrap.noti .noti-wrap .tblwrap table td.nowrap a{max-width: calc(100% - 70px);}
.cus-wrap .tblwrap table td.nowrap .notice-label + a,
.cus-wrap.noti .noti-wrap .tblwrap table td.nowrap .notice-label + a{max-width: calc(100% - 132px);}
.cus-wrap.monitering{padding:20px 58px 19px 60px;border:1px solid #ddd;border-radius:5px;overflow:hidden;}
.cus-wrap.monitering a{display:inline-block;width:337px;}
.cus-wrap.monitering dl{width:80px;height:80px;border-radius:100%;}
.cus-wrap.monitering dl dt{margin-bottom:7px;font-size:17px;line-height:24px;font-weight:700;}
.cus-wrap.monitering dl dd{font-size:15px;line-height:20px;}
.cus-wrap.monitering dl dt, .cus-wrap.monitering dl dd{display:block;margin-left:95px;min-width:164px;}
.cus-wrap.monitering dl.cus-rating{background:#DEF3FB url(//imagedev.hmall.com/p/img/cc/icon-rating.png) no-repeat 23px center;background-size:43px 40px;}
.cus-wrap.monitering dl.cus-channel{background:#DEF3FB url(//imagedev.hmall.com/p/img/cc/icon-channel.png) no-repeat center center;background-size:56px 56px;}
.cus-wrap.monitering dl.cus-channel dd{width:204px;}
.cus-wrap.monitering a + a{position:relative;padding-left:47px;}
.cus-wrap.monitering a + a:before{content:'';position:absolute;top:50%;left:0;transform:translateY(-50%);width:1px;height:82px;background:#E5E5E5;}
.cus-wrap .paging{margin-top:30px;}
.cus-wrap .nodata{padding:80px 0;border-top:2px solid #666;border-bottom:1px solid #eee;}
.cus-wrap .nodata p{margin-top:0;font-size:15px;line-height:20px;}
.cus-wrap .faq-tab .faq-full{width:100%;display:flex;flex-wrap:wrap;justify-content:flex-start;}
.cus-wrap .faq-tab .faq-full li{flex:0 0 260px;width:260px;display:table;height:50px;margin-left:10px;border-radius:5px;border:1px solid #ddd;text-align:center;background:#fff;} 
.cus-wrap .faq-tab .faq-full li:nth-child(3n+1){margin-left:0;} 
.cus-wrap .faq-tab .faq-full li:nth-child(n+4){margin-top:8px;}
.cus-wrap .faq-tab .faq-full li a{display:inline-block;width:100%;height:100%;color:#333;font-size:16px;font-weight:400;line-height:46px;}
.cus-wrap .faq-tab .faq-full li.on{border:0;background:#3ABBD5;}
.cus-wrap .faq-tab .faq-full li.on a{color:#fff;font-weight:700;line-height:48px;}
.cus-wrap .tblwrap{max-width:800px;}
.cus-wrap .tblwrap table th, .tblwrap table td{border:none;}
.cus-wrap .tblwrap table td{font-size:15px;line-height:20px;border-bottom:1px solid #eee;}
.cus-wrap .tblwrap img{display:inline-block;width:18px;height:18px;margin-left:5px;}
.cus-wrap .tblwrap.noti-detail img{width:auto;height:auto;max-width:738px;}
.cus-wrap .tblwrap .board-file{display:inline-block;min-width:469px;width:auto;margin-top:30px;padding:0 27px 0 20px;height:54px;line-height:54px;border:1px solid #eee;border-radius:5px;background:#fff;box-shadow: -3px 0px 6px 0px rgba(0, 0, 0, 0.06);overflow:hidden;}
.cus-wrap .tblwrap .board-file dt, .cus-wrap .tblwrap .board-file dd{display:inline-block;}
.cus-wrap .tblwrap .board-file dt{margin-right:9px;color:#333;font-size:14px;font-weight:700;}
.cus-wrap .tblwrap .board-file dd{font-size:14px;font-weight:700;}
.cus-wrap .tblwrap .board-file dd a{color:#999;vertical-align:baseline;}
.customer-noti .tblwrap table th{padding:17px;}
.customer-noti .tblwrap table td{padding:19px;}
.customer-noti-detail .tblwrap table th{color:#666;}
.customer-noti-detail .tblwrap table td{padding:30px 30px 40px;}
.customer-noti-detail .tblwrap table td p{font-size:15px;line-height:20px;}

/* 이전글 , 다음글 */
.tblwrap.noti-next-list table th{border-bottom:1px solid #eee;background:transparent;}
.tblwrap.noti-detail table th{padding:17px 20px;}
.tblwrap.noti-next-list table th, .tblwrap.noti-next-list table td{padding:20px;}
.tblwrap.noti-next-list .nowrap a{width:650px;white-space:nowrap;word-break:break-all;text-overflow:ellipsis;overflow:hidden;}
.cus-wrap .btngroup.cuslist-btn{margin-top:30px;text-align:right;}
.cus-wrap .btngroup.cuslist-btn .btn{width:120px;}

/* 1:1상담신청 - 윈도우팝업 */
a:visited{color:#666;}
.popup-win .ctypo14{line-height:21px;}
.popup-win.cus-consult{width:100%;height:auto;min-height:auto;padding:0;background:#fff;}
.popup-win.cus-consult .pop-content-wrap{width:100%;}
.popup-win.cus-consult .pop-content{padding-bottom:0;}
/* .popup-win.cus-consult .pop-content .desc .btn{margin-top:10px;} */
.popup-win.cus-consult .pop-content .desc .btn{position:relative;top:-2px;margin-top:0;}
@media(max-width:725px){
    .popup-win.cus-consult .pop-content .desc .btn{top:0;margin-top:10px;}
}
.popup-win.cus-consult .pop-content .desc .btn span{color:#333;font-weight:400;}
/* .popup-win.cus-consult .pop-content .content{margin:30px 40px 0;padding-bottom:50px;}  */
.popup-win.cus-consult .pop-content .content{margin:30px 40px 0;padding-bottom:0;} 
.consult-wrap .selectwrap{height:46px;}
.consult-wrap .selectwrap:not(:first-child){margin-top:10px;}
/* .custom-selectbox + .custom-selectbox{margin-top:10px;}
.content .custom-selectbox .selectbox_area{max-height:138px;overflow-y:auto;} */
.popup-win.cus-consult .pop-content .content .product-wrap{margin:20px 0 30px 0;}
.popup-win.cus-consult .pop-content .content .product-wrap p{padding:44px 0;color:#aaa;font-size:14px;text-align:center;}
.popup-win.cus-consult .pop-content .content .product-wrap a{display:block;}
.popup-win.cus-consult .pop-content .content .btngroup{margin:0;padding-bottom:80px;}
/* .content .custom-selectbox .ui-selectbox{border:1px solid #ddd;border-top:none;color:#666;}
.content .custom-selectbox .ui-label a{height:46px;line-height:44px;font-size:14px;border:1px solid #ddd;border-radius:5px;color:#666;text-align:left;}
.content .custom-selectbox .ui-selectbox a{height:46px;line-height:44px;padding-left:20px;color:#666;text-align:left;} */
.popup-win.cus-consult .pop-content .content .product-wrap.delete{border:3px dashed #eee;cursor:pointer;}
.popup-win.cus-consult .pop-content .content .product-wrap.delete p .icon{width:13px;height:13px;margin:-4px 10px 0 0;background:url(//imagedev.hmall.com/p/img/cc/ico-plus-13x13.png) no-repeat center center;background-size:13px 13px;}
.content .custom-selectbox .ui-label a:after{margin-top:-7px;}
.content .custom-selectbox.ui-active .ui-label a:after{margin-top:-2px;}
.popup-win.cus-consult.product-select{width:100%;height:100%;min-height:auto;padding:0;background:#fff;}
/* .popup-win.cus-consult.product-select .pop-content .content{width:502px;min-height:512px;margin:30px auto 0;} */
.popup-win.cus-consult.product-select .pop-content .content{width:100%;min-height:512px;margin:30px 0 0;padding-bottom:0;}
.popup-win.cus-consult.product-select .pop-content .content .order-select{margin:0 auto;}
.popup-win.cus-consult.product-select .pop-content .content .btngroup{margin:30px auto 40px;text-align:center;}
.popup-win.cus-consult.product-select .pop-content .content .btngroup .btn:nth-last-child(2), 
.popup-win.cus-consult.product-select .pop-content .content .btngroup .btn:nth-last-child(2) ~ .btn{width:calc((100% - 300px)/2);}
.popup-win.cus-consult .ctypo14.pay{margin-top:10px;}
.popup-win.cus-consult .consult-form-wrap .pay-change-box{margin-top:20px;}
.popup-win.cus-consult .consult-form-wrap .pay-change-box dl dd{color:#000;}
.popup-win.cus-consult .consult-form-wrap .pay-change-box dl dd strong{color:#000;}
.popup-win.cus-consult .guide-box{padding:20px;border:1px solid #eee;border-radius:5px;}
.popup-win.cus-consult .guide-box .ctypo18{margin-bottom:20px;padding-bottom:20px;color:#333;border-bottom:1px solid #eee;}
.popup-win.cus-consult .guide-box .dotlist{margin-bottom:0;}
.popup-win.cus-consult .tit-wrap{position:relative;}
.popup-win.cus-consult .tit-wrap h3{line-height:34px;}
.popup-win.cus-consult .pop-content .content .tit-wrap .btngroup{position:absolute;top:0;right:0;margin:0 !important;}
.popup-win.cus-consult .pop-content .content .tit-wrap .btngroup span{font-weight:400;}
.popup-win.cus-consult .pay-type-box .box-list > li .radio-box > span{display:inline-flex;margin-left:10px;width:120px;}
.popup-win.cus-consult .type-between-box{margin-top:20px;}
.popup-win.cus-consult .type-between-box.card > li{display:inherit;justify-content:inherit;}
.popup-win.cus-consult .type-between-box.card > li .selectwrap{display:inline-block;width:235px;}
.popup-win.cus-consult .type-between-box.card > li .radiobox{margin-top:15px;}
.popup-win.cus-consult .type-between-box.card > li .ctyop14{margin-top:15px;}
/* .popup-win.cus-consult .pay-type-box.type2 .box-list > li .type-between-box.card > li > div .selectwrap{margin-left:0;width:235px;} */
.popup-win.cus-consult .type-between-box > li .l-wrap{width:201px;line-height:32px;}
.popup-win.cus-consult .pay-type-box.type2 .box-list > li .type-between-box > li > div .inputbox.w_120{width:120px;}
.popup-win.cus-consult .type-between-box > li .r-wrap{width:246px;}
/*추후 common.css로 뺄 예정*/
.pay-type-box .box-list > li .radio-box{display:flex;font-size:0;}
.popup-win.cus-consult .pay-type-box .box-list > li .radio-box > span:first-child{margin-left:0;}
.pay-type-box .box-list > li .radio-box > span input{position:absolute;width:0;height:0;line-height:0;text-indent:-9999px;}
.pay-type-box .box-list > li .radio-box > span label{position:relative;display:inline-flex;justify-content:center;align-items:center;width:100%;height:40px;text-align:center;border-radius:5px;cursor:pointer;}
.pay-type-box .box-list > li .radio-box > span label:before{content:'';position:absolute;top:0;left:0;width:100%;height:100%;border-radius:5px;border:1px solid #ccc;}
.pay-type-box .box-list > li .radio-box > span label .text{position:relative;display:block;padding:0;color:#666;font-size:16px;}
.pay-type-box .box-list > li .radio-box > span input:checked + label:before{border:2px solid #ff5340;}
.pay-type-box .box-list > li .radio-box > span input:checked + label:after{content:'';display:block;position:absolute;top:-6px;right:-6px;width:22px;height:22px;background:url(//imagedev.hmall.com/p/img/mp/icon/icon-checkbox.png) no-repeat center center;}
.pay-type-box .box-list > li .radio-box > span input:checked + label .text{color:#ff5340;font-weight:700;}
.pay-type-box .box-list > li .radio-box > span.hmallpay .icon{width:120px;height:40px;background:url(//imagedev.hmall.com/p/img/mp/logo-hmallpay-off.png) no-repeat center center;background-size:120px 40px;}
.popup-win.cus-consult .pay-type-box.type2 .box-list{padding:0;border:none;}
.popup-win.cus-consult .pay-type-box.type2 .box-list > li + li{padding-top:0;border-top:none;}
.popup-win.cus-consult .pay-type-box.type2 .box-list > li .type-between-box > li > div{align-items:center;}
.popup-win.cus-consult .pay-type-box.type2 .box-list > li .type-between-box > li > div .text{color:#333;font-size:14px;}
.popup-win.cus-consult .pay-type-box.type2 .box-list > li .type-between-box > li > div .text strong{font-size:14px;}
.popup-win.cus-consult .pay-type-box.type2 .box-list > li .type-between-box > li > div .selectwrap{margin-left:20px;width:240px;font-size:13px;}
.popup-win.cus-consult .pay-type-box.type2 .box-list > li .type-between-box > li > div .inputbox.w_120{margin:0 5px 0 20px;}
.popup-win.cus-consult .pay-type-box.type2 .box-list > li .type-between-box > li > div .inputbox.w_120 input{padding:0 14px;}
.popup-win.cus-consult .type-between-box{border:1px solid #eee;border-radius:5px;}
.popup-win.cus-consult .type-between-box > li{display:flex;justify-content:space-between;flex-wrap:nowrap;padding:20px;}
.popup-win.cus-consult .type-between-box > li .l-wrap .chklabel span{font-size:15px;}
.popup-win.cus-consult .type-between-box > li .l-wrap .chklabel span strong{font-size:17px;vertical-align:baseline;}
.popup-win.cus-consult .type-between-box > li .l-wrap .text{color:#333;font-size:15px;}
.popup-win.cus-consult .type-between-box > li .l-wrap .text strong{color:#000;font-size:17px;vertical-align:baseline;}
.popup-win.cus-consult .type-between-box > li .r-wrap{display:inline-flex;justify-content:flex-end;}
.popup-win.cus-consult .type-between-box > li .r-wrap .inputbox{}
.popup-win.cus-consult .type-between-box > li .r-wrap .inputbox .unit{position:absolute;top:0;right:15px;line-height:34px;color:#666;font-size:13px;}
.popup-win.cus-consult .type-between-box > li .r-wrap .inputbox input{padding-right:28px;text-align:right;}
.popup-win.cus-consult .type-between-box > li .r-wrap .radlabel span{font-size:15px;}
.popup-win.cus-consult .type-between-box > li .r-wrap .radlabel + .radlabel{margin-left:20px;}
.popup-win.cus-consult .type-between-box > li .selectwrap{height:34px;}
/*//추후 common.css로 뺄 예정*/
.order-item + .order-item{margin-top:20px;}
.order-select{width:520px;max-height:474px;overflow-y:auto;}
.order-select .order-item{width:502px;border:1px solid #eee;border-radius:5px;}
.order-item ul li{margin:20px 0;}
.order-select .order-item .info{display:flex;align-items:center;height:40px;padding:0 20px;background:#f8f8f8;color:#333;font-size:15px;font-weight:700;}
.order-select .order-item .info .date{margin-right:10px;color:#111;font-weight:400;}
.order-select .order-item .info .product-num{font-weight:700;}
.order-select li{position:relative;padding:0 0 0 28px;}
.order-select li .radiobox{position:absolute;top:0;left:0;width:100%;height:90px;}
.order-select li .radiobox .radlabel{position:absolute;top:0;left:0;width:100%;height:100%;background:transparent;z-index:1;}
.order-select li .radiobox .radlabel input{visibility:hidden;}
.order-select .order-item ul{width:100%;display:flex;flex-wrap:wrap;padding:20px;}
.order-select .order-item ul li{margin:20px 0 0 0;display:table;width:100%;height:90px;}
.order-select .order-item ul li:first-child{margin-top:0;}
.order-select .order-item ul li .pdwrap{width:auto;}
.order-select .order-item ul li .pdwrap .pdlist-wrap .pdthumb{align-items:center;}
.order-select .order-item ul li .pdwrap .pdlist-wrap figcaption{margin:0;width:auto;}
.order-select .order-item ul li .pdwrap .pdlist-wrap figcaption .pdname{width:auto;}
.add-freebox{margin-top:15px;padding:16px 20px 15px;border-radius:5px;background:#EFF8F9;}
.add-freebox dl{position:relative;margin-top:10px;font-size:0;}
.add-freebox dl:first-child{margin-top:0;}
.add-freebox dt{position:absolute;top:0;left:0;line-height:20px;color:#333;font-size:13px;font-weight:700;letter-spacing:-0.52px;}
.add-freebox dd{padding-left:90px;line-height:20px;font-size:13px;letter-spacing:-0.52px;}
.add-freebox dd.sumwrap{margin-bottom:10px;}
.add-freebox dd{margin-bottom:4px;}
.add-freebox dd:last-of-type{margin-bottom:0;}
.add-freebox dd span + span:before{content: "";display:inline-block;width:1px;height:10px;margin:0 10px 0 6px;background:#ddd;}
.pdwrap{overflow:hidden;position:relative;width:342px;}
.pdwrap.pdlist .pdlist-wrap{flex-direction:column;justify-content:space-between;}
.pdlist.pdconsult figure{display:flex;align-items:center;height:92px;}
.pdlist.pdconsult .thumb{position:relative;overflow:hidden;width:90px;height:90px;border-radius:5px;}
.pdlist.pdconsult .thumb img{width:90px;height:90px;border-radius:5px;object-fit: contain;}
.pdlist.pdconsult .thumb + figcaption{width:calc(100% - 90px);padding-left:15px;}
.popup-win.cus-consult.product-select figcaption{width:237px;margin:6px 0 12px 0;}
.popup-win.cus-consult.product-select .pdlist.pdconsult .thumb:before{width:90px;height:90px;}
.pdlist.pdconsult .pdname{display:block;width:100%;margin-bottom:1px;color:#333;font-size:15px;line-height:20px;white-space:nowrap;}
.pdlist.pdconsult .pdoption{overflow:hidden;}
.pdlist.pdconsult .pdoption span{position:relative;display:inline-block;color:#666;font-size:13px;line-height:17px;letter-spacing:-0.52px;}
.product-select .order-item .pdlist.pdconsult .pdoption span{color:#999;}
.pdlist.pdconsult .pdoption span em, .pdlist.pdconsult .pdprice b{display:inline-block;color:inherit;font:inherit;vertical-align:baseline;}
.pdlist.pdconsult .pdoption span + span{margin-left:4px;padding-left:8px;}
.pdlist.pdconsult .pdoption span + span:before{content:"";display:inline-block;position:absolute;top:50%;left:0;width:1px;height:10px;margin-top:-4px;background:#ddd;}
.pdwrap .pdprice{position:relative;}
.pdwrap .pddate{margin-top:5px;color:#999;font-size:13px;}
.pdwrap.pdlist .pdprice ins{text-decoration:none;}
.pdwrap.pdlist .pdprice em{color:#000;font-size:17px;line-height:27px;letter-spacing:-0.64px;}
.product-delete .pdwrap.pdlist .pdprice em{line-height:0;}
.pdwrap.pdlist .pdprice b{color:#000;font-size:14px;line-height:18px;letter-spacing:-0.56px;}

/*주문상품선택*/
.popup-win.cus-consult.product-select .order-item ul li .pdlist-wrap figcaption .pdname{width:320px;white-space:nowrap;word-break:break-all;text-overflow:ellipsis;overflow:hidden;}

/* 1:1상담신청 취소신청 */
/* .popup-win.cus-consult.product-delete{width:642px;min-height:482px;height:800px;} */
.popup-win.cus-consult.product-delete{width:100%;min-height:auto;height:auto;}
.popup-win.cus-consult.product-delete .btngroup{margin:30px 0 0 0 !important;}
.choice-item{margin-top:20px;padding:15px 12px 15px 15px;border:1px solid #E5E5E5;border-radius:5px;}
.choice-item .pdlist.pdconsult{width:485px;}
.choice-item .pdlist.pdconsult figure{height:auto;min-height:92px;}
.choice-item .pdlist.pdconsult .thumb + figcaption{width:222px;margin-top:0;}
.choice-item .pdlist.pdconsult .pdname{width:210px;white-space:nowrap;word-break:break-all;text-overflow:ellipsis;overflow:hidden;}
.choice-item figcaption .delive-stat{margin-bottom:5px;color:#3ABBD5;font-size:14px;font-weight:700;line-height:18px;}
.choice-item .pdoption{margin:4px 0 3px 0;}
.choice-item .another{width:135px;height:34px;margin:28px 0 0 39px;line-height:34px;border-radius:5px;}
.choice-item .another .btn .icon{width:18px;height:14px;background:url(//imagedev.hmall.com/p/img/cc/icon-reselect.png) no-repeat;background-size:18px 14px;}
.consult-form-wrap{margin-top:30px;}
.consult-form-wrap.field-only{margin-top:20px;} 
.consult-form-wrap h3{color:#333;font-size:17px;line-height:24px;}
.consult-form-wrap .radiobox{display:flex;align-items:center;justify-content:inherit;margin-bottom:20px;}
.consult-form-wrap .radiobox .label{margin-right:30px;color:#666;font-size:14px;}
.consult-form-wrap .consult-form{margin-top:15px;}
.consult-form-wrap .consult-form .radlabel .icon{width:18px;height:18px;}
.consult-form-wrap .consult-form .radlabel span{font-size:15px;}
.consult-form-wrap .consult-form .radlabel + .radlabel{margin-left:20px;}
.consult-form-wrap .consult-form .field{margin-bottom:0;}
.consult-form-wrap .consult-form .field .selectwrap{height:46px;}
.consult-form-wrap .consult-form .field + .field{margin-top:10px;}
/* .consult-form-wrap .consult-form .txtlabel{height:63px;} */
.consult-form-wrap .consult-form .txtlabel{height:150px;}
.consult-form-wrap .consult-form .txtlabel textarea{resize:none;}
.consult-form-wrap .consult-form .textareabox{/* height:130px; */height:220px;padding:20px 0 47px 0;}
.consult-form-wrap .consult-form .textareabox .txtcount{right:15px;bottom:15px;}
.consult-form-wrap .caution-list{margin-left:10px;}

/* 고객의견 */
.popup-win.end{height:356px;}
.popup-win.end .pop-content{padding:50px 40px;}
.popup-win.end .pop-content p{text-align:center;}
.popup-win.end .pop-content .subheadings{margin-bottom:15px;color:#FF5340;font-size:17px;font-weight:700px;line-height:24px;}
.popup-win.end .pop-content .btn{margin-top:30px;width:100%;}
.cus-opinion.end .pop-content-wrap{width:540px;}
/* .popup-win.cus-opinion{width:929px;min-height:482px;height:800px;} */
.popup-win.cus-opinion{width:100%;min-height:482px;height:800px;padding:0;}
/* .cus-opinion .pop-content-wrap{width:880px;} */
.popup-win.cus-opinion .pop-content-wrap{width:100%;}
/* .popup-win.cus-opinion .pop-content .content{width:800px;} */
.popup-win.cus-opinion .pop-content .content{width:800px;}
.popup-win.cus-opinion .tblwrap{width:800px;}
.popup-win.cus-opinion.end{width:589px;min-height:355px;height:355px;}
.popup-win.cus-opinion .pop-wrap .content .box-type{padding:20px;border:1px solid #eee;border-radius:5px;}
.popup-win.cus-opinion.end .ctypo14 em{color:#333;font-weight:700;vertical-align:baseline;}
.popup-win.cus-opinion.end .pop-content .btn{width:inherit;}
.popup-win.cus-opinion.end .pop-content .btngroup{margin:0 0 10px 0;}
.popup-win.cus-opinion.end .pop-content .btngroup .btn:nth-last-child(2), .popup-win.cus-opinion.end .pop-content .btngroup .btn:nth-last-child(2) ~ .btn {width:calc((100% - 8px)/2);}
/* .popup-win.cus-consult.product-delete.case01{width:632px;min-height:482px;height:800px;} */
.popup-win.cus-consult.product-delete.case01{width:100%;min-height:482px;height:auto;}
.popup-win.cus-opinion-write.end{width:100%;min-height:auto;height:auto;padding:0;}
.popup-win.cus-opinion-write.end .pop-content-wrap{width:100%;}
.popup-win.cus-consult.product-delete .caution-list{margin-top:10px;}
.pickup-loca{display:flex;justify-content:space-between;margin:15px 0 30px;padding:20px;border:1px solid #ddd;border-radius:5px;overflow:hidden;}
/* .pickup-loca .address-wrap{height:50px;} */
.pickup-loca .address-wrap{height:auto;}
.pickup-loca .address-wrap .name{color:#333;line-height:20px;font-weight:700;}
.pickup-loca .address-wrap .name em{line-height:20px;vertical-align:baseline;font-weight:700;}
/* .pickup-loca .address-wrap .address{width:330px;margin-top:10px;font-weight:400;line-height:20px;white-space:nowrap;word-break:break-all;text-overflow:ellipsis;overflow:hidden;} */
.pickup-loca .address-wrap .address{width:370px;margin-top:10px;font-weight:400;line-height:20px;}
.pickup-loca .btn{margin-top:8px;}

.picmov-add{margin-top:15px;}
.picmov-aligner{display:flex;}
.picmov-add .upload + .upload{margin-left:10px;}
.picmov-add .upload{position:relative;width:calc(25% - 10px);max-width:80px;height:80px;border-radius:5px;border:1px solid #eee;background:#fff url(//imagedev.hmall.com/p/img/cc/icon-picmov-picture.png) no-repeat center center;background-size:27px 21px;overflow:hidden;}
.picmov-add .upload.mov{position:relative;width:calc(25% - 10px);max-width:80px;height:80px;border-radius:5px;-webkit-border-radius:5px;border:1px solid #eee;background:#fff url(//imagedev.hmall.com/p/img/cc/icon-picmov-movie.png) no-repeat center center;background-size:27px 21px;overflow:hidden;}
.picmov-add .upload .filelabel{display:block;height:100%;}
.picmov-add .upload .filelabel:before{content:"";display:inline-block;position:absolute;bottom:0;right:0;width:22px;height:22px;background:url('//imagedev.hmall.com/p/img/co/icon/ico-plus-rb.svg') no-repeat 50% 50%;}
.picmov-add .upload .upfile{display:block;position:relative;z-index:1;width:80px;height:80px;}
.picmov-add .upload .upfile img{width:100%;height:100%;}
.picmov-add .upload .btn-close{position:absolute;bottom:0;right:0;z-index:1;width:22px;height:22px;padding:0;background:rgba(0,0,0,0.52);border-radius:0;-webkit-border-radius:0;}
.picmov-add .upload .btn-close .icon.close{width:14px;height:14px;background:url(//imagedev.hmall.com/p/img/cc/icon-btn-close.png) no-repeat center center;background-size:14px 14px;}
.picmov-add .upload input[type=file]{position:absolute;top:0;left:0;width:1px;height:1px;opacity:0;}

.prop-change{position:relative;padding:15px 22px 26px;background:#f8f8f8;border-radius:5px;}
.prop-change .ctypo15{margin-bottom:19px;color:#111;font-weight:700;line-height:20px;}
.prop-change li{display:flex;align-items:center;flex-wrap:wrap;}
.prop-change li + li{margin-top:18px;}
.prop-change strong{width:54px;font-size:14px;font-weight:400;line-height:18px;}
.prop-change .ctrl{width:calc(100% - 54px);padding-left:41px;}
.prop-change .ctrl .radiobox{margin-bottom:0;}
.prop-change .spinner{width:150px;}
.spinner{display:flex;border:1px solid #ddd;}
.spinner .btn{width:34px;min-width:34px;height:34px;padding:0;border:0;border-radius:0;}
.spinner .inputbox{height:34px;}
.spinner .inputbox input{vertical-align:middle;text-align:center;border:none;}
.spinner .btn .icon{position:relative;width:10px;height:10px;}
.spinner .btn .icon:before,
.spinner .btn .icon:after{content:"";position:absolute;top:50%;left:0;display:block;width:10px;height:1px;background:#999;}
.spinner .btn .icon:after{transform:rotate(90deg);-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg); }
.spinner .btn-minus{border-right:1px solid #ddd;}
.spinner .btn-minus .icon:after{display:none;}
.spinner .btn-plus{border-left:1px solid #ddd;}
.spinner .input-number{text-align:center;line-height:36px;}
.prop-change .radiobox{justify-content:flex-start;}
.consult-form-wrap .consult-form .prop-change .radlabel{margin-bottom:0;background:transparent;}
.prop-change .radlabel span{color:#666;}
.prop-change .btn-close{position:absolute;top:10px;right:8px;background:transparent;}
.prop-change  .btn-close .icon{background:none;}
.prop-change .btn-close .icon:before,
.prop-change .btn-close .icon:after{content:'';position:absolute;height:1px;width:18px;top:50%;left:50%;margin:-1px 0 0 -10px;background:#999;}
.prop-change .btn-close .icon:before{border-radius:5px;-webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); -o-transform:rotate(45deg); transform:rotate(45deg); -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; }
.prop-change .btn-close .icon:after{border-radius:5px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);}
.prop-change .btn-close span{color:transparent;}
.popup-win.cus-option.type{min-height:330px;height:330px;}

.popup-win.cus-opinion .field{height:34px;}
.popup-win.cus-opinion .dotlist{margin-bottom:0;}
/* .popup-win.cus-opinion .pop-content .content{margin:30px 40px 50px;} */
.popup-win.cus-opinion .pop-content .content{margin:30px auto 50px;}
.popup-win.cus-opinion .tabgroup.tab-bottom .ui-tab{justify-content:inherit;padding-left:244px;}
.popup-win.cus-opinion .tabgroup.tab-bottom .ui-tab li{width:156px !important;}
.tab-pane .box-type .dotlist.row{margin-top:12px;overflow:hidden;}
.dotlist.row li{display:inline-block;line-height:34px;}
.dotlist.row li + li{margin-left:20px;}
.dotlist.row li:before{top:15px;}
.dotlist.row li .btn{margin-left:7px;}
.dotlist.row li .btn span{color:#333;}
.dotlist.row li .btn .icon.btn-arrow{width:7px;height:10px;margin:-3px 0 0 5px;background:url(//imagedev.hmall.com/p/img/co/icon/ico-arrow-sm.png) no-repeat center center;background-size:7px 10px;}
.search-form{margin-top:30px;}
.search-form p{color:#333;font-size:15px;font-weight:700;line-height:20px;}
.search-form .search-area .search-term{height:34px;line-height:34px;}
.search-form .search-area .search-term a{display:inline-block;font-size:13px;line-height:28px;}
.search-form .search-area .search-term a + a{position:relative;padding-left:30px;line-height:28px;}
.search-form .search-area .search-term a + a:before{content:'';position:absolute;top:50%;left:0;transform:translateY(-50%);width:1px;height:14px;margin-left:12px;background:#ddd;}
.search-form .search-area .search-term a.active{width:59px;height:28px;margin-right:12px;font-weight:700;line-height:28px;text-align:center;border:1px solid #ccc;border-radius:5px;}
.search-form .search-area .search-term a.active + a{padding-left:0px;}
.search-form .search-area .search-term a.active + a:before{background:transparent;}
.search-form .search-area .search-term a.active:nth-child(2),
.search-form .search-area .search-term a.active:nth-child(3){margin-left:12px;padding-left:0;}
.search-form .search-area .search-term a.active:nth-child(2):before,
.search-form .search-area .search-term a.active:nth-child(3):before{background:transparent;}
.search-form span{margin-left:4px;font-size:14px;font-weight:400;}
.search-form span em{color:#FF5340;font-weight:700;vertical-align:baseline;}
.search-form .search-area{display:flex;justify-content:space-between;margin-top:10px;}
.search-form .search-area .field{display:flex;}
.search-form .search-area .selectwrap{width:168px;}
.search-form .search-area .custom-selectbox{height:34px;}
.search-form .search-area .custom-selectbox .ui-label a{height:34px;line-height:32px;}
.search-form .search-area .custom-selectbox .ui-selectbox a{height:34px;line-height:34px;}
.search-form .search-area .custom-selectbox.ui-active{height:auto;padding-top:34px;}
.search-form .search-area .custom-selectbox.ui-active .selectbox_area{max-height:calc(34px * 5);}
.search-form .search-area .custom-selectbox.ui-bottom{bottom:-34px;padding-top:0;padding-bottom:0;}
.search-form .search-area .custom-selectbox.ui-bottom .ui-label a::before{bottom:34px;}
.search-form .search-area .custom-selectbox.ui-bottom .ui-selectbox{padding-bottom:34px;}
.search-form .search-area .selectwrap{width:168px;}
.search-form .search-area .selectwrap,
.search-form .search-area .inputbox,
.search-form .search-area .btn-find{display:inline-flex;}
.search-form .search-area .inputbox{margin:0 10px;}
/* .search-form .field .custom-selectbox .ui-label{width:168px;height:34px;} */
/* .search-form .field .custom-selectbox .ui-label a{width:168px;height:34px;line-height:31px;} */
/* .search-form .field .custom-selectbox .ui-selectbox a{height:34px;line-height:31px;} */
/* .search-form .field .inputbox{height:34px;}
.search-form .field .inputbox input{width:240px;height:34px;line-height:34px;} */
.search-form .field .inputbox{width:240px;height:34px;}
.search-form .inputbox.sm .icon.find{width:22px;height:22px;background:transparent url(//imagedev.hmall.com/p/img/co/icon/ico-find-22px-1x.png) no-repeat 100% 100%;background-size:22px;}
/* .search-form .field .inputbox input{height:34px;line-height:34px;} */
.board .tblwrap table th{height:54px;border:none;}
.board .tblwrap table td{height:60px;border-bottom:1px solid #eee;}
.board .tblwrap table .free-box td{border-bottom:0;}
.board .tblwrap table .free-box td:first-child{border-bottom:1px solid #eee;}
.board .tblwrap table td .add-freebox{margin-top:0;}
.board .tblwrap table td .add-freebox dl + dl{margin-top:12px;}
.board .tblwrap table td .add-freebox .btngroup{display:inline-block;margin:0 0 0 5px;}
.board .tblwrap table td .add-freebox dl.basic-freebox{height:25px;}
.board .tblwrap table td .add-freebox dl.basic-freebox dt,
.board .tblwrap table td .add-freebox dl.basic-freebox dd{line-height:25px;}
.board .tblwrap table td.nowrap a{width:240px;white-space:nowrap;word-break:break-all;text-overflow:ellipsis;overflow:hidden;}
.board .tblwrap table td .icon.lock{margin-right:4px;vertical-align:text-top;}
.board .tblwrap table td a{display:block;}
.paging{margin:30px auto 0;}
.tab-pane .box-type .dotlist{margin-top:0;}
.tab-pane .dotlist{margin-top:20px;}

/* 고객의견상세 */
.cus-opinion.detail .tblwrap + .tblwrap{margin-top:30px;}
.cus-opinion.detail .tblwrap h3{margin-bottom:15px;color:#333;font-size:17px;line-height:22px;}
.cus-opinion.detail .tblwrap th{border:none;}
.cus-opinion.detail .tblwrap tr:first-child{border-top:1px solid #eee;}
.cus-opinion.detail .tblwrap tr{border-bottom:1px solid #eee;}
.cus-opinion.detail .nowrap span{display:inline-block;width:285px;white-space:nowrap;word-break:break-all;text-overflow:ellipsis;overflow:hidden;}
.popup-win.cus-opinion.detail .pop-wrap .content .box-type{padding:40px 0;margin-top:20px;}
.cus-opinion.detail .box-type p{color:#999;font-size:14px;line-height:19px;text-align:center;}
.cus-opinion.detail .tblwrap.noti-next-list{margin-top:20px;}
.cus-opinion.detail .btngroup{margin-top:30px;text-align:center;}
.cus-opinion.detail .btngroup .btn{width:120px;}
.cus-opinion.detail .nowrap a .icon.lock-sm{vertical-align:text-bottom;}
.cus-opinion.detail .tblwrap.noti-next-list td .icon.lock{position:relative;top:-1px;vertical-align:middle;}

.cus-opinion.cus-product-list .search-area{margin-bottom:20px;}
.cus-opinion.cus-product-list .search-area .txt{color:#333;font-size:17px;line-height:34px;font-weight:700;}
.cus-opinion.cus-product-list .board .tblwrap table td{height:inherit;}
.cus-opinion.cus-product-list .board .tblwrap table td.product-nodata p{height:100px;color:#999;font-size:15px;line-height:100px;text-align:center;}
.cus-opinion.cus-product-list .board .tblwrap .pdlist-wrap figcaption{width:254px;}
.cus-opinion.cus-product-list .board .tblwrap .pdlist-wrap figcaption .pdname{width:254px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.cus-opinion.cus-product-list .board .tblwrap .pdlist-wrap figcaption .pdoption{margin-top:4px;line-height:17px;}
.cus-opinion.cus-product-list .board .tblwrap .pdlist-wrap figcaption .pdprice{margin-top:3px;}
.cus-opinion.cus-product-list .board .tblwrap .pdlist-wrap figcaption .pdprice em{line-height:22px;}
.cus-opinion.cus-product-list .board .tblwrap .pdlist-wrap figcaption .pddate{margin-top:8px;line-height:17px;}
.cus-opinion.cus-product-list .board .tblwrap table td em{vertical-align:baseline;}
.cus-opinion.cus-product-list .board .tblwrap table td .btn.btn-round.xs{margin-top:10px;}
.cus-opinion.cus-product-list .board .tblwrap table td .btn.select{width:82px;}
.cus-opinion.cus-product-list .board .tblwrap table td .btn.select span{font-weight:400;}
.cus-opinion.cus-product-list .pdwrap{width:359px;}
/* .cus-opinion.cus-product-list .pdwrap{width:293px;} */
.cus-opinion.cus-product-list .pdlist.pdconsult .thumb + figcaption{width:inherit;}


/*주문관련의견*/
.cus-opinion.product-opinion .tblwrap th{border-right:none;border-left:none;}
.cus-opinion.product-opinion .tblwrap td{border:1px solid #eee;border-right:none;border-left:none;}
.cus-opinion.product-opinion .tblwrap .selectwrap{width:200px;}
.cus-opinion.product-opinion .tblwrap .receipt-type .selectwrap{width:120px;}
.cus-opinion.product-opinion .tblwrap .receipt-type.phone .selectwrap{display:inline-block;width:68px;}
.cus-opinion.product-opinion .tblwrap .receipt-type.phone  .form-txt{display:inline-block;line-height:32px;margin-right:10px;}
.cus-opinion.product-opinion .tblwrap .receipt-type.phone .phoneform{display:inline-block;margin-right:40px;}
.cus-opinion.product-opinion .tblwrap .receipt-type.phone .phoneform .selectwrap{width:78px;}
.cus-opinion.product-opinion .tblwrap .receipt-type.phone .emailform{display:inline-block;}
.cus-opinion.product-opinion .tblwrap .receipt-type.phone .emailform .inputbox{width:280px;}
.cus-opinion.product-opinion .tblwrap .receipt-type.phone .inputbox{display:inline-block;width:68px;}
.cus-opinion.product-opinion .tblwrap .receipt-type.phone .inputbox input{text-align:center;}
.cus-opinion.product-opinion .tblwrap .radio-form .radiobox{justify-content:inherit;}
.cus-opinion.product-opinion .tblwrap .radio-form .radiobox .radlabel + .radlabel{margin-left:27px;}
.cus-opinion.product-opinion .tblwrap .radio-form .radiobox .radlabel span{line-height:19px;}
.cus-opinion.product-opinion .tblwrap .nowrap p{width:680px;height:40px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.cus-opinion.product-opinion .tblwrap .inputbox{height:34px;}
.cus-opinion.product-opinion .tblwrap .inputbox input{height:34px;line-height:36px;}
.cus-opinion.product-opinion .tblwrap .textareabox{height:132px;}
.cus-opinion.product-opinion .textareabox{padding:11px 0 45px 0;}
.cus-opinion.product-opinion .textareabox .txtlabel{height:76px;}
.cus-opinion.product-opinion .tblwrap textarea{resize:none;}
.cus-opinion.product-opinion .tblwrap .textareabox .txtcount{right:17px;bottom:14px;}
.cus-opinion.product-opinion .btngroup{text-align:center;}
.cus-opinion.product-opinion .btngroup .btn{width:120px;}
.cus-opinion.product-opinion .filebox-txt{display:inline-block;margin-top:10px;color:#999;letter-spacing:-0.56px;}
.cus-opinion.product-opinion .filebox-txt .btn{height:inherit;}
.cus-opinion.product-opinion .filebox-txt .icon.xico:before,
.cus-opinion.product-opinion .filebox-txt .icon.xico:after{width:14px;}
.cus-opinion.product-opinion .noti{margin-top:10px;}
.cus-opinion.product-opinion .noti li{color:#999;font-size:13px;line-height:17px;}

/* 파일 업로드 */
.filebox{width:320px;}

.terms-box{display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center;margin-top:20px;}
.terms-box .ctypo16{line-height:20px;color:#333;font-weight:700;}
.terms-box .btn.atext span{font-weight:400;}
.terms-box .btn.atext .arrow{margin-left:5px;}
.terms-box .chklabel span{color:#333;font-size:16px;font-weight:700;}




/* 공지사항 상단 고정 라벨 */
.notice-label{margin-right:8px;padding:3px 13px;font-size:12px;color:#ff5340;font-weight:700;line-height:16px;letter-spacing:-0.48px;border:1px solid #ff5340;border-radius:13px;vertical-align:middle;}