@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
blockquote,
pre,
abbr,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
article,
aside,
address,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

html,
body {
  height: 100%;
}

body {
  overflow: auto;
  min-width: 1440px;
  background-color: #fff;
  font-size: 16px;
  font-family: "Noto Sans M", -apple-system, "droid sans fallback", "Apple SD Gothic Neo", "AppleGothic", "Malgun Gothic", "맑은 고딕", Dotum, "돋움", sans-serif;
  line-height: 1.5;
  letter-spacing: -0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

fieldset,
img {
  border: 0 none;
}

img {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

ul,
ol,
menu,
li {
  list-style: none;
}

label {
  vertical-align: middle;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #666;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

a:hover, a:focus, a:visited,
a :active {
  color: #000;
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var,
i,
ins {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  vertical-align: baseline;
}

iframe {
  width: 100%;
  min-height: 100%;
  margin: 0;
  border: 0;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

[role='button'],
a,
area,
button,
input,
label,
select,
summary,
textarea {
  margin: 0;
  padding: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

input {
  color: #000;
}

input::-webkit-input-placeholder {
  color: #666;
}

input:-ms-input-placeholder {
  color: #666;
}

input::-ms-input-placeholder {
  color: #666;
}

input::placeholder {
  color: #666;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  margin: 0;
  font-family: 'Noto Sans B';
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  margin: 0;
  font-family: 'Noto Sans M';
}

h1,
.h1 {
  font-size: 40px;
}

h2,
.h2 {
  font-size: 30px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 20px;
}

h5,
.h5 {
  font-size: 18px;
}

h6,
.h6 {
  font-size: 16px;
}

a,
input,
select,
textarea,
button,
.form-control {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: unset;
  -ms-background-color: none;
}

a:hover, a:focus,
input:hover,
input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus,
button:hover,
button:focus,
.form-control:hover,
.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

*:focus {
  outline: 1px dashed transparent;
}

/* WebKit Scrollbar Style */
*::-webkit-scrollbar {
  width: 6px;
  height: 15px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.bg-def {
  background-color: #e6007e !important;
}

.bg-black {
  background-color: #000 !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-active {
  background-color: #051335 !important;
}

.bg-err {
  background-color: #e34140 !important;
}

.bg-suc {
  background-color: #06c !important;
}

.bg-gray1 {
  background-color: #666 !important;
}

.bg-gray2 {
  background-color: #aaa !important;
}

.bg-gray3 {
  background-color: #bbb !important;
}

.bg-gray4 {
  background-color: #ddd !important;
}

.bg-gray5 {
  background-color: #eee !important;
}

.bg-gray6 {
  background-color: #f3f3f3 !important;
}

.bg-gray7 {
  background-color: #f5f5f5 !important;
}

.bg-gray8 {
  background-color: #f8f8f8 !important;
}

.bg-gray9 {
  background-color: #fafafa !important;
}

.cl-def {
  color: #e6007e !important;
}

.cl-black {
  color: #000 !important;
}

.cl-white {
  color: #fff !important;
}

.cl-active {
  color: #051335 !important;
}

.cl-err {
  color: #e34140 !important;
}

.cl-suc {
  color: #06c !important;
}

.cl-gray1 {
  color: #666 !important;
}

.cl-gray2 {
  color: #aaa !important;
}

.cl-gray3 {
  color: #bbb !important;
}

.cl-gray4 {
  color: #ddd !important;
}

.cl-gray5 {
  color: #eee !important;
}

.cl-gray6 {
  color: #f3f3f3 !important;
}

.cl-gray7 {
  color: #f5f5f5 !important;
}

.cl-gray8 {
  color: #f8f8f8 !important;
}

.cl-gray9 {
  color: #fafafa !important;
}

.color-3 {
  color: #333 !important;
}

.font-m {
  font-size: 16px !important;
}

.font-s {
  font-size: 14px !important;
}

.font-xs {
  font-size: 12px !important;
}

#cSection {
  margin-top: 112px;
}

.c-btn-clear {
  display: none;
  position: absolute;
  top: 17px;
  right: 0;
  width: 20px;
  height: 20px;
  border: 0;
  background: url("/images/icon/ico-clearable.svg") no-repeat 50% 50%;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
input[type='tel'],
input[type='submit'],
textarea,
select {
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='text']::-ms-clear,
input[type='password']::-ms-clear,
input[type='email']::-ms-clear,
input[type='tel']::-ms-clear,
input[type='number']::-ms-clear {
  display: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.inp-reset {
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.c-inpfield {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.c-inplabel {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  width: 50px;
  padding: 15px 50px 9px;
  color: #000;
}

.c-inpform {
  position: relative;
  display: inline-block;
  width: calc(100% - 50px);
}

.c-inpform.is-err .text-msg {
  color: #e34140;
}

.c-inpform.is-sus .text-msg {
  color: #06c;
}

.c-inpform.is-clear .c-btn {
  display: inline-block;
}

.c-inp {
  width: 100%;
  height: 48px;
  padding: 15px 20px 9px 0;
  border: 1px solid transparent;
  border-bottom-color: #bbb;
  font-size: 16px;
  font-family: "Noto Sans R";
}

.c-inp:focus {
  border-bottom-color: #000;
}

.c-inp[readonly] {
  border-bottom: 0;
}

.text-msg {
  margin-top: 8px;
  text-align: left;
}

.m-slick {
  /* Slider */
  /* Slider */
  /* Icons */
  /* Arrows */
  /* Dots */
}

.m-slick .slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.m-slick .slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.m-slick .slick-list:focus {
  outline: none;
}

.m-slick .slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.m-slick .slick-slider .slick-track,
.m-slick .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.m-slick .slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.m-slick .slick-track:before,
.m-slick .slick-track:after {
  display: table;
  content: '';
}

.m-slick .slick-track:after {
  clear: both;
}

.m-slick .slick-loading .slick-track {
  visibility: hidden;
}

.m-slick .slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.m-slick [dir='rtl'] .slick-slide {
  float: right;
}

.m-slick .slick-slide img {
  display: block;
}

.m-slick .slick-slide.slick-loading img {
  display: none;
}

.m-slick .slick-slide.dragging img {
  pointer-events: none;
}

.m-slick .slick-initialized .slick-slide {
  display: block;
}

.m-slick .slick-loading .slick-slide {
  visibility: hidden;
}

.m-slick .slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.m-slick .slick-arrow.slick-hidden {
  display: none;
}

.slick-loading .m-slick .slick-list {
  background: #fff url("/lib/slick/ajax-loader.gif") center center no-repeat;
}

@font-face {
  .m-slick {
    font-family: 'slick';
    src: url("/lib/slick/fonts/slick.eot");
    src: url("/lib/slick/fonts/slick.eot?#iefix") format("embedded-opentype"), url("/lib/slick/fonts/slick.woff") format("woff"), url("/lib/slick/fonts/slick.ttf") format("truetype"), url("/lib/slick/fonts/slick.svg#slick") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

.m-slick .slick-prev,
.m-slick .slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.m-slick .slick-prev:hover, .m-slick .slick-prev:focus,
.m-slick .slick-next:hover,
.m-slick .slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.m-slick .slick-prev:hover:before, .m-slick .slick-prev:focus:before,
.m-slick .slick-next:hover:before,
.m-slick .slick-next:focus:before {
  opacity: 1;
}

.m-slick .slick-prev.slick-disabled:before,
.m-slick .slick-next.slick-disabled:before {
  opacity: 0.25;
}

.m-slick .slick-prev:before,
.m-slick .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.m-slick .slick-prev {
  left: -25px;
}

[dir='rtl'] .m-slick .slick-prev {
  left: auto;
  right: -25px;
}

.m-slick .slick-prev:before {
  content: "←";
}

[dir='rtl'] .m-slick .slick-prev:before {
  content: "→";
}

.m-slick .slick-next {
  right: -25px;
}

[dir='rtl'] .m-slick .slick-next {
  left: -25px;
  right: auto;
}

.m-slick .slick-next:before {
  content: "→";
}

[dir='rtl'] .m-slick .slick-next:before {
  content: "←";
}

.m-slick .slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.m-slick .slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.m-slick .slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.m-slick .slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.m-slick .slick-dots li button:hover, .m-slick .slick-dots li button:focus {
  outline: none;
}

.m-slick .slick-dots li button:hover:before, .m-slick .slick-dots li button:focus:before {
  opacity: 1;
}

.m-slick .slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.m-slick .slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.mx-icon-left:before,
.mx-icon-right:before,
.mx-icon-double-left:before,
.mx-icon-double-right:before,
.mx-icon-double-left:after,
.mx-icon-double-right:after {
  content: '';
  position: relative;
  top: -1px;
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  border-style: solid;
  border-color: currentColor;
  border-width: 2px 0 0 2px;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-45deg) scale(0.7);
          transform: rotate(-45deg) scale(0.7);
}

.mx-icon-double-left:after {
  left: -4px;
}

.mx-icon-double-right:before {
  left: 4px;
}

.mx-icon-right:before,
.mx-icon-double-right:before,
.mx-icon-double-right:after {
  -webkit-transform: rotate(135deg) scale(0.7);
          transform: rotate(135deg) scale(0.7);
}

.mx-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  padding: 7px 15px;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: #73879c;
  white-space: nowrap;
}

.mx-btn:hover {
  border-color: #1284e7;
  color: #1284e7;
}

.mx-btn-text {
  border: 0;
  padding: 0 4px;
  text-align: left;
  line-height: inherit;
}

.mx-scrollbar {
  height: 100%;
}

.mx-scrollbar:hover .mx-scrollbar-track {
  opacity: 1;
}

.mx-scrollbar-wrap {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.mx-scrollbar-track {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  width: 6px;
  z-index: 1;
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: opacity 0.24s ease-out;
  transition: opacity 0.24s ease-out;
}

.mx-scrollbar-track .mx-scrollbar-thumb {
  position: absolute;
  width: 100%;
  height: 0;
  cursor: pointer;
  border-radius: inherit;
  background-color: rgba(144, 147, 153, 0.3);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.mx-zoom-in-down-enter-active,
.mx-zoom-in-down-leave-active {
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform-origin: center top;
          transform-origin: center top;
}

.mx-zoom-in-down-enter,
.mx-zoom-in-down-leave-to {
  opacity: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.mx-datepicker {
  position: relative;
  display: inline-block;
  width: 210px;
}

.mx-datepicker svg {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.mx-datepicker-range {
  width: 320px;
}

.mx-datepicker-inline {
  width: auto;
}

.mx-input-wrapper {
  position: relative;
}

.mx-input-wrapper .mx-icon-clear {
  display: none;
}

.mx-input-wrapper:hover .mx-icon-clear {
  display: block;
}

.mx-input-wrapper:hover .mx-icon-clear + .mx-icon-calendar {
  display: none;
}

.mx-input {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 34px;
  padding: 6px 30px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.mx-input:hover, .mx-input:focus {
  border-color: #409aff;
}

.mx-input:disabled, .mx-input.disabled {
  color: #ccc;
  background-color: #f3f3f3;
  border-color: #ccc;
  cursor: not-allowed;
}

.mx-input:focus {
  outline: none;
}

.mx-input::-ms-clear {
  display: none;
}

.mx-icon-calendar,
.mx-icon-clear {
  position: absolute;
  top: 50%;
  right: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.5);
  vertical-align: middle;
}

.mx-icon-clear {
  cursor: pointer;
}

.mx-icon-clear:hover {
  color: rgba(0, 0, 0, 0.8);
}

.mx-datepicker-main {
  font: 14px/1.5 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', sans-serif;
  color: #73879c;
  background-color: #fff;
  border: 1px solid #e8e8e8;
}

.mx-datepicker-popup {
  position: absolute;
  margin-top: 1px;
  margin-bottom: 1px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  z-index: 2001;
}

.mx-datepicker-sidebar {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  padding: 6px;
  overflow: auto;
}

.mx-datepicker-sidebar + .mx-datepicker-content {
  margin-left: 100px;
  border-left: 1px solid #e8e8e8;
}

.mx-datepicker-body {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.mx-btn-shortcut {
  display: block;
  padding: 0 6px;
  line-height: 24px;
}

.mx-range-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 750px) {
  .mx-range-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mx-datepicker-header {
  padding: 6px 8px;
  border-bottom: 1px solid #e8e8e8;
}

.mx-datepicker-footer {
  padding: 6px 8px;
  text-align: right;
  border-top: 1px solid #e8e8e8;
}

.mx-calendar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 248px;
  padding: 6px 12px;
}

.mx-calendar + .mx-calendar {
  border-left: 1px solid #e8e8e8;
}

.mx-calendar-header, .mx-time-header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 34px;
  line-height: 34px;
  text-align: center;
  overflow: hidden;
}

.mx-btn-icon-left,
.mx-btn-icon-double-left {
  float: left;
}

.mx-btn-icon-right,
.mx-btn-icon-double-right {
  float: right;
}

.mx-calendar-header-label {
  font-size: 14px;
}

.mx-calendar-decade-separator {
  margin: 0 2px;
}

.mx-calendar-decade-separator:after {
  content: '~';
}

.mx-calendar-content {
  position: relative;
  height: 224px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mx-calendar-content .cell {
  cursor: pointer;
}

.mx-calendar-content .cell:hover {
  color: #73879c;
  background-color: #f3f9fe;
}

.mx-calendar-content .cell.active {
  color: #fff;
  background-color: #1284e7;
}

.mx-calendar-content .cell.in-range, .mx-calendar-content .cell.hover-in-range {
  color: #73879c;
  background-color: #dbedfb;
}

.mx-calendar-content .cell.disabled {
  cursor: not-allowed;
  color: #ccc;
  background-color: #f3f3f3;
}

.mx-calendar-week-mode .mx-date-row {
  cursor: pointer;
}

.mx-calendar-week-mode .mx-date-row:hover {
  background-color: #f3f9fe;
}

.mx-calendar-week-mode .mx-date-row.mx-active-week {
  background-color: #dbedfb;
}

.mx-calendar-week-mode .mx-date-row .cell:hover {
  color: inherit;
  background-color: transparent;
}

.mx-calendar-week-mode .mx-date-row .cell.active {
  color: inherit;
  background-color: transparent;
}

.mx-week-number {
  opacity: 0.5;
}

.mx-table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

.mx-table th {
  padding: 0;
  font-weight: 500;
}

.mx-table td {
  padding: 0;
}

.mx-table-date td,
.mx-table-date th {
  height: 32px;
  font-size: 12px;
}

.mx-table-date .today {
  color: #2a90e9;
}

.mx-table-date .cell.not-current-month {
  color: #ccc;
  background: none;
}

.mx-time {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 224px;
  background: #fff;
}

.mx-time + .mx-time {
  border-left: 1px solid #e8e8e8;
}

.mx-calendar-time {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mx-time-header {
  border-bottom: 1px solid #e8e8e8;
}

.mx-time-content {
  height: 224px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.mx-time-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mx-time-column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  border-left: 1px solid #e8e8e8;
  text-align: center;
}

.mx-time-column:first-child {
  border-left: 0;
}

.mx-time-column .mx-time-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mx-time-column .mx-time-list::after {
  content: '';
  display: block;
  height: 192px;
}

.mx-time-column .mx-time-item {
  cursor: pointer;
  font-size: 12px;
  height: 32px;
  line-height: 32px;
}

.mx-time-column .mx-time-item:hover {
  color: #73879c;
  background-color: #f3f9fe;
}

.mx-time-column .mx-time-item.active {
  color: #1284e7;
  background-color: transparent;
  font-weight: 700;
}

.mx-time-column .mx-time-item.disabled {
  cursor: not-allowed;
  color: #ccc;
  background-color: #f3f3f3;
}

.mx-time-option {
  cursor: pointer;
  padding: 8px 10px;
  font-size: 14px;
  line-height: 20px;
}

.mx-time-option:hover {
  color: #73879c;
  background-color: #f3f9fe;
}

.mx-time-option.active {
  color: #1284e7;
  background-color: transparent;
  font-weight: 700;
}

.mx-time-option.disabled {
  cursor: not-allowed;
  color: #ccc;
  background-color: #f3f3f3;
}

.m-vue2-datepicker .mx-input {
  min-height: 48px;
  border: none;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mx-datepicker-popup {
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 14px;
}

.mx-datepicker-main {
  border: 1px solid #ddd;
  font: inherit;
  color: #212121;
}

.mx-btn {
  color: #212121 !important;
}

.mx-btn-icon-double-right,
.mx-btn-icon-double-left {
  display: none;
}

.mx-icon-right:before,
.mx-icon-left:before {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  border: none;
  background: url("/images/icon/ico-datepicker-header-arrow-right.svg") no-repeat 0 0/24px auto;
}

.mx-icon-left:before {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.mx-calendar {
  width: 360px;
  padding: 40px 32px;
}

.mx-table-date td,
.mx-table-date th {
  font-size: 14px;
  text-align: center;
  height: 42px;
  padding: 0;
}

.mx-table-date th {
  color: #888888;
}

.mx-calendar-content {
  height: auto;
}

.mx-table-date .today {
  color: #fff !important;
}

.mx-table-date .today > div,
.mx-calendar-content .cell.active {
  background-color: #051335;
  width: 38px;
  height: 38px;
  line-height: 38px;
  border-radius: 50%;
  text-align: center;
}

.mx-calendar-content .cell.active {
  background-color: #e6007e;
}

/* Accessbility Text Hide */
caption {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 1;
}

.is-blind {
  overflow: hidden;
  border: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

/* Skip Navigation */
.skip-nav {
  position: absolute;
  top: -1px;
  width: 100%;
  text-align: center;
}

.skip-nav a {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 1;
}

.skip-nav a:focus {
  display: block;
  z-index: 10;
  width: 100%;
  height: auto;
  padding: 10px;
  background: #000;
  color: #fff;
  text-align: center;
}

.is-show {
  display: block;
}

.is-hide {
  display: none;
}

.l-sub-main {
  background-color: #fff;
}

.header-layout-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: #fff;
}

.header-lgu {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  height: 112px;
  background: url("/images/common/sample-img-header.jpg") no-repeat 50% 50%;
}

.submain-section {
  height: 1500px;
  padding-bottom: 200px;
}

.toparea-contents {
  width: 100%;
  background-color: #f8f8f8;
}

.toparea-contents .sub-top {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  height: 162px;
  padding-top: 70px;
}

.middlearea-contents {
  background-color: #fff;
}

.middlearea-contents {
  width: 1440px;
  margin: 0 auto;
  height: 1046px;
  margin-top: 64px;
  background-color: #eee;
}

.footer-layout-wrap {
  background-color: #f6f6f6;
}

.footer-lgu {
  width: 1440px;
  margin: 0 auto;
  height: 360px;
  background: url("/images/common/sample-img-footer.jpg") no-repeat 50% 50%;
}
/*# sourceMappingURL=style.css.map */