.pdlist17 *, .pdlist17 *:before, .pdlist17 *:after, .pd17_overlay_slider *, .pd17_overlay_slider { box-sizing:border-box; -webkit-box-sizing:border-box; }
.pdlist17 em, .pd17_overlay_slider em { font-style:normal; }

.pdlist17 .hierarchy { border-bottom:1px solid #ddd; }
.pdlist17 .product_area { margin-top:0; }
.pdlist17 .list_header { border-bottom:1px solid #ccc; }
/* .pdlist17 .detail_type_area .product_list_area { margin-top:10px; } */
.pdlist17 .list_view_bar { width:auto; white-space:nowrap; margin-right:10px; }
.pdlist17 .list_view_bar > li:first-child { width:auto; margin-left:0; }
.pdlist17 .list_view_bar > li { float:none; background:none; display:inline-block; margin-left:15px; }
.pdlist17 .btn_list_type button { width:30px; }
.pdlist17 .list_view_bar .btn_list_type { width:auto; }
.pdlist17 .list_header .result_tx { margin-left:10px; font-size:15px }
.pdlist17 .list_select { width:auto; padding-left:5px; }

.pdlist17 .detail_type_area { border-bottom:0; }
.pdlist17 .product_list_area { background:none; }
.pdlist17 .product_list_area > ul > li { position:relative; padding:0; overflow:hidden; margin-bottom:10px; background:#fff; border-top:0; border-bottom:1px solid #ccc; border-left:1px solid #fff; }
.pdlist17 .product_list_area > ul > li > a { height:166px; }
.pdlist17 .sub_contents_area { padding-bottom:5px; }

.pd17_overlay_slider { position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); padding:20px; background:#fff; display:none; z-index:3010; width:90%; box-sizing:border-box; -webkit-box-sizing:border-box; }
.pd17_overlay_slider_img, .pd17_overlay_slider_content { display:block; width:100%; }
.pd17_overlay_slider_img { position:relative; margin-bottom:10px; /* border:1px solid #eee; */ }
.pd17_overlay_slider_img img	{ height:auto }
.pd17_overlay_slider_img_page { position:absolute; bottom:5px; left:50%; transform:translateX(-50%); -webkit-transform:translateX(-50%); display:inline-block; padding:5px 10px; font-size:14px; color:#666; background:#fff; border-radius:20px; }
.pd17_overlay_slider_img_page em { color:#222; font-weight:bold; margin-right:1px; }
.pd17_overlay_slider_content { position:relative; margin-bottom:15px; }
.pd17_overlay_slider_content_title { display:block; width:100%; font-size:15px; color:#222; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; line-height:20px; }
.pd17_overlay_slider_content_price { font-size:13px; color:#222; }
.pd17_overlay_slider_content_price em { font-size:17px; margin-right:2px; font-weight:bold; }
.pd17_overlay_slider_slides { width:100%; overflow:scroll; -webkit-overflow-scrolling:touch; font-size:0; white-space:nowrap; }
.pd17_overlay_slider_slides img { width:52px; display:inline-block; margin-left:3px; cursor:pointer; border: 1px solid #eee; }
.pd17_overlay_slider_slides img:FIRST-CHILD { margin-left:0; }
.pd17_overlay_slider_slides img._active { border:1px solid #f7624e; }
.pd17_overlay_slider_slides::-webkit-scrollbar { display:none; }
.pd17_overlay_slider_content .pd17_item_info_sub_like_btn { top:auto; bottom:3px; right:0; }
.pd17_overlay_slider ._btnclose { width:20px; position:absolute; top:-30px; right:0; cursor:pointer; }

.pd17_item_wrap { display:block; padding:15px 15px 15px 166px; position:relative; }
.pd17_item_img { height:136px; width:136px; position:absolute; top:15px; left:15px; display:block; border:1px solid #eee; }
.pd17_item_img_slider { position:absolute; bottom:-1px; right:-1px; background-color:#fefefe; width:26px; height:26px; border:1px solid #f1f1f1; background-image:url('https://imagessl.hyundaihmall.com/hmall/co/pdlist17_imgslide.png'); background-size:25px; background-repeat:no-repeat; cursor:pointer; }

/* 200616 - 검색 UI개선 - 전인표 */
.relate-keyword-wrap { border-bottom:0 !important; }
.pd17_item_img_vid { position:absolute; bottom:5px; right:5px; width:26px; height:26px; background-image:url('https://imagessl.hyundaihmall.com/hmall/vid_tag.png'); background-size:25px; background-repeat:no-repeat; cursor:pointer; }
.pdlist_tags { border-bottom:1px solid #eee; background:#fff; }
.pdlist_tags ul { overflow-x:scroll; white-space:nowrap; font-size:0; padding:0 10px 10px; -webkit-overflow-scrolling:touch; }
.pdlist_tags ul::-webkit-scrollbar { display: none; }
.pdlist_tags ul { -ms-overflow-style: none; }
.pdlist_tags ul li { border:1px solid #ddd; display:inline-block;border-radius:40px; margin-right:5px; }
.pdlist_tags ul li:LAST-CHILD { margin-right:0; }
.pdlist_tags ul li._selected { border:1px solid #ff5340; }
.pdlist_tags ul li a { display:block; width:100%; height:100%; padding:8px 12px; font-size:13px; color:#aaa; }
.pdlist_tags ul li._selected a { color:#ff5340; }
.pdlist_broadcast { padding:0 8px 10px; background:#fff; border-bottom:1px solid #ddd; margin-bottom:10px; }
.pdlist_broadcast_item { display:block; border:1px solid #ddd; border-radius:10px; font-size:0; position:relative; height:56px; margin-bottom:5px; }
.pdlist_broadcast_item:LAST-CHILD { margin-bottom:0; }
.pdlist_broadcast_item a { display:block; width:100%; height:100%; padding:8px 95px 8px 54px; }
.pdlist_broadcast_item .broadcast_thumb { position:absolute; top:8px; left:8px; width:40px; height:40px; display:inline-block; border-radius:40px; overflow:hidden; }
.pdlist_broadcast_item .broadcast_thumb img { width:100%; height:auto; display:block; }
.pdlist_broadcast_item .broadcast_title { display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; font-size:14px; line-height:40px; }
.broadcast_go { display:block; position:absolute; top:0; right:0; width:90px; height:100%; border-left:1px solid #ddd; padding:10px; }
.broadcast_go_title { display:block; font-size:13px; line-height:18px; color:#666; }
.broadcast_go_title._onair { color:#ff5340; font-weight:bold; }
.broadcast_go:after { display:block; position:absolute; top:21px; right:10px; background-image:url(https://imagessl.hyundaihmall.com/hmall/co/pdlist17_showlink.png); background-size:6px; width:6px; height:10px; content:''; }
.broadcast_go_detail > span { display:inline-block; font-size:13px; line-height:18px; }
.broadcast_go_detail_date { color:#888; }
.broadcast_go_detail_time { color:#aaa; margin-left:4px; }

.pd17_item_info { display:block; font-size:0; }
.pd17_benefit_flag { font-size:11px; padding:2px; border-width:1px; border-style:solid; display:inline-block; margin-left:2px; line-height:1; }
.pd17_benefit_flag._fund { color:#4088ef; border-color:#4088ef; }
.pd17_benefit_flag._outlet { color:#7c679f; border-color:#7c679f; }
.pd17_benefit_flag._tv { color:#ef5f53; border-color:#ef5f53; }
.pd17_benefit_flag._hd { color:#46675c; border-color:#46675c; }
.pd17_benefit_flag._gl { color:#6dae06; border-color:#6dae06; }
.pd17_benefit_flag._mo { color:#8470ff; border-color:#8470ff; }
.pd17_benefit_flag._da { color:#ff5340; border-color:#ff5340; }
.pd17_benefit_flag._da sup { vertical-align:middle; margin-top:-6px; margin-left:2px; display:inline-block }
.pd17_benefit_flag._ap { color:#8470ff; border-color:#8470ff; }
.pd17_item_info_title { font-size:15px; color:#222; line-height:18px; display:-webkit-box; overflow:hidden; text-overflow:ellipsis; -webkit-box-orient:vertical; -webkit-line-clamp:2; word-break:break-all; margin-top:9px; }
.pd17_item_info > span:first-child:not(.pd17_flags) { margin-top:15px }
.pd17_item_info_rate { position:absolute; top:85px; left:166px; display:block; font-size:12px; color:#999; }
.pd17_item_info_rate em { color:#f4614d; }
.pd17_item_info_price_or { position:absolute; top:110px; left:166px; min-height:13px; display:block; font-size:11px; color:#999; }
.pd17_item_info_price_or.diamond{ color:#9f7a40 }
.pd17_item_info_price_dc { position:absolute; top:124px; left:166px; display:block; font-size:13px; color:#222; }
.pd17_item_info_price_dc em { padding-right:1px; font-weight:bold; font-size:18px; }
.pd17_item_info_dcrate { position:absolute; top:120px; right:15px; display:block; font-size:13px; color:#ef5f53; }
.pd17_item_info_dcrate em { padding-right:2px; font-size:23px; }
.pd17_item_info_sub { position:relative; padding:6px 12px; border-top:1px solid #f1f1f1; }
.pd17_item_info_sub_content { font-size:12px; color:#999; line-height:17px; }
.pd17_item_info_sub_like_btn { position:absolute; top:6px; right:12px; width:34px; height:17px; font-size:0; display:inline-block; }
.pd17_item_info_sub_like_btn:after	{ content:"찜"; color:#999; font-size:12px; line-height:17px; margin-left:3px; vertical-align:middle; display:inline-block }
.pd17_item_info_sub_like { width:20px; height:17px; background-image:url('https://imagessl.hyundaihmall.com/hmall/co/pdlist17_like.png'); background-size:20px; background-position-y:-17px; background-repeat:no-repeat; vertical-align:middle; display:inline-block; }
.pd17_item_info_sub_like_btn._active .pd17_item_info_sub_like { background-position-y:0; }

.pd17_item_info_tvitem { border-top:1px solid #e1e1e1; font-size:0; white-space:nowrap; }
.pd17_item_info_tvitem_btn { width:50%; display:inline-block; text-align:center; padding:10px; }
.pd17_item_info_tvitem_btn:FIRST-CHILD { border-right:1px solid #e1e1e1; }

.pd17_item_info_tvitem_btn._only { width:100%; display:block; border-right:0; } /* 171215 - 알리미만 - 전인표 */

.pd17_item_info_tvitem_icon { width:11px; height:13px; background-image:url('https://imagessl.hyundaihmall.com/hmall/co/pdlist17_tvitem.png'); background-size:11px; background-repeat:no-repeat; display:inline-block; vertical-align:middle; }
.pd17_item_info_tvitem_text { color:#555; font-size:13px; display:inline-block; vertical-align:middle; margin-left:5px; }
.pd17_item_info_tvitem_btn._bell .pd17_item_info_tvitem_icon { background-position-y:-13px; }
.pd17_item_info_tvitem_btn._along .pd17_item_info_tvitem_icon { background-position-y:0; }
.pd17_item_info_tvitem_btn._along._active .pd17_item_info_tvitem_icon { background-position-y:-28px; }

.pd17_item_along { padding:20px 15px; overflow:scroll; -webkit-overflow-scrolling:touch; font-size:0; white-space:nowrap; height:196px; position:absolute; top:0; background:#fff; }
.pd17_item_along_item { width:87px; display:inline-block; margin-left:10px; }
.pd17_item_along_item:FIRST-CHILD { margin-left:0; }
.pd17_item_along::-webkit-scrollbar { display:none; }
.pd17_item_along_item span { width:100%; }
.pd17_item_along_item_img { border:1px solid #eee; }
.pd17_item_along_item_title { font-size:12px; color:#555; line-height:15px; max-height:30px; display:-webkit-box; overflow:hidden; text-overflow:ellipsis; -webkit-box-orient:vertical; -webkit-line-clamp:2; word-break:break-all; margin-top:10px; white-space:normal; }
.pd17_item_along_item_price { font-size:11px; color:#222; margin-top:5px; display:block; }
.pd17_item_along_item_price em { font-size:15px; font-weight:bold; margin-right:1px; }
.pd17_item_along{ left:100%; width:100%; transition:all ease-in-out 0.1s; }
.pd17_item_along._active { left:0; }

.pd17_list._type_column { font-size:0; border-bottom:1px solid #ccc; margin-bottom:10px; }
.pd17_list._type_column > li { display:inline-block; width:50%; vertical-align:top; margin-bottom:0 !important; border-bottom:1px solid #eee !important; }
.pd17_list._type_column > li:nth-child(2n) { border-left:1px solid #eee; }
.pd17_list._type_column .pd17_item_info { padding-top:8px; }
.pd17_list._type_column .pd17_item_img { position:relative; top:auto; left:auto; display:block; width:100%; height:auto; border:1px solid #eee; }
.pd17_list._type_column .pd17_item_wrap { height:auto; padding:15px; }
.pd17_list._type_column .pd17_item_along,
.pd17_list._type_column .pd17_item_info_rate,
.pd17_list._type_column .pd17_item_info_tvitem,
.pd17_list._type_column .pd17_item_info_sub { display:none; }
.pd17_list._type_column .pd17_item_info_price_or { position:relative; top:auto; left:auto; margin-top:10px; }
.pd17_list._type_column .pd17_item_info_price_dc { position:relative; top:auto; left:auto; margin-top:1px; }
.pd17_list._type_column .pd17_item_info_title { margin-top:6px; }
/* .pd17_list._type_column .pd17_benefit_flag { font-size:10px; margin-left:1px; line-height:1; } */
.pd17_benefit_flag:FIRST-CHILD { margin:0; }
.pd17_list._type_column .pd17_item_info > span:first-child:not(.pd17_flags) { margin-top:24px; }

/* 171217 - 굿럭템 column 유형 추가 - rlatkdals */
.pd17_list._type_column .pd17_item_wrap._glt	{ padding-bottom:40px }
.pd17_list._type_column .pd17_item_wrap._glt .pd17_item_info_title._glt	{ padding:0; -webkit-line-clamp:2; border-top:0 }
.pd17_list._type_column .pd17_item_wrap._glt .pd17_item_info_qty	{ visibility:hidden }

.pd17_item_rate { display:block; border-top:1px solid #ddd; padding:12px; }
.pd17_item_rate_title { font-weight:bold; font-size:14px; color:#222; display:inline-block; vertical-align:middle; }
.pd17_item_rate_star { display:inline-block; width:70px; height:9px; vertical-align:middle; background-image:url('https://imagessl.hyundaihmall.com/hmall/co/pdlist17_star.png'); background-repeat:no-repeat; background-size:70px; margin-left:6px; }
.pd17_item_rate_star._star1 { background-position-y:0; }
.pd17_item_rate_star._star2 { background-position-y:-9px; }
.pd17_item_rate_star._star3 { background-position-y:-18px; }
.pd17_item_rate_star._star4 { background-position-y:-27px; }
.pd17_item_rate_star._star5 { background-position-y:-36px; }
.pd17_item_rate_reviews { display:block; margin-top:6px; width:100%; }
.pd17_item_rate_reviews li { position:relative; width:100%; padding-left:8px; }
.pd17_item_rate_reviews li:before { content:'·'; position:absolute; left:0; }
.pd17_item_rate_reviews li span { font-size:13px; color:#666; line-height:19px; display:block; width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.pd17_list._type_column .pd17_item_rate { display:none; }

/* .pdlist17 .list_header { display:none; } - del. 171218 - rlatkdals */
.pdlist17 .detail_type_area { padding-top:0; }
.pd17_list_header, .pd17_list_header_special { display:block; padding:7px 12px; background:#fff; }
.pd17_list_header_cnt { font-size:14px; color:#222; line-height:30px; }
.pd17_list_header_cnt em { color:#ef5f53; }
.pd17_list_header_cnt, .pd17_list_header_sort, .pd17_list_header_search, .pd17_list_header_changelist { display:inline-block; vertical-align:middle; }
.pd17_list_header_sort, .pd17_list_header_search span { font-size:14px; color:#111; line-height:30px; }
.pd17_list_header_changelist { width:16px; height:16px; background-image:url('https://imagessl.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/product/btn_card.jpg'); background-repeat:no-repeat; background-size:16px; }
.pd17_list_header_changelist._2col { background-image:url('https://imagessl.hyundaihmall.com/hmall/co/pdlist17_align_list.png'); }
.pd17_list_header_sort { background:#fff url(https://imagessl.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/product/arrow_bottom.jpg) no-repeat right 50%; background-size:7px 3.5px; border:none; padding-right:10px; }
._floatRight { float:right; }
.pd17_list_header ._floatRight > a { margin-left:30px; }

.pd17_flags { height:17px; display:block; white-space:nowrap; overflow:hidden; }

.pd17_special_html { display:block; border-bottom:1px solid #eee; }
.pd17_special_titles { width:100%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; display:block; font-size:14px; color:#111; padding:0 12px 12px; font-weight:bold; }
.pd17_list_header_special { white-space:nowrap; position:relative; width:100%; height:47px; margin: 0 0 10px; }
.product_area._fixed { padding-top:47px; }
._fixed .pd17_list_header_special { position:fixed; top:48px; left:0; z-index:60; }
#content.is-app ._fixed .pd17_list_header_special   { top: 0; }
.pd17_list_header_special_sort { display:block; width:100%; line-height:30px; font-size:14px; color:#111; padding:0 20px 0 10px; background:#fff url(https://imagessl.hyundaihmall.com/hmall/co/pdlist17_selectbox.png) no-repeat right 50%; background-size:12px 7px; }
.pd17_list_header_special_sort_wrap { width:70%; display:inline-block; padding-right:10px; border:1px solid #999; } /* 180425 - width 추가 - rlatkdals */
.pd17_list_header_share { margin-right:30px; width:16px; height:19px; vertical-align:middle; display:inline-block; background-image:url('https://imagessl.hyundaihmall.com/hmall/co/pdlist17_share.png'); background-repeat:no-repeat; background-size:16px; }
.pd17_list_header_special ._floatRight { padding:5px 0 5px 25px; }

.relate-keyword-wrap::-webkit-scrollbar { display:none; }
.product_area._searched { margin-top:10px; }
.product_area._searched .product_list_area { margin-top:0; }
.pd17_tvitems { margin-top:10px; display:block; background:#fff; }
.pd17_tvitems_header { display:block; white-space:nowrap; padding:12px; }
.pd17_tvitems_header > *, .pd17_tvitems_header_showall span, .pd17_tvitems_header_showall img { display:inline-block; vertical-align:middle; }
.pd17_tvitems_header_title { color:#ef5f53; font-size:15px; }
.pd17_tvitems_header_title._krd_rank    { color: #3b3f4b; }
.pd17_tvitems_header_title._krd_rank em   { color:#ef5f53; }
.pd17_tvitems_header_cnt { font-size:15px; color:#888; }
.pd17_tvitems_header_showall span { font-size:13px; color:#666; }
.pd17_tvitems_header_showall img { width:6px; }

.pd17_tvitems_searched { overflow:scroll; -webkit-overflow-scrolling:touch; }
.pd17_tvitems_searched::-webkit-scrollbar { display:none; }
.pd17_tvitems_searched .pd17_list._type_column { white-space:nowrap; border:none !important; }
.pd17_tvitems_searched .pd17_list._type_column li { border:none !important; }
.pd17_tvitems_searched .pd17_list._type_column li a { padding:5px; border:0; }
.pd17_tvitems_searched .pd17_list._type_column li:FIRST-CHILD { margin-left:7px; }
.pd17_tvitems_searched .pd17_list._type_column li:LAST-CHILD { margin-right:7px; }
.pd17_tvitems_searched .pd17_list._type_column li { width:136px; }
.pd17_list._type_column .pd17_item_info_title { white-space:normal; height:36px; }
.pd17_tvitems_searched .pd17_flags { display:none; }
.pd17_tvitems_searched .pd17_item_info > span:first-child:not(.pd17_flags) { margin-top:6px !important; }
.pd17_tvitems_searched .pd17_item_img_slider { display:none; }

.pd17_tvitems._horizontal   { margin-bottom: 10px; border-bottom: 1px solid #ccc; }
.pd17_tvitems._horizontal .pd17_tvitems_searched .pd17_list._type_column li   { width: 270px; margin: 0 0 0 7px; }
.pd17_tvitems._horizontal .pd17_tvitems_searched .pd17_list._type_column li:last-child   { margin: 0 7px 0 7px; }
.pd17_tvitems._horizontal .pd17_tvitems_searched .pd17_list._type_column li a { padding: 0; border: 1px solid #ddd; display: block; }
.pd17_tvitems._horizontal .pd17_tvitems_searched .pd17_list._type_column li a .pd17_item_img  { width: 105px; border: 0; display: inline-block; }
.pd17_tvitems._horizontal .pd17_tvitems_searched .pd17_list._type_column li a .pd17_item_info { width: 145px; padding: 0; margin: 0 0 0 10px; vertical-align: middle; display: inline-block; }

.dimScreen._z3000 { z-index:3000; }

.pd17_trendy_list { display:block; width:100%; background:#fff; border-bottom:1px solid #ccc; margin-bottom:5px; }
.pd17_trendy_list_title { font-size:17px; color:#222; font-weight:bold; padding:16px 12px 12px; }
.pd17_trendy_list_slider { font-size:0; }
.pd17_trendy_list_slides { width:50%; display:inline-block; vertical-align:top; padding:0 12px 20px; }
.pd17_trendy_list_slides:nth-child(2n) { padding-left:6px; }
.pd17_trendy_list_slides:nth-child(2n-1) { padding-right:6px; }
.pd17_trendy_list_slides ._thumbimg, .pd17_trendy_list_slides ._contents { display:block; font-size:0; position:relative; }
.pd17_trendy_list_slides ._thumbimg ._new { display:inline-block; position:absolute; top:0; left:0; font-size:10px; color:#fff; padding:2px 4px; background:#a438d6; letter-spacing:0; }
.pd17_trendy_list_slides ._thumbimg ._time { display:inline-block; position:absolute; bottom:0; right:0; font-size:12px; color:#fff; padding:2px 4px; background:rgba(0,0,0,.5); letter-spacing:0; }
.pd17_trendy_list_slides ._contents { font-size:14px; line-height:18px; margin-top:12px; max-height:36px; display:-webkit-box; overflow:hidden; text-overflow:ellipsis; -webkit-box-orient:vertical; -webkit-line-clamp:2; word-break:break-all; color:#333; }
.pd17_trendy_list_slides ._contents ._hash { margin-right:4px; color:#7d60d2; }
.pd17_trendy_list_arrows { padding:0 12px 16px; text-align:center; font-size:0; }
.pd17_trendy_list_arrows ._arr_left, .pd17_trendy_list_arrows ._arr_right { display:inline-block; vertical-align:middle; width:25px; }
.pd17_trendy_list_arrows ._totalPage, .pd17_trendy_list_arrows ._currentPage { font-size:13px; line-height:25px; display:inline-block; vertical-align:middle; letter-spacing:0; }
.pd17_trendy_list_arrows ._totalPage { color:#555; margin-right:10px; }
.pd17_trendy_list_arrows ._currentPage { font-weight:bold; color:#222; margin-left:10px; }

.pd17_robot_rate, .pd17_robot_rate * { box-sizing:border-box; -webkit-box-sizing:border-box; }
.pd17_robot_rate { display:block; width:100%; padding:16px; text-align:center; border-bottom:1px solid #ddd; }
.pd17_robot_rate > p { font-size:15px; color:#333; text-align:center; margin-bottom:20px; }
.pd17_robot_rate > p em { color:#f4614d; font-weight:bold; font-style:normal; }
.pd17_robot_rate ._btnset > a { display:inline-block; width:95px; line-height:30px; font-size:15px; text-align:center; color:#fff; font-weight:bold; }
.pd17_robot_rate ._btnset ._btnbad { background:#949597; }
.pd17_robot_rate ._btnset ._btngood { background:#ef6855; margin-left:10px; }
._contenttype { width: 20px; height: 20px; background-image: url(https://imagessl.hyundaihmall.com/hmall/co/vid_contenttype2.png); background-repeat: no-repeat; overflow: hidden; position: absolute; bottom: 6px; right: 6px; background-size: 20px; }
._contenttype._save { background-position:0 0; }
._contenttype._gift { background-position:0 -46px; }
._contenttype._ss { background-position:0 -23px; }
._contenttype._ctleft { right:auto; left:6px; }

.pd17_item_info_tvitem_btn._deactive { opacity:0.5; pointer-events:none; }

.pd17_bundled { background:#fff; margin-bottom:10px; border-bottom:1px solid #dadada; }
.pd17_bundled > a.pd17_item_wrap { height:156px; }
.pd17_bundled .pd17_item_info_title { margin-top:0 !important; }
.pd17_bundled .pd17_item_info_rate { top:60px; }
.pd17_bundled .pd17_item_info_price_or { top:85px; }
.pd17_bundled .pd17_item_info_price_dc { top:99px; }
.pd17_bundled .pd17_item_info_dcrate { top:95px; }
.pd17_bundled .pd17_item_info_sub_content { color:#222; }
.pd17_bundled .pd17_item_info_delivprice em, .pd17_bundled .pd17_item_info_sub_content em { color:#ff5340; font-weight:bold; }
.pd17_bundled .pd17_item_info_delivprice { position:absolute; top:126px; display:block; font-size:13px; }

.pd17_list_header._bundled ._floatRight > a { margin-left:10px; }
.pd17_list_basketshort { display:block; background:#fff; border-bottom:1px solid #dadada; margin-bottom:10px;  }
.chk_freedel { display:inline-block; margin-right:10px; }
.chk_freedel input, .chk_freedel span { display:inline-block; vertical-align:middle; }
.chk_freedel span { font-size:14px; line-height:30px; color:#111 }
.pd17_list_basketshort_openclose { display:block; padding:12px; }
.pd17_list_basketshort_openclose > a { display:block; padding:8px; border:1px solid #ddd; text-align:center; font-size:16px; color:#111; font-weight:bold; }
.pd17_list_basketshort_openclose > a > i { display:inline-block; vertical-align:middle; width:12px; height:7px; background-image:url(https://imagessl.hyundaihmall.com/hmall/co/icon_basketopenclose.png); background-repeat:no-repeat; background-size:12px; margin-left:5px; background-position:0 -7px; }
.pd17_list_basketshort._active .pd17_list_basketshort_openclose > a > i { background-position:0 0; }
.pd17_bundled._basket { border-bottom:1px solid #eee; margin-bottom:0; }
.pd17_bundled._basket:first-child { margin-top:-12px; }
.pd17_bundled._basket:last-child { border-bottom:1px solid #dadada; }
.pd17_list_basketshort_total { padding:12px; text-align:center; }

.pd17_list_basketshort_list, .pd17_list_basketshort_total { display:none; }
.pd17_list_basketshort._active .pd17_list_basketshort_list, .pd17_list_basketshort._active .pd17_list_basketshort_total { display:block; }
.pd17_list_basketshort_total span { font-size:12px; display:inline-block; line-height:20px; color:#222; vertical-align:middle; }
.pd17_list_basketshort_total span em { font-size:18px; line-height:20px; display:inline-block; vertical-align:middle; font-weight:bold; margin-left:4px; }
.pd17_list_basketshort_total span em._orange { color:#ff5340; }
.pd17_list_basketshort_total i { margin:0 10px; width:16px; height:16px; display:inline-block; vertical-align:middle; background-image:url(https://imagessl.hyundaihmall.com/hmall/co/icon_baskettotal.png); background-repeat:no-repeat; background-size:16px; }

.pd17_list_searchheader { display:block; padding:10px 12px 0 12px; background:#fff; position:relative; }
.pd17_list_searchheader > input { display:block; width:100%; border:1px solid #eaeaea; font-size:14px; padding:7px 26px 7px 10px; height:34px; line-height:20px; }
.pd17_list_searchheader_searchbtn { display:inline-block; width:34px; height:34px; position:absolute; top:10px; right:12px; padding:8px; }
.pd17_list_searchheader_searchbtn img { width:16px; }

.pd17_item_wrap._glt	{ position:relative; height:auto !important; padding:0 0 40px 0 }
.pd17_item_wrap._glt .pd17_item_info_title._glt	{ margin-top: 0; padding:10px 15px 0 15px; -webkit-line-clamp:1; border-top:1px solid #e3e3e3 }
.pd17_item_wrap._glt .pd17_item_info_price_dc._glt		{ position:absolute; top:initial; bottom:8px; left:15px; display:block; font-size:13px; color:#222 }
.pd17_item_wrap._glt .pd17_item_info_price_dc._glt em	{ font-weight:bold; font-size:18px; font-style:normal; padding-right:1px }
.pd17_item_wrap._glt .pd17_item_info_qty		{ position:absolute; right:15px; bottom:9px; display:block; font-size:13px; color:#acacac }
.pd17_item_wrap._glt .pd17_item_info_qty em	{ padding-right:2px; font-size:15px; color:#fe2434 }

.overflow-scroll-itembox > .verticalAlignT { border-bottom:0 !important; }

/* 20180221 - PC/Mobile 기획전 이미지 동기화 - rlatkdals */
.pdlist17 .pl_overimage	{ position:relative; width:100%; overflow:hidden }
.pdlist17 .pl_overimage .pl_overimage_text	{ position:absolute; bottom:0; z-index:100; width:100%; padding:20px 0; line-height:25px; background:rgba(0, 0, 0, 0.5) }
.pdlist17 .pl_overimage .pl_overimage_text strong	{ font-size:18px; color:#FFF; text-align:center; display:block }
.pdlist17 .pl_overimage .pl_overimage_text span	{ font-size:16px; color:#FFF; text-align:center; display:block }
.pdlist17 .pl_overimage > img	{ position:relative; left:50%; width:auto; height:250px; -webkit-transform:translateX(-50%); transform:translateX(-50%) }
.pdlist17 .pl_overimage._fit > img		{ width:100%; height:auto }
.pdlist17 .pl_overimage._fit .pl_overimage_text	{ padding:8px 0 }

/* soldout */
.pd17_bundled .pd17_item_img._soldout:before, .pd17_list .pd17_item_img._soldout:before,
.pd17_list .pd17_item_wrap._glt._soldout:before, .toktok_list_star .item a._soldout:before   { content:"품절"; position:absolute; top:50%; left:50%; z-index:1; color:#FFF; text-align:center; letter-spacing:-3px; background:rgba(51,51,51,0.7); border-radius: 100%; transform: translate(-50%, -47%); display:inline-block }
.pd17_bundled .pd17_item_img._end:before, .pd17_list .pd17_item_img._end:before,
.pd17_list .pd17_item_wrap._glt._end:before, .toktok_list_star .item a._end:before   { content:"종료"; position:absolute; top:50%; left:50%; z-index:1; color:#FFF; text-align:center; letter-spacing:-3px; background:rgba(51,51,51,0.7); border-radius: 100%; transform: translate(-50%, -47%); display:inline-block }
.pd17_bundled .pd17_item_img._soldout:before, .pd17_list._type_list .pd17_item_img._soldout:before, .pd17_list._type_column .pd17_item_img._soldout:before,
.pd17_bundled .pd17_item_img._end:before, .pd17_list._type_list .pd17_item_img._end:before, .pd17_list._type_column .pd17_item_img._end:before  { width:90px; height:90px; font-size:26px; line-height:90px }
.pd17_list._type_list .pd17_item_wrap._glt._soldout:before, .pd17_list._type_list .pd17_item_wrap._glt._end:before,
.pd17_list._type_column .pd17_item_wrap._glt._soldout:before, .pd17_list._type_column .pd17_item_wrap._glt._end:before,
.toktok_list_star .item a._soldout:before, .toktok_list_star .item a._end:before   { width:90px; height:90px; font-size:26px; line-height:90px; transform: translate(-50%, -105%) }

/* 180703 - AD Flag - rlatkdals */
.pd17_item_img._ad:after { position:absolute; top:-1px; left:-1px; z-index:100; content:"AD"; font-size:11px; font-weight:bold; color:#555; border:1px solid #efefef; padding:1px 4px 2px 4px; background-color:#FFF; display:inline-block }

/* 180726 - 교차검색 - rlatkdals */
.pd17_cross-search { margin:0 0 10px 0; border-bottom:1px solid #ccc; display:block; background:#fff; }
.pd17_cross-search_header { display:block; white-space:nowrap; padding:12px; }
.pd17_cross-search_header > *, .pd17_cross-search_header_showall span, .pd17_cross-search_header_showall img { display:inline-block; vertical-align:middle; }
.pd17_cross-search_header_title { color:#ef5f53; font-size:15px; }
.pd17_cross-search_header_title._thehandsome > img { width:174px; margin:0 0 3px 0; }
.pd17_cross-search_header_title._thehyundai > img { width:141px; margin:0 0 3px 0; }
.pd17_cross-search_header_cnt { font-size:15px; color:#888; }
.pd17_cross-search_header_showall span { font-size:13px; color:#666; }
.pd17_cross-search_header_showall img { width:6px; }
.pd17_cross-search_searched { overflow:scroll; -webkit-overflow-scrolling:touch; }
.pd17_cross-search_searched::-webkit-scrollbar { display:none; }
.pd17_cross-search_searched .pd17_list._type_column { white-space:nowrap; border:none !important; }
.pd17_cross-search_searched .pd17_list._type_column li { border:none !important; }
.pd17_cross-search_searched .pd17_list._type_column li a { padding:5px; border:0; }
.pd17_cross-search_searched .pd17_list._type_column li:FIRST-CHILD { margin-left:7px; }
.pd17_cross-search_searched .pd17_list._type_column li:LAST-CHILD { margin-right:7px; }
.pd17_cross-search_searched .pd17_list._type_column li { width:136px; }
.pd17_list._type_column .pd17_item_info_title { white-space:normal; height:36px; }
.pd17_cross-search_searched .pd17_item_info > span:first-child:not(.pd17_flags) { margin-top:6px !important; }

/* 181116 - 더보기 - rlatkdals */
.pdlist17 .get_more    { margin-top:-11px; }
.pdlist17 .get_more a{display:block;line-height:42px;text-align:center;font-size:15px;color:#3b3f4b;background:#FFF;border-top:1px solid #bbbbbb;border-bottom:1px solid #ccc;}
.pdlist17 .get_more a span{display:inline-block;padding:0 20px 0 10px;position:relative}
.pdlist17 .get_more a span:before{content:"";position:absolute;top:21px;right:6px;width:9px;height:1px;-webkit-transform: rotate(45deg);background:#3b3f4b}
.pdlist17 .get_more a span:after{content:"";position:absolute;top:21px;right:0;width:9px;height:1px;-webkit-transform: rotate(-45deg);background:#3b3f4b}

/* 검색추천서비스 - 검색어 연관 아이템영역 추가 - sb */
.pd17_relitems { display:block; border-bottom:10px solid #ebebeb; background:#fff; }
.pd17_relitems_header { display:block; white-space:nowrap; padding:12px; }
.pd17_relitems_header > *, .pd17_cross-search_header_showall span, .pd17_cross-search_header_showall img { display:inline-block; vertical-align:middle; }
.pd17_relitems_header_title { color:#888888; font-size:15px; }
.pd17_relitems_header_title > .highlight { color:#ef5f53; font-size:15px; }
.pd17_relitems_header_showall span { font-size:13px; color:#666; }
.pd17_relitems_header_showall img { width:6px; }
.pd17_relitems_searched { overflow:scroll; -webkit-overflow-scrolling:touch; }
.pd17_relitems_searched::-webkit-scrollbar { display:none; }
.pd17_relitems_searched .pd17_list._type_column { white-space:nowrap; border:none !important; }
.pd17_relitems_searched .pd17_list._type_column li { border:none !important; }
.pd17_relitems_searched .pd17_list._type_column li a { padding:5px; border:0; }
.pd17_relitems_searched .pd17_list._type_column li:FIRST-CHILD { margin-left:7px; }
.pd17_relitems_searched .pd17_list._type_column li:LAST-CHILD { margin-right:7px; }
.pd17_relitems_searched .pd17_list._type_column li { width:136px; }

/* 엄지펀딩 */
.pl_itemlist_crowd  { position: relative; font-size: 0; border-top: 1px solid #ddd; }
.pl_itemlist_crowd .inner-wrap  { position: relative; width: 82%; font-size: 0; white-space: nowrap; display: flex; }
.pl_itemlist_crowd .inner-wrap:before   { content: "/"; position: absolute; top: 50%; left: 50%; font-size: 22px; font-family: monospace; color: #eee; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); display: inline-block; }
.pl_itemlist_crowd .inner-wrap:after    { content: ""; position: absolute; top: 0; right: 0; width: 1px; height: 100%; background-color: #ddd; }
.pl_itemlist_crowd .inner-wrap > div    { position: relative; width: 50%; padding: 10px 15px; flex: 1 1 auto; }
.pl_itemlist_crowd .inner-wrap > div .title { font-size: 14px; color: #555; display: block; }
.pl_itemlist_crowd .inner-wrap > div .title em { font-size: 18px; font-weight: bold; color: #0089f2; margin: 0 0 0 5px; vertical-align: -2px; }
.pl_itemlist_crowd .inner-wrap > div .title em:after { color: #111; margin: 0 0 2px 2px; vertical-align: middle; display: inline-block; }
.pl_itemlist_crowd .inner-wrap > div .bar-graph { position: relative; width: 100%; height: 8px; margin: 6px 0 0; border-radius: 8px; background-color: #eee; display: inline-block; }
.pl_itemlist_crowd .inner-wrap > div .bar-graph .progress { position: absolute; top: 0; left: 0; height: 8px; border-radius: 8px; background-color: #0089f2; }
.pl_itemlist_crowd .remain .title em:after { content: "일"; font-size: 14px; vertical-align: 2px; }
.pl_itemlist_crowd .achievement .title em:after { content: "%"; font-size: 14px; }
.pl_itemlist_crowd .pd17_item_info_sub_like_btn { width: 18%; top: 50%; right: 0; text-align: center; transform: translateY(-50%); -webkit-transform: translateY(-50%); }
.pl_itemlist_crowd._end .inner-wrap:before   { display: none; }
.toktok_wrap_star .pl_itemlist_crowd    { background-color: #fff; }
.toktok_wrap_star .pl_itemlist_crowd .inner-wrap > div  { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.pd17_list._type_column .pl_itemlist_crowd .pd17_item_info_sub_like_btn,
.toktok_wrap_star .pl_itemlist_crowd .pd17_item_info_sub_like_btn { display: none; }
.pd17_list._type_column .pl_itemlist_crowd .inner-wrap,
.toktok_wrap_star .pl_itemlist_crowd .inner-wrap  { width: auto; }
.pd17_list._type_column .pl_itemlist_crowd .inner-wrap:after,
.toktok_wrap_star .pl_itemlist_crowd .inner-wrap:after { content: none; }
.pd17_list._type_column .pl_itemlist_crowd .inner-wrap > div .title,
.toktok_wrap_star .pl_itemlist_crowd .inner-wrap > div .title   { font-size: 0; letter-spacing: -2px; text-align: center; }
.pd17_list._type_column .pl_itemlist_crowd .inner-wrap > div .title em,
.toktok_wrap_star .pl_itemlist_crowd .inner-wrap > div .title em    { margin: 0; }
.pd17_list._type_column .pl_itemlist_crowd .remain .title em:after,
.toktok_wrap_star .pl_itemlist_crowd .remain .title em:after  { content: "일 남음"; }
.pd17_list._type_column .pl_itemlist_crowd .achievement .title em:after,
.toktok_wrap_star .pl_itemlist_crowd .achievement .title em:after { content: "% 달성"; }


/* 검색UI 추가개선 */
.pd17_list_header_search { position: relative }
.pd17_list_header_search._changes:after { position: absolute; top: 3px; right: -8px; width: 5px; height: 5px; border-radius: 10px; content: ''; display: block; background: #ff5340; }
.pd17_list_init { display: block; padding:10px; background:#fff; position: relative; border-bottom: 1px solid #e5e5e5; font-size:0; text-align:center; margin-bottom:10px; }
.pd17_list_init > img, .pd17_list_init > span { display:inline-block; vertical-align: middle; }
.pd17_list_init > img { width:20px; margin-right:5px; }
.pd17_list_init > span { font-size:13px; color:#595959; }
._type_column .pd17_item_info_dcrate { top:auto; bottom:14px; }
.pd17_item_info_rate_new { display:block; font-size:11px; color:#989898; vertical-align:middle; margin-top:8px; height:13px; }
.pd17_list .pd17_item_img._soldout:before { width: 100px; height: 100px; line-height: 100px; font-size: 20px; }
.pd17_item_info > :nth-child(2):not(.pd17_item_info_title):not(.pd17_item_info_price_or) { margin-top: 13px; }
.pd17_list._type_column .pd17_item_info > :nth-child(2):not(.pd17_item_info_title) { margin-top: 8px; }

/* 별점(prd-detail 참조) */
.pd17_item_info_rate_new em.bigstar {display:inline-block; background-image:url('https://imagessl.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/prd/common_img02.png'); background-size:60px auto; vertical-align:-1px; }
.pd17_item_info_rate_new em.bigstar:before {display:block;background-image:url('https://imagessl.hyundaihmall.com/static/smart/2015/mobile/images/image_5.0/prd/common_img02.png');background-size:60px auto;background-repeat:no-repeat;background-position:0px 0px;}
.pd17_item_info_rate_new em.bigstar.sbig { position:relative; width:60px !important; height:11px; background-position:0 -13px; }/*0222 수정*/
.pd17_item_info_rate_new em.bigstar.sbig:before { content:''; position:absolute; width:0px; height:11px; left:0px; top:0px; background-position:0 0; }
.pd17_item_info_rate_new em.bigstar.ps100:before { width:100%; }
.pd17_item_info_rate_new em.bigstar.ps90:before { width:90%; }
.pd17_item_info_rate_new em.bigstar.ps80:before { width:80%; }
.pd17_item_info_rate_new em.bigstar.ps70:before { width:70%; }
.pd17_item_info_rate_new em.bigstar.ps60:before { width:60%; }
.pd17_item_info_rate_new em.bigstar.ps50:before { width:50%; }
.pd17_item_info_rate_new em.bigstar.ps40:before { width:40%; }
.pd17_item_info_rate_new em.bigstar.ps30:before { width:30%; }
.pd17_item_info_rate_new em.bigstar.ps20:before { width:20%; }
.pd17_item_info_rate_new em.bigstar.ps10:before { width:10%; }
.pd17_item_info_rate_new em.bigstar.ps0:before { width:0%; }


@media only screen and (max-width : 359px){
    .pd17_list._type_column .pl_itemlist_crowd .remain .title em:before, .toktok_wrap_star .pl_itemlist_crowd .remain .title em:before { content: "-"; font-size: 14px; margin: 0 3px 0 0; vertical-align: 2px; }
    .pd17_list._type_column .pl_itemlist_crowd .remain .title em:after, .toktok_wrap_star .pl_itemlist_crowd .remain .title em:after  { content: "일"; }
    .pd17_list._type_column .pl_itemlist_crowd .achievement .title em:after, .toktok_wrap_star .pl_itemlist_crowd .achievement .title em:after { content: "%"; }
}