@charset "utf-8";
.inputbox.xl{height:50px;}
.inputbox.ml{height:44px;}
.inputbox.ml .ico-clearabled{height:42px;}
.container.type-wide{padding-right:0;padding-left:0;}

/* 회원가입 메인 */
.member-main .container{padding-top:15px;/*background:#f4f8fb;*/}
.joinin-member .btn{justify-content:inherit;}
.joinin-member .icon.arrow-right{width:8px;height:14px;background:url(//imagedev.hmall.com/m/img/co/icon/ico-arrow-right-type8-2x.png) no-repeat 50% 50%;background-size:8px 14px;}
.joinin-member [class^="mem-"]{margin-top:10px;}
.joinin-member [class^="mem-"]:first-child{margin-top:0;}
.joinin-member [class^="mem-"] .btn{position:relative;height:80px;padding:0 20px;border-radius:5px;border:solid 1px #ddd;text-align:left;}
.joinin-member [class^="mem-"] .inner{display:block;min-width:245px;}
.joinin-member [class^="mem-"] .icon{width:40px;height:40px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;background-repeat:no-repeat;background-position:center center;background-size:contain;}
.joinin-member [class^="mem-"] .icon.arrow-right{position:absolute;top:50%;right:20px;transform:translateY(-50%);width:8px;height:14px;background:url(//imagedev.hmall.com/m/img/co/icon/ico-arrow-right-black.svg) no-repeat;background-size:8px 14px;}
.joinin-member [class^="mem-"] .icon.hpoint{background-image:url(//imagedev.hmall.com/m/img/co/icon/ico-hpoint.svg);}
.joinin-member [class^="mem-"] .icon.hmall{background-image:url(//imagedev.hmall.com/m/img/co/icon/ico-hmall.svg);}
.joinin-member [class^="mem-"] .icon.naver{background-image:url(//imagedev.hmall.com/m/img/co/icon/ico-naver.svg);}
.joinin-member [class^="mem-"] .icon.kakao{background-image:url(//imagedev.hmall.com/m/img/co/icon/ico-kakao.svg);}
.joinin-member [class^="mem-"] .icon.facebook{background-image:url(//imagedev.hmall.com/m/img/co/icon/ico-facebook-sm2x.png);}
.joinin-member [class^="mem-"] .icon + span{margin-left:20px;font-size:18px;line-height:24px;letter-spacing:-0.72px;}

/* 회원가입 정보입력 - 일반/네이버/카카오/페이스북 회원가입 양식 */
.member-fieldset{padding:0 15px 20px;border-bottom:1px solid #eee;background:#fff;}
.member-fieldset .minor-headings{margin-top:20px;font-size:16px;letter-spacing:-0.64px;}
.member-fieldset .minor-headings:first-child{margin-top:0;}
.member-fieldset .cnt-desc{margin-top:5px;color:#999;font-size:13px;line-height:20px;letter-spacing:-0.52px;}
.member-fieldset .field{margin-bottom:5px;}
.member-fieldset .field:last-child{margin-bottom:0;}
.member-fieldset .field .failed-msg{margin:4px 0 11px;}
.member-fieldset .minor-headings + .field,
.member-fieldset .cnt-desc + .field{margin-top:15px;}
.member-fieldset .inputbox{height:40px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;}
.member-fieldset .inputbox .ico-clearabled{height:38px;}
.agreement{background:#fff;border-top:10px solid #f8f8f8;}
.agreement .agree-item{padding:20px 15px;border-bottom:1px solid #eee;}
.agreement .agree-item > .checkbox .chklabel .icon{min-width:22px;}
.agreement .agree-item > .checkbox .chklabel span{margin-left:10px;font-weight:700;}
.agreement .agree-item > .checkbox .chklabel .remark{color:#ff5340;font-weight:700;}
.agreement .agree-cnt{margin-top:20px;}
.agreement .agree-cnt .view-list .btn-round.xs{position:inherit !important;top:0;height:28px;}
.agreement .agree-cnt .btngroup{position:relative;top:0;}
.agreement .agree-cnt .btn-round.xs{position:absolute;top:-60px;right:0;height:28px;}
.agreement .agree-cnt .btn-round.xs span{font-weight:400;}
/* .agreement .agree-cnt .checkbox-wrap .checkbox{justify-content:flex-start;}
.agreement .agree-cnt .checkbox-wrap .chklabel{min-width:fit-content;margin-left:35px;}
.agreement .agree-cnt .checkbox-wrap .chklabel:first-child{margin-left:0;} */
.agreement .agree-cnt .checkbox-wrap .checkbox{display:block;}
.agreement .agree-cnt .checkbox-wrap .checkbox .chklabel{margin-left:30px;}
.agreement .agree-cnt .checkbox-wrap .checkbox .chklabel:first-child{margin-left:0;}
.agreement .agree-cnt .checkbox-wrap .chklabel .icon{min-width:18px;}
.agreement .agree-cnt .checkbox-wrap .chklabel span{font-size:14px;letter-spacing:-0.54px;}
.agree-desc p{line-height:21px;}
.view-list li{display:flex;justify-content:space-between;flex-wrap:wrap;align-items:center;width:100%;margin-top:4px;}
.view-list li:first-child{margin-top:0;}
.view-list li > span{color:#333;font-size:15px;line-height:16px;letter-spacing:-0.6px;}
.agree-confirm{position:relative;width:100%;padding:29px 15px 35px;background:#fff;}
.agree-confirm:before{content:'';display:block;position:absolute;top:0;left:0;width:100%;height:9px;background-color:#f8f8f8;}
.agree-confirm p{margin-bottom:8px;line-height:19px;color:#111;font-size:14px;}
.agree-confirm .btngroup .btn{height:48px;border-radius:5px;}
.aline-link{display:flex;justify-content:space-between;align-items:center;flex-wrap:nowrap;margin:12px 0 0;}
.aline-link .txt{color:#333;}
.wrap.member-form{padding-bottom:80px;}
.wrap.member-form .aline-link{margin:0 0 -25px;padding:12px 15px 25px;border-top:1px solid #eee;border-bottom:1px solid #eee;background:#f8f8f8}
.wrap.member-form .aline-link .btn{padding:0 17px;height:28px;}
.icon.naver{width:20px;height:20px;margin-right:8px;background:url(//imagedev.hmall.com/m/img/cu/icon/icon-naver-2x.png) no-repeat center center;background-size:contain;}
.icon.kakao{width:20px;height:20px;margin-right:8px;background:url(//imagedev.hmall.com/m/img/cu/icon/icon-kakao-2x.png) no-repeat center center;background-size:contain;}


/* 회원가입 완료 */
.msg-major{padding-bottom:40px;}
.msg-major.type-center{position:relative;text-align:center;}
.msg-major.type-center:after{content: "";display: block;position: absolute;bottom: 0;left: 0;width: 100%;height: 9px;margin: 0;border-top: 1px solid #eee;background: #f8f8f8;}
.msg-major.type-center p.sub-txt{margin-bottom:20px;}
.msg-major .icon{display:block;width:140px;height:140px;margin:0 auto 20px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;}
.msg-major .icon-complete{background:url(//imagedev.hmall.com/m/img/co/icon/icon-complete-2x.png) no-repeat center center;background-size:contain;}
.msg-major p.major{color:#333;font-weight:700;font-size:18px;line-height:22px;letter-spacing:-0.72px;}
.msg-major p.sub-txt{margin-top:5px;color:#999;font-size:14px;line-height:22px;letter-spacing:-0.56px;}
.member-add-stat{color:#333;font-size:14px;line-height:20px;letter-spacing:-0.56px;}
.member-add-stat .stat-part{padding:20px 15px;border-bottom:1px solid #eee;}
.member-add-stat .stat-part:last-child{border-bottom:0;}
.member-add-stat .stat-tit{display:block;color:#333;font-weight:700;font-size:16px;letter-spacing:-0.64px;}
.member-add-stat .stat-tit i{color:inherit;font:inherit;vertical-align:baseline;}
.member-add-stat .stat-select .field{width:146px;margin:0;}
.member-add-stat p{margin-top:11px;line-height:20px;}
.member-add-stat .stat-part .btngroup{margin-top:22px;} 
.member-add-stat .stat-part .btngroup .btn{height:44px;border-radius:5px;}
.member-add-stat .stat-part .btngroup .btn span{font-size:15px;}
.stat-agree{margin-top:15px;}
.stat-agree .aligner{justify-content:flex-start;}
.stat-agree .dotlist li{margin-left:20px;padding-left:8px;}
.stat-agree .dotlist li:before{content:'';width:3px;height:3px;border-radius:50%;background:#666;}
.stat-agree .dotlist li:first-child{margin-left:0;}
.stat-agree .dotlist strong{vertical-align:baseline;}
.member-btngroup{padding:0 15px;}
.member-complete .member-btngroup .btn{height:44px;border-radius:5px;}

/* 가입된 계정 있음 */
.consist-account strong{display:block;color:#333;font-weight:700;font-size:16px;line-height:22px;letter-spacing:-0.64px;}
.consist-account span{display:block;margin-top:10px;color:#999;font-size:14px;line-height:20px;letter-spacing:-0.56px;}
.consist-account .acc-id{margin-top:20px;padding:20px;background:#f8f8f8;text-align:center;}
.consist-account .acc-id p.id-each{display:flex;justify-content:center;align-items:center;color:#333;font-weight:700;font-size:18px;letter-spacing:-0.72px;}
.member-consist .btngroup{margin-top:20px;}
.login-form{margin-top:20px;}
.login-form .inputbox.xl{align-items:center;border-color:#ddd;}
.login-form .inputbox.xl .icon{height:100%;margin:0 15px;}
.login-form .inputbox.disabled{border-color:#ddd;}
.login-form .inputbox.selected{border-color:#666;}
.login-form .inputbox.xl.failed{border-color:#ff5340;}
.login-form .inputbox:not(:first-child){margin-top:5px;}

/* 회원가입 이용약관 - As-Is editor source 기준 */ /* co/etc.css의 내용과 동일 */
.detail_info .editor-view h3{margin-bottom:10px;color:#333;font-size:14px;line-height:20px;font-weight:700;letter-spacing:-0.56px;}
.detail_info .editor-view ol li{margin-bottom:10px;color:#333;font-size:14px;line-height:20px;letter-spacing:-0.56px;}
.detail_info .editor-view ol li ul{margin-top:10px;}
.detail_info .editor-view table{margin-top:10px;}
.detail_info .editor-view table th,
.detail_info .editor-view table td{padding:10px 14px;border:1px solid #eee;font-size:12px;letter-spacing:-0.56px;}
.detail_info .editor-view table th{background:#f8f8f8;color:#333;line-height:17px;}
.detail_info .editor-view table td{color:#666;line-height:20px;}

/* 회원가입 이용약관 - to-be markup 적용 */ /* co/etc.css의 내용과 동일 */
.detail_info .minor-headings{margin-top:20px;margin-bottom:10px;}
.detail_info .minor-headings:first-of-type{margin-top:0;}
.detail_info .ctypo2{color:#333;}
.detail_info .ctypo2 + .ctypo2{margin-top:10px;}
.detail_info .ctypo2 li{margin-top:10px;}
.detail_info .ctypo2 li:first-child{margin-top:0;}
.detail_info .ctypo2 li ul,
.detail_info .ctypo2 li .tblwrap{margin-top:10px;}

/* 추가 양식 - 자동완성 임시 사용 */
.field .autocomplete{position:absolute;top:40px;left:0;width:100%;display:none;}
.field.selected{position:relative;}
.field.selected .autocomplete{display:block;}
.autocomplete{border:1px solid #eee;z-index:10;}
.autocomplete ul{overflow-x:hidden;overflow-y:auto;max-height:calc(5 * 40px);}
.autocomplete .btn-auto{width:100%;justify-content:flex-start;}
.autocomplete .active .btn-auto{background:#f4f4f4;}

/* 통합 회원 가입 안내 AS-IS 구조 반영 */
.mm-wrap strong{font-weight:700;vertical-align:baseline;}
.mm-hpointinfo {font-size:14px;color:#ff5340;line-height:19px}
.mm-hpointinfo b {font-weight:400;color:#888}
.mm-bottombtnset {display:block;background:#fff;width:100%;padding:20px 10px 10px;font-size:0}
.mm-bottom-help {font-size:14px;color:#aaa;margin:10px 0 0;text-align:center}
.mm-bottom-help a {font-size:15px;color:#666;border-radius:30px;border:1px solid #ddd;margin:0 0 0 5px;padding:5px 8px;letter-spacing:0;display:inline-block}
.mm-bottom-help a>img {width:16px;margin:0 3px 0 0;vertical-align:-3px}
.mm-bottomtxt {padding:0 10px;font-size:14px;color:#111;line-height:20px;margin-bottom:10px;display:block}
.mm-bottombtn {display:block;width:100%;color:#fff;background:#ff5340;border:1px solid #ff5340;font-size:17px;padding:12px 0;font-weight:700;text-align:center}
.mm-bottombtn._half {width:49%;display:inline-block}
.mm-bottombtn._half:first-child {margin-right:2%}
.mm-bottombtn._negative {border:1px solid #bbb;color:#111;background:#fff}
.mm-bottombtn._blk {background:#404040;border:1px solid #404040}
.mm-bottombtn._orange {border:1px solid #ff5340;color:#ff5340;background:#fff}
.mm-message1 {padding:30px 0 30px}
.mm-messagetxt1 {font-size:15px;color:#333;line-height:19px;text-align:center;margin-bottom:10px}
.mm-messagetxt2 {font-size:15px;color:#888;line-height:19px;text-align:center;margin-bottom:10px}
.mm-messagetxt3 {font-size:15px;color:#ff5340;line-height:19px;text-align:center;font-weight:700}
.mm-bg-gray1 {background:#eee}
.mm-done {padding:40px 20px 20px;background:#fff}
.mm-done h1 {display:block;text-align:center;font-size:17px;font-weight:700;line-height:25px;border-bottom:0;margin-bottom:40px}
.mm-done>img {max-width:100%}
.mm-subtxt1 {font-size:14px;line-height:19px;color:#555}
.mm-subtxt2 {font-size:15px;line-height:19px;color:#555;font-weight:700}
.mm-hmemberec-contwrap {padding:10px}
.mm-hmemberec-cont {min-height:220px}
.mm-hmemberec-cont img {width:auto;height:21px;display:block;margin:30px auto 40px}
.mm-hmemberec-cont p {color:#444;font-size:14px;line-height:19px}
._btn_hover_close {position:absolute;top:15px;right:15px;width:16px;height:16px;display:block}
._txt_underline {border-bottom:1px solid #898b92!important;white-space:nowrap}
._mb10 {margin-bottom:10px}
.mm-subtxt {font-size:13px;color:#111}
.marginR4p {margin-right:4%}
.mm-title sub.gray {font-weight:400;color:#555;margin:5px 0 0;display:block}
.hpoint_x_hmall {padding:0}
.hpoint_x_hmall h3 {font-size:17px;color:#363636;padding:0 0 5px 0;border-bottom:2px solid #363636}
.hpoint_x_hmall .content {font-size:15px;color:#363636;padding:30px 0 10px;line-height:1.8em;text-align:center}
.hpoint_x_hmall .content img {width:219px}
.hpoint_x_hmall .content dl {margin:15px 0 35px;padding:10px 0 10px;border-top:1px solid #d6d6d6;border-bottom:1px solid #d6d6d6;display:flex}
.hpoint_x_hmall .content dl dt {font-weight:700;flex:.75}
.hpoint_x_hmall .content span {font-size:13px}

/* 회원가입완료 배너영역 */
.banner-area{margin:20px 15px;}
.banner-area a{display: block;}
.banner-area img{width:100%;height:100%;}