<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" type="text/css" href="http://imagestg.hyundaihmall.com/mo/css/css_5.0/common_star.css" />
    <link rel="stylesheet" type="text/css" href="http://imagestg.hyundaihmall.com/mo/css/css_5.0/hmall.video.css" />
    <script type="text/javascript" src="//imagedev.hmall.com/m/js/co/jquery-3.4.1.min.js"></script>
    <style>
        h3  { font-size: 18px; color: #000; padding: 10px 10px; }
        h3 > div { font-size: 16px; color: #000; font-weight: normal; padding: 0; margin: 10px 0 0; }
    </style>
</head>
<body>
<!--http://123.111.139.103:1935/streams/_definst_/mp4:f97c1972-2750-4313-a97b-79aaad43cce4/2019/01/10/a213d357-a5ec-49cc-9ae8-c4f13eb032dc/6ae71f6c-4788-421e-9764-803fa58e6d47.mp4/playlist.m3u8-->
<!--http://123.111.139.103:1935/streams/_definst_/mp4:f97c1972-2750-4313-a97b-79aaad43cce4/2019/05/16/b63ed1ca-1e01-4ab4-8523-a09a663716db/07c357c7-3312-4221-bcd6-09c05a36586e.mp4/playlist.m3u8-->
<!--http://123.111.139.103:1935/streams/_definst_/mp4:f97c1972-2750-4313-a97b-79aaad43cce4/2019/05/24/ab9f4c34-aa36-4bd1-ad91-b428107befda/9aecc8f2-a627-4bf0-a78d-cc14b87a0d97.mp4/playlist.m3u8-->
<!--http://123.111.139.103:1935/streams/_definst_/mp4:f97c1972-2750-4313-a97b-79aaad43cce4/2019/05/27/bd5f2b48-b8ae-4ba9-923b-4667fd3e7297/4fea3b9c-b7ae-46d2-bda4-84db4e97c984.mp4/playlist.m3u8-->
<!--https://video.activision.com/activision/cdn/sekiro/videos/Sekiro_Launch_15_Combat_TEXTLESS_1920x1080_29fps_desktop.mp4-->
<!--http://mimg.hfashionmall.com/images/image/goods/m/5R/5WMR4WO90000_015.mp4-->

<!-- video -->
<h3>
    데이터소모안내 스킵, 자동재생 [bypass]
    <div>
        <p>- data-bypass="Y"</p>
    </div>
</h3>
<div class="video-wrapper _init" data-type="onair" data-src="https://dtvstreaming.hyundaihmall.com/newcjp3/_definst_/newcjpstream.smil/playlist.m3u8">
    <div class="_video-container">
        <img src="https://www.sekirothegame.com/content/dam/atvi/sekiro/gallery/Sekiro_01.jpg" alt="">
    </div>
</div>

<br>

<!-- video -->
<h3>기본형, SHOW핑</h3>
<div class="video-wrapper _init" data-src="http://123.111.139.103:1935/streams/_definst_/mp4:c3c0d704-beb9-4d21-882e-f1d6fcf0a027/2019/09/16/cd8e311f-840d-4bdf-b315-62512cc13092/36b83358-aa50-4093-97b3-5e75cb456e0e.mp4/playlist.m3u8">
    <div class="_video-container">
        <img src="https://www.sekirothegame.com/content/dam/atvi/sekiro/gallery/Sekiro_01.jpg" alt="">
    </div>
</div>

<br>

<!-- video -->
<h3>
    TV쇼핑 [ON AIR]
    <div>
        <p>- data-type="onair"</p>
        <p>- data-servercurrenttime="서버시간 (yyyy-mm-dd-h-m-s)"</p>
        <p>- data-time="방송종료시간 (yyyy-mm-dd-h-m)"</p>
    </div>
</h3>
<div class="video-wrapper _init" data-type="onair" data-servercurrenttime="20200922000000" data-time="202012311600" data-src="https://dtvstreaming.hyundaihmall.com/newcjp3/_definst_/newcjpstream.smil/playlist.m3u8" data-url="/">
    <div class="_video-container">
        <img src="https://www.sekirothegame.com/content/dam/atvi/sekiro/gallery/Sekiro_01.jpg" alt="">
    </div>
</div>
<br>

<!-- video -->
<h3>
    TV쇼핑 [무형 대체방송] [ON AIR]
    <div>
        <p>- data-type="onair"</p>
    </div>
</h3>
<!-- <div class="video-wrapper _init" data-type="onair" data-src="https://dtvstreaming.hyundaihmall.com/newcjp3/_definst_/newcjpstream.smil/playlist.m3u8">
    <div class="_video-container">
        <img src="https://www.sekirothegame.com/content/dam/atvi/sekiro/gallery/Sekiro_01.jpg" alt="">
    </div>
</div> -->

<br>

<!-- video -->
<h3>
    TV+SHOP [ON AIR]
    <div>
        <p>- data-type="onair"</p>
        <p>- data-servercurrenttime="서버시간 (yyyy-mm-dd-h-m-s)"</p>
        <p>- data-time="방송종료시간 (yyyy-mm-dd-h-m)"</p>
    </div>
</h3>
<!-- <div class="video-wrapper _init" data-type="onair" data-servercurrenttime="20200922000000" data-time="202012311600" data-src="https://dtvstreaming.hyundaihmall.com/newcjp3/_definst_/newcjpstream.smil/playlist.m3u8">
    <div class="_video-container">
        <img src="https://www.sekirothegame.com/content/dam/atvi/sekiro/gallery/Sekiro_01.jpg" alt="">
    </div>
</div> -->

<br>

<!-- video -->
<h3>
    방송톡 ( data-type="talk" )
    <div>
        <p>- data-type="talk"</p>
        <p>- data-servercurrenttime="서버시간 (yyyy-mm-dd-h-m-s)"</p>
        <p>- data-time="방송종료시간 (yyyy-mm-dd-h-m)"</p>
    </div>
</h3>
<!-- <div class="video-wrapper _init" data-type="talk" data-servercurrenttime="20200922000000" data-time="202012311600" data-src="https://dtvstreaming.hyundaihmall.com/newcjp3/_definst_/newcjpstream.smil/playlist.m3u8">
    <div class="_video-container">
        <img src="https://imagessl.hyundaihmall.com//HM/HM008/20190325/160933/0808.png" alt="">
    </div>
</div> -->

<br>

<!-- video -->
<h3>
    모바일라이브
    <div>
        <p>- data-type="live"</p>
        <p>- data-begintime="방송시작시간 (yyyy-mm-dd-h-m)"</p>
        <p>- data-servercurrenttime="서버시간 (yyyy-mm-dd-h-m-s)"</p>
        <p>- data-time="방송종료시간 (yyyy-mm-dd-h-m)"</p>
    </div>
</h3>
<!-- <div class="video-wrapper _init" data-type="live" data-begintime="202009220000" data-servercurrenttime="20200922000000" data-time="202012311600" data-src="https://dtvstreaming.hyundaihmall.com/newcjp3/_definst_/newcjpstream.smil/playlist.m3u8">
    <div class="_video-container">
        <img src="https://imagessl.hyundaihmall.com//HM/HM008/20190325/160933/0808.png" alt="">
    </div>
</div> -->

<script type="text/javascript" src="//imagedev.hmall.com/guide/component/video/hmall.video.js"></script>
</body>
</html>