.footer{min-width:1380px;color: #666;font-size: 15px;letter-spacing: -0.6px;}
.footer *{font-family: "맑은 고딕", Malgun Gothic, "돋움", Dotum, Applegothic,sans-serif;vertical-align:middle;}
.footer .link-area .link-area-in .short-menu ul{margin: 0;padding: 0;vertical-align: top;box-sizing: border-box;}
.footer .footer-contents .info-area .footer-info.on .btn-footer{padding:0;border:1px solid transparent;}
.footer .footer-contents .info-area .hmall-info .list-contents p span{font-size:15px;}
.footer .footer-contents .info-area .hmall-info .list-contents p {margin-top: 8px;line-height: 20px;}
.footer .footer-contents .info-area .service-info-wrap{margin-top:4.5px;}










