span	{ color:#888 }
#detail_template_tbl_1	{ width:100% !important; border-top:1px solid #e7e7e7; margin-bottom:25px !important }
#detail_template_tbl_1	{ font-size:12px; margin:0 auto }
#detail_template_tbl_1 span	{ color:#5C5C5C; }
#detail_template_tbl_1 th	{ width:140px !important; background:#f8f8f8; padding:8px 5px 5px 5px; border-bottom:1px solid #e7e7e7; text-align:left }
#detail_template_tbl_1 th span	{ color:#666 !important }
#detail_template_tbl_1 td	{ width:*; padding:8px 5px 5px 5px; border-bottom:1px solid #e7e7e7; line-height:18px; text-align: left !important; }
#detail_template_tbl_2	{ font-size:12px; margin:0 auto }
#detail_template_tbl_2 span	{ color:#5C5C5C; }
#detail_template_tbl_2 th	{ width:182px;background:#CCC; padding:8px 5px 5px 5px; border-right:3px solid #FFF; border-bottom:2px solid #FFF; }
#detail_template_tbl_2 td	{ background:#EAEAEA; padding:8px 5px 5px 5px; border-right:3px solid #FFF; border-bottom:2px solid #FFF; text-align:center; }
#detail_template_tbl_2 td.bg_type_1	{ background:#CCC; }
#detail_template_tbl_1 p, #detail_template_tbl_2 p	{ margin:0; padding:0; }
#detail_template_tbl_3	{ font-size:12px; margin:0 auto }
#detail_template_tbl_3 th	{ width:638px; background:#EAEAEA; padding:8px 5px 5px 5px; border-bottom:2px solid #FFF; line-height:18px; text-align: left !important; }
#detail_template_tbl_4	{ font-size:12px; margin:0 auto }
#detail_template_tbl_4 span	{ width:118px;color:#5C5C5C; }
#detail_template_tbl_4 th	{ background:#CCC; padding:8px 5px 5px 5px; border-right:1px solid #FFF; border-bottom:2px solid #FFF; }
#detail_template_tbl_4 th.left	{ border-bottom:1px solid #FFF; border-left:1px solid #FFF }
#detail_template_tbl_4 td	{ background:#EAEAEA; padding:8px 5px 5px 5px; border-right:1px solid #FFF; border-bottom:1px solid #FFF; text-align:center; }
#detail_template_tbl_4 .end	{ border-bottom:none; }