/* .o-main-menu.is-hidden{visibility: visible;filter:Alpha(opacity=100);opacity:1 !important;} */

#sis_wrap .footer *{font-family: "맑은 고딕", Malgun Gothic, "돋움", Dotum, Applegothic,sans-serif;letter-spacing: -0.6px;}
#sis_wrap .footer strong{font-weight:bold;}

iframe{height:auto !important;}
@media (min-width: 1025px){}
    .o-main-menu ul li{line-height: 30px;height: 30px;}
}
