.ud_naviWrap{ position:relative; z-index:99999999; width:991px; height:142px;margin:0 auto; }
.ud_naviWrap .naviUL{ position:absolute; top:105px; left:0 }
.ud_naviWrap .naviUL > li{ position:relative; height:37px; float:left }
.ud_naviWrap .naviUL > li > a{ height:15px; color:#af8bbe; font-size:15px; font-family:Arial Black; text-decoration:none; margin:0 4px 0 7px; padding:7px 24px 15px; display:block }
.ud_naviWrap .naviUL > li a.hover{ background:url('http://image.hyundaihmall.com/hmall/sp/urbandecay/bull_navi_01.png') no-repeat bottom }
.ud_naviWrap .naviUL > li .dropdown{ position:absolute; z-index:99999; width:170px; border:1px solid #623C7F; border-top:none; background:#FFF; padding:15px 0 10px 0; display:none }
.ud_naviWrap .naviUL > li .dropdown li a{ font-family:Verdana; color:#46166b; display:block; line-height:24px; padding:0 26px; text-decoration:none }
.ud_visualWrap{ width:991px;height:559px; overflow:hidden; background:#ccc;margin:0 auto; }
.thumnail_paginate span{ font-size:11px }
.ud_pdList{ width:991px; overflow:hidden }
.ud_pdList .goods_list li{ float:left; margin-left:23px; display:inline }
.ud_pdList .goods_list:after{ content:""; display:block; clear:left }
.ud_pdList .pd_img{ position:relative; width:300px; height:300px; margin-bottom:15px }
.ud_pdList .pd_img img{ width:298px; height:298px; border:1px solid #dacce2 }
.ud_pdList .pd_info { width:300px; text-align:center; line-height:20px }
.ud_pdList .pd_info span{ display:block; font-weight:bold; font-size:14px; color:#000 }
.ud_pdList .pd_info a{ display:block; font-size:14px; font-family:Verdana; color:#2e2e2e; text-decoration:none; margin:8px 0 5px 0 }
.ud_pdList .pd_info a span{ font-weight:normal }
.ud_pdList .pd_info span.flag_img{ height:14px }
.ud_pdList .pd_info a .em{ font-size:12px }
.ud_pdList .pd_info span.star_violet{ margin:5px auto }
.ud_contentWrap{width:991px;margin:0 auto;}
.ud_contentWrap .subcategory_visual{ margin-top:1px; border-bottom:3px solid #dacce2 }
.ud_contentWrap .subcategory_filter{ margin:20px 0; overflow:hidden }
.ud_contentWrap .subcategory_filter h3.anchor_name{ float:left; width:183px; font-size:26px; font-family:Verdana; color:#000 }
.ud_contentWrap .subcategory_filter ul{ float:left; width:807px }
.ud_contentWrap .subcategory_filter ul li{ position:relative; float:left; width:269px }
.ud_contentWrap .subcategory_filter ul li a{ color:#000; font-family:Verdana; line-height:24px; display:block; margin-left:15px }
.ud_contentWrap .subcategory_filter ul li a:hover, .ud_contentWrap .subcategory_filter ul li a.active, .ud_contentWrap .subcategory_filter ul li span.active{ color:#af8bbe }
.ud_contentWrap .subcategory_filter ul li span{ position:absolute; top:5px }
.ud_contentWrap .subcategory_filter ul li span.active{ font-size:12px }
.ud_contentWrap .subcategory_sort{ position:relative; z-index:9999999; border-top:1px solid #dacce2; border-bottom:1px solid #dacce2; padding:7px 0 }
.ud_contentWrap .subcategory_sort .txt_sort{ position:absolute; margin:7px 25px 0 25px; display:block }
.ud_contentWrap .subcategory_sort .parent_selbox{ position:relative; z-index:9999999; left:75px; width:140px; height:21px; padding-top:9px; padding-left:10px; border:1px solid #dacce2; background:url('http://image.hyundaihmall.com/hmall/sp/urbandecay/bull_downarrow_01.gif') no-repeat right; cursor:pointer }
.ud_contentWrap .subcategory_sort .parent_selbox span{ width:110px; color:#000; overflow:hidden; display:block }
.ud_contentWrap .subcategory_sort .parent_selbox .data_selbox{ position:absolute; top:30px; left:-1px; z-index:9999999; width:150px; max-height:144px; border:1px solid #dacce2; background:#FFF; display:none }
.ud_contentWrap .subcategory_sort .parent_selbox .data_selbox li.hover{ background:#f4e7fb }
.ud_contentWrap .subcategory_sort .parent_selbox .data_selbox a{ font-size:11px; color:#000; margin-left:10px; line-height:24px; text-decoration:none; display:inline-block }
.ud_pdList{ width:991px; overflow:hidden }
.ud_pdList .goods_list.subcategory{ width:1000px; border-bottom:1px solid #dacce2 }
.ud_pdList .goods_list.subcategory li{ float:left; width:248px; min-height:370px; margin-top:20px; margin-bottom:10px; margin-left:0; display:inline }
.ud_pdList .goods_list.subcategory .pd_img{ width:240px; height:240px; margin-bottom:15px }
.ud_pdList .goods_list.subcategory .pd_img img{ width:240px; height:240px; border:none }
.ud_pdList .goods_list.subcategory .pd_info { width:240px; text-align:center; line-height:20px }
.ud_pdList .goods_list.subcategory .pd_info span{ display:block; font-weight:bold; font-size:14px; color:#000 }
.ud_pdList .goods_list.subcategory .pd_info span.flag_img{ height:14px }
.ud_pdList .goods_list.subcategory .pd_info a{ display:block; font-size:14px; font-family:Verdana; color:#2e2e2e; text-decoration:none; margin:8px 0 5px 0 }
.ud_pdList .goods_list.subcategory .pd_info a span{ font-weight:normal }
.ud_pdList .goods_list.subcategory .pd_info a .em{ font-size:12px }
.ud_pdList .goods_list.subcategory .pd_info span.star_violet{ margin:5px auto }
.ud_pdList .pd_img .ud_itemPreview{ position:absolute; padding:6px 20px; border:1px solid #623c7f; color:#000; background:#FFF; cursor:pointer; display:block }
.ud_pdList .pd_img .ud_itemPreview.hover{ background:#623c7f; color:#FFF }

/* 2020-08-31 add source */
.header{margin-bottom:20px;}
.footer{margin-top: 50px;}
.ud_contentWrap .html_contWrap{padding-top: 40px;clear: both;}
.ud_contentWrap .html_contWrap>div{text-align:center;}
.ud_contentWrap .html_contWrap>div .alignC{margin-top: 40px;display:inline-block;}
.ud_contentWrap .html_contWrap>div .alignC a + a{margin-left:5px;}
.navigation_borderBox{box-sizing:content-box;}
.ud_naviWrap .naviUL > li > a{box-sizing:content-box;}
.ud_naviWrap .naviUL > li .dropdown{height:50px;padding:15px 0 10px;}
.ud_naviWrap .naviUL > li .dropdown ul{position:initial;z-index: 1;overflow-x: hidden;overflow-y: hidden;max-height: 100%;margin: 0;padding: 0;border: 0;visibility: visible;filter: Alpha(opacity=100);opacity: 1;font-size: 12px;border-radius: 0;background: #fff;-webkit-transform-origin: 0 0;transform-origin: 0 0;-webkit-transition: none;transition: none;-webkit-transform: none;transform: none;}
.ud_naviWrap .naviUL > li .dropdown ul li{filter: Alpha(opacity=100);
opacity: 1;-webkit-transition: none;transition: none;-webkit-transform: none;transform: none;}
.ud_naviWrap .naviUL > li .dropdown ul li:hover{backgrund:rgb(70, 22, 107);}
.ud_naviWrap .naviUL > li .dropdown ul li a:hover{background:transparent;}
.ud_contentWrap .subcategory_filter{display:flex;flex-wrap: nowrap;}
.ud_contentWrap .subcategory_filter h3.anchor_name{align-self: center;float:none;}
.ud_contentWrap .subcategory_filter ul.subcategory_depth{align-self: center;float:none;}
.ud_contentWrap .subcategory_filter ul li a{font-size: 12px;}
.ud_contentWrap .subcategory_sort .parent_selbox{box-sizing:content-box;}
.ud_contentWrap .subcategory_sort .parent_selbox span{font-size: 12px;}
.ud_pdList .goods_list.subcategory .pd_info a{height:80px;}
.ud_pdList .goods_list.subcategory .pd_info span.flag_img{height: 19px;}
.ud_pdList .goods_list.subcategory .pd_info span.flag_img img{vertical-align: baseline;}
.ud_pdList .goods_list.subcategory .pd_info span.star_violet.star_05{width: 73px;height: 13px;background:url('http://image.hyundaihmall.com/hmall/co/star_violet_05.png') no-repeat left top;}

/* 2020-09-18 add source */
.ud_naviWrap .naviUL{left:50%;width: calc(100% - 45px);display:flex;-webkit-transform: translateX(-50%);-moz-transform: translateX(-50%);-ms-transform: translateX(-50%);transform: translateX(-50%);}
.ud_naviWrap .naviUL > li{float:none;}
.ud_visualWrap ul.carouselUL{display:flex;}
.ud_visualWrap ul.carouselUL li{float:none !important;}
.ud_visualWrap ul.navigation_paginate{display:flex;}
.ud_visualWrap ul.navigation_paginate li{float:none !important;}
.ud_pdList .goods_list.subcategory{display:flex;flex-wrap:nowrap;flex-flow:wrap;flex-direction:row;}
.ud_pdList .goods_list.subcategory li{float:none;}

















