@charset "utf-8";

#mac_container { width: 990px; overflow: hidden; margin: 0 auto; text-align:left; }

.skip{display:none}
.maclogo{width:153px;padding:25px 0 22px 18px;}
.sideNav{float:left;position:relative;width:157px; z-index:2;}
.sideNav a{display: block;text-decoration: none} 

/* 메뉴 선택 */
.sideNav li li ul.bdskip{border-bottom:none;}
.bdt{padding-top:8px;}
.sideNav li{padding:0;margin:0;font-size:13px;color:#000;text-align:left;}
.sideNav li a{padding:6px 0 6px 17px; line-height:1;border-bottom:1px solid #cdcdcd;background:url('http://image.hyundaihmall.com/static/2014img/mac/dot.gif') no-repeat 139px 50%;color:#000;}
.sideNav li a:hover,.sideNav li.selected a,.sideNav li a:focus,.sideNav li a:active {font-weight:bold;text-decoration:none;background:url('http://image.hyundaihmall.com/static/2014img/mac/dot_on.gif') no-repeat 139px 50%;color:#000}
.sideNav li ul{padding: 6px 0 10px 0;border-bottom:1px solid #cdcdcd}
.sideNav li li{font-size:11px;padding:0;line-height:0;min-height:17px;}
.sideNav li li.bdt{padding-top:7px;}
.sideNav li li a{line-height:1; padding-bottom:0; border:0;background:none;color:#555}
.sideNav li.selected  li a{font-weight:normal;background:none;color:#555}
.sideNav li li a:hover,.sideNav li li.selected a,.sideNav li li a:focus,.sideNav li li a:active{font-weight:bold;background:none;color:#555;white-space: pre-line;}
.sideNav li li a:hover,.sideNav li li.selected a{color:#000;}
.sideNav li li ul{padding:2px 0 1px 4px;border:0; }
/* .sideNav li.selected li li a{height:17px;line-height:17px;font-weight:normal;color:#888} */ 
.sideNav li.selected li li a{padding:0 0 0 25px; line-height:17px;font-weight:normal;color:#666}
.sideNav li.selected li li a:hover, .sideNav li.selected li li.selected a,.sideNav li.selected li li a:focus,.sideNav li.selected li li a:active{font-weight:bold}
.sideNav li.selected ul,.sideNav li.selected li.selected  ul{display:block;}
.contents_home{width: 750px; float:left;padding-left:40px;padding-bottom:67px;}
.contents_box{width: 750px; float:left; position:relative;  padding-left:40px;padding-bottom:67px;}
.contents_box.mt{margin-top:-53px;}
.bno { border-bottom: 0 !important; }

/* 배너 */
.mainpopzone {position:relative; width:753px;height:502px}
.mainpopzone .popzone_img { position:absolute; left:0; top:0; }
.mainpopzone .popzone_img img	{ border:0 }
.mainpopzone #pzcontrol { display:none;position:absolute; left:70px; bottom:6px}
.mainpopzone ul{overflow:hidden;position:absolute;left:31px;bottom:12px;list-style-type:none;margin:0;padding:0}
.mainpopzone li{float:left;margin-right:2px; padding:0}
.mainpopzone li p	{ margin:0; padding:0 }
.mainpopzone li a	{ display:block }
.mainpopzone li a img	{ border:0 }

/* 컬렉션 공통 */
.txt_section strong{font-size:14px; color:#000}
.txt_section p{padding-top:14px; text-align: justify;line-height: 1.3;font-size:11px !important;}
.txt_section span{display:block;padding-top:5px}
.new_collection {overflow:hidden}
.new_collection p {color:#999;font-size: 11px}
.new_collection a{text-decoration:none;color:#999;font-size: 11px}
.new_collection li{width:100%;min-height:260px;padding-bottom:10px;color:#999}
.new_collection li img{float:left}
.new_collection .txt_section{ padding:4px 0 0 12px;margin-left:362px}
.new_collection .txt_section .upt{display:block; padding-top:9px;}
.new_collection .txt_section p{padding-top:10px}
.collection_sub{overflow:hidden}
.collection_sub img{float:left}
.collection_sub strong{color:#333}
.collection_sub .txt_section{height: 241px; padding:15px 18px 0; margin-left:349px; font-size:11px;color:#555; letter-spacing:-1px; border:1px solid #dedede;}
.viewcollection{width:89px; margin-top:18px; text-align:center; border:1px solid #c9c9c9; background:url('http://image.hyundaihmall.com/static/2014img/mac/images/btn_bg.jpg') no-repeat 0 0; }
.viewcollection a{display:inline-block; line-height:18px; height:18px; vertical-align:middle;letter-spacing:-0.5px; color:#686868;}

/* 상품 */
.path{color:#000;font-size:12px}
.path a{margin-right:6px;padding-right:10px;background:url('http://image.hyundaihmall.com/static/2014img/mac/location.gif') no-repeat right 1px;color:#555; text-decoration:none}
.contents_box h5 {font-size: 16px;padding: 14px 0 26px 0;margin: 0 !important; color: #000; }
.contents_box.mt h5{padding-bottom:22px;}
.contents_box select{float:right; background:none !important;font-size:11px; line-height:20px; height:20px;}

.product_list{width:100%; overflow: hidden;padding-top:30px; padding-bottom:50px;}
.product_list li{float:left;width:177px;height:265px;margin-bottom:50px; margin-right:10px;}
/*.product_list li.last{float:left;width:150px;height:247px;margin-bottom:19px;padding :0 0 0 20px}*/
.product_list .photo_zone{display:block; width:150px;height:150px;padding-bottom:13px; margin:0 auto;}
.product_list .photo_zone img{}
.product_list strong{display:block}
.product_list span{display:block}
.product_list .info_zone{margin-left:12px;text-align:left;font-size:11px; }
.product_list .info_zone a{overflow: hidden;display:inline-block;height:44px;text-decoration: none;line-height:1.4;color:#666}
.product_list .p_price{padding-top:7px; color:#464646;}
.product_list .p_price em{padding-right:28px;font-style:normal; color:#686868;}

.product_list .p_buy{text-align:left;font-size:11px; margin-top:13px; padding-left:12px; overflow:hidden;}
.product_list .p_buy a{float:left; display:inline-block; height:28px; line-height:28px; padding:0 10px 0 13px ;color:#fff; background:url('http://image.hyundaihmall.com/static/2014img/mac/btn_bg02.jpg') repeat-x 0 0;}
.product_list .p_buy a:hover{text-decoration:none;}
.product_list .p_buy .interest{float:left;margin-left:4px;background:url('http://image.hyundaihmall.com/static/2014img/mac/btn_bg03.jpg') repeat-x 0 0;}

/* 신규 컬렉션 리스트 */
.contents_wrap{position:relative;margin-top:65px;height:100%;scrollbar-face-color: #ededed;scrollbar-highlight-color: #ededed;scrollbar-3dlight-color: #fff;scrollbar-track-color: #f8f8f8;scrollbar-shadow-color: #ededed;scrollbar-darkshadow-color: #ededed;scrollbar-arrow-color: #545454;scrollbar-base-color:#fff;}
.product_box{position:relative;padding-bottom:10px}
.content_list{position:relative; clear:both; padding:15px 14px 15px 0; border-top:1px solid #e7e7e7}

.content_list a .productImages {float:left; width:140px; height:140px;}
.content_list .result_plusUL	{ height:auto !important; margin-left:0 !important }
.content_list .result_plusUL li	{ padding-left:0 !important }

.content_list ul{ margin-left:140px; height:140px; overflow:hidden;}
.content_list li{float:left; height:140px; padding-left:25px;color:#505050;}
.content_list .info{width:250px; }
.content_list .info img{margin-right:10px;}
.content_list .info p{margin-bottom:10px;height:12px; }
.content_list .info span{margin-left:20px;}
.content_list .info p.txt{height:99px; overflow:hidden;}
.content_list .money {width:160px; padding-top:30px;}
.content_list .money p span{display:inline-block; width:120px; text-align:right;}
.content_list .btn{width:100px; padding-top:20px;}
.content_list .btn a{ display:inline-block; margin-top:5px;padding:0 17px;background:#fff;text-decoration:none;color:#545454;line-height: 24px; border:1px solid #cacbcd;}
.content_list .btn a.btn_direct{background:#f85f4d;color:#fff; border:1px solid #d8555d;}


.product_box a.photo_box {display: block;float:left;position:relative;left:150px;top:0;width:150px;margin-left:-150px;text-decoration:none}
.product_box a.photo_box img{float:left;width:148px;height:148px;}
.product_box a.photo_box div{float:left;}
.product_box a.photo_box span strong em{font-weight:none;font-style:normal;}
.product_box a.photo_box span em{display:block;margin-bottom:3px;font-style:normal;color:#777;letter-spacing: -2}
.product_box a.photo_box span img{width:110px;_width:116px;*width:116px;height:110px;_height:116px;padding-bottom:8px;border:0;display:block}
.product_box .info_box{float:left;width:230px;min-height:150px;margin:19px 0 0 0 ;padding:0 352px 0 170px;font-size:13px;line-height:1.5}
.product_box .info_box strong{display:block}
.product_box .info_box .info_text{position:relative;height:39px;padding-top:10px;font-size:11px;color:#666;line-height:1.3}
.product_box .info_box .singlecolor{position:relative;margin-top:10px}
.product_box .info_box .singlecolor ul{overflow:hidden;width:190px;padding:6px 5px}
.product_box .info_box .singlecolor ul li{position:relative;padding: 0 2px 2px 0;border:0;float:left;height:25px}
.product_box .info_box .singlecolor span{ display:inline-block;padding:4px 2px 4px 4px;height:25px;border:1px solid #ddd}
.product_box .info_box .singlecolor span a{position:relative;padding: 0 2px 2px 0;left:0;top:0}
.product_box .info_box .singlecolor span a span{position: absolute;left:0;width:25px;height: 25px;padding:0;border:0;text-indent: -5000em}
.product_box .info_box .singlecolor span a:hover span{background:url('http://image.hyundaihmall.com/static/2014img/mac/border.gif') no-repeat 0 0}
.product_box .info_box .morecolor{overflow:auto;position:relative;height:40px;border:1px solid #ddd;margin-top:10px}
.product_box .info_box .morecolor ul{overflow:hidden;width:190px;padding:6px 5px}
.product_box .info_box .morecolor ul li{position:relative;padding: 0 2px 2px 0;border:0;float:left;height:25px}
.product_box .info_box .morecolor ul li a span{position: absolute;top: 0;left: 0;width: 25px;height: 25px;text-indent: -5000em}
.product_box .info_box .morecolor ul li a:hover span{background:url('http://image.hyundaihmall.com/static/2014img/mac/border.gif') no-repeat 0 0}
#colortooltip{display:none;position:absolute;border:1px solid #999;background:#fff;padding:4px 5px 2px;font-size:11px;color:#666}	
.info_box .info_text a{color:#999}
.info_box .info_text a span{display:none;position:absolute;top:0;left:0;margin-top:2px;padding:8px;_padding:12px;*padding:12px;border:1px solid #ddd;background:#fff;color:#666;text-decoration:none}
.product_box .buy_box{float:left;position:relative;right:320px;width:320px;margin-right:-320px;padding-top:29px;font-size:11px;font-weight:bold;color:#555}
.product_box .buy_box strong{padding-right:5px;}
.product_box .buy_box li{height:16px;padding:3px 0 3px 9px;border:0;background:url('http://image.hyundaihmall.com/static/2014img/mac/blit.gif') no-repeat 1px center;line-height: 1.6}
.product_box .buy_box li span{font-weight:normal;color:#777777;}
.product_box .buy_box li .buy_txt{ display: inline-block; width: 120px; font-weight: bold;color:#555555;}
.product_box .buy_box .numtxt { display:inline-block;color:#d10000; }
.product_box .buy_box .quantity input{width:38px;height:12px;padding:1px 1px 1px 8px;border:1px solid #abadb3;font-size:11px;vertical-align:middle;color:#777}
.product_box .buy_box .quantity img{vertical-align:middle}
.product_box .buy_box .btn_list{padding:19px 0 0 0;background:none}
.product_box .buy_box .member_price{font-weight:normal;color:#777777;}
.product_box .buy_box .btn_list a{display:inline-block;margin-right:4px;padding:0 17px;background:#fff;text-decoration:none;color:#545454;line-height: 24px; border:1px solid #cacbcd;}
.product_box .buy_box .btn_list a.btn_direct{background:#f85f4d;color:#fff; border:1px solid #d8555d;}

/* selectbox */
.priceInfo fieldset{border:none}
.priceInfo a {outline:none; select-dummy: expression(this.hideFocus=true);text-decoration:none}
.priceInfo .button {display:inline-block;vertical-align:top}
.priceInfo .button input{display:inline-block;overflow:visible;height:23px;margin:0 0 0 2px;padding:0 10px 0 8px;text-decoration:none !important;border:0;font-size:11px;white-space:nowrap;color:#656565;cursor:pointer;text-align:center}
.priceInfo .teacher-search{float:left;margin-right:15px}
.priceInfo .teacher-search legend, .teacher-search label{display:none}
.priceInfo .teacher-search input.text{width:100px;padding:4px 21px 5px 4px;background:url('http://image.hyundaihmall.com/static/2014img/mac/select_arrow.gif') no-repeat 100% 0}
.priceInfo .teacher-search .button{vertical-align:middle}
.priceInfo .select-list-box{display:inline-block;#display:inline;*zoom:1;vertical-align:middle}
.priceInfo .select-list-box .selected-headline{overflow:hidden;display:block;position:relative;font-size:11px;width:120px;height:1em;line-height:1;margin-top: 2px;padding:2px 0px 1px 5px;border:1px solid #abadb3;cursor:pointer;background: #fff url('http://image.hyundaihmall.com/static/2014img/mac/bg_input_down.gif') no-repeat right 0}
.priceInfo .select-list-box ul.select-list{position:absolute;top:20px;right:0;_width:175px;height: 140px !important;overflow: auto;background:#fff;z-index:999;border:1px solid #abadb3;text-align:left}
.priceInfo .select-list-box ul.select-list li{margin-bottom: 0px;padding-left: 0px}
.priceInfo .select-list-box ul.select-list li a{display:block;font-size:11px;height:1em;line-height:1;padding:5px;color:#656565}

/* 페이지 */
.paging{clear:both;margin-top:84px; text-align:center}
.paging a{display:inline-block;width:18px;height:18px;margin-left:3px;font-size:11px;background:#eee;color:#555;text-decoration: none;line-height: 20px;text-align: middle}
.paging a.prevbtn,.paging a.nextbtn{padding:0;width:20px;height:20px;background:#fff;}
.paging a  img{vertical-align: middle;}
.paging a.on,.paging a:hover,.paging a:focus {color:#fff;background:#999;font-weight:bold}
.paging a:hover,.paging a:focus{ border-color: #ccc !important;text-decoration:none}


/* 게시판  페이지 */
.board_paging{clear:both;height:13px;margin-top:18px; text-align:center;vertical-align: middle;}
.board_paging img{line-height: 13px;}
.board_paging a{display:inline-block;width:6px;height:13px;margin-left:2px;padding: 4px 6px 3px;font-size:11px;color:#333;text-decoration: none;}
.board_paging a.on,.board_paging a:hover,.board_paging a:focus {color:#ff0072;font-weight:bold}
.board_paging a:hover,.board_paging a:focus{ border-color: #ccc !important}

/* 페이지 */
.paginglist{clear:both;margin-top:30px; text-align:center;}
.paginglist a{display:inline-block;width:6px;height:18px;margin-left:3px;padding: 0 6px;font-size:11px;background:#eee;color:#555;text-decoration: none;line-height: 20px;text-align: middle}
.paginglist a.prevbtn,.paginglist a.nextbtn{padding:0;width:20px;height:20px;background:#fff;}
.paginglist a  img{vertical-align: middle;}
.paginglist a.on,.paginglist a:hover,.paginglist a:focus {color:#fff;background:#999;font-weight:bold}
.paginglist a:hover,.paginglist a:focus{ border-color: #ccc !important;text-decoration:none}
.pagePL {padding-left:176px;}  /* 2013.02.21 추가 */

/*** As-is : start ***/
/* common.css */
a:link, a:visited, a:active	{ color:#686868; text-decoration:none }
h3:first-child {margin-top: 0;}
h3:after{content:'';clear:both;display:block;width:0;height:0;overflow:hidden;*zoom:1;}
.paging	{ position:relative; height:16px; text-align:center }
.paging a {display: inline-block !important;font-weight: bold;padding: 0 5px !important;}

/* sect.css */
.content_list .btn_plus {position:absolute; left:126px; top:16px; width:14px; height:14px; overflow:hidden;}
.content_list .result_plusWrap {border:2px solid #f4614d; padding:12px 6px 8px 14px; position:absolute; left:140px; top:0; background:#fff; z-index:1000000; display:none;box-sizing:content-box}
.result_plusUL {overflow:hidden;}
.result_plusUL li {margin:0 8px 4px 0; float:left; width:140px; height:140px; border:1px solid #e7e7e7;}

/* sect_evnt.css */
.star{width:85px; height:12px; display:inline-block; font-family:Verdana, Geneva, sans-serif; font-size:12px; line-height:12px;text-align: right;}
.star.star_00{background:url('http://image.hyundaihmall.com/hmall/co/star_0.png') no-repeat left top;}
.star.star_005{background:url('http://image.hyundaihmall.com/hmall/co/star_0_5.png') no-repeat left top;}
.star.star_01{background:url('http://image.hyundaihmall.com/hmall/co/star_1.png') no-repeat left top;}
.star.star_015{background:url('http://image.hyundaihmall.com/hmall/co/star_1_5.png') no-repeat left top;}
.star.star_02{background:url('http://image.hyundaihmall.com/hmall/co/star_2.png') no-repeat left top;}
.star.star_025{background:url('http://image.hyundaihmall.com/hmall/co/star_2_5.png') no-repeat left top;}
.star.star_03{background:url('http://image.hyundaihmall.com/hmall/co/star_3.png') no-repeat left top;}
.star.star_035{background:url('http://image.hyundaihmall.com/hmall/co/star_3_5.png') no-repeat left top;}
.star.star_04{background:url('http://image.hyundaihmall.com/hmall/co/star_4.png') no-repeat left top;}
.star.star_045{background:url('http://image.hyundaihmall.com/hmall/co/star_4_5.png') no-repeat left top;}
.star.star_05{background:url('http://image.hyundaihmall.com/hmall/co/star_5.png') no-repeat left top;}
/*** As-is : end ***/

/*** 2020 hmall 리뉴얼  - start ***/
.general-template {width:991px;margin:20px auto 0 auto;letter-spacing:0}
.general-template .maclogo {box-sizing:content-box}
.general-template .maclogo a {display:block}
.general-template .contents_home {box-sizing:content-box}

.general-template .new_collection li {box-sizing:content-box}
.general-template .collection_sub .txt_section {box-sizing:content-box}
.general-template .txt_section a:hover {font-weight:normal}

.general-template .content_list .info p span,.general-template .content_list .info p a {vertical-align:middle}

.general-template .contents_box,.general-template .content_list li {box-sizing:content-box}
.general-template .content_list li.btn {min-width:100px;padding:20px 0 0 25px;white-space:unset}

.general-template .paging a, .paging strong {min-width:auto;box-sizing:content-box;line-height:18px;border:0}
/*** 2020 hmall 리뉴얼  - end ***/



/* 200827 Re Source - Start */
#category_search_01 div.input .selectbox1 .bar a{font-size:12px;vertical-align:baseline;}
#category_search_01 div.input .selectbox1 .bar a + a{padding-left:3px;}
.chanel_mn li a{display:block;}
.general-template .content_list .info p span, .general-template .content_list .info p a{font-size: 12px;}
.content_list .money{font-size:12px;padding-top:3px;}
.content_list .money p span{width:115px;}
.content_list ul:after{content:"";display:block;clear:both;}
.general-template .content_list li.btn{display:inline-block;}
.general-template .content_list li.btn a{font-size:12px;}
.content_list .info strong,
.content_list .info p.txt{font-size:12px;}
footer{margin-top:50px;}
/* 200827 Re Source - End */












