/* 스킵 네비게이션 */
.skip		{ position:absolute; top:-1000px; left:-1000px; z-index:999999; text-align:center; display:block }
.skip:hover, .skip:focus, .skip:active	{ position:absolute; top:0; left:0; width:100%; height:30px; padding-top:15px; padding-bottom:5px; background:#FFF; font-weight:bold; font-size:15px }

/* 컨테이너 */
body.main #container	{ position:relative; /*margin-top:-1px;*/ background:url('http://image.hyundaihmall.com/hmall/co/bg_main_line1.gif') repeat-x 0 463px }
body.main #footer	{ margin-top:20px !important }
#container	{ width:100%; position:relative; z-index:1; *position:static }
#content		{ margin:0 auto; width:1081px; position:relative }
#footer		{ width:100%; clear:both; position:relative; margin-top:50px; background:url('http://image.hyundaihmall.com/hmall/co/bg_footer.gif') repeat-x; /*z-index:100 15.03.23 주석 - 민수영*/ }
#wrap			{ width:100% }
#container .local		{ position:relative; z-index:999 !important; margin:20px 0 30px; height:22px; clear:both } /* 181203 - z-index 9996 > 999 - rlatkdals */
#container .local span { display:inline-block; line-height:23px }
#container .local .route_n { display:inline; position:relative; top:2px }
#container .local span.home { float:left; margin:2px 10px 0 0; position:relative; z-index:9999 }
#container .locationUL { position:relative; *zoom:1 }
#container .locationUL:after	{ content:''; clear:both; display:block; width:0; height:0; overflow:hidden }
#container .locationUL li.depth1	{ float:left; background:url('http://image.hyundaihmall.com/hmall/co/bg_location_arrow2.gif') no-repeat 0 50%; padding-left:14px; margin-right:10px; z-index:9999; line-height:25px; _position:relative }
#container .locationUL li.depth1 a.cate	{ display:inline-block; height:25px; line-height:25px; background:url('http://image.hyundaihmall.com/hmall/co/bg_location_arrow.gif') no-repeat right 7px; padding:0 30px 0 14px; color:#555 }
#container .locationUL li.depth1 a.cate.on	{ background:url('http://image.hyundaihmall.com/hmall/co/bg_location_arrow_on.gif') no-repeat right 7px; height:25px; line-height:25px; _width:auto !important }
#container .locationUL li.depth1 a.cate:hover { background:url('http://image.hyundaihmall.com/hmall/co/bg_location_arrow_on.gif') no-repeat right 7px; padding:0 30px 0 14px; text-decoration:none; color:#555; height:25px; line-height:25px }
#container .locationUL li.depth1 .cateWrap { border:2px solid #f4614d; padding:11px 0; position:absolute; top:23px; background:#fff; z-index:10000; min-width:132px; _left:0; display:none }
#container .locationUL li.depth1 .cateWrap strong, #container .locationUL li.depth1 .cateWrap a	{ padding:0 14px; display:block; line-height:18px; _height:13px; _width:100px }
#container .locationUL li.depth1 .cateWrap a:hover	{ background:#f4614d; color:#fff; text-decoration:none }
#container .locationUL li.depth1 .cateUL		{ float:left; border-right:1px solid #e1e1e1 }
#container .locationUL li.depth1 .cateUL a	{ width:130px; height:20px; overflow: hidden }
#container .locationUL li.depth1 span		{ margin-left:10px }
#container .locationUL li.depth1 a.cateDept	{ display:inline-block; height:25px; line-height:25px; padding:0 5px 0 14px; color:#555 }
#container .locationUL li.depth1.inactive		{ float:left; padding-left:14px; margin-right:10px; z-index:9999; line-height:25px }
#container .locationUL li.depth1.inactive a.cate	{ display:inline-block; height:25px; line-height:25px; padding:0 0px 0 14px; color:#999; cursor:default; background:none }
#container .locationUL li.depth1.inactive span	{ color:#999 }

.specialshop #content{width:100%;}
.brand_logo{border-bottom:1px #f4f4f4 solid;}
.brand_logo h2{max-width:1081px;margin:0 auto;text-align:center;padding:45px 0 50px 0;}
.brand_logo h2 a{display:block;}
.specialshop .logo-area	{ width:100%; border-top:1px solid #d3d3d3; border-bottom:1px solid #f4f4f4; padding:43px 0; text-align:center }
.specialshop .menu-wrap	{ position:relative; text-align:center;border-bottom:1px #e5e5e5 solid; }
.specialshop .menu-wrap > ul	{ position:relative }
.specialshop .menu-wrap > ul > li	{ padding:25px 50px; cursor:pointer; display:inline-block }
.specialshop .menu-wrap > ul > li > a	{ position:relative; font-size:16px; font-weight:bold; color:#333333; text-decoration:none; display:block }
.specialshop .menu-wrap > ul > li > a > .underbar	{ position:absolute; top:43px; width:100%; height:3px; border-top:3px solid #333333; display:none }
.specialshop .menu-wrap > ul > li > .sub-depth > ul > li > a	{ font-size:16px; color:#333; text-decoration:none; word-break:break-all; white-space:nowrap }
.specialshop .menu-wrap > ul > li > .sub-depth > ul > li > a:hover	{ text-decoration:underline }
.specialshop .menu-wrap.type-all > ul > li > .sub-depth	{ position:absolute; top:71px; left:0; z-index:150; padding:25px 0; border-top:1px solid #e5e5e5; display:none }
.specialshop .menu-wrap.type-all > ul > li > .sub-depth > ul > li	{ padding:8px 0; text-align:left }
.specialshop .menu-wrap.type-all > ul > li > .sub-depth > .promo-banner	{ display:none }
.specialshop .menu-wrap.type-banner > ul > li > .sub-depth	{ position:absolute; top:71px; left:0; z-index:150; padding:25px 0; border-top:1px solid #e5e5e5; display:none }
.specialshop .menu-wrap.type-banner > ul > li > .sub-depth > ul	{ float:left }
.specialshop .menu-wrap.type-banner > ul > li > .sub-depth > ul > li	{ width:175px; padding:6px 0; text-align:left; overflow:hidden }
.specialshop .menu-wrap.type-banner > ul > li > .sub-depth > .promo-banner	{ float:left; border-left:1px solid #333; margin-left:49px; padding-left:50px }
.specialshop .menu-wrap.type-banner > ul > li > .sub-depth > .promo-banner img	{ width:482px; height:352px }
.specialshop .menu-wrap.type-banner > ul > li > .sub-depth > .promo-banner > a	{ position:relative; display:block }
.specialshop .menu-wrap.type-banner > ul > li > .sub-depth > .promo-banner > a > strong	{ position:absolute; width:452px; bottom:0; left:0; font-size:16px; padding:20px 15px; color:#333; background:#FFF; text-align:left; opacity:0.8 }
.specialshop .menu-wrap > ul:after	{ clear:left; content:""; display:block }
.ft_bold{font-weight:bold;}
.sect_block{max-width:1081px;margin:0 auto}
.sect_block a{display: block}
.sect_block.top_banner{padding-bottom:50px;}
.sect_block.grid2{white-space: nowrap;overflow:hidden;}
.sect_block.grid2 a{display:inline-block;margin-right:29px;vertical-align: top}
.sect_block.destination{margin-top:130px;}
.sect_block.destination .title_destination{position:relative;height:40px;}
.sect_block.destination h3{position:absolute;left:50%;transform:translate(0, -50%);padding:0 40px;background:#fff;margin-left:-80px;}
.sect_block.destination .bar{border-bottom:1px #000 solid;}
.sect_block.destination .event_block ul{white-space: nowrap;overflow: hidden;}
.sect_block.destination .event_block ul li{display:inline-block;margin-right:8px;}
.sect_block:last-child{padding-bottom:130px;}

/* 2020-08-28 add style source */
input[type="text"]:focus, input[type="password"]:focus{border-color: #fc8669 !important;background: #ffeee7 !important;}

#container .locationUL li.depth1{font-size:12px;letter-spacing:0;}
#container .locationUL li.depth1 a.cate{vertical-align:baseline;}
#container .local span.home a{display: block;margin-top: -2px;}
label.custom-input:before{box-sizing:content-box;}
.pl_lnb_input, .pl_wrap a{box-sizing:content-box;}
.pl_selectbox_wrap label i{box-sizing: content-box;}
.pl_wrap a{-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;}
.pl_main_category_view a{-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;-o-border-radius:0;border-radius:0;}
.pl_main .pl_itemlist._4col .pl_img_overlay{top: 208px;width: calc(100% - 2px);}
.pl_main .pl_itemlist._4col .pl_itemlist_content{width: 100%;}
.pl_main .pl_itemlist li.visible-thumb:hover .pl_itemlist_content{width: 100%;padding: 82px 10px 10px;}
footer{margin-top:50px;}


























