@charset "utf-8";

.contents{width:100%;}

#container{width: 100%;position: relative;z-index: 1;}
.sp-brandshop {width: 100%;}

.sp-brandshop .logo-area {
    margin-top: 20px;
width: 100%;
border-top: 1px solid #d3d3d3;
border-bottom: 1px solid #f4f4f4;
padding: 43px 0;
text-align: center;
}
.sp-brandshop .menu-wrap.type-banner.type-depth {
border-bottom: 1px solid #e5e5e5;
}
.sp-brandshop .menu-wrap {
position: relative;
text-align: center;
}
.sp-brandshop .menu-wrap > ul {
position: relative;
}
.sp-brandshop .menu-wrap > ul > li {
padding: 25px 50px;
cursor: pointer;
display: inline-block;
}
.sp-brandshop .menu-wrap > ul > li > a {
position: relative;
font-size: 16px;
font-weight: bold;
color: #333333;
text-decoration: none;
display: block;
}

.sp-brandshop .menu-wrap > ul > li > a > .underbar {
position: absolute;
top: 43px;
width: 100%;
height: 3px;
border-top: 3px solid #333333;
display: none;
}

.sp-brandshop .menu-wrap.type-banner.type-depth > ul > li > .sub-depth {
width: 1081px;
text-align: left;
}
.sp-brandshop .menu-wrap.type-banner > ul > li > .sub-depth {
position: absolute;
top: 71px;
left: 0;
z-index: 150;
padding: 25px 0;
border-top: 1px solid #e5e5e5;
display: none;
}
.sp-brandshop .menu-wrap > ul:after {
clear: left;
content: "";
display: block;
}

.sp-brandshop .top-slideBanner-wrap {
position: relative;
width: 1081px;
margin: 0 auto;
}

.slider-container, .slider-initialized {
overflow: hidden;
}

.sp-brandshop .top-slideBanner-wrap .carousel a strong, .sp-brandshop .top-slideBanner-wrap .carousel a span {
color: #111;
display: block;
}

.sp-brandshop .top-slideBanner-wrap .carousel a span {
font-size: 20px;
margin: 20px 0 0;
}


.sp-brandshop .top-slideBanner-wrap .slider-indicator {
position: absolute;
left: 50%;
bottom: 50px;
z-index: 2000;
transform: translateX(-50%);
}
.slider-container .slider-indicator {
text-align: center;
}

.slider-container .slider-indicator li {
margin: 0 3px;
display: inline-block;
}
.slider-container .slider-indicator li button {
font-size: 0;
padding: 0;
}
button {
border: 0;
cursor: pointer;
}

.sp-brandshop .category-banner-horizontal {
position: relative;
width: 1081px;
margin: 60px auto 0;
}

.sp-brandshop .category-circle-wrap {
width: 1081px;
margin: 60px auto 0;
}

.pl_wrap * {
letter-spacing: -0.5px;
}
.pl_itemlist {
width: 1125px;
display: block;
margin-top: 25px;
font-size: 0;
}
.pl_itemlist._4col > li {
height: 477px;
margin-right: 33px;
margin-bottom: 28px;
}

.pl_itemlist._4col .pl_img_overlay {
top: 206px;
}

.pl_img_overlay a {
width: 110px;
display: inline-block;
text-align: center;
padding: 10px 0;
}


.pl_img_overlay a span {font-size: 13px;line-height: 18px;color: #555;margin-left: 5px;}.pl_img_overlay a > * {display: inline-block;vertical-align: middle;}
.pl_itemlist._4col li .pl_itemlist_itemslide_pics {width: 177px;}
.pl_itemlist_itemslide ul {display: inline-block;font-size: 0;white-space: nowrap;margin-left: 0;}
.pl_itemlist_itemslide li._active, .pl_itemlist_itemslide li._active img {border: 1px solid #f96458;}
.pl_itemlist_itemslide li img {width: 48px;border: 1px solid #eee;}
.pl_itemlist_itemslide_arr._left {left: 5px;}
.pl_itemlist._4col .pl_itemlist_itemslide_arr._left i {left: 5px;}
.pl_itemlist_itemslide_arr._noleft i {background-position-x: 0;}



.pl_itemlist._4col li .pl_itemlist_itemslide_arr {
width: 20px;
}
.pl_itemlist_itemslide_arr._right {
right: 5px;
}

.pl_itemlist_itemslide_arr._right i {
background-position-x: -10px;
background-position-y: 0;
left: 10px;
}
.pl_itemlist_itemslide_arr i {
position: absolute;
top: 20px;
display: inline-block;
width: 8px;
height: 12px;
background-image: url(http://image.hyundaihmall.com/hmall/co/pl17_icon_slidearr.png);
background-repeat: no-repeat;
}


.pl_itemlist > li > a {
display: block;
position: absolute;
top: 0;
left: 0;
background: #fff;
}


.pl_itemlist._4col > li, .pl_itemlist._4col .pl_itemlist_img{
width: 245px;
}






.slider-container .slider-initialized {position: relative;white-space: nowrap;font-size: 0;}
.sp-brandshop .top-slideBanner-wrap .carousel a strong {font-size: 50px;}
.mt0 {margin-top: 0 !important;}
.sp-brandshop .top-slideBanner-wrap .carousel a {position: relative;}
.sp-brandshop .top-slideBanner-wrap .carousel a .copy-box {position: absolute;top: 225px;left: 70px;width: 440px;}
.sp-brandshop .category-banner-vertical{position: relative; width: 1081px; margin: 60px auto 0; }
.sp-brandshop .category-banner-vertical ul{font-size: 0; }
.sp-brandshop .category-banner-vertical ul li{padding: 0 0 0 30px; display: inline-block; }
.sp-brandshop .category-banner-vertical ul li:first-child{padding: 0; }
.sp-brandshop .category-banner-vertical a{width: 340px; text-decoration: none; display: block; }
.sp-brandshop .category-banner-vertical a img{width: 100%; display: block; }
.sp-brandshop .category-banner-vertical a .copy-box{margin: 15px 0 0; display: block; }
.sp-brandshop .category-banner-vertical a strong, .sp-brandshop .category-banner-vertical a span{text-align: center; display: block; }
.sp-brandshop .category-banner-vertical a strong{font-size: 24px; color: #000; }
.sp-brandshop .category-banner-vertical a span{font-size: 18px; color: #555; margin: 5px 0 0; }
.sp-brandshop .pl_wrap {position: relative;margin-top: 30px;}
.pl_wrap {width: 1081px;display: block;margin: 0 auto;overflow: hidden;padding-top: 30px;padding-bottom: 50px;font-size: 0;position: relative;}
.sp-brandshop .pl_wrap .best-label {display: block;margin-bottom: 38px;width: 100%;font-size: 30px;font-weight: bold;color: #333333;text-align: center;}
.pl_itemlist > li {position: relative;display: inline-block;overflow: visible;}
.pl_img_overlay {width: 329px;background: rgba(255, 255, 255, 0.9);font-size: 0;display: none;position: absolute;left: 0;z-index: 20;white-space: nowrap;}
.pl_itemlist._4col .pl_img_overlay{width:calc(100% - 2px);left:1px;}
.pl_itemlist._4col .pl_img_overlay a {width: 82px;}
.pl_itemlist._4col .pl_itemlist_itemslide{top: 247px;width: 100%;padding-left: 34px;padding-right: 34px;}
.pl_itemlist_img, .pl_itemlist_content, .pl_itemlist_itemslide, .pl_itemlist_itemslide_arr {transition: all ease-in-out 0.2s;}
.pl_itemlist_itemslide {background: #fff;position: absolute;top: 331px;z-index: 30;display: block;width: 239px;height: 0;left: 1px;overflow: hidden;padding-left: 45px;padding-right: 45px;}
.pl_itemlist_itemslide_pics {display: block;overflow: hidden;width: 239px;height: 54px;}
.pl_itemlist_itemslide li {width: 52px;height: 52px;overflow: hidden;display: inline-block;margin-right: 7px;border: 1px solid #fff;cursor: pointer;}
.pl_wrap a {text-decoration: none;}
.pl_itemlist_itemslide_arr {position: absolute;width: 30px;height: 53px;top: 0;display: inline-block;}
.pl_itemlist_itemslide_arr._left i {background-position-x: -8px;background-position-y: -12px;left: 10px;}
.pl_itemlist._4col .pl_itemlist_itemslide_arr._right i {right: 5px;}
.pl_itemlist._4col .pl_itemlist_img {height: 245px;}
.pl_itemlist_img {display: block;overflow: hidden;width: 329px;height: 329px;position: relative;border: 1px solid #efefef;}
.pl_itemlist_img img {width: 100%;}
.pl_itemlist._4col .pl_itemlist_content {width: 225px;}
.pl_itemlist_content {position: relative;display: block;padding: 5px 10px 15px;border: 1px solid #fff;border-top: 0;z-index: 20;background: #fff;}
.pl_benefit_cats {display: block;height: 19px;margin-bottom: 2px;font-size: 0;overflow: hidden;white-space: nowrap;}
.pl_benefit_cats span._dep {color: #46675c;border: 1px solid #46675c;}
.pl_benefit_cats span {display: inline-block;font-size: 11px;line-height: 1;padding: 2px 3px 4px;margin-right: 4px;}
.pl_benefit_sub {
color: #aaa;
margin-bottom: 2px;
}
.pl_benefit_sub, .pl_item_title, .pl_item_price_benefit {
display: block;
}
.pl_benefit_sub, .pl_item_title, .pl_item_price, .pl_item_price_strk {
font-size: 14px;
line-height: 18px;
}
._ellipsis {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.pl_item_title {
color: #555;
margin-bottom: 3px;
height: 36px;
overflow: hidden;
display: -webkit-box;
word-break: break-all;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}

.pl_item_price {
color: #555;
margin-right: 10px;
}
.pl_item_price, .pl_item_price_strk {
display: inline-block;
}
.pl_item_price_benefit {
position: relative;
font-size: 15px;
color: #333;
margin-bottom: 16px;
line-height: 22px;
}

.pl_item_price_benefit > em {
font-size: 22px;
font-weight: bold;
}
em {
font-style: normal;
}

.pl_benefit_dc {
position: absolute;
bottom: 0;
right: 0;
font-size: 21px;
color: #f96458;
}
.pl_benefit_dc em {
font-size: 22px;
}

.pl_item_rate {
font-size: 13px;
color: #555;
display: block;
border-bottom: 1px solid #eee;
padding-bottom: 6px;
margin-bottom: 6px;
}
.pl_item_rate em {
font-weight: bold;
}
.pl_benefit_add {
display: block;
font-size: 12px;
color: #555;
line-height: 1.3;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}


.pl_itemlist li:hover .pl_img_overlay { display:block; }
.pl_itemlist li:hover .pl_itemlist_img { border:1px solid #ccc; }
.pl_itemlist li.visible-thumb:hover .pl_itemlist_content { padding-top:82px; border:1px solid #ccc; border-top:0; }
.pl_itemlist li:hover .pl_itemlist_itemslide { height:auto; padding:15px 45px; }
.pl_itemlist li:hover .pl_itemlist_itemslide_arr { top:15px; }
.pl_itemlist._4col li:hover .pl_itemlist_itemslide { padding:15px 34px; }
.pl_itemlist._5col li:hover .pl_itemlist_itemslide { padding:15px 39px; }
.pl_itemlist._atype li:hover .pl_itemlist_itemslide { padding:0 30px; height:72px; }
.pl_itemlist._atype li.hover .pl_itemlist_itemslide_arr { top:1px; }
.pl_itemlist._atype li:hover .pl_itemlist_content { padding-top:0; border:1px solid #fff; border-top:0; }
.pl_lnb_listing._noscroll li:hover  { background-color: #eee; }
.pl_lnb_listing._noscroll li:hover > div { white-space: nowrap; display: block; }
.pl_lnb_listing._noscroll li:hover > div > ul { vertical-align: top; display: inline-block; }
.pl_main h1 > a:hover { font-weight:bold; }
.pl_itemlist._tvitems > li:hover .pl_itemlist_img { border:1px solid #eee; }
.pl_itemlist._tvitems > li:hover .pl_itemlist_content { padding:0; border:0; }
._window_viewcount > a:hover { background:#eee; }
._btn_morebrand:hover { font-weight:bold; }
.pl_brands_brandlist > li > a:hover { text-decoration:none; }
.pl_brands_wrap._btnset > a:hover { text-decoration:none; }
.pl_lnb .ui-sidebar.pl_plan_sidebar .box .menu.active, .pl_lnb .ui-sidebar.pl_plan_sidebar .box .menu:hover	{ color:#333; transition:all ease .2s; text-decoration:none }
.pl_search_keyword .hash_tag_wrap .hashtag.on, .hashtag:hover{ color:#ff5340; border:1px solid #ff5340; }




/* add. 0605 TYPE-C */
.sp-brandshop .menu-wrap.type-banner.type-depth	{ border-bottom: 1px solid #e5e5e5; }
.sp-brandshop .menu-wrap.type-banner.type-depth > ul > li > .sub-depth	{ width: 1081px; text-align: left; }
.sp-brandshop .menu-wrap.type-banner.type-depth > ul > li > .sub-depth a	{ font-size: 16px; color: #333; text-decoration: none; word-break: break-all; white-space: nowrap; }
.sp-brandshop .menu-wrap.type-banner.type-depth > ul > li > .sub-depth .category-3depth	{ width: 200px; }
.sp-brandshop .menu-wrap.type-banner.type-depth > ul > li > .sub-depth .category-3depth a	{ font-weight: bold; }
.sp-brandshop .menu-wrap.type-banner.type-depth > ul > li > .sub-depth .category-3depth li, .sp-brandshop .menu-wrap.type-banner.type-depth > ul > li > .sub-depth .category-4depth li	{ margin: 10px 0 10px; }
.sp-brandshop .menu-wrap.type-banner.type-depth > ul > li > .sub-depth .category-4depth	{ position: relative; }
.sp-brandshop .menu-wrap.type-banner.type-depth > ul > li > .sub-depth .category-4depth:before	{ content: ""; position: absolute; top: 0; left: 0; width: 1px; height: 100%; background-color: #ccc; }
.sp-brandshop .menu-wrap.type-banner.type-depth > ul > li > .sub-depth .category-4depth > ul > li	{ width: 170px; vertical-align: top; display: inline-block; }
.sp-brandshop .menu-wrap.type-banner.type-depth > ul > li > .sub-depth .category-3depth li .title, .sp-brandshop .menu-wrap.type-banner.type-depth > ul > li > .sub-depth .category-4depth li .title	{ font-weight: bold; }
.sp-brandshop .menu-wrap.type-banner.type-depth > ul > li > .sub-depth .category-3depth, .sp-brandshop .menu-wrap.type-banner.type-depth > ul > li > .sub-depth .category-4depth	{ text-align: center; vertical-align: top; display: inline-block; }


.sp-brandshop .category-banner-horizontal { position: relative; width: 1081px; margin: 60px auto 0; }
.sp-brandshop .category-banner-horizontal .slider-direction .slider-pager { display: none; }
.sp-brandshop .category-banner-horizontal .slider-direction button { position: absolute; top: 131px; border-color: #e0e0e0; width: 78px; height: 78px; }
.sp-brandshop .category-banner-horizontal .slider-direction button:before { font-size: 25px; }
.sp-brandshop .category-banner-horizontal .slider-direction .slider-prev { left: 0; }
.sp-brandshop .category-banner-horizontal .slider-direction .slider-next { right: 0; }
