.pl_wrap * { letter-spacing:-0.5px; }

.pl_wrap { width:1081px; display:block; margin:0 auto; overflow:hidden; padding-top:30px; padding-bottom:50px; font-size:0; position:relative; }
.pl_wrap a { text-decoration:none; }
.pl_wrap h1, .pl_main h1 { font-size:16px; color:#333; border-bottom:1px solid #aaa; padding-bottom:10px; position:relative; }
.pl_itemlist_wrap h1 > a { position:absolute; display:inline-block; right:0; top:0; color:#161616; font-size:13px; border:1px solid #ccc; padding:4px 16px 6px 5px; line-height:1; background-image:url(http://image.hyundaihmall.com/hmall/co/pl17_icon_uparr_blk.png); background-repeat:no-repeat; background-position:32px; font-weight:normal; }
.pl_html { margin-top:30px; }
.pl_html, .pl_anchors { width:100%; display:block; margin-bottom:40px; }
.pl_anchors { width:1080px; font-size:0; }
.pl_anchors li { position:relative; z-index:1; display:inline-block; width:269px; border:1px solid #ddd; background-image:url(http://image.hyundaihmall.com/hmall/co/pl17_icon_downarr.png); background-repeat:no-repeat; background-position:245px; margin-right:-1px; margin-bottom:-1px; }
.pl_anchors li:hover	{ z-index:10; background-image:url(http://image.hyundaihmall.com/hmall/co/pl17_icon_downarr_hover.png); border-color:#333; transition:all ease-in-out 0.2s; }
.pl_anchors li a { font-size:14px; color:#333; display:block; width:230px; height:100%; padding:10px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
._ellipsis { white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.pl_itemlist { width:100%; display:block; margin-top:25px; font-size:0; }
.pl_itemlist { width:1125px; }
.pl_itemlist > li { position:relative; display:inline-block; height:531px; overflow:visible; width:329px; margin-right:46px; margin-bottom:38px; }
.pl_itemlist > li > a { display:block; position:absolute; top:0; left:0; background:#fff; }
.pl_itemlist_img { display:block; overflow:hidden; width:329px; height:329px; position:relative; border:1px solid #efefef; }
.pl_itemlist_img img { width:100%; }
.pl_itemlist_content { position:relative; display:block; padding:5px 10px 15px; border:1px solid #fff; border-top:0; z-index:20; background:#fff; }
.pl_benefit_cats { display:block; height:19px; margin-bottom:2px; font-size:0; overflow:hidden; white-space:nowrap; }
.pl_benefit_cats span { display:inline-block; font-size:11px; line-height:1; padding:2px 3px 4px; margin-right:4px; }
.pl_benefit_cats span._fund { color:#4088ef; border:1px solid #4088ef; }
.pl_benefit_cats span._outlet { color:#7c679f; border:1px solid #7c679f; }
.pl_benefit_cats span._dep { color:#46675c; border:1px solid #46675c; }
.pl_benefit_cats span._gdl { color:#6dae06; border:1px solid #6dae06; }
.pl_benefit_cats span._mob { color:#8470ff; border:1px solid #8470ff; }
.pl_benefit_cats span._dat { color:#ff5340; border:1px solid #ff5340; }
.pl_benefit_cats span._dat sup { vertical-align:middle; margin-top:-10px; display:inline-block }
.pl_benefit_cats span._app { color:#8470ff; border:1px solid #8470ff; }
.pl_benefit_sub, .pl_item_title, .pl_item_price, .pl_item_price_strk { font-size:14px; line-height:18px; }
.pl_benefit_sub, .pl_item_title, .pl_item_price_benefit { display:block; }
.pl_benefit_sub { color:#aaa; margin-bottom:2px; }
.pl_item_title { color:#555; margin-bottom:3px; height:36px; overflow:hidden; display: -webkit-box; word-break: break-all; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.pl_item_price, .pl_item_price_strk { display:inline-block; }
.pl_item_price { color:#555; margin-right:10px; }
.pl_item_price_strk { color:#aaa; text-decoration:line-through; }
.pl_item_price_benefit { position:relative; font-size:15px; color:#333; margin-bottom:16px; line-height:22px }
.pl_item_price_benefit > em { font-size:22px; font-weight:bold; }
.pl_item_rate { font-size:13px; color:#555; display:block; border-bottom:1px solid #eee; padding-bottom:6px; margin-bottom:6px; }
.pl_item_rate.empty	{ border-bottom:0 }
.pl_item_rate em { font-weight:bold; }
.pl_benefit_add { display:block; font-size:12px; color:#555; line-height:1.3; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.pl_benefit_dc { position:absolute; bottom:0; right:0; font-size:21px; color:#f96458; }
.pl_benefit_dc em { font-size:22px; }
.pl_img_overlay { width:329px; margin-left:1px; background:rgba(255, 255, 255, 0.9); font-size:0; display:none; position:absolute; top:292px; left:0; z-index:20; white-space:nowrap; }
.pl_img_overlay a { width:110px; display:inline-block; text-align:center; padding:10px 0; }
.pl_img_overlay a span { font-size:13px; line-height:18px; color:#555; margin-left:5px; }
.pl_img_overlay a > * { display:inline-block; vertical-align:middle; }
.pl_itemlist li:hover .pl_img_overlay { display:block; }
.pl_itemlist li:hover .pl_itemlist_img { border:1px solid #ccc; }
.pl_itemlist li.visible-thumb:hover .pl_itemlist_content { padding-top:82px; border:1px solid #ccc; border-top:0; }
.pl_itemlist_itemslide { background:#fff; position:absolute; top:331px; z-index:30; display:block; width:239px; height:0; left:1px; overflow:hidden; padding-left:45px; padding-right:45px; }
.pl_itemlist_itemslide ul { display:inline-block; font-size:0; white-space:nowrap; margin-left:0; }
.pl_itemlist_itemslide li { width:52px; height:52px; overflow:hidden; display:inline-block; margin-right:7px; border:1px solid #fff; cursor:pointer; }
.pl_itemlist_itemslide li img { width:50px; border:1px solid #eee; }
.pl_itemlist_itemslide_pics { display:block; overflow:hidden; width:239px; height:54px; }
.pl_itemlist_itemslide li._active, .pl_itemlist_itemslide li._active img { border:1px solid #f96458; }

.pl_itemlist_itemslide_arr { position:absolute; width:30px; height:53px; top:0; display:inline-block; }
.pl_itemlist_itemslide_arr._left { left:5px; }
.pl_itemlist_itemslide_arr._right { right:5px; }
.pl_itemlist_itemslide_arr i { position:absolute; top:20px; display:inline-block; width:8px; height:12px; background-image:url(http://image.hyundaihmall.com/hmall/co/pl17_icon_slidearr.png); background-repeat:no-repeat; }
.pl_itemlist_itemslide_arr._left i { background-position-x:-8px; background-position-y:-12px; left:10px; }
.pl_itemlist_itemslide_arr._right i { background-position-x:-10px; background-position-y:0; left:10px; }
.pl_itemlist_itemslide_arr._noleft i { background-position-x:0; }
.pl_itemlist li:hover .pl_itemlist_itemslide { height:52px; padding:15px 45px; }
.pl_itemlist li:hover .pl_itemlist_itemslide_arr { top:15px; }
.pl_itemlist_img, .pl_itemlist_content, .pl_itemlist_itemslide, .pl_itemlist_itemslide_arr { transition:all ease-in-out 0.2s; }
.pl_item_reviews { display:none; padding-top:20px; }

.pl_itemlist._4col > li, .pl_itemlist._4col .pl_itemlist_img, .pl_itemlist._4col .pl_img_overlay { width:245px; }
.pl_itemlist._4col > li { height:477px; margin-right:33px; margin-bottom:28px; }
.pl_itemlist._4col .pl_itemlist_img { height:245px; }
.pl_itemlist._4col .pl_img_overlay { top:208px; }
.pl_itemlist._4col .pl_img_overlay a { width:82px; }
.pl_itemlist._4col .pl_itemlist_itemslide { top:247px; width:177px; padding-left:34px; padding-right:34px; }
.pl_itemlist._4col li:hover .pl_itemlist_itemslide { padding:15px 34px; }
.pl_itemlist._4col li .pl_itemlist_itemslide_pics { width:177px; }
.pl_itemlist._4col li .pl_itemlist_itemslide_arr { width:20px; }
.pl_itemlist._4col .pl_itemlist_itemslide_arr._left i { left:5px; }
.pl_itemlist._4col .pl_itemlist_itemslide_arr._right i { right:5px; }

.pl_itemlist._5col > li, .pl_itemlist._5col .pl_itemlist_img, .pl_itemlist._5col .pl_img_overlay { width:193px; }
.pl_itemlist._5col > li { height:424px; margin-right:28px; margin-bottom:28px; }
.pl_itemlist._5col .pl_itemlist_img { height:193px; }
.pl_itemlist._5col .pl_img_overlay { top:156px; }
.pl_itemlist._5col .pl_img_overlay a { width:64px; }
.pl_itemlist._5col .pl_itemlist_itemslide { top:195px; width:115px; padding-left:39px; padding-right:39px; }
.pl_itemlist._5col li:hover .pl_itemlist_itemslide { padding:15px 39px; }
.pl_itemlist._5col li .pl_itemlist_itemslide_pics { width:115px; }
.pl_itemlist._5col li .pl_itemlist_itemslide_arr { width:20px; }
.pl_itemlist._5col .pl_itemlist_itemslide_arr._left i { left:5px; }
.pl_itemlist._5col .pl_itemlist_itemslide_arr._right i { right:5px; }
.pl_itemlist._5col .pl_item_price { font-size:13px; }
.pl_itemlist._5col .pl_item_price_benefit { font-size:14px; }
.pl_itemlist._5col .pl_item_price_benefit em { font-size:21px; }
.pl_itemlist._5col .pl_benefit_dc { font-size:20px; }
.pl_itemlist._5col .pl_benefit_dc em { font-size:21px; }

.pl_itemlist._3col .pl_itemlist_content	{ width:309px; }
.pl_itemlist._4col .pl_itemlist_content	{ width:225px; }
.pl_itemlist._5col .pl_itemlist_content 	{ width:173px; }

.pl_itemlist._atype > li > a { font-size:0; }
.pl_itemlist._atype .pl_itemlist_img, .pl_itemlist._atype .pl_img_overlay { width:440px; }
.pl_itemlist._atype > li { width:1081px; height:442px; margin-right:0; margin-bottom:35px; padding-bottom:35px; border-bottom:1px solid #DDD }
.pl_itemlist._atype > li:last-child	{ border-bottom:0 }
.pl_itemlist._atype .pl_itemlist_img { display:inline-block; height:440px; vertical-align:top; margin-right:37px; }
.pl_itemlist._atype .pl_img_overlay { top:403px; }
.pl_itemlist._atype .pl_img_overlay a { width:146px; }
.pl_itemlist._atype .pl_itemlist_itemslide { top:auto; bottom:33px; left:480px; width:541px; height:72px; padding:0 30px; }
.pl_itemlist._atype li:hover .pl_itemlist_itemslide { padding:0 30px; height:72px; }
.pl_itemlist._atype li .pl_itemlist_itemslide_pics { width:525px; height:72px; margin-left:8px; }
.pl_itemlist._atype li .pl_itemlist_itemslide_arr { width:26px; border:1px solid #dfdfdf; height:67px; top:0; }
.pl_itemlist._atype li.hover .pl_itemlist_itemslide_arr { top:1px; }
.pl_itemlist._atype li .pl_itemlist_itemslide_arr i { top:28px; }
.pl_itemlist._atype .pl_itemlist_itemslide_arr._left i { left:9px; }
.pl_itemlist._atype .pl_itemlist_itemslide_arr._right i { right:7px; }
.pl_itemlist._atype .pl_itemlist_content { display:inline-block; width:600px; padding:0; vertical-align:top; }
.pl_itemlist._atype .pl_item_title { font-size:18px; line-height:22px; height:45px; overflow:hidden; }
.pl_itemlist._atype li:hover .pl_itemlist_content { padding-top:0; border:1px solid #fff; border-top:0; }
.pl_itemlist._atype .pl_item_rate { display:none; }
.pl_itemlist._atype .pl_benefit_dc { position:relative; margin-left:10px; }
.pl_itemlist._atype .pl_benefit_add { padding-bottom:8px; border-bottom:1px solid #eee; }

.pl_itemlist._atype .pl_itemlist_itemslide li { width:67px; height:67px; border:1px solid #EEE }
.pl_itemlist._atype .pl_itemlist_itemslide li._active	{ width:65px; height:65px; border:2px solid #f96458 }
.pl_itemlist._atype .pl_itemlist_itemslide li img { width:67px; border:0 }
.pl_itemlist._atype .pl_itemlist_itemslide li._active img	{ margin:-1px }
.pl_itemlist._atype .pl_item_reviews { display:block; }
.pl_itemlist._atype .pl_itemlist_itemslide_arr._left { left:0; }
.pl_itemlist._atype .pl_itemlist_itemslide_arr._right { right:0; }

.pl_itemlist._glt	{ font-size:0; margin-bottom:28px }
.pl_itemlist._glt li	{ width: 348px; height:auto; border:1px solid #dedede; margin-right:15px; margin-bottom:15px; display:inline-block }
.pl_itemlist._glt li a	{ position:static; text-decoration:none }
.pl_itemlist._glt .pl_itemlist_img._glt	{ width:auto; height:auto; border:0; border-bottom:1px solid #f3f3f3 }
.pl_itemlist._glt .pl_itemlist_img._glt > img	{ width:348px; height:auto; display:block }
.pl_itemlist._glt .pl_item_title._glt	{ height:18px; padding:0 15px; margin-top:13px; margin-bottom:5px }
.pl_itemlist._glt .pl_item_price_benefit._glt	{ padding:0 15px; margin-bottom:15px }
.pl_itemlist._glt .pl_item_price_benefit._glt .pl_qty	{ position: absolute; right:13px; bottom:2px; font-size:13px; color:#acacac }
.pl_itemlist._glt .pl_item_price_benefit._glt .pl_qty > em	{ font-size:14px; font-weight:bold; color:#fe2434 }

.pl_main.sp_shop .pl_itemlist._4col	{ width:966px }
.pl_main.sp_shop .pl_itemlist._4col > li	{ margin-right:77px }
.pl_main.sp_shop .pl_search	{ width:888px }
.pl_main.sp_shop .pl_search .option-price	{ width:303px }
.pl_main.sp_shop .pl_search .option-price dd	{ width:227px }
.pl_main.sp_shop .pl_search .option-price dd .price-input	{ width:98px }
.pl_main.sp_shop .pl_search .option-price dd .price-input label input	{ width:55px }
.pl_main.sp_shop .pl_search .option-search .sect-searchbox	{ width:155px }
.pl_main.sp_shop .pl_search .option-search .sect-searchbox label	{ width:140px }
.pl_main.sp_shop .pl_search .option-search .sect-searchbox input	{ width:104px }
.pl_main.sp_shop .pl_search .option-search .sect-searchbox button	{ right:16px; }

.pl_item_reviews_score, .pl_item_reviews_score em, .pl_item_reviews_ppl { vertical-align:bottom; }
.pl_item_reviews_score { font-size:17px; display:block; color:#555; line-height:20px; margin-bottom:10px; }
.pl_item_reviews_score em { font-size:20px; line-height:20px; color:#f96458; font-weight:bold; display:inline-block; }
.pl_item_reviews_ppl { font-size:13px; color:#aaa; line-height:18px; display:inline-block; }
.pl_item_reviews_star { display:block; }
.pl_item_reviews_star span { display:inline-block; vertical-align:middle; margin-right:10px; font-size:13px; line-height:16px; padding-bottom:1px; color:#555; }
._stars_empty { display:inline-block; vertical-align:middle; width:69px; height:12px; margin-right:20px; background-image:url(http://image.hyundaihmall.com/hmall/co/pl17_icon_stars_empty.png); background-repeat:no-repeat; }
._stars_full { display:block; overflow:hidden; width:0; height:12px; background-image:url(http://image.hyundaihmall.com/hmall/co/pl17_icon_stars_full.png); background-repeat:no-repeat; }
._stars_full._1star { width:20%; }
._stars_full._2star { width:40%; }
._stars_full._3star { width:60%; }
._stars_full._4star { width:80%; }
._stars_full._5star { width:100%; }
.pl_item_reviews_reviewlist { width:100%; display:block; margin-top:15px; }
.pl_item_reviews_reviewlist li { padding-left:8px; position:relative; width:592px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size:13px; line-height:20px; color:#555; }
.pl_item_reviews_reviewlist li:before { content:'·'; position:absolute; left:0; }

.pl_lnb, .pl_main { display:inline-block; vertical-align:top; }
.pl_lnb { width:248px; padding-top:20px; }
.pl_lnb h1 { font-size:18px; line-height:22px; border-bottom:0; padding: 0 0 15px 9px; }
.pl_lnb_selected_category	{ font-size:15px; color:#FFF; line-height:22px; margin-bottom:5px; padding:4px 0 6px 9px; background:#ff4a53; }
.pl_lnb_listing a.em span, .pl_lnb_listing a.em em	{ font-weight:bold; }
.pl_lnb_listing a.sub	{ width:233px; padding-left:15px }
.pl_lnb_listing a.sub > span, .pl_lnb_listing a.sub > em	{ font-size:13px; }
.pl_main { width:803px; margin-left:30px; }
.pl_main.sp_shop { width:890px; margin-left:0 }
.pl_main.sp_shop *	{ letter-spacing:-0.5px }
.pl_search_title { padding:0; text-align:center; color:#424242; font-size:29px; font-weight:bold; padding-bottom:20px; border-bottom:1px solid #4d4d4d }
.pl_search_title em { font-size:18px; color:#f96458; font-weight:normal; }
.pl_search_title sub    { font-size: 13px; font-weight: normal; color: #333; margin: 15px 0 0 0; display: block; }
.pl_search_title sub > em   { font-size: 13px; }
.pl_main .pl_itemlist._4col { width:834px; }
.pl_main h1 > em	{ color:#fd5a3b; /* text-decoration:underline */ }

.pl_search_recommendtags { position:relative; display:block; width:761px; border:1px solid #f5f5f5; border-top:0; padding:15px 20px; }
.pl_search_recommendtags > span { font-size:15px; line-height:20px; color:#424242; display:inline-block; vertical-align:top; padding-right:20px; }
.pl_search_recommendtags ._tags { display:inline-block; vertical-align:top; width:640px; height:20px; overflow:hidden; }
.pl_search_recommendtags ._tags a { font-size:13px; line-height:20px; color:#a6a6a6; margin-right:10px }
.pl_search_recommendtags._active ._tags { height:auto; }
.pl_btn_openrecomm { width:24px; height:24px; display:block; border:1px solid #c3c3c3; position:absolute; top:12px; right:15px; background-image:url(http://image.hyundaihmall.com/hmall/co/pl17_icon_downarr_blk.png); background-position:center center; background-repeat:no-repeat; }
.pl_search_recommendtags._active .pl_btn_openrecomm { background-image:url(http://image.hyundaihmall.com/hmall/co/pl17_icon_uparr_blk.png); }

.pl_lnb_listing, .pl_lnb_listing a { width:248px; }
.pl_lnb_listing { max-height:210px; background:#fff; overflow:hidden; }
.pl_lnb_listing a { width:248px; height:100%; padding: 0 0 2px 9px; box-sizing: border-box; display:block; }

.pl_lnb_listing._noscroll { max-height:none; background:#fff; overflow:visible; }
.pl_lnb_listing._noscroll li    { position: relative; }
.pl_lnb_listing._noscroll ._selected { background:#ff4a53; }
.pl_lnb_listing._noscroll ._parent span, .pl_lnb_listing._noscroll ._parent em  { font-weight: bold; color: #333; }
.pl_lnb_listing._noscroll ._selected span, .pl_lnb_listing._noscroll ._selected em  { font-weight: bold; color: #fff; }
.pl_lnb_listing._noscroll .dp-2   { padding: 0 0 2px 20px; }
.pl_lnb_listing._noscroll .dp-3   { padding: 0 0 2px 30px; }
.pl_lnb_listing._noscroll .dp-4   { padding: 0 0 2px 40px; }

/*
.pl_lnb_listing._noscroll .dp-1._selected { background:#ff4a53; }
.pl_lnb_listing._noscroll .dp-1._selected span, .pl_lnb_listing._noscroll .dp-1._selected em { color:#fff; }
.pl_lnb_listing._noscroll .dp-2   { padding: 0 0 2px 20px; }
.pl_lnb_listing._noscroll .dp-3   { padding: 0 0 2px 30px; }
.pl_lnb_listing._noscroll .dp-4   { padding: 0 0 2px 40px; }
.pl_lnb_listing._noscroll .dp-2._selected span, .pl_lnb_listing._noscroll .dp-2._selected em,
.pl_lnb_listing._noscroll .dp-3._selected span, .pl_lnb_listing._noscroll .dp-3._selected em,
.pl_lnb_listing._noscroll .dp-4._selected span, .pl_lnb_listing._noscroll .dp-4._selected em    { font-weight: bold; color: #333; }
*/

.pl_lnb_listing._noscroll .none   { display: none; }
.pl_lnb_listing._noscroll li > div { position: absolute; top: 0; left: 247px; z-index: 100; border: 1px solid #ddd; background-color: #FFF; box-sizing: border-box; display: none; }
.pl_lnb_listing._noscroll li:hover  { background-color: #eee; }
.pl_lnb_listing._noscroll li:hover > div { white-space: nowrap; display: block; }
.pl_lnb_listing._noscroll li:hover > div > ul { vertical-align: top; display: inline-block; }

.pl_lnb_listing a > span { max-width:180px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:14px; color:#555; line-height:30px; display:inline-block; vertical-align:middle; }
.pl_lnb_listing a > em { font-size:14px; color:#888; line-height:30px; display:inline-block; vertical-align:middle; margin-left:4px; }

.pl_lnb hr { border:0; border-top:1px solid #ddd; display:block; margin:20px 0; }
.pl_main .pl_itemlist { margin-bottom:20px; }
.pl_main h1._type2 { font-size:18px; border-bottom:0; padding:0; line-height:30px; }
.pl_main h1._type2 em { color:#a6a6a6; font-weight:normal; }
.pl_main h1 > a._btn_showmore { position:absolute; line-height:1; top:3px; right:0; font-size:14px; padding:5px 18px 6px 8px; border:1px solid #e2e2e2; color:#333; }
.pl_main h1 > a._btn_showmore:after	{ content:""; position:absolute; top:7px; right:5px; width:8px; height:12px; background-image:url('http://image.hyundaihmall.com/hmall/co/pl17_icon_rightarr_blk.png'); background-repeat:no-repeat; }
.pl_main h1 > a:hover { font-weight:bold; }

.pl_main h1._type1 { font-size:18px; padding-bottom:15px; }
.pl_main h1._type1 > a._btn_showmore { top:1px; }
._btn_prevres, ._btn_nextres { width:30px; height:30px; background-position:center center; background-repeat:no-repeat; display:inline-block; border:1px solid #ddd; vertical-align:middle; }
._btn_prevres { background-image:url(http://image.hyundaihmall.com/hmall/co/pl17_icon_leftarr_blk.png); }
._btn_nextres { background-image:url(http://image.hyundaihmall.com/hmall/co/pl17_icon_rightarr_blk.png); }
._pageControl { position:absolute; top:0; right:0; }
._pageControl ._paging { margin:0 10px; font-size:15px; }

.pl_main_specials	{ margin-top:20px }
.pl_main_specials_list { width:823px; font-size:0; margin-top:25px; }
.pl_main_specials_list li { width:259px; margin-right:10px; margin-bottom:15px; border:1px solid #dadada; display:inline-block; font-size:0; height:80px; }
.pl_main_specials_list li a { display:block; }
.pl_main_specials_list li a > span { display:inline-block; vertical-align:top; height:80px; overflow:hidden; }
.pl_main_specials_item_pic, .pl_main_specials_item_pic img { width:129px; }
.pl_main_specials_item_title { width:100px; color:#666; padding:20px 15px; overflow:hidden; }
.pl_main_specials_item_title > span { font-size:12px; width:100px; line-height:18px; height:37px; overflow:hidden; display:block; }

.pl_main_category_tabs { display:block; font-size:0; width:803px; }
.pl_main_category_tabs > a { color:#9e9e9e; }
.pl_main_category_tab { position:relative; display:inline-block; width:266px; border-top:1px solid #dfdfdf; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; border-bottom:1px solid #424242; font-size:15px; text-align:center; padding:18px 0; background:#f8f8f8; z-index:4; }
.pl_main_category_tab._tv, .pl_main_category_tab._dept { margin-left:-1px; }
.pl_main_category_tab em { font-size:14px; }
.pl_main_category_tab._active { border-top:1px solid #424242; border-left:1px solid #424242; border-right:1px solid #424242; border-bottom:1px solid #fff; background:#FFF; color:#424242; font-weight:bold; z-index:10; }

.pl_main_category_sorting { display:block; margin-top:15px; position:relative; height:27px; padding-top:7px; }
.pl_main_category_sorting > a { font-size:14px; color:#888; display:inline-block; vertical-align:middle; }
.pl_main_category_sorting > span { margin:0 7px; font-size:14px; color:#ccc; display:inline-block; vertical-align:middle; }
.pl_main_category_sorting > a._active { font-weight:bold; color:#424242; }

.pl_main_category_tabcontents > li { font-size:0; display:none; }
.pl_main_category_tabcontents > li._active { display:block; }

.pl_main_category_tabcontents { margin-bottom:40px; border-top: 1px solid #aaa; }
._mt20 { margin-top:20px; }

.pl_main_category_pages { display:block; text-align:center; }
.pl_main_category_pages > a { min-width:31px; font-size:14px; color:#333; padding:2px 0; line-height:26px; border:1px solid #FFF; background:#FFF; vertical-align:middle; display:inline-block }
.pl_main_category_pages > a._goPage { margin-left:5px }
.pl_main_category_pages > a._goPage._active { color:#FFF; border:1px solid #333; background-color:#333 }
.pl_main_category_pages > a._goNext { margin-left:5px; }
.pl_main_category_pages > a._navs { border:1px solid #ddd; width:31px; height:26px; }
.pl_main_category_pages > a._navs:before   { content:""; width:20px; height:20px; background-image:url(http://image.hyundaihmall.com/hmall/co/pl17_icon_pagingarrs.png); background-repeat:no-repeat; display:inline-block }
.pl_main_category_pages > a._goFirst, .pl_main_category_pages > a._goNext { margin-right:5px; }
.pl_main_category_pages > a._navs._goFirst:before { background-position:-20px -17px; }
.pl_main_category_pages > a._navs._goPrev:before { background-position:0 -17px; }
.pl_main_category_pages > a._navs._goNext:before { background-position:0 3px; }
.pl_main_category_pages > a._navs._goLast:before { background-position:-20px 3px; }
.pl_main_category_pages > a._navs._inactive { visibility:hidden; }

.pl_itemlist._tvitems { margin-top:25px; margin-bottom:20px; width:840px; }
.pl_itemlist._tvitems > li { width:382px; margin-right:38px; vertical-align:top; height:257px; }
.pl_itemlist._tvitems .pl_itemlist_img, .pl_itemlist._tvitems .pl_itemlist_img img { width:142px; }
.pl_itemlist._tvitems .pl_itemlist_img { height:142px; border:1px solid #eee; display:inline-block; vertical-align:top; }
.pl_itemlist._tvitems > li:hover .pl_itemlist_img { border:1px solid #eee; }
.pl_itemlist._tvitems .pl_itemlist_content { display:inline-block; vertical-align:top; width:190px; padding:0; border:0; margin-left:15px; }
.pl_itemlist._tvitems > li:hover .pl_itemlist_content { padding:0; border:0; }
._tvitem_title, ._tvitem_content, ._tvitem_benefit { display:block; }
._tvitem_title { border:1px solid #ddd; width:380px; padding:8px 0; text-align:center; font-size:14px; color:#555; line-height:17px; background:#fcfcfc; font-weight:bold; }
._tvitem_content { padding:15px; width:350px; border-left:1px solid #ddd; border-right:1px solid #ddd; font-size:0; }
._tvitem_content .pl_itemlist_content	{ height:auto }
._tvitem_benefit { padding:15px; position:relative; border:1px solid #ddd; width:350px; }
._tvitem_benefit .pl_benefit_add { font-size:12px; color:#555; }
._tvitem_benefit .pl_item_rate { font-size:12px; color:#a3a3a3; position:absolute; top:15px; right:15px; border:0; padding:0; margin:0; }
.pl_itemlist._tvitems .pl_benefit_sub, .pl_itemlist._tvitems .pl_item_title, .pl_itemlist._tvitems .pl_item_price, .pl_itemlist._tvitems .pl_item_price_strk { font-size:13px; line-height:16px; }
.pl_itemlist._tvitems .pl_item_title { height:33px; margin-bottom:10px; }
.pl_itemlist._tvitems .pl_item_price_benefit { margin-bottom:0; }
.pl_itemlist._tvitems .pl_item_price_benefit em { font-size:20px; }
.pl_itemlist._tvitems .pl_benefit_dc { font-size:20px; }
.pl_item_tv_btnset { display:block; width:190px; font-size:0; margin-top:10px; }
.pl_item_tv_alarm, .pl_item_tv_buynow { display:inline-block; width:93px; font-size:13px; padding:3px 0 5px; text-align:center; }
.pl_item_tv_alarm { border:1px solid #ddd; color:#333; }
.pl_item_tv_alarm img { display:inline-block; vertical-align:middle; }
.pl_item_tv_buynow { border:1px solid #ff5340; background:#ff5340; color:#fff !important; }

.pl_main_category_view { position:absolute; top:0; right:0; font-size:0; display:inline-block; }
._btn_deptsel, ._btn_viewcount { display:inline-block; vertical-align:middle; border:1px solid #dcdcdc; font-size:13px; line-height:17px; padding:8px; color:#888 !important; white-space:nowrap; }
._btn_deptsel { width:95px; }
._btn_viewcount { width:90px; }
.pl_main_category_view > a img { width:7px; display:inline-block; vertical-align:middle; margin-top:-3px; margin-left:8px; }
._btn_viewcount { margin-left:10px; }
._window_viewcount { position:absolute; top:34px; right:0; z-index:20; border-top:1px solid #dcdcdc; display:none; }
._window_viewcount > a { width:90px; display:block; border-left:1px solid #dcdcdc; border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; background:#fff; font-size:13px; line-height:17px; padding:8px; color:#888; white-space:nowrap; }
._window_viewcount > a:hover { background:#eee; }
._window_viewcount._active, ._window_deptsel._active { display:inline-block; }
._window_deptsel { position:absolute; top:34px; right:118px; z-index:30; border:1px solid #dcdcdc; background:#fff; display:none; } /* 백화점관 필터영역 수정 */
._window_deptsel_wrap { padding:15px 15px 0 15px; width:315px; overflow:hidden; font-size:0; }
._window_deptsel_wrap > ul { width:315px; display:block; font-size:0; }
._window_deptsel_wrap > ul > li { width: 46%; margin-right:10px; display:inline-block; vertical-align:middle; margin-bottom:15px; } /* 백화점관 필터영역 수정 */
.pl_selectbox_wrap label input { width:0; height:0; }
.pl_selectbox_wrap label i { background:url(http://image.hyundaihmall.com/hmall/dp/icon_subsect_01.png) no-repeat; background-position:-100px -100px; width:14px; height:14px; border:1px solid #c3c3c3; background-color:#fff; vertical-align:middle; display:inline-block; }
.pl_selectbox_wrap label i.checked { background-position:-162px -48px; border:1px solid #f76e63; }
.pl_selectbox_wrap label span { font-size:13px; line-height:14px; color:#555; margin-left:7px; display:inline-block; vertical-align:middle; margin-top:-3px; }
.pl_selectbox_wrap._not_selectable label i { background-position:-162px -81px; }
._window_deptsel_ctrl { padding:13px 15px; border-top:1px solid #dcdcdc; }
._window_deptsel_ctrl ._btn_apply { float:right; font-size:14px; color:#fff; line-height:18px; padding:7px 28px 8px; display:inline-block; background:#ff5340; vertical-align:middle; }
._window_deptsel_ctrl > div { display:inline-block; height:22px; vertical-align:middle; padding-top:9px; }
._brand_select ul li, ._shop_select ul li, ._benefit_select ul li, ._age_select ul li { padding:2px 0; }
._brand_select ul li span, ._shop_select ul li span, ._benefit_select ul li span, ._age_select ul li span { font-size:14px; line-height:30px; }
._brand_select ul li span._brandsel_title, ._benefit_select ul li span._brandsel_title { max-width:170px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
._brand_select ul li span._brandsel_quant { color:#888; margin-left:4px; }
._brand_select ul li a.search-chanel	{ vertical-align:middle; margin-bottom:3px; display:inline-block }
._age_select ul li  { width: 50%; padding: 0 0 2px 9px; box-sizing: border-box; display: inline-block; }
._age_select ul li._selected  { background-color: #ff4a53; }
._age_select ul li._selected a  { color:#fff; }
._btn_morebrand { font-size:12px; color:#555; font-weight:bold; text-align:center; display:block; padding:10px; background:#fafafa; border-bottom:1px solid #ddd; margin-top:15px; margin-bottom:20px; }
._btn_morebrand:hover { font-weight:bold; }
._pricerange { margin-top:5px; }
.pl_lnb_input { height:34px !important; line-height:32px; border:1px solid #d1d1d1; display:inline-block; vertical-align:middle; font-size:15px; color:#555; padding:0 7px; }
._pricerange .pl_lnb_input { text-align:right; padding:0 7px 0 0; }
._pricerange > span { display:inline-block; vertical-align:middle; font-size:13px; color:#555; margin:0 5px; }
#_price_from { width:70px; }
#_price_to { width:100px; }
._btn_pricerange_set { width:34px; text-align:center; padding-top:10px; height:24px; border:1px solid #d1d1d1; display:inline-block; vertical-align:middle; float:right; }
._searchbar .pl_lnb_input { display:block; width:214px; padding-right:27px; }
._searchbar { position:relative; margin-top:5px; }
._btn_searchbar_search { position:absolute; top:0; right:-2px; width:36px; height:36px; text-align:center; display:inline-block; }
._btn_searchbar_search > img	{ margin-top:11px }
._searchexcept { position:absolute; top:0; right:0; font-size:13px; color:#555; font-weight:normal; }
._searchexcept > a._reset  { margin: 2px 0 0 0; display: inline-block; }

.pl_dim { display:none; position:fixed; top:0; width:100%; height:100%; z-index:100000; visibility:visible; }
.pl_dim * { letter-spacing:-0.5px; }
/*.pl_dim_screen { position:absolute; width:100%; height:100%; display:block;  background:#000; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; -moz-opacity: 0.4; -khtml-opacity: 0.4; opacity: 0.4; z-index:1100; } - del. 171218 - rlatkdals */
.pl_brands { position:relative; top:50%; width:900px; margin:0 auto; background:#fff; z-index:1200; }
.pl_dim._active { display:block; }
.pl_brands_wrap { width:840px; border-top:1px solid #ccc; padding:30px; overflow:auto; font-size:20px; }
.pl_brands_wrap._redtop { border-top:3px solid #f96458; }
.pl_brands h1 { font-size:24px; color:#2b2b2b; font-weight:normal; padding:0; border:0; }
.pl_brands_wrap._list { max-height:380px; }
.pl_brands_wrap._list > div { max-height:380px; overflow:hidden; }
.pl_brands_wrap._list > div > .custom-scroll-content { padding:0 20px; }
.pl_brands_wrap._list hr { height:0; display:block; border:0; border-top:1px dashed #ddd; margin:25px 0 20px; }

.pl_brands_brandlist { width:840px; font-size:0; margin-top:28px; }
.pl_brands_brandlist > li { display:inline-block; margin:3px; }
.pl_brands_brandlist > li > a { display:block; border:1px solid #aaa; width:32px; height:32px; }
.pl_brands_brandlist > li > a:hover { text-decoration:none; }
.pl_brands_brandlist > li > a._selectall { width:72px; background:#f96458; border:1px solid #f96458; }
.pl_brands_brandlist > li > a._active { border:1px solid #f96458; }
.pl_brands_brandlist > li > a > span { font-size:15px; color:#333; line-height:32px; display:block; text-align:center; }
.pl_brands_brandlist > li > a._selectall > span { color:#fff; }
.pl_brands_brandlist > li > a._disabled { background:#f7f7f7; border:1px solid #f7f7f7; cursor:default; pointer-events:none; }
.pl_brands_brandlist > li > a._disabled > span { color:#d6d6d6; }
.pl_brands_wrap ._btn_close { position:absolute; top:35px; right:30px; }

.pl_brands_wrap._btnset { text-align:center; font-size:0; }
.pl_brands_wrap._btnset > a { display:inline-block; width:128px; line-height:40px; font-size:16px; }
.pl_brands_wrap._btnset > a:hover { text-decoration:none; }
.pl_brands_wrap._btnset > a._btn_apply { background:#ff5340; color:#fff; border:1px solid #ff5340; }
.pl_brands_wrap._btnset > a._btn_cancel { background:#fff; color:#424242; border:1px solid #d5d5d5; margin-left:10px; }
.pl_brands_brandname_list { font-size:0; width:800px; margin-top:7px; }
.pl_brands_brandname_list li { display:inline-block; width:200px; margin:5px 0; }
.pl_brands_brandname_list li span { max-width:170px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:13px; color:#686868; margin-left:5px; display:inline-block; line-height:16px; vertical-align:middle; margin-top:-2px; }

._colorvar ul { font-size:0; }
._colorvar ul li { width:25px; height:25px; display:inline-block; margin:4px; }
._colorvar ul li label, ._colorvar ul li label i { display:block; width:25px; height:25px; }
._colorvar ul li label i { background-image:url(http://image.hyundaihmall.com/hmall/co/pl17_icon_colorchk.png); background-color:#ddd; background-position:0; border-radius:15px; }
._colorvar ul li label i._fuchsia.checked { background-position:-50px; }
._colorvar ul li label i._fuchsia { background-color:fuchsia; border:1px solid fuchsia; }
._colorvar ul li label i._purple.checked { background-position:-50px; }
._colorvar ul li label i._purple { background-color:purple; border:1px solid purple; }
._colorvar ul li label i._teal.checked { background-position:-50px; }
._colorvar ul li label i._teal { background-color:teal; border:1px solid teal; }
._colorvar ul li label i._gray.checked { background-position:-50px; }
._colorvar ul li label i._gray { background-color:gray; border:1px solid gray; }
._colorvar ul li label i._green.checked { background-position:-50px; }
._colorvar ul li label i._green { background-color:green; border:1px solid green; }
._colorvar ul li label i._maroon.checked { background-position:-50px; }
._colorvar ul li label i._maroon { background-color:maroon; border:1px solid maroon; }
._colorvar ul li label i._blue.checked { background-position:-50px; }
._colorvar ul li label i._blue { background-color:blue; border:1px solid blue; }
._colorvar ul li label i._olive.checked { background-position:-50px; }
._colorvar ul li label i._olive { background-color:olive; border:1px solid olive; }
._colorvar ul li label i._silver.checked { background-position:-50px; }
._colorvar ul li label i._silver { background-color:silver; border:1px solid silver; }
._colorvar ul li label i._navy.checked { background-position:-50px; }
._colorvar ul li label i._navy { background-color:navy; border:1px solid navy; }
._colorvar ul li label i._black.checked { background-position:-50px; }
._colorvar ul li label i._black { background-color:black; border:1px solid black; }
._colorvar ul li label i._red.checked { background-position:-50px; }
._colorvar ul li label i._red { background-color:red; border:1px solid red; }
._colorvar ul li label i._orange.checked { background-position:-50px; }
._colorvar ul li label i._orange { background-color:orange; border:1px solid orange; }
._colorvar ul li label i._beige.checked { background-position:-25px; }
._colorvar ul li label i._beige { background-color:beige; border:1px solid #ddd; }
._colorvar ul li label i._yellow.checked { background-position:-25px; }
._colorvar ul li label i._yellow { background-color:yellow; border:1px solid #ddd; }
._colorvar ul li label i._white.checked { background-position:-25px; }
._colorvar ul li label i._white { background-color:white; border:1px solid #ddd; }
._colorvar ul li label i._lime.checked { background-position:-50px; }
._colorvar ul li label i._lime { background-color:lime; border:1px solid lime; }
._colorvar ul li label i._aqua.checked { background-position:-50px; }
._colorvar ul li label i._aqua { background-color:aqua; border:1px solid aqua; }
._colorvar ul li label input	{ width:0; height:0 }

.pl_brands_searchform { position:absolute; top:34px; left:200px; display:inline-block; }
.pl_brands_searchform input { display:block; width:175px; padding:0 40px 0 15px; border:0; height:34px; line-height:32px; font-size:13px; color:#666; border:1px solid #ddd; border-radius:17px; }
.pl_brands_searchform ._btn_searchbar_search { right:15px; }

.pl_customer_ovreview { background:#fafafa; padding:25px 20px 20px; text-align:center; margin-top:30px; }
.pl_customer_ovreview ._txtt1 { font-size:16px; color:#333; margin-bottom:12px; }
.pl_customer_ovreview ._txtt2 { font-size:20px; color:#333; font-weight:bold; margin-bottom:18px; }
.pl_customer_ovreview ._txtt2 em { color:#ff5340; }
.pl_customer_ovreview ._btnset > a { width:100px; background:#fff; font-size:16px; color:#333; padding:10px; text-align:center; display:inline-block; margin:0 10px; border:1px solid #eee; }

.pl_bundled_item { display:block; margin-bottom:50px; margin-top:25px; }
.pl_bundled_item_img { width:138px; display:inline-block; }
.pl_bundled_item_info { width:632px; float:right; }
.pl_bundled_item_title { font-size:18px; color:#555; line-height:22px; margin-bottom:10px; }
.pl_bundled_item_price_or { font-size:15px; color:#555; }
.pl_bundled_item_price_calc { font-size:17px; color:#333; }
.pl_bundled_item_price_calc > em { font-size:25px; font-weight:bold; }
.pl_bundled_item_price_calc img { width:22px; margin:0 5px 2px; vertical-align:middle; display:inline-block; }
.pl_bundled_item_price_calc > span { font-size:15px; }
.pl_bundled_item_price_calc > span > em { color:#ff5340; font-weight:bold; }
.pl_bundled_item .pl_benefit_cats { margin-bottom:6px; }
._clrfix { clear:both; content:''; display:block; }
.pl_bundled_pop { display:block; color:#424242; text-align:center; font-size:15px; border:1px solid #ddd; padding:7px; margin-top:15px; }
.pl_bundled_pop em { color:#ff5340; font-weight:bold; }

.pl_main_tvitems, .pl_main_frequent, .pl_main_category { margin-top:38px; }
.pl_main_tvitems, .pl_main_frequent { margin-bottom:-60px; }

/* soldout */
.pl_itemlist .pl_itemlist_img._soldout:before   { content:"품절"; position:absolute; top:50%; left:50%; z-index:1; color:#FFF; text-align:center; letter-spacing:-3px; background:rgba(51,51,51,0.7); border-radius: 100%; display:inline-block }
.pl_itemlist .pl_itemlist_img._end:before   { content:"종료"; position:absolute; top:50%; left:50%; z-index:1; color:#FFF; text-align:center; letter-spacing:-3px; background:rgba(51,51,51,0.7); border-radius: 100%; display:inline-block }
.pl_itemlist._atype .pl_itemlist_img._soldout:before, .pl_itemlist._atype .pl_itemlist_img._end:before   { width:180px; height:180px; font-size:52px; line-height:180px; margin-top:-90px; margin-left:-90px; }
.pl_itemlist._3col .pl_itemlist_img._soldout:before, .pl_itemlist._3col .pl_itemlist_img._end:before   { width:150px; height:150px; font-size:38px; line-height:150px; margin-top:-75px; margin-left:-75px }
.pl_itemlist._5col .pl_itemlist_img._soldout:before, .pl_itemlist._5col .pl_itemlist_img._end:before   { width:100px; height:100px; font-size:28px; line-height:100px; margin-top:-50px; margin-left:-50px }
.pl_itemlist._4col .pl_itemlist_img._soldout:before, .pl_itemlist._glt .pl_itemlist_img._soldout:before,
.pl_itemlist._4col .pl_itemlist_img._end:before, .pl_itemlist._glt .pl_itemlist_img._end:before   { width:120px; height:120px; font-size:34px; line-height:120px; margin-top:-75px; margin-left:-60px }

/* coming soon */
.pl_itemlist .pl_itemlist_img._coming:before   { content:"Coming soon"; position:absolute; top:50%; left:50%; z-index:1; color:#f3e100; text-align:center; letter-spacing:-3px; background:rgba(51,51,51,0.7); border-radius: 100%; display:inline-block }
.pl_itemlist._4col .pl_itemlist_img._coming:before  { width: 120px; height: 88px; font-size: 28px; padding: 32px 0 0 0;  margin-top: -75px; margin-left: -60px; line-height: 28px; }

/* more */
.pl_itemlist_wrap .pl_itemlist_more	{ width:100%; font-size:20px; color:#caa247; text-align:center; border:1px solid #caa247; margin-bottom:60px; padding:7px 0 10px 0; box-sizing:border-box; text-decoration:none; display:block }

/* 20180221 - 2000px 이미지 등록 - rlatkdals */
/* 가로형 */
.pl_overimage	{ width:100%; overflow:hidden }
.pl_overimage > div	{ position:relative; left:50%; width:2000px; margin-left:-1000px; display:block }
.pl_overimage > div .pl_overimage_text	{ position:absolute; bottom:0; width:100%; text-align:center; padding:50px 0 40px; background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0) 100%); background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 30%,rgba(0,0,0,0) 100%); background: linear-gradient(to top, rgba(0,0,0,0.5) 30%,rgba(0,0,0,0) 100%); }
.pl_overimage > div .pl_overimage_text strong	{ font-size:44px; color:#FFF; display:block }
.pl_overimage > div .pl_overimage_text span	{ font-size:30px; color:#FFF; display:block }

/* 세로형 */
/* 181023 - 반응형 기획전 메뉴 고정 - rlatkdals */
.pl_wrap .pl_lnb.pl-response-ui._fixed    { position: fixed; top: 0; }
.pl_wrap .pl_main.pl-response-ui._fixed    { margin-left: 278px; }

.pl_lnb .pl_lnb_overimage	{ width:100%; overflow:hidden }
.pl_lnb .pl_lnb_overimage > div	{ position:relative; left:50%; width:640px; margin-left:-320px; display:block }
.pl_lnb .pl_lnb_overimage > div .pl_lnb_overimage_text	{ position:absolute; bottom:40px; width:100%; text-align:center }
.pl_lnb .pl_lnb_overimage > div .pl_lnb_overimage_text strong	{ font-size:22px; color:#FFF; display:block }
.pl_lnb .pl_lnb_overimage > div .pl_lnb_overimage_text span	{ font-size:16px; color:#FFF; display:block }
.pl_lnb .ui-sidebar.pl_plan_sidebar	{ width:248px }
.pl_lnb .ui-sidebar.pl_plan_sidebar .box	{ position:relative; padding:10px 0; cursor:pointer }
.pl_lnb .ui-sidebar.pl_plan_sidebar .box .group, .ui-sidebar.pl_plan_sidebar .box .menu	{ text-indent:10px }
.pl_lnb .ui-sidebar.pl_plan_sidebar .box .group	{ position:relative; margin-bottom:5px; font-size:12px; font-weight:normal; color:#333 }
.pl_lnb .ui-sidebar.pl_plan_sidebar .box .group:after	{ position:absolute; top:40%; right:7%; content:""; width:10px; height:6px; background:url('http://image.hyundaihmall.com/hmall/sp/tomford/bull_tomford_01.gif') top right; font-size:0; display:block }
.pl_lnb .ui-sidebar.pl_plan_sidebar .box.active	{ background:#FFF }
.pl_lnb .ui-sidebar.pl_plan_sidebar .box .group.active:after	{ content:""; background-position:bottom right; }
.pl_lnb .ui-sidebar.pl_plan_sidebar .box .group, .pl_lnb .ui-sidebar.pl_plan_sidebar .box .group > a	{ font-size:18px; font-weight:bold; color:#333 }
.pl_lnb .ui-sidebar.pl_plan_sidebar .box .menu	{ font-size:16px; padding:4px 0; color:#333 }
.pl_lnb .ui-sidebar.pl_plan_sidebar .box .menu.active, .pl_lnb .ui-sidebar.pl_plan_sidebar .box .menu:hover	{ color:#333; transition:all ease .2s; text-decoration:none }
.pl_lnb .ui-sidebar.pl_plan_sidebar .box:after	{ position:absolute; bottom:0; width:100%; height:1px; font-size:0; line-height:1px; border-top:1px solid #DDD; content:""; display:block }
.pl_lnb .ui-sidebar.pl_plan_sidebar .box.last-box:after	{ border:0 }
.pl_lnb .ui-sidebar.pl_plan_sidebar .box .accordion	{ height:0; overflow:hidden }

/* 180328 - 검색결과없음 - 전인표 */
.pl_search_fail_ajax { font-size:16px; color:#aaa; text-align:center; margin-top:40px; margin-bottom:40px; }
.pl_search_fail_info { font-size:26px; color:#424242; text-align:center; margin-top:50px; margin-bottom:40px; }
.pl_search_fail_info > img { vertical-align:middle; margin-right:5px; margin-bottom:2px; }
.pl_search_fail_tip { font-size:14px; line-height:30px; color:#424242; padding:30px 50px; background:#fafafa; border:1px solid #f5f5f5; width:100%; display:block; margin-bottom:100px; }

/* 180601 - 검색결과 광고 영역 - rlatkdals */
.pl_main_ad { margin-top:40px }
.pl_main_ad > h1 { font-size:14px; color:#ff533f; border-bottom:0 }
.pl_main_ad > h1 > span { width:23px; height:16px; font-size:11px; text-align:center; color:#434242; border:1px solid #DDD; display: inline-block }
.pl_main_ad > a { position:relative; height:99px; border:1px solid #DDD; display:block }
.pl_main_ad > a .middle-wrap { width:570px; padding-right:35px; padding-left:35px; vertical-align:middle; display:inline-block }
.pl_main_ad > a .middle-wrap strong   { font-size:18px; color:#111; letter-spacing:-0.5px; display:block }
.pl_main_ad > a .middle-wrap strong > span    { font-weight:normal; display:block; }
.pl_main_ad > a > img  { width:160px; height:99px; vertical-align:middle; border-left:1px solid #DDD }
.pl_main_ad._2col   { white-space:nowrap }
.pl_main_ad._2col > a { width:398px; margin-right:3px; display:inline-block }
.pl_main_ad._2col > a .middle-wrap { width:201px; padding-right:18px; padding-left:18px }
.pl_main_ad._2col > a .middle-wrap strong   { font-size:14px }
.pl_main_ad._2col > a .middle-wrap strong > span    { display:block }
.pl_main_ad._2col > a._video:before   { position:absolute; top:66px; right:7px; z-index:10; content:""; width:25px; height:25px; background-image:url('http://image.hyundaihmall.com/hmall/co/ico_play.png'); background-repeat:no-repeat; }

/* 180601 - AD Flag - rlatkdals */
.pl_itemlist_img._ad:after    { position:absolute; top:-1px; left:-1px; z-index:100; content:"AD"; font-size:11px; font-weight:bold; color:#555; border:1px solid #efefef; padding:1px 4px 2px 4px; background-color:#FFF; display:inline-block }

/* 180726 - 교차검색 - rlatkdals */
.pl_main .cross-search  { margin:20px 0 0 0; }
.pl_main .cross-search._thehandsome .pl_itemlist_img { height:auto; }
.pl_main .cross-search._thehyundai .pl_itemlist li { height:346px; }

/* 실패검색어 분할 검색 */
.pl_itemlist_wrap .pl_main_frequent { margin-bottom: auto; }
.pl_itemlist_wrap .pl_main_frequent ._type1 { font-size: 18px; padding-bottom: 15px; }
.pl_itemlist_wrap .pl_main_frequent ._type1 > del { color: #aaa; }
.pl_itemlist_wrap .pl_main_frequent ._type1 > ._btn_showmore { position: relative; font-size: 14px; padding: 4px 18px 7px 8px; margin: 0 10px 0; border: 1px solid #e2e2e2; color: #333; background-image: none; }
.pl_itemlist_wrap .pl_main_frequent ._type1 > ._btn_showmore:after { content: ""; position: absolute; top: 7px; right: 5px; width: 8px; height: 12px; background-image: url(http://image.hyundaihmall.com/hmall/co/pl17_icon_rightarr_blk.png); background-repeat: no-repeat; }

/* 181030 - 스토어픽 - sb */
.pl_benefit_cats span._storepic { color:#FD6493; border:1px solid #FD6493; }

/* 검색실패 - 키워드추천 */
.pl_search_keyword .prod_tit    { position:relative;margin-bottom:15px;padding-bottom:15px;border-bottom:1px solid #000;height:35px; line-height:1;box-sizing:border-box }
.pl_search_keyword .prod_tit p  { font-size:20px;color:#111;font-weight:bold;line-height:22px }
.pl_search_keyword .hash_tag_wrap   { position:relative; width:100%; display:inline-block; }
.pl_search_keyword .hash_tag_wrap .hashtag  { margin-bottom:15px; margin-right:5px; padding:5px 10px; min-width:85px; height:27px; line-height:1; font-size:14px; color:#555; text-align:center; border:1px solid #e5e5e5; border-radius:20px; box-sizing:border-box; display:inline-block; }
.pl_search_keyword .hash_tag_wrap .hashtag.long { width:125px; min-width:125px }
.pl_search_keyword .hash_tag_wrap .hashtag.on, .hashtag:hover   { color:#ff5340; border:1px solid #ff5340; }

/* 엄지펀딩 */
.pl_itemlist_crowd  { position: absolute; bottom: 160px; left: 480px; z-index: 100; width: 541px; font-size: 0; }
.pl_itemlist_crowd > div    { position: relative; display: inline-block; }
.pl_itemlist_crowd > div:first-child    { padding: 0 30px 0 0; }
.pl_itemlist_crowd > div:first-child:after    { content: "/"; position: absolute; top: 50%; right: 0; font-size: 26px; font-family: monospace; color: #eee; margin: -8px 0 0; display: inline-block; }
.pl_itemlist_crowd > div:last-child { padding: 0 0 0 15px; }
.pl_itemlist_crowd > div .title { font-size: 16px; color: #555; display: block; }
.pl_itemlist_crowd > div .title em { font-size: 30px; font-weight: bold; color: #0089f2; vertical-align: -2px; }
.pl_itemlist_crowd > div .title em:after { color: #111; display: inline-block; }
.pl_itemlist_crowd > div .bar-graph { position: relative; width: 140px; height: 8px; margin: 15px 0 0; border-radius: 8px; background-color: #eee; display: inline-block; }
.pl_itemlist_crowd > div .bar-graph .progress { position: absolute; top: 0; left: 0; height: 8px; border-radius: 8px; background-color: #0089f2; }
.pl_itemlist_crowd .remain .title em:after { content: "일"; font-size: 16px; vertical-align: 2px; }
.pl_itemlist_crowd .achievement .title em:after { content: "%"; font-size: 20px; }
.pl_itemlist_crowd._end > div:first-child:after { display: none; }
.pl_itemlist_crowd._end > div:last-child { padding: 0; }


/* 2020-08-28 add style source */
label{cursor:pointer;}
label.custom-input:before	{ content:""; display:inline-block }
label.custom-input.checked:before, label.custom-input.disabled:before	{ background-image:url('http://image.hyundaihmall.com/hmall/co/sprite/sprite-input-01.png'); background-repeat:no-repeat }
label.custom-input	{ font-size:14px; color:#555 }
label.custom-input > input	{ width:0; height:0; margin-right:5px }
label.custom-input:before	{ width:14px; height:14px; border:1px solid #c3c3c3; background-color:#FFF; margin-bottom:2px; vertical-align:middle }
label.custom-input.checked:before	{ width:16px; height:16px; border:0; background-position:-9px -10px; background-color:#f76e63 }
label.custom-input.disabled:before		{ width:16px; height:16px; border:0; background-position:-9px -10px; background-color:#adadad }
label.custom-input:before{content:"";display:inline-block;width: 14px;height: 14px;border: 1px solid #c3c3c3;background-color: #FFF;margin-bottom: 0;vertical-align: middle;}
._brand_select ul li span, ._benefit_select ul li span{vertical-align: middle;}
label.custom-input > input{width: 0;height: 0;margin-right:10px;}



















