/* 20200309 상품상세 수정 */
.aos-option-dropdown .hide{display:none !important}
.aos-option-dropdown .a-label.placeholder{font-size:12px;margin-bottom:9px;display:block;}
.aos-option-dropdown .list-wrapper .aos-option li{display:inline-block; font-size:0; border: 1px solid #e7e7e7; cursor: pointer; display: inline-block; position: relative; margin: 0 6px 6px 0; text-align: center;}
.aos-option-dropdown .list-wrapper .aos-option li:hover{border: 1px solid #000000;}
.aos-option-dropdown .list-wrapper .aos-option li.out-of-stock:hover{border: 1px solid #e7e7e7;}
.aos-option-dropdown .list-wrapper .aos-option img, .aos-option-dropdown .list-wrapper .aos-option span{width: 24px;height: 24px;margin: 2px;}
.aos-option-dropdown .list-wrapper .aos-option span{display: inline-block;vertical-align:middle}
.aos-option-dropdown .list-wrapper .aos-option li.is-selected{border: 1px solid #000000;}
.aos-option-dropdown .list-wrapper .aos-option li.out-of-stock.is-selected{ border: 1px solid #e7e7e7;}
/*.aos-option-dropdown .list-wrapper li.size-option{font-size:12px;padding: 7px;}*/
.aos-option-dropdown .list-wrapper li.a-option{font-size:12px; padding: 7px; box-sizing: content-box !important; line-height: 12px;  min-width: 14px;  height: 15px; }
.aos-option-dropdown {margin-bottom:18px}
.aos-option-dropdown .sold-out-text{display:none}
.aos-option-dropdown .is-disabled{ color:#e7e7e7; }
.aos-option-dropdown .is-disabled:after {
    background: linear-gradient(to top left,rgba(231,231,231,0) 0,rgba(231,231,231,0) calc(50% - .8px),#e7e7e7 50%,rgba(231,231,231,0) calc(50% + .8px),rgba(231,231,231,0) 100%);
    content: "";
    position: absolute;
    width: calc(100%);
    height: 100%;
    top: 0;
    left: 0
}
.o-product-information #product-description,
.o-product-information .size-guide a,
.o-product-information a.delivery-policies-link,
.o-product-information .accordion-header a,
.o-product-information .accordion-header h3,
.o-product-information .accordion-inner-content p,
.o-product-information .a-paragraph.free-text{font-size:12px !important}
.o-product-information .m-product-price label{font-size:15px}
.o-product-information #add-to-bag{font-size:12px}
.o-product-information #selectedSize{font-weight:normal}
/* // 20200309 상품상세 수정 */


/* 20200515 */
#add-to-bag{border-color: #000; background-color: #000; color: #fff; }
#add-to-bag > span{color: #fff; }
/* //20200515 */

/* 20200623 상품 설명 */
#product-description p{margin:0 0 13px;}
.o-accordion .accordion-inner-content .a-paragraph {
    line-height: 26px !important;
}
/* // 20200623 상품 설명(최종) */


.a-option .low-in-stock { position: absolute; bottom: -4px; width: auto !important; height: auto !important; left: -7px;
    border-left: 7px solid transparent; border-right: 7px solid transparent; border-bottom: 7px solid red; transform: rotate(225deg);}