/* 200824 renewal source */
b,strong{font-weight:bold;}
.header[class*="gnb-"]{z-index:72;}
.contents_specialshop {position: relative;font-size: 14px;line-height: 1.2;color: #333;background-color: #eee;-webkit-touch-callout: none;-webkit-user-select: none;-webkit-tap-highlight-color: transparent;-webkit-text-size-adjust: 100%;}
.contents_area .contents_specialshop .specialshop_header {position: relative;height: 50px;text-align: center;background-color: #000;z-index:71;}
.contents_specialshop .specialshop_header>a, .contents_specialshop .specialshop_replybest ul li .list_star, .contents_specialshop .specialshop_replybest ul li .list_star span, .contents_specialshop .specialshop_replybest ul li a>span:before, .contents_specialshop .specialshop_replybestbtn:after, .contents_specialshop .specialshop_select {display: block;text-indent: -9999px;background-image: url(https://imagessl.hyundaihmall.com/static/smart/2016/mobile/images/specialshop/specialshop.png);background-size: 200px 200px;background-repeat: no-repeat;background-position: 0 0;}
.contents_specialshop .specialshop_header>a {position: absolute;left: 10px;top: 10px;width: 30px;height: 30px;}
.contents_specialshop .specialshop_header h1 {color: #fff;font-size: 1.5em;line-height: 50px;}
.contents_specialshop .specialshop_header h1, .contents_specialshop .specialshop_header h1 a {display: block;height: 100%;}
.contents_specialshop .specialshop_header h1, .contents_specialshop .specialshop_header h1 a {display: block;height: 100%;}
.specialshop_header h1 a img {width: auto;max-height: 25px;margin: 10px auto;}
.contents_specialshop .specialshop_topslide {border-bottom: 1px #d3d3d3 solid;background-color: #fff;}
.contents_specialshop .specialshop_topslide, .contents_specialshop .specialshop_topslide ul {position: relative;width: 100%;overflow: hidden;}
.contents_specialshop .specialshop_topslide .topslide_btn {display: none;}
.specialshop_topslide > ul {top: 0px !important;left: 0px !important;}
.contents_specialshop .specialshop_topslide ul {height: 320px;padding-bottom:80px;}
.contents_specialshop .specialshop_topslide ul li {width: 100%;padding-bottom: 80px;overflow: hidden;}
.contents_specialshop .specialshop_topslide ul li a {display: block;height:100%;}
.contents_specialshop .specialshop_topslide ul li img {position: relative;display: block;width: auto;height: 100%;left: 0;}
.contents_specialshop .specialshop_topslide ul li dl {overflow: hidden;}
.contents_specialshop .specialshop_topslide ul li dl dt {margin-top: 20px;font-size: 1.3em;}
.contents_specialshop .specialshop_topslide ul li dl dd {margin-top: 5px;color: #777;}
.contents_specialshop .specialshop_topslide ul li dl dd, .contents_specialshop .specialshop_topslide ul li dl dt {display: block;text-align: center;line-height: 1.2;}
.contents_specialshop .specialshop_topslide .topslide_page {position: absolute;bottom: 90px;left: 50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);-moz-transform: translateX(-50%);padding: 5px 10px;border-radius: 100px;font-weight: 700;background-color: #fff;}
.contents_specialshop .specialshop_topslide .topslide_page>span{text-align:left;vertical-align:baseline;}
/* 스페셜샵 탑 */
.contents_specialshop .section_title {height: 45px;border-bottom: 1px #e5e5e5 solid;font-size: 1.1em;text-align: center;line-height: 45px;font-weight: 700;}
.contents_specialshop .specialshop_keywordscroll .keywordscroll_content ul {overflow: hidden;}
.contents_specialshop .specialshop_keywordscroll .keywordscroll_content ul li {position: relative;float: left;width: 115px;}
.contents_specialshop .specialshop_keywordscroll .keywordscroll_content ul li a {display: block;}
.contents_specialshop .specialshop_keywordscroll .keywordscroll_content ul li span {position: absolute;display: block;width: 85%;padding: 5px;top: 50%;left: 50%;border-radius: 100px;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);text-align: center;font-size: .9em;color: #fff;overflow: hidden;background-color: rgba(0,0,0,.4);}
/* 스페셜샵 해시태그 */
.contents_specialshop .specialshop_trend {position: relative;margin-top: 10px;overflow: hidden;}
.contents_specialshop .section_title {height: 45px;border-bottom: 1px #e5e5e5 solid;font-size: 1.1em;text-align: center;line-height: 45px;font-weight: 700;}
.contents_specialshop .specialshop_trend .trend_title {background-color: #fff;}
.contents_specialshop .specialshop_trend .trend_top {position: relative;display: block;overflow: hidden;}
.contents_specialshop .specialshop_trend .trend_top .top_wrap {position: absolute;width: 100%;height: 63px;bottom: 0;padding: 13px;box-sizing: border-box;background-color: rgba(0,0,0,.4);}
.contents_specialshop .specialshop_trend .trend_top .top_wrap span {display: block;width: 100%;color: #fff;text-align: center;}
.contents_specialshop .specialshop_trend .trend_top .top_wrap span.top_title {font-size: 1.2em;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.contents_specialshop .specialshop_trend .trend_top .top_wrap span.top_subtitle {width: 100%;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;margin-top: 6px;color: #cecece;overflow: hidden;}
.contents_specialshop .specialshop_trend .trend_list {position: relative;margin-top: 5px;border-bottom: 1px #d3d3d3 solid;background-color: #fff;display: flex!important;display: -webkit-flex!important;flex-direction: row;flex: auto;-webkit-flex: auto;width: 100%;overflow: hidden;}
.contents_specialshop .specialshop_trend .trend_list li.list_left {flex: none;-webkit-flex: none;width: 215px;height: 252px;}
.contents_specialshop .specialshop_trend .trend_list li.list_left span.list_title {display: -webkit-box;height: 36px;-webkit-line-clamp: 2;-webkit-box-orient: vertical;text-overflow: ellipsis;overflow: hidden;margin-top: 18px;font-size: 1.2em;}
.contents_specialshop .specialshop_trend .trend_list li.list_left span.list_subtitle {text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;margin-top: 10px;color: #cecece;overflow: hidden;}
.contents_specialshop .specialshop_trend .trend_list li.list_left span {display: block;margin: 0 10px;text-align: center;}
.contents_specialshop .specialshop_trend .trend_list li.list_right {flex-direction: row;flex: auto;-webkit-flex: auto;height: 252px;padding: 10px 6px;box-sizing: border-box;border-left: 1px #e5e5e5 solid;overflow: hidden;}
.contents_specialshop .specialshop_trend .trend_list li.list_right img {display: block;max-width: 92px;margin: 0 auto;border-radius: 100px;}
.contents_specialshop .specialshop_trend .trend_list li.list_right a:last-of-type img {margin-top: 10px;}
.contents_specialshop .specialshop_trend .trend_list li.list_right span {display: block;margin-top: 5px;font-weight: 700;text-align: center;}
/* 상품 or 기획전 */
.contents_specialshop .specialshop_category{position: absolute;width: 220px;height:calc(100% - 44px) !important;left: -100%;padding: 15px;box-sizing: border-box;background-color: #fff;transition: left .3s linear;overflow-y: auto;z-index: 1000;}
.contents_specialshop .specialshop_category>ul>li>a{height: 40px;font-size: 1.1em;line-height: 40px;font-weight: 700;}
.contents_specialshop .specialshop_category>ul>li>ul>li>a{height: 40px;padding: 0 10px;border-top: 1px #e5e5e5 solid;line-height: 40px;color: #555;}
.contents_specialshop .specialshop_category>ul>li>ul>li:first-of-type>a{border-top-color: #000;}
.contents_specialshop .specialshop_category a{display: block;width: 100%;box-sizing: border-box;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;overflow: hidden;}

/* 스페셜샵 카테고리 */
.contents_specialshop .specialshop_bestscroll, .contents_specialshop .specialshop_brandnewscroll, .contents_specialshop .specialshop_brandtop, .contents_specialshop .specialshop_keywordscroll, .contents_specialshop .specialshop_replybest, .contents_specialshop.brand .specialshop_mdpick, .contents_specialshop.brand .specialshop_newitem, .contents_specialshop.typec .specialshop_mdpick{position: relative;margin-top: 10px;border-bottom: 1px #d3d3d3 solid;background-color: #fff;}
.dg_wrap {background-color: #fff;}
.specialshop_keywordscroll .dgwrap_scroll{z-index:71 !important;}
.nav-tabbar{z-index:72;}
.dimScreen{background: #000;opacity: .5;position: fixed;width: 100%;height: 100%;z-index: 70;display: none;-webkit-tap-highlight-color: transparent;}

/* sc_main */
.sc_main .contents_specialshop *{box-sizing: content-box;}
.sc_main .contents_specialshop .specialshop_category{top:95px !important;}
/* sc_sub */
.sc_sub .contents_specialshop.depth2 .brand_category li a{vertical-align:baseline;}
.sc_sub .contents_specialshop.brand .specialshop_mdpick ul li .mdpick_title{height:28px;}
.sc_sub .contents_specialshop .specialshop_select{width:auto;}







