<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="format-detection" content="telephone=no, email=no, address=no" />
    <meta name="apple-mobile-web-app-capable" content=" yes" />
    <meta name="robots" content="index,follow" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <!-- opengraph -->
    <meta name="title" content="파워캐스트 BPS" />
    <meta name="description" content="파워캐스트 BPS" />
    <meta property="og:title" content="파워캐스트 BPS" />
    <meta property="og:url" content="http://localhost:8006/pages/member/login.html" />
    <!-- property="og:url" content="접속한 페이지 경로 설정" -->
    <meta property="og:type" content="WebSite" />
    <meta property="og:description" content="파워캐스트 BPS" />
    <meta property="og:image" content="/images/base/share_img.jpg" />

    <title>로그인 | 파워캐스트 BPS</title>

    <!-- icon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/assets/images/icon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-chrome-192x192.png" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon/favicon.ico" />
    <link rel="manifest" href="/images/favicon/site.webmanifest" />
    <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-TileImage" content="/images/favicon/android-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <!-- webfont -->
    <script type="text/javascript">
      WebFontConfig = {
        custom: {
          families: ["Noto Sans KR", "Roboto", "Open Sans", "Nanum Gothic"],
        },
      };
      (function() {
        var wf = document.createElement("script");
        wf.src = ("https:" == document.location.protocol ? "https" : "http") + "://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js";
        wf.type = "text/javascript";
        wf.async = "true";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" crossorigin href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Noto+Sans+KR:wght@100;300;400;500;700&family=Open+Sans:wght@300;400;600;700;800&Nanum+Gothic:wght@800&display=swap&subset=cyrillic,greek,korean,latin-ext,vietnamese" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/fonts.min.css" />
    <!-- css -->
    <link rel="stylesheet" href="/css/style.min.css" />
    <link rel="stylesheet" href="/css/lib.min.css" />
    <link rel="stylesheet" href="/css/layout.min.css" />
    <link rel="stylesheet" href="/css/page.min.css" />
    <!-- js -->
    <script type="text/javascript" src="/js/plugin/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/plugin/ukDetect-1.0.0.min.js"></script>
    <script type="text/javascript" src="/js/plugin/jquery-ui.1.12.1.min.js"></script>
    <script type="text/javascript" src="/js/plugin/jquery.easing.1.3.min.js"></script>
    <script type="text/javascript" src="/js/plugin/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="/js/plugin/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="/js/lib/lib.min.js"></script>
    <script type="text/javascript" src="/js/lib/slick.min.js"></script>
    <script type="text/javascript" src="/js/lib/swiper.min.js"></script>
  </head>
  <body>
    <nav class="uk_skip" tabindex="-1">
      <a href="#cTitle">본문내용으로 건너띄기</a>
    </nav>
    <div class="ukwrap">
      <!-- Start : Header Include -->
      {% include "parts/_header.html" %}
      <!-- End : Header Include -->

      <main class="ukmain">
        <!-- Start : Contents Page -->

        <!-- End : Contents Page -->
      </main>
      <!-- //.ukmain -->

      <!-- Start : Footer Include -->
      {% include "parts/_footer.html" %}
      <!-- End : Footer Include -->

      <div class="quick_menu">
        <a href="#" class="skip_menual"><i class="ico-menual"></i><span>메뉴얼 바로가기</span></a>
        <a href="#" class="skip_top"><i class="ico-top"></i><span class="sr-only">상단으로 바로가기</span></a>
      </div>
      <!-- //.quick_menu -->
    </div>
    <!-- //.ukwrap -->

    <!-- UI/UX에 사용되는 Style -->
    <script type="text/javascript" src="/js/common/ukstyle.js"></script>

    <div class="bgmask"></div>
    <!-- 로딩 Progress Bar -->
    <div class="loading">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <script>
      /* 페이지 로딩  */ window.onload = function() {
        $(".loading").hide();
      };
    </script>
  </body>
</html>
