{% set pageData = { pageDep1Name: '집행사례', pageName: '집행사례', pageDesc: '', pageActive: '1' } %} {% extends "_layout/_baseLayout.html" %} {% block jscnt %}
<script type="text/javascript" src="{{set.baseurl}}{{set.jsurl}}/common/ukstyle.js"></script>
<!-- UI/UX Style -->
{% endblock %} {% block content %}
<!-- 각 페이지 마다 class 부여 ex)p_login p_ : 페이지의 시작, login : 해당 페이지 구분 -->
<div class="cntwrap p_execution">
  <div class="chead_out">
    <div class="chead_in">
      {% include "parts/_subexecution.html" %}
    </div>
    <!-- //.chead_in -->
  </div>
  <!-- //.chead_out -->

  <div class="cbody_out">
    <div class="cbody_in">
      <h1 id="cTitle" class="h1" tabindex="0"><strong>집행사례</strong></h1>
      <p class="subtitle">
        <span>다양한 클라이언트와 함께합니다.</span><strong><em>Case</em>Study</strong>
      </p>
      <section class="csection execution">
				<div class="searchgp">
					<div class="uk_select trans arrow">
						<label class="sr-only">다른사례선택</label>
						<select id="choiceLink" onchange="location = this.value;">
							<option value="index.html">다른사례보기</option>
							<option value="case1.html">Starfield</option>
							<option value="case2.html">Sport</option>
							<option value="case3.html">Billboard BillboardBillboard</option>
						</select>
					</div>
				</div>
        <div class="execution_info">
          <div class="textbox">
            <p class="small_text">K·POP 스퀘어</p>
            <p class="large_text"><span>차원이 다른 아이디어를 차원이 다른 우월함으로</span></p>
						<div class="imgwrap">
							<div class="imgbox">
								<!-- <img src="/images/sample/01.ent-sample01.jpg" alt=""> -->
								<!-- <img src="/images/sample/01.ent-sample02.jpg" alt=""> -->
								<!-- <img src="/images/sample/01.ent-sample03.png" alt=""> -->
								<!-- <img src="/images/sample/02.sport-sample01.jpg" alt=""> -->
								<!-- <img src="/images/sample/03.traffic-sample01.jpg" alt=""> -->
								<img src="/images/sample/04.bill-sample01.png" alt="">
								<!-- <img src="/images/sample/04.bill-sample02.png" alt=""> -->
								<!-- <img src="/images/sample/04.bill-sample03.jpg" alt=""> -->
								<!-- <img src="/images/sample/04.bill-sample04.png" alt=""> -->
							</div>
							<!-- //.imgbox -->
						</div>
						<!-- //.imgwrap -->
            <p class="middle_text">시선을 온전히 사로잡는 미디어빠져들다.</p>
            <p class="default_text">K·POP 스퀘어 미디어는 가로 80M,세로20M의 압도적인 스케일과 차별화된 미디어 형태를 활용한 몰입감 있는 크리에이티브를 통해 아시아를 넘어, 전 세계에 그 가치와 가능성을 인정받고 있습니다.</p>
          </div>
          
        </div>
        <!-- //.execution_info -->

        <!-- 하단 슬리이드 영역 호출 -->
        <script type="text/javascript" src="{{set.baseurl}}{{set.jsurl}}/common/imgmedia.js"></script>
        <script>
          $(function(){
            cardSliderZoom();
          });
        </script>
        <div class="cardwrap_section">
          <p class="cardwrap_title">브랜딩 사례를 지금 만나보세요.</p>
          <div class="cardwrap">
            <div class="cardslider">
              <!-- 
                기본 card_item 3개는 보이며 이미지나 figcaption안의 내용이 없을 경우 내용만 삭제 틀은 유지
                3개 이상되면 슬라이드 되는 구조
               -->
               <!-- 
                이미지가 없을 경우 빈 이미지 호출 
                <img src="/images/base/img_planus_blank.png" alt="">

                -->
              <figure class="card_item">
                <a href="#" class="zoom_btn">
                  <!-- 영상이 들어가는 부분이면 img에 class youtube 추가 -->
                  <div class="img youtube">
                    <!-- 동영상 id로 제어. 아래 링크의 동영상 id는 'UcMIRXih6jg' / src와 data-youtube-id에 id 적용해야함 (등록시 id 만 등록하는 방식) -->
				            <img src="https://img.youtube.com/vi/UcMIRXih6jg/maxresdefault.jpg " data-youtube-id="UcMIRXih6jg">
                  </div>
                  <figcaption>
                    <strong>삼성코엑스 기업 삼성코엑스 기업 삼성코엑스 기업</strong>
                    <p>기업의제품명 및 캠페인명 기업의제품명 및 캠페인명 기업의제품명 및 캠페인명 기업의제품명 및 캠페인명</p>
                  </figcaption>
                  <div class="card_subwrap">
                    <div class="sub_item">
                      <img src="{{set.baseurl}}{{set.imgurl}}/sample/01.ent-sample02.jpg" alt="서브 이미지 1-1 텍스트">
                    </div>
                    <div class="sub_item">
                      <img src="{{set.baseurl}}{{set.imgurl}}/sample/01.ent-sample01.jpg" alt="서브 이미지 1-2 텍스트">
                    </div>
                    <div class="sub_item">
                      <img src="https://img.youtube.com/vi/UcMIRXih6jg/maxresdefault.jpg" alt="서브 이미지 1-3 텍스트" data-youtube-id="UcMIRXih6jg">
                    </div>
                    <div class="sub_item">
                      <img src="{{set.baseurl}}{{set.imgurl}}/sample/04.bill-sample02.png" alt="서브 이미지 1-4 텍스트">
                    </div>
                  </div>
                  <!-- card_subwrap -->
                </a>
              </figure>
              <figure class="card_item">
                <a href="#" class="zoom_btn">
                  <div class="img">
                    <img src="{{set.baseurl}}{{set.imgurl}}/sample/04.bill-sample03.jpg" alt="">
                  </div>
                  <figcaption>
                    <strong>삼성코엑스 올리브영점</strong>
                    <p>기업의 제품명 및 캠페인명</p>
                  </figcaption>
                  <div class="card_subwrap">
                    <div class="sub_item">
                      <img src="{{set.baseurl}}{{set.imgurl}}/sample/01.ent-sample02.jpg" alt="서브 이미지 2-1 텍스트">
                    </div>
                    <div class="sub_item">
                      <img src="https://img.youtube.com/vi/UcMIRXih6jg/maxresdefault.jpg" alt="서브 이미지 2-2 텍스트" data-youtube-id="UcMIRXih6jg">
                    </div>
                    <div class="sub_item">
                      <img src="https://img.youtube.com/vi/WzTZasnSXpA/maxresdefault.jpg" alt="서브 이미지 2-3 텍스트" data-youtube-id="WzTZasnSXpA">
                    </div>
                  </div>
                  <!-- card_subwrap -->
                </a>
              </figure>
              <figure class="card_item">
                <a href="#" class="zoom_btn">
                  <div class="img">
                    <!-- <img src="{{set.baseurl}}{{set.imgurl}}/sample/01.ent-sample01.jpg" alt=""/> -->
                    <!-- 이미지가 없거나 엑박이 나오는경우 대체 이미지 -->
                    <img src="{{set.baseurl}}{{set.imgurl}}/base/img_planus_blank.png" alt="" />
                  </div>
                  <figcaption>
                    <strong>코엑스 옥외광고판</strong>
                    <p>기업의 제품명 및 캠페인명</p>
                  </figcaption>
                  <div class="card_subwrap">
                    <div class="sub_item">
                      <img src="{{set.baseurl}}{{set.imgurl}}/sample/01.ent-sample02.jpg" alt="서브 이미지 3-1 텍스트">
                    </div>
                    <div class="sub_item">
                      <img src="{{set.baseurl}}{{set.imgurl}}/sample/04.bill-sample03.jpg" alt="서브 이미지 3-2 텍스트">
                    </div>
                    <div class="sub_item">
                      <img src="{{set.baseurl}}{{set.imgurl}}/sample/01.ent-sample01.jpg" alt="서브 이미지 3-2 텍스트">
                    </div>
                    <div class="sub_item">
                      <img src="{{set.baseurl}}{{set.imgurl}}/sample/04.bill-sample02.png" alt="서브 이미지 1-4 텍스트">
                    </div>
                  </div>
                  <!-- card_subwrap -->
                </a>
              </figure>
              <figure class="card_item">
                <a href="#" class="zoom_btn">
                  <div class="img youtube">
				            <img src="https://img.youtube.com/vi/i8CQVj6-iDQ/maxresdefault.jpg " data-youtube-id="i8CQVj6-iDQ">
                  </div>
                  <figcaption>
                    <strong>삼성코엑스 올리브영점</strong>
                    <p>기업의 제품명 및 캠페인명</p>
                  </figcaption>
                  <div class="card_subwrap">
                    <div class="sub_item">
                      <img src="{{set.baseurl}}{{set.imgurl}}/sample/04.bill-sample03.jpg" alt="서브 이미지 4-1 텍스트">
                    </div>
                    <div class="sub_item">
                      <img src="{{set.baseurl}}{{set.imgurl}}/sample/01.ent-sample01.jpg" alt="서브 이미지 4-2 텍스트">
                    </div>
                    <div class="sub_item">
                      <img src="https://img.youtube.com/vi/uH-EwosbUlo/maxresdefault.jpg" alt="서브 이미지 4-3 텍스트" data-youtube-id="uH-EwosbUlo">
                    </div>
                  </div>
                  <!-- card_subwrap -->
                </a>
              </figure>
              <figure class="card_item">
                <a href="#" class="zoom_btn">
                  <div class="img"><img src="{{set.baseurl}}{{set.imgurl}}/sample/01.ent-sample02.jpg" alt=""/></div>
                  <figcaption>
                    <strong>삼성코엑스 올리브영점</strong>
                    <p>기업의 제품명 및 캠페인명</p>
                  </figcaption>
                  <div class="card_subwrap">
                    <div class="sub_item">
                      <img src="{{set.baseurl}}{{set.imgurl}}/sample/01.ent-sample02.jpg" alt="서브 이미지 5-1 텍스트">
                    </div>
                    <div class="sub_item">
                      <img src="{{set.baseurl}}{{set.imgurl}}/sample/01.ent-sample01.jpg" alt="서브 이미지 5-2 텍스트">
                    </div>
                    <div class="sub_item">
                      <img src="{{set.baseurl}}{{set.imgurl}}/sample/04.bill-sample03.jpg" alt="서브 이미지 5-3 텍스트">
                    </div>
                  </div>
                  <!-- card_subwrap -->
                </a>
              </figure>
            </div>
            <!-- //.cardslider -->
          </div>
          <!-- //.cardwrap -->
        </div>
        <!-- //.cardwrap_section -->
      </section>
    </div>
    <!-- //.cbody_in -->
  </div>
  <!-- //.cbody_out -->
</div>
<!-- //.cntwrap -->
{% endblock %}
