@charset "utf-8";
/* 페이지 레이아웃 */
.contents.w520{margin:0 auto;padding:35px 0 80px;}
.contents.w520 .inner-box{width:520px;padding:40px;}
.contents.w600{padding:70px 0 100px;}
.contents.w600 .inner-box{width:600px;padding:20px 50px 50px;}
.contents.pc-join{margin:0 auto;padding:209px 0 209px;}
.contents.pc-join .inner-box{width:600px;padding:50px;}
.inner-box{margin:0 auto;width:520px;height:max-content;background:#fff;}

.chklabel .icon + span{margin:0 0 3px 8px;}

/* 회원가입 > 정보입력 */
.log-info .title-area{text-align:left;}
.select-agree .tblwrap {display:none}


/* 회원가입 > 메인 */
.join-main .contents.w600 .inner-box.bdtop{padding:0 0 180px 0;}
.join-main .contents.w600 .inner-box.bdtop .logo{padding:66px 50px 40px;}
.join-main .contents.w600 .inner-box.bdtop .logo .img{width:167px;height:56px;}
.join-main .contents.w600 .inner-box.bdtop .logo span{padding-top:20px;}
.join-main .contents.w600 .inner-box.bdtop .logo{border-bottom:0;}
.join-main .contents.w600 .inner-box.bdtop .title-area{padding:0 50px;text-align:left;border-top:2px solid #FF5340;}
.join-main .contents.w600 .inner-box.bdtop .link-list{margin:0 50px;border-top:1px solid #F4F4F4;}
.join-main .contents.w600 .inner-box.bdtop .link-list .alink{display:block;padding:10px 0;border-bottom:1px solid #F4F4F4;background:url('//imagedev.hmall.com/p/img/co/icon/ico-next-9.png') no-repeat right center;background-size:9px 15px;}
.join-main .contents.w600 .inner-box.bdtop .link-list .alink .icon{width:50px;height:50px;background-size:50px 50px;}
.join-main .contents.w600 .inner-box.bdtop .link-list .alink .icon.hpoint-icon{background:url('//imagedev.hmall.com/p/img/cu/icon/icon-hpoint-50.png') no-repeat;}
.join-main .contents.w600 .inner-box.bdtop .link-list .alink .icon.hd-icon{background:url('//imagedev.hmall.com/p/img/cu/icon/icon-hd-50.png') no-repeat;}
.join-main .contents.w600 .inner-box.bdtop .link-list .alink .icon.naver-icon{background:url('//imagedev.hmall.com/p/img/cu/icon/icon-naver-50.png') no-repeat;}
.join-main .contents.w600 .inner-box.bdtop .link-list .alink .icon.kakao-icon{background:url('//imagedev.hmall.com/p/img/cu/icon/icon-kakao-50.png') no-repeat;}
.join-main .contents.w600 .inner-box.bdtop .link-list .alink span{display:inline-block;margin-left:15px;color:#333;font-size:15px;font-weight:700;line-height:50px;}

/* script 셀렉트박스 임시 디자인 */
.join-success .selectwrap{width:calc(100% - 160px);margin-right:10px;}
.join-success .custom-selectbox{height:40px;}
.join-success .custom-selectbox .ui-label a{height:40px;line-height:38px;}
.join-success .custom-selectbox .ui-selectbox a{height:40px;line-height:40px;}
.join-success .custom-selectbox.ui-active{height:auto;padding-top:40px;}
.join-success .custom-selectbox.ui-active .selectbox_area{max-height:calc(40px * 5);}
.join-success .custom-selectbox.ui-bottom{bottom:-42px;padding-top:0;padding-bottom:0;}
.join-success .custom-selectbox.ui-bottom .ui-label a::before{bottom:40px;}
.join-success .custom-selectbox.ui-bottom .ui-selectbox{padding-bottom:40px;}


/* 컨텐츠 파트 구분 */
.article{overflow:hidden;position:relative;padding-bottom:15px;}
.article:after{content:"";display:block;position:absolute;bottom:0;left:0;width:100%;height:9px;border-top:1px solid #eee;background:#f8f8f8;}
.article-border{overflow:hidden;position:relative;padding-bottom:1px;}
.article-border:after{content:"";display:block;position:absolute;bottom:0;left:0;width:100%;height:1px;border-top:1px solid #f4f4f4;}


/* 타이틀 & 텍스트 */
.cbody .contents.w600 .logo{display: block;margin:-20px -50px 0;padding: 30px 50px;border-bottom: 2px solid #ff5340;}
.cbody .contents.w600 .logo .img{display:inline-block;width:88px;height:26px;vertical-align:baseline;}
.cbody .contents.w600 .logo span{display:inline-block;color: #333;font-size: 26px;font-weight: 700;line-height: 44px;letter-spacing: -1.04px;vertical-align: middle;}
.form-tit{margin:35px 0 15px;font-size:18px;color:#333;font-weight:700;line-height:32px;letter-spacing:-0.72px;}
.infotxt{margin:25px 0;font-size:15px;color:#666;line-height:26px;letter-spacing:-0.6px;text-align:center;}


/* 아이콘 */
.icon.error{width:13px;height:13px;background:url(//imagedev.hmall.com/p/img/co/icon/icon-error-13.png) no-repeat 100% 100%;background-size:13px 13px;}
.btn{height:auto;}
.icon.lock{position:absolute;top:50%;right:15px;width:20px;height:20px;background:url(//imagedev.hmall.com/p/img/co/icon/icon-lock.png) no-repeat 100% 100%;background-size:20px 20px;transform: translateY(-50%);}


/* 인풋 */
.inputbox{margin-top:10px;}
.failed-msg{padding:10px 0 0 0;}
.failed-msg span{vertical-align:middle;}
.inputbox.search input{padding:0 40px 0 14px;background:#f2f2f2;}
.inputbox.search .ico-clearabled{display: block;position:absolute;/* top:0; */right:40px;width:40px;height:100%;padding:0;background:none;}
.inputbox.search .ico-clearabled .icon{width:20px;height:20px;margin:0;background:url(//imagedev.hmall.com/m/img/co/icon/ico-circle-delete2-2x.png) no-repeat 50% 50%;background-size:20px 20px;}
.inputbox.search .btn-search{position:absolute;top:0;right:0;width:40px;height:100%;border:none;background:none;}
.inputbox.search .btn-search .icon{position:absolute;top:50%;left:50%;width:26px;height:26px;margin:-13px 0 0 -18px;}
.inputbox.search .btn-search span{text-indent:-9999px;overflow:hidden;}


/* 체크박스 */
.checkbox-wrap.choice-agree{display:flex;justify-content: flex-start;}
.checkbox-wrap.choice-agree .chklabel{margin:22px 20px 0 0;}
.chk-list{margin-top:15px;}
.chk-list .color-ff5340{font-weight:700;vertical-align:baseline;}
.chk-list > li + li{margin-top:40px;}
.chk-list .dotlist{margin-top:20px;}
.chk-list .atext.right-align span{font-weight:400;}
.chk-list .atext.right-align .arrow{margin-left:3px;}
.lr-align{display: flex;margin-top:20px;}
.lr-align .left-align{margin-right:auto;}
.lr-align .right-align{margin-left:auto;}


/* 탭*/
.tabgroup.bdline .tab{overflow:hidden;display:flex;flex-direction:row;width:100%;border:none;}
.tabgroup.bdline .tab-default .tabmenu > li.ui-active{border:2px solid #ff5340;border-bottom:none;}
.tabgroup.bdline .tab-default .tabmenu > li{border-bottom:2px solid #ff5340;}
.tabgroup.bdline .tabmenu{display:flex;justify-content:space-between;width:100%;}
.tabgroup.bdline .tabmenu > li{display:inline-flex;justify-content:center;position:relative;width:50%;}
.tabgroup.bdline .tabmenu > li > a{display:inline-flex;justify-content:center;align-items:center;width:100%;height:60px;padding:0 15px;font-weight:700;}
.tabgroup.bdline .tabmenu > li > a > span{display:inline-block;color:#666;font-size:18px;font-weight:700;line-height:24px;letter-spacing:-0.64px;vertical-align:baseline;}
.tabgroup.bdline .tabmenu > li.ui-active > a{color:#ff5340;}
.tabgroup.bdline .tab-pane{display:none;}
.tabgroup.bdline .tab-pane.ui-active{display:block;}
.tabgroup.bdline .tab-default .tabmenu > li.ui-active::after {display: none;}


/* 회원가입 - 네이버/카카오 */
.join-notibox { display:flex;justify-content: center; align-items: center; margin-top:20px; height:60px; line-height:60px; text-align:center; border-radius:5px;}
.join-notibox .icon { display:inline-block; margin-right:8px; width:34px; height:34px;}
.join-notibox.naver { background:#F3FFF9;}
.join-notibox.naver .icon { background:url('//imagedev.hmall.com/p/img/cu/icon/icon-naver-34.png') no-repeat;}
.join-notibox.kakao { background:#FFFCE5;}
.join-notibox.kakao .icon { background:url('//imagedev.hmall.com/p/img/cu/icon/icon-kakao-34.png') no-repeat;}
.join-notibox p { display:inline-block; font-size:14px; color:#111;}

.wrap.join-naver .inputbox.disabled { background-color:transparent;}
.wrap.join-naver .title-area{text-align:left;}
.wrap.join-naver .ui-modal.alert .ui-modal-dialog .btngroup .btn{height:50px;}
.wrap.join-kakao .inputbox.disabled { background-color:transparent;}
.wrap.join-kakao .title-area{text-align:left;}

/* 회원가입 완료 */
.join-success .title-area{text-align:left;}
.join-success .join-completed { margin:40px 0 50px; display:inline-flex; justify-content:center; align-items:center; flex-flow:column; width:100%; }
.join-success .join-completed .bgcircle { margin-bottom:20px; width:140px; height:140px; background:#F4F4F4;}
.join-success .join-completed .bgcircle .icon-complete { width:70px; height:58px; background:url('//imagedev.hmall.com/p/img/cu/icon/icon-completed-70.png') no-repeat;}
.join-success .join-completed > strong { font-size:24px; font-weight:700; color:#333;}
.join-success .join-completed > p { margin-top:5px; font-size:16px; color:#666;}

.join-success .sec-area { position:relative; margin:0 -50px; padding:35px 50px 0; border-top:1px solid #f4f4f4;}
.join-success .sec-area .tit { font-size:18px; color:#333; font-weight:700;;}
.join-success .sec-area .tit > span { font-weight:400;}
.join-success .sec-area > p { margin-top:10px; font-size:15px; line-height:24px; color:#666;}
.join-success .sec-area .field { display:flex; margin:20px 0 50px;}
.join-success .sec-area .field .custom-selectbox { flex:auto; margin-right:10px;}
.join-success .sec-area .field .custom-selectbox select { height:40px; border-radius:5px; border-color:#ddd;}
.join-success .sec-area .field .btngroup { width:160px;;}
.join-success .sec-area .marketing-agreebox { display:inline-flex; margin:20px 0; width:100%; height:70px; text-align:center; align-items:center; justify-content:center; border-radius:5px; background:#F4F8FB;} 
.join-success .sec-area .marketing-agreebox div { display:inline-block; overflow:hidden;}
.join-success .sec-area .marketing-agreebox div span {position:relative; padding-left:22px; font-size:15px; color:#666;}
.join-success .sec-area .marketing-agreebox div span + span { margin-left:15px;}
.join-success .sec-area .marketing-agreebox div span:before { content:''; position:absolute; left:0; top:7px; width:11px; height:8px; background:url('//imagedev.hmall.com/p/img/cu/icon/icon-check-11.png') no-repeat;}


/* 통합 회원 가입 안내 AS-IS 구조 반영 */
._pcsect { padding-top:30px; padding-bottom:25px; }
.mm-otherinfo { background:#fff; position:relative; }
.mm-otherinfo .mm-showmore, .mm-otherinfo .mm-showpolicy { top:5px; }
.mm-otherinfo h1 { font-size:24px; color:#111; border-bottom:0; font-weight:normal; }
.mm-hpointinfo { font-size:17px; color:#ff5340; line-height:32px; }
.mm-hpointinfo b { font-weight:normal; color:#888; }
.mm-bottombtnset { display:block; background:#fff; width:748px; padding:30px 60px; font-size:0; }
.mm-bottombtnset._fixed { position:fixed; bottom:0; left:0; border-top:1px solid #ccc; }
.mm-bottomtxt { padding:0 10px; font-size:17px; color:#111; line-height:24px; margin-bottom:25px; display:block; }
.mm-bottombtn { display:block; width:100%; color:#fff !important; text-align:center !important; background:#ff5340 !important; border:1px solid #ff5340 !important; font-size:24px; padding:18px 0; font-weight:bold; }
.mm-bottombtn._half { width:49%; display:inline-block; }
.mm-bottombtn._half:first-child { margin-right:2%; }
.mm-bottombtn._negative { border:1px solid #bbb; color:#111 !important; background:#fff !important; }
.mm-bottombtn._negative._pcneg { border:1px solid #111 !important; color:#111 !important; background:#fff !important; }
.mm-bottombtn._blk { background:#404040 !important; border:1px solid #404040 !important; }
._pcbottom { padding-top:25px; border-top:1px solid #ddd; }
.hpoint_x_hmall	{ width: 480px; margin: 0 auto; padding: 20px 20px 20px; background:#fff;}
.hpoint_x_hmall h2,
.hpoint_x_hmall h3{ font-size: 25px; color: #363636; padding: 0 0 10px 0; border-bottom: 4px solid #363636; }
.hpoint_x_hmall .content	{ font-size: 18px; color: #363636; padding: 30px 0 20px; line-height: 1.8em; text-align: center; }
.hpoint_x_hmall .content dl	{ margin: 15px 0 35px; padding: 10px 0 10px; border-top: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6; display: flex; }
.hpoint_x_hmall .content dl dt	{ font-weight: bold; flex: 0.75; }
.hpoint_x_hmall .content dl dt, dd	{ font-size: 18px; }
.hpoint_x_hmall .content span	{ font-size: 18px; }
.hpoint_x_hmall .mm-bottombtn	{ width: 85%; margin: 0 auto; }


/* 회원가입완료 배너영역 */
.banner-area{margin:20px 0;width:500px;height:250px;}
.banner-area a{display: block;}
.banner-area img{width:100%;height:100%;}

.sub-txt{margin-top:20px;line-height:17px;text-align:center;}
.sub-txt .tel{color:#ff5340;font-size:13px;vertical-align:baseline;}

.membership-guide .contents.w520{padding:70px 0 50px;}
.membership-guide .contents .title-area{width: 480px;margin: 0 auto;padding: 30px 0;border-bottom: 1px solid #eee;background: #fff;}